<app-header></app-header>
<section [ngClass]="'slide-left-bar compare-page-sec'">
    <section class="compare-banner"
        style="background-image: url('https://beta.ovaluate.com/Attchments/PrivacyPolicyImage/about-banner1%20(1).png')">
        <div class="container_1280px">
            <div class="baner-compare-heading">
                <h2>Confused? Easy way to compare properties</h2>
            </div>
        </div>
    </section>
    <section class="compare-breadcrumbs">
        <div class="container_1280px">
            <div class="breadcrumb-dark">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
        </div>
    </section>
    <section class="compare-wrapper-sec-main">
        <div class="container_1280px">
            <div class="add-compare-cstm">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <div class="add-compare-div">
                            <button class="select-compare-btn" *ngIf="viewPropertyOne == ''"><span
                                    class="plus-icn" (click)="selectProperty(1)">+</span> <span class="select-text">Select</span></button>
                            <div ngClass="property-comparison-block position-relative" *ngIf="viewPropertyOne != ''">
                                <button ngClass="delete-property" (click)="removeProperty()"><img src="{{trash}}"></button>
                                <div ngClass="com-img cursor-pointer" >
                                    <!-- <img src="/assets/images/property/1.png"> -->
                                    <img *ngIf="viewPropertyOne.documents.length > 0 && viewPropertyOne.documents[0].fileUrl != null" src="https://beta.ovaluate.com/{{viewPropertyOne.documents[0].fileUrl}}">
                                    <img  *ngIf="viewPropertyOne.documents.length == 0 || viewPropertyOne.documents[0].fileUrl == null" src="assets/images/placeholder.png">
                                </div>
                                <div ngClass="com-cntnt cursor-pointer" >
                                    <h4> {{viewPropertyOne.propertyPrice}} {{viewPropertyOne.currency}}
                                        <small *ngIf="viewPropertyOne.rentType != ''">/{{viewPropertyOne.rentType}}</small>
                                    </h4>
                                    <h5>{{viewPropertyOne.buildingName}}</h5>
                                    <address><img src="/assets/images/home-location.svg">{{viewPropertyOne.propertyAddress}}</address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <div class="add-compare-div">
                            <button class="select-compare-btn" *ngIf="viewPropertyTwo == ''"><span
                                    class="plus-icn"  (click)="selectProperty(2)">+</span> <span class="select-text">Select the same detail
                                    by selecting different area</span> </button>
                            <div ngClass="property-comparison-block position-relative" *ngIf="viewPropertyTwo != ''">
                                <button ngClass="delete-property" (click)="removePropertyTwo()"><img src="{{trash}}"></button>
                                <div ngClass="com-img cursor-pointer" >
                                    <!-- <img src="/assets/images/property/1.png"> -->
                                    <img *ngIf="viewPropertyTwo.documents.length > 0 && viewPropertyTwo.documents[0].fileUrl != null" src="https://beta.ovaluate.com/{{viewPropertyTwo.documents[0].fileUrl}}">
                                    <img  *ngIf="viewPropertyTwo.documents.length == 0 || viewPropertyTwo.documents[0].fileUrl == null" src="assets/images/placeholder.png">
                                </div>
                                <div ngClass="com-cntnt cursor-pointer" >
                                    <h4> {{viewPropertyTwo.propertyPrice}} {{viewPropertyTwo.currency}}
                                        <small *ngIf="viewPropertyTwo.rentType != ''">/{{viewPropertyTwo.rentType}}</small>
                                    </h4>
                                    <h5>{{viewPropertyTwo.buildingName}}</h5>   
                                    <address><img src="/assets/images/home-location.svg">{{viewPropertyTwo.propertyAddress}}</address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <div class="add-compare-div">
                            <button class="select-compare-btn" *ngIf="viewPropertyThree == ''"><span
                                    class="plus-icn" (click)="selectProperty(3)">+</span> <span class="select-text" >Select the same detail
                                    by selecting different area</span> </button>
                            <div ngClass="property-comparison-block position-relative" *ngIf="viewPropertyThree != ''">
                                <button ngClass="delete-property" (click)="removePropertyThree()"><img src="{{trash}}"></button>
                                <div ngClass="com-img cursor-pointer" >
                                    <!-- <img src="/assets/images/property/1.png"> -->
                                    <img *ngIf="viewPropertyThree.documents.length > 0 && viewPropertyThree.documents[0].fileUrl != null" src="https://beta.ovaluate.com/{{viewPropertyThree.documents[0].fileUrl}}">
                                    <img  *ngIf="viewPropertyThree.documents.length == 0 || viewPropertyThree.documents[0].fileUrl == null" src="assets/images/placeholder.png">
                                </div>
                                <div ngClass="com-cntnt cursor-pointer" >
                                    <h4> {{viewPropertyThree.propertyPrice}} {{viewPropertyThree.currency}}
                                        <small *ngIf="viewPropertyThree.rentType != ''">/{{viewPropertyThree.rentType}}</small>
                                    </h4>
                                    <h5>{{viewPropertyThree.buildingName}}</h5>   
                                    <address><img src="/assets/images/home-location.svg">{{viewPropertyThree.propertyAddress}}</address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="compare-now-btn-block">
                            <button class="compare-now-btn" (click)="checkProperty()">Compare Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popular-car-comparisons">
                <div ngClass="compare-header">
                    <h4 class="h4-design">Popular properties comparison</h4>
                </div>
                <div class="popular-car-comparisons-slider">
                    <owl-carousel-o [options]="popularComparisonOptions">
                        <ng-container *ngFor="let pc of PopularComparisonList">
                            <ng-template carouselSlide>
                                <div class="pcompare-slider-container">
                                    <div class="pcompare-properties-flex d-flex">
                                        <div class="pcompare-properties-first">
                                            <div class="property-pcompare-img">
                                                <img src="{{pc.src1}}">
                                            </div>
                                            <div class="property-pcompare-cntnt">
                                                <h4>
                                                    <span class="property_name_span">{{pc.price1}}</span>
                                                    <span class="property_currency_span">AED</span>
                                                    <span class="term_badge">/ Monthly</span>
                                                </h4>
                                                <p class="price_pcompare">{{pc.PropertyName1}}</p>
                                                <address><img src="/assets/images/home-location.svg"> {{pc.address1}}
                                                </address>
                                            </div>
                                        </div>
                                        <div class="pcompare-properties-second">
                                            <div class="property-pcompare-img">
                                                <img src="{{pc.src2}}">
                                            </div>
                                            <div class="property-pcompare-cntnt">
                                                <h4>
                                                    <span class="property_name_span">{{pc.price2}}</span>
                                                    <span class="property_currency_span">AED</span>
                                                    <span class="term_badge">/ Monthly</span>
                                                </h4>
                                                <p class="price_pcompare">{{pc.PropertyName2}}</p>
                                                <address><img src="/assets/images/home-location.svg"> {{pc.address2}}
                                                </address>
                                            </div>
                                        </div>
                                        <p class="vs-tag">VS</p>
                                    </div>
                                    <div class="pcomparison-details-btn">
                                        <a routerLink="{{pc.link}}">View Details</a>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
            <div class="comparision-middle-banner">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="comparision-banner-img">
                            <img src="/assets/images/confuse.jpg">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="comparision-banner-cntnt">
                            <h4><img src="/assets/images/logo.svg"><strong>Ovaluate</strong> Recomended</h4>
                            <h3>Not Sure, Which property to buy?</h3>
                            <p>Let us help you find the dream property</p>
                            <button class="compare-now-btn" (click)="scroll(property_info)">View Featured
                                Properties</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="featured-car-comparisons" #property_info>
                <div ngClass="compare-header">
                    <h4 class="h4-design">Featured Properties</h4>
                    <p>You Could choose 3 properties from here and compare</p>
                </div>
                <div class="popular-car-comparisons-slider">
                    <owl-carousel-o [options]="featuredOptions">
                        <ng-container *ngFor="let property of Featuredproperties">
                            <ng-template carouselSlide>
                                <div ngClass="property-comparison-block position-relative">
                                    <div ngClass="com-img cursor-pointer" routerLink="">
                                        <img src="{{property.img}}">
                                    </div>
                                    <div ngClass="com-cntnt cursor-pointer" routerLink="">
                                        <h4> {{property.price}} AED
                                            <small>/Monthly</small>
                                        </h4>
                                        <h5>{{property.title}}</h5>
                                        <address><img src="/assets/images/home-location.svg"> {{property.address}}
                                        </address>
                                    </div>
                                    <div class="selection-checkbox">
                                        <input type="checkbox" name="featured-selection">
                                        <button ngClass="add-property-cstm"></button>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section>
</section>
<app-footer></app-footer>
<app-erroralert [error]="error" (errorResponse)="errorResponse($event)" *ngIf="showError"></app-erroralert>