$color_1: #4A4A4A;
$color_2: var(--text-color);
$color_3: #000;
$color_4: #1B1571;
$color_5: #192024;
$color_6: #333;
$color_7: #000929;
$color_8: #99a4ac;
$color_9: #fff;
$color_10: #000000;

.user-info-sec {
    position: relative;
    padding: 100px 0px;
	.welcm {
        font-size: 24px;
        font-weight: 500;
        color: $color_8;
        margin-bottom: 5px;
	}
    .user-name {
        font-size: 40px;
        font-weight: 700;
        color: $color_4;
	}
    .base-details{
        margin-top: 50px;
        display: flex;
        align-items: flex-end;
        .edit{
            padding: 8px 15px;
            display: inline-block;
        }
    }
    .user-image{
        background: $color_9;
        padding: 15px;
        border-radius: 100%;
        height: 220px;
        width: 220px;
        -webkit-box-shadow: 0px 0px 38px -5px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 38px -5px rgba(0,0,0,0.1);
        box-shadow: 0px 0px 38px -5px rgba(0,0,0,0.1);
        margin: 0 auto;
    }
    .edit-pro-img{
        position: absolute;
        right: 100px;
        bottom: 120px;
        cursor: pointer;
        input{
            opacity: 0;
            width: 0;
        }
    }
    .close-icon{
        position: absolute;
        right: 100px;
    }
}
.free-proplisting{
    background: #E5E7EB;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin: 30px 0px;
    .first-title{
        padding-right: 30px;
    }
    .title{
        font-size: 28px;
        color: $color_4;
        font-weight: 700;
        margin-bottom: 0;
    }
    p{
        color: $color_10;
        margin-bottom: 0;
    }
    ul{
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        flex: 1 1 auto;
        margin-bottom: 0;
        li{
            font-size: 14px;
            padding: 5px 10px;
        }
    }
    .btn-primary {
        display: inline-block;
        background: $color_4;
        border-color: $color_4;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        padding: 15px 45px;
        border-radius: 8px;
        font-weight: 600;
    }
}
.statictics-wrap{
    .card{
        padding: 30px;
        display: flex;
        align-items: center;
        flex-direction: row;
        border-radius: 8px;
        
    }
    .content-area{
        flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        .title{
            font-size: 24px;
            font-weight: 700;
            color: $color_4;
        }
        p{
            color: $color_8;
        }
        .counts-wrap{
            display: flex;
            padding-left: 0;
            margin-bottom: 0;
            padding-top: 60px;
            li{
                list-style: none;
                width: 50%;
            }
            .count{
                font-weight: 700;
                font-size: 40px;
                color: $color_1;
                margin-bottom: 0;
            }
        }
    }
    .image-area{
        flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        max-width: 50%;
    }
}