<app-header></app-header>
<div ngClass="container_1220px">
  <!-- <h2 style="text-align: center;" >Welcome To Profile {{user.fullName}}</h2> -->
  <!-- <h2 style="text-align: center;" >Welcome To Profile Ahmed Yusef</h2> -->
  <div ngClass="user-info-sec">
    <div ngClass="row">
      <div ngClass="col-md-8">
        <h4 ngClass="welcm">Good Morning!</h4>
        <h2 ngClass="user-name">Ahmed Yusef</h2>
        <div class="base-details">
          <form>
          <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                  <label for="txtname">Account Email</label>
                  <input type="text" id="txtname" class="form-control" value="omranabc@gmail.com" placeholder="Enter the User Name"   autocomplete="off"  />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                  <label for="txtname">Phone</label>
                  <input type="text" id="txtname" class="form-control" value="+971 50 999 9999" placeholder="Enter the User Name"   autocomplete="off"  />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                  <label for="txtname">Location</label>
                  <input type="text" id="txtname" class="form-control" value="Al Mankool, Dubai,  UAE" placeholder="Enter the User Name"   autocomplete="off"  />
                </div>
            </div>
          </div>
          </form>
          <a [routerLink]="['#']" ngClass="edit">
            <img src="{{proEdit}}" alt="">
          </a>
        </div>
      </div>
      <div ngClass="col-md-4">
        <a href="#" class="close-icon"><img src="{{proClose}}" alt=""></a>
        <div class="user-image">
          <img src="{{proAvatar}}" alt="" class="user-img">
        </div>
        <label for="proImg" class="edit-pro-img">
          <input type="file" id="proImg">
          <img src="{{proImgEdit}}" alt="">
        </label>
      </div>
    </div>
  </div>
  
</div>

<div class="tab-nav-main">
  <div ngClass="container_1220px">
  <mat-tab-group class="tab-wrap" animationDuration="0ms">
    <mat-tab class="tab-item" label="Dashboard">

      <div class="free-proplisting">
        <div class="first-title">
          <h3 class="title">FREE Property Listing</h3>
          <p>Sell or Rent Your Home</p>
        </div>
        <ul>
          <li>Directly List your Property on Ovaluate</li>
          <li>Directly List your Property on Ovaluate</li>
          <li>Directly List your Property on Ovaluate</li>
          <li>Directly List your Property on Ovaluate</li>
        </ul>
        <a href="#" class="btn btn-primary">List Property</a>
      </div>

      <div class="statictics-wrap">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="content-area">
                <h4 class="title">Listings Summary</h4>
                <p>Last Listed 05th  May 2022</p>
                <ul class="counts-wrap">
                  <li>
                    <h3 class="count">028</h3>
                    <p>Residential</p>
                  </li>
                  <li>
                    <h3 class="count">000</h3>
                    <p>Commercial</p>
                  </li>
                </ul>
              </div>
              <div class="image-area">
                <img src="{{ListingVect}}" alt="">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="content-area">
                <h4 class="title">Valuation Summary</h4>
                <p>Last Listed 05th  May 2022</p>
                <ul class="counts-wrap">
                  <li>
                    <h3 class="count">028</h3>
                    <p>Residential</p>
                  </li>
                  <li>
                    <h3 class="count">000</h3>
                    <p>Commercial</p>
                  </li>
                </ul>
              </div>
              <div class="image-area">
                <img src="{{ValuationVect}}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab class="tab-item" label="My Activities"> Content 2 </mat-tab>
    <mat-tab class="tab-item" label="My Leads"> Content 3 </mat-tab>
    <mat-tab class="tab-item" label="My Listings"> My Listings </mat-tab>
    <mat-tab class="tab-item" label="My Valuations"> My Valuations </mat-tab>
    <mat-tab class="tab-item" label="More"> More </mat-tab>
  </mat-tab-group>
  </div>
</div>
<app-footer></app-footer>
