$color_1: #4A4A4A;
$color_2: var(--text-color);
$color_3: #000;
$color_4: #1B1571;
$color_5: #192024;
$color_6: #333;
$color_7: #000929;
$color_8: #99a4ac;
$color_9: #fff;
$color_10: #000000;

.user-info-sec {
    position: relative;
    padding: 100px 0px;
    padding-bottom: 50px;
	.welcm {
        font-size: 24px;
        font-weight: 500;
        color: $color_8;
        margin-bottom: 5px;
	}
    .user-name {
        font-size: 40px;
        font-weight: 700;
        color: $color_4;
	}
    .base-details{
        margin-top: 50px;
        display: flex;
        align-items: flex-end;
        .row{
            flex: 1;
        }
        .edit{
            padding: 8px 15px;
            display: inline-block;
        }
        .base-info-text{
            color: $color_3;
            font-weight: 700;
            font-size: 14px;
            img{
                margin-right: 8px;
            }
        }
        label{
            font-size: 12px;
        }
    }
    .user-image{
        background: $color_9;
        padding: 15px;
        border-radius: 100%;
        height: 220px;
        width: 220px;
        -webkit-box-shadow: 0px 0px 38px -5px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 0px 38px -5px rgba(0,0,0,0.1);
        box-shadow: 0px 0px 38px -5px rgba(0,0,0,0.1);
        margin: 0 auto;
    }
    .edit-pro-img{
        position: absolute;
        right: 100px;
        bottom: 65px;
        cursor: pointer;
        input{
            opacity: 0;
            width: 0;
        }
    }
    .close-icon{
        position: absolute;
        right: 100px;
    }
}
.free-proplisting{
    background: #E5E7EB;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin: 30px 0px;
    .first-title{
        padding-right: 30px;
    }
    .title{
        font-size: 28px;
        color: $color_4;
        font-weight: 700;
        margin-bottom: 0;
    }
    p{
        color: $color_10;
        margin-bottom: 0;
    }
    ul{
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
        flex: 1 1 auto;
        margin-bottom: 0;
        li{
            font-size: 14px;
            padding: 5px 10px;
        }
    }
    .btn-primary {
        display: inline-block;
        background: $color_4;
        border-color: $color_4;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        padding: 15px 45px;
        border-radius: 8px;
        font-weight: 600;
    }
}
.statictics-wrap{
    .card{
        padding: 30px;
        display: flex;
        align-items: center;
        flex-direction: row;
        border-radius: 8px;
        
    }
    .content-area{
        flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        .title{
            font-size: 24px;
            font-weight: 700;
            color: $color_4;
        }
        p{
            color: $color_8;
        }
        .counts-wrap{
            display: flex;
            padding-left: 0;
            margin-bottom: 0;
            padding-top: 60px;
            li{
                list-style: none;
                width: 50%;
            }
            .count{
                font-weight: 700;
                font-size: 40px;
                color: $color_1;
                margin-bottom: 0;
            }
        }
    }
    .image-area{
        flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        max-width: 50%;
    }
}
.section-title{
    h4{
        font-size: 24px;
    }
}
.tab-nav-main{
    .tab-wrap{
        border-bottom: 1px solid #F0EFFB;
    }
    .nav-pills{
        .nav-link{
            color: $color_1;
            font-weight: 500;
            position: relative;
        }
        .nav-link.active{
            background: $color_9;
            color: $color_4;
            &::after {
                content: "";
                width: 100%;
                height: 3px;
                position: absolute;
                left: 0;
                bottom: -5px;
                background: $color_4;
            }
        }
        .action-btn{
            background: none;
            border: none;
            padding: 0.5rem 1rem;
            display: flex;
            align-items: center;
            &::after {
                border: none;
                padding: 5px 10px;
                background-image: url(/assets/images/profile/drop-arrow.svg);
                background-size: 14px;
                background-repeat: no-repeat;
                background-position: 90% center;
            }
        }
    }
    .mat-tab-group.mat-primary{
        .mat-ink-bar{
            background: $color_4;
        }
    }
    .mat-tab-label{
        opacity: 1;
        .mat-tab-label-content{
            color: $color_1;
            font-weight: 500;
        }
    }
    .mat-tab-label.mat-tab-label-active{
        opacity: 1;
        .mat-tab-label-content{
            color: $color_4;
        }
    } 
    // .container_1220px{
    //     display: flex;
    // }
        .mat-tab-header{
            overflow: visible;
            z-index: 2;
            .mat-tab-label-container{
                overflow: visible;
                .mat-tab-label{
                    &:last-child{
                        height: auto;
                        overflow: visible;
                    }
                }
            }
            .action-btn{
                background: none;
                border: none;
            }
        }
    
    .dropdown{
        .dropdown-menu {
            border: none;
            box-shadow: 8px 10px 33px -29px #000929;
        }
        .dropdown-item {
            border-bottom: 1px solid #E5E7EB;
            margin-bottom: 5px;
            padding-bottom: 10px;
            a {
                display: block;
                color: #4A565F;
                font-size: 14px;
                font-weight: 500;
                img{
                    margin-right: 8px;
                }
            }
            .logout-link{
                color: #DB4840;
            }
            &:last-child{
                border-bottom: none;
                margin-bottom: 0;
            }
        }
        .dropdown-toggle::after{
            // display: none;
        }
     }
}
.lead-summ-table{
    .table-row{
        background: #F6F6F6;
        display: flex;
        align-items: flex-start;
        border-radius: 6px;
        padding: 16px;
        margin-bottom: 20px;
        .col{
            flex: 1 0 auto;
            .name{
                font-size: 16px;
                font-weight: 600;
                color: $color_1;
            }
            p{
                margin-bottom: 0;
            }
            span{
                color: $color_3;
                opacity: 0.4;
            }
        }
        .photo-col{
            img{
                width: 78px;
                height: 78px;
                margin: 0 auto;
                object-fit: cover;
                border-radius: 100%;
                overflow: hidden;
            }
        }
        .base-info-col{
            flex: 1 0 auto;
        }
        .contact-col{
            flex: 1 0 auto;
            div{
                display: flex;
                justify-content: space-between;
            }
        }
        .view-more{
            height: 100%;
            display: inline-flex;
            padding: 15px;
            margin-top: 20px;
            margin-top: 10px;
            img{

            }
        }
    }
}
.card{
    border-radius: 8px;
}
.sub-title{
    font-size: 16px;
    font-weight: 600;
    color: $color_1;
}
.recent-activity{
    padding-top: 30px;
    padding-bottom: 30px;
    .sub-tab-nav{
        .mat-tab-header {
            border-top: 1px solid rgba(0,0,0,.12);
            .mat-tab-group.mat-primary{
                .mat-ink-bar{
                    background: $color_1 !important;
                }
            }
            .mat-tab-label{
                opacity: 0.6;
                .mat-tab-label-content{
                    color: $color_1;
                    font-weight: 500;
                }
            }
            .mat-tab-label.mat-tab-label-active{
                opacity: 1;
                .mat-tab-label-content{
                    color: $color_1;
                }
            } 
                .mat-tab-label-container{
                    overflow: hidden;
                    .mat-tab-label{
                        &:last-child{
                            height: 48;
                            overflow: hidden;
                        }
                    }
                }
        }
    }
    .type-activity-status{
        margin-top: 30px;
        .checkbox-flex-box-auto{
            display: flex;
            .checkbox-design{
                margin-right: 10px;
            }
        }
        .checkbox-design{
            input:checked + .checkbox-btn {
                color: #4A565F;
                border: 1.5px solid #E5E7EB;
                background: transparent;
            }
            .checkbox-btn {
                border-color: #D3DBFF;
                background: #F5F7FF;
                color: #0B26AD;
            }
        }
    }
    .recent-search-item{
        .lable{
            font-size: 12px;
            color: $color_1;
            margin-bottom: 15px;
        }
        .link{
            font-size: 12px;
            color: $color_7;
            background: #E5E7EB;
            border-radius: 8px;
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            padding: 25px 20px;
            img{
                opacity: 0.3;
            }
        }
    }
    .agent-details {
        width: 100%;
        max-width: calc(100% - 64px);
        margin-left: auto;
    
        &__wrapper {
            &-img {
                border-radius: 8px;
            }
    
            &-details {
                &-heading {
                    line-height: 36px;
                    font-weight: 600px;
                    color: #192024;
                }
    
                &-text {
                    color: #4A565F;
                    margin-bottom: 5px;
                }
    
                &-desc {
                    color: #0B26AD;
                    font-weight: 600;
                }
    
                &-phone {
                    color: #0B26AD;
                    margin-bottom: 5px;
                }
    
                &-list {
                    padding: 0;
                    margin: 0;
    
                    &-item {
                        margin-right: 40px;
                        display: inline-block;
                        display: inline-block;
                    }
    
                    &-text {}
                }
            }
        }
    
        &__tabs {
            .nav {
                border: none;
    
                &-item {
                    margin-right: 5px;
                }
    
                &-link {
                    font-size: 16px;
                    line-height: 21px;
                    font-weight: 600;
                    border: none;
                    color: rgba($color: #000000, $alpha: .2);
                    border-bottom: 2px solid rgba($color: #000000, $alpha: .2);
                }
    
                .active {
                    color: #0B26AD;
                    border-color: #0B26AD;
                }
            }
        }
    
        &__tab-content {
            margin-top: 24px;
        }
    
        &__form-wrapper {
            background-color: #F0F3F5;
            padding: 32px 24px;
            border-radius: 8px;
        }
    
        &__form {
            &-img {
                border-radius: 8px;
            }
    
            &-fieldset {
                background-color: #fff;
                padding: 10px;
                border-radius: 8px;
                margin-bottom: 10px;
            }
    
            &-label {
                display: block;
                font-size: 12px;
                line-height: 18px;
                font-weight: 400px;
                color: rgba($color: #001619B2, $alpha: .7);
            }
    
            &-input {
                border: none;
                display: block;
            }
    
            &-textarea {
                width: 100%;
                min-height: 100px;
            }
    
            &-submit {
                display: block;
                width: 100%;
                background-color: #0B26AD;
                color: #fff;
                border: none;
                border-radius: 8px;
                padding: 20px 0;
                margin-top: 20px;
                margin-bottom: 40px;
            }
            span {
                font-family: "Cairo";
                font-size: 14px;
            }
        }
    
        &__btn {
            border-radius: 8px;
            background-color: #ffffff;
            border: 1px solid #4A565F;
            cursor: pointer;
            padding: 10px 0;
            width: 100%;
            display: inline-block;
            text-align: center;
            color: #4A565F;
            font-weight: 500;
            margin-bottom: 13px;
        }
    
        &__property {
    
            &-wrapper {
                background-color: #E5E7EB;
                padding: 20px 28px;
                border-radius: 8px;
            }
    
            h6 {
                font-weight: 600;
            }
    
            &-select {
                border: 0;
                padding: 12px 20px;
                border-radius: 8px;
                appearance: none;
                position: relative;
            }
    
            &-list {
                padding: 0;
                margin: 0;
                list-style: none;
                margin-bottom: 16px;
    
                &-item {
                    box-shadow: 0px 4px 20px rgba(14, 8, 84, 0.08);
                    padding: 10px;
                    border-radius: 8px;
                    margin-bottom: 16px;
    
                    &-img {
                        min-height: 150px;
                        width: 100%;
                        border-radius: 8px;
                    }
    
                    &-link {
                        color: #000929;
                        font-size: 24px;
                        line-height: 36px;
                        font-weight: 800;
    
                        span {
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 500;
                            opacity: .5;
                        }
                    }
    
                    &-date {
                        font-size: 14px;
                        line-height: 18px;
                        font-weight: 400;
                        color: #4A565F;
                    }
    
                    h6 {
                        font-size: 18px;
                        line-height: 27px;
                        font-weight: 700;
                        color: #000929;
                        margin: 0;
                    }
    
                    &-text {
                        font-size: 14px;
                        line-height: 21px;
                        font-weight: 500;
                        margin: 0;
    
                        &-icon {
                            max-width: 14px;
                            max-height: 14px;
    
                        }
                    }
    
                    &-type {
                        margin-top: 10px;
                        margin-bottom: 0;
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 600;
                        color: #000929;
                    }
                }
            }
    
            &-detail-list {
                margin: 0;
                padding: 0;
                list-style: none;
    
                &-item {
                    display: inline-block;
                    margin-right: 32px;
    
                    img {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .agent-landing-featured {
        width: 100%;
        // max-width: calc(100% - 64px);
        // margin-left: auto;
    
        &__heading {
            font-weight: 700;
        }
    
        &__text {
            color: #000929;
        }
    
        &__property {
            position: relative;
            padding-right: 16px;
            padding-bottom: 16px;
            overflow: visible;
            margin-bottom: 44px;
            box-shadow: 2px 2px 40px rgba($color: #000929, $alpha: .05);
            position: relative;
    
            &-wrapper {
                background-color: #fff;
                padding: 16px 24px;
                border-radius: 8px;
                position: relative;
            }
    
            &-tag {
                position: absolute;
                top: -4px;
                left: -4px;
            }
    
            &-img {
                width: 100%;
            }
    
            &-heading {
                font-weight: 600;
                color: #0B26AD;
                margin-bottom: 0;
                font-size: 14px;
                cursor: pointer;
            }
    
            &-text {
                font-size: 12px;
                line-height: 16px;
                color: #4A565F;
                margin-bottom: 0;
            }
    
            &-link {
                cursor: pointer;
                font-size: 12px;
                line-height: 16px;
                color: #4A565F;
                font-weight: 500;
                color: #0B26AD;
                margin-bottom: 16px;
                display: inline-block;
            }
    
            &-details {
                &-list {
                    padding: 0;
                    margin: 0;
                    margin-top: 16px;
                    display: flex;
                    justify-content: space-between;
    
                    &-item {
                        display: inline-block;
                        display: inline-block;
                    }
                }
            }
        }
    
        &__agent {
            margin-bottom: 40px;
    
            .agent-landing-featured__property-wrapper {
                padding: 0;
                position: relative;
                box-shadow: 2px 2px 40px rgba($color: #000929, $alpha: .05);
            }
    
            .agent-landing-featured__property-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }
    
            .agent-landing-featured__agent-company {
                position: absolute;
                z-index: 1;
                left: 16px;
                bottom: 16px;
                border-radius: 8px;
            }
    
            &-right-panel {
                padding-top: 16px;
                padding-right: 24px;
            }
    
            &-wrapper {
                display: flex;
                align-items: center;
            }
    
            &-img {
                width: 100%;
    
                &-outer-wrapper {
                    max-width: 87px;
                    max-height: 87px;
                    border-radius: 50%;
                    padding: 8px;
                    box-shadow: 0px 4px 40px rgba(11, 38, 173, 0.09);
                }
    
                &-inner-wrapper {
                    border-radius: 50%;
                    overflow: hidden;
                    box-shadow: 2px 2px 40px rgba($color: #000, $alpha: .15);
                }
            }
    
            &-text-wrapper {
                margin-left: 20px;
            }
        }
    }
}
.compare-action-pro-list{
    display: flex;
    .compare-action{
        border: 1.5px solid #E5E7EB;
        border-radius: 8px;
        margin-left: 30px;
        padding: 10px;
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        label{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .property_sel{
            margin-bottom: 10px;
        }
    }
    .mat-checkbox-layout{
        white-space: unset;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .mat-checkbox-inner-container{
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }
    .compare-btn{
        background: #F5F7FF;
        border: 1.5px solid #D3DBFF;
        border-radius: 8px;
        color: $color_4;
        margin-top: 15px;
        min-width: 130px;
    }
}
.sub-bold-text{
    font-size: 14px;
    font-weight: 600;
}
.my-lead-listing-wrap{
    padding: 0;
}
.agent-details__property-list-item{
    .action-btn{
        border: 0.5px solid #4A565F;
        width: 52px;
        height: 40px;
        background: $color_9;
        border-radius: 8px;
        margin: 0 auto;
        margin-right: 0;
        img{
            margin-right: 8px;
        }
    }
    .badge-img{
        display: inline-block;
        transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
    }
     .dropdown{
        .dropdown-menu {
            border: none;
            box-shadow: 8px 10px 33px -29px #000929;
        }
        .dropdown-item {
            border-bottom: 1px solid #E5E7EB;
            margin-bottom: 5px;
            padding-bottom: 10px;
            a {
                display: block;
                color: #4A565F;
                font-size: 14px;
                font-weight: 500;
                img{
                    margin-right: 8px;
                }
            }
            &:last-child{
                border-bottom: none;
                margin-bottom: 0;
            }
        }
        .dropdown-toggle::after{
            display: none;
        }
     }
}
.profile-tab-wrap{
    .list-new-proerty-cntnt{
        padding-top: 30px;
    }
    .mat-form-field-type-mat-native-select{
        .mat-form-field-infix{
            &::after{
                border: none;
                padding: 12px 10px;
                background-image: url(/assets/images/profile/drop-arrow.svg);
                background-size: 14px;
                background-repeat: no-repeat;
                background-position: 90% center;
            }
        }
    }
    .mat-select-arrow{
        border: none;
        padding: 12px 10px;
        background-image: url(/assets/images/profile/drop-arrow.svg);
        background-size: 14px;
        background-repeat: no-repeat;
        background-position: 90% center;
    }
    .mat-form-field-appearance-fill{
        .mat-select-arrow-wrapper {
            transform: translateY(0);
        }
        .mat-form-field-label {
            margin-top: 0;
        }
    }
    .mat-form-field-can-float.mat-form-field-should-float{
        .mat-form-field-label{
            display: none;
        }
    }
    .input-design-2.select-form{
        .mat-form-field-flex {
            border: none;
            background: #F0F3F5;
        }
    }
    .save-continue-sec{
        .save-continue-btn{
            margin-right: auto;
            margin-left: 0;
        }
    }
    .account-settings{
        .h6-design{
            font-size: 14px;
            font-weight: 400;
        }
        .mat-form-field{
            width: auto;
        }
        .btn-delete-act{
            padding: 10px 16px;
            // height: 40px;
            border: 2px solid #FCE3E3;
            border-radius: 8px;
            color: #DB4840;
        }
    }
    .form-check-input:checked {
        background-color: #7065F0;
        border-color: #7065F0;
        width: 2.5em;
        height: 1.5em;
    }
}

.hint-text {
    padding-top: 15px;
    padding-bottom: 15px;
}
.hint-text p {
    color: #A8A8A8;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0px;
}