<div class="container-fluid">
    <div class="white-header-wrap">
      <button class="dashboard-data-bars d-hide" (click)="clickEvent5()">
       More Filters
      </button>
    <div class="d-flex justify-content-center align-items-center">
      <div class="dashboard-header-left">
          <!-- <div class="logo-wrapper">
          <a ngClass="navbar-brand" routerLink=""><img src="{{logo}}"></a>
          </div> -->
          <div class="dashboard-dat-left-box d-flex align-items-center">
            <ul class="list-unstyled d-flex">
              <li (click)="clickEvent1()" [ngClass]="status1 ? 'active' : 'notactive'">DATA</li>
              <li (click)="clickEvent2()" [ngClass]="status2 ? 'active' : 'notactive'">REPORTS</li>
              <li (click)="clickEvent3()" [ngClass]="status3 ? 'active' : 'notactive'">RANKINGS</li>
              <li (click)="clickEvent4()" [ngClass]="status4 ? 'active' : 'notactive'">TRENDS</li>
            </ul>
          </div>
      </div>
    </div>
    </div>
  </div>
  <div class="dashboard-data-side-bar" [ngClass]="status5 ? 'active' : 'notactive'">
   <div class="dashboard-data-side-header">
    <h2>DATA INTELLEGENT DASHBOARD</h2>
   </div>
   <div class="dashboard-data-side-lists">
    <div class="dashboard-data-side-links data" [ngClass]="status1 ? 'show' : 'hide'">
     <div class="dashboard-data-side-subheader">
      <h4>DATA</h4>
     </div>
     <ul class="list-unstyled">
      <li>
        <div class="dropdown-design dropdown-design-main">
          <button type="button" class="btn btn-has-dropdown" [ngClass]="active >= 1 && active <= 11 ? 'active' : ''"><mat-icon>home</mat-icon>RESIDENTIAL</button>
          <div class="sub-menu" [ngClass]="active >= 1 && active <= 11 ? 'active' : ''">
            <div class="dropdown-design dropdown-design-sub-menu">
              <button type="button" class="btn btn-has-dropdown" [ngClass]="active >= 1 && active <= 6 ? 'active' : ''">Transaction Data</button>
              <div class="sub-menu" [ngClass]="active >= 1 && active <= 6 ? 'active' : ''">
                <button><a (click)="btnClicked('/data-intelligence/data/transaction-data')" [ngClass]="active == 1 ? 'active' : ''">Transaction Data</a></button>
                <button><a (click)="btnClicked('/data-intelligence/data/rent-data-residential')" [ngClass]="active == 2 ? 'active' : ''">Rent Data</a></button>
                <button><a (click)="btnClicked('/data-intelligence/data/unit-transaction-residential')" [ngClass]="active == 3 ? 'active' : ''">Unit Transaction History</a></button>
                <div class="dropdown-design dropdown-design-sub-menu">
                  <button type="button" class="btn btn-has-dropdown" [ngClass]="active >= 4 && active <= 6 ? 'active' : ''">Transaction Analysis </button>
                  <div class="sub-menu" [ngClass]="active >= 4 && active <= 6 ? 'active' : ''">
                    <button><a (click)="btnClicked('/data-intelligence/data/monthly-analysis-residential')" [ngClass]="active == 4 ? 'active' : ''">Monthly Analysis</a></button>
                    <button><a (click)="btnClicked('/data-intelligence/data/quaterly-analysis-residential')" [ngClass]="active == 5 ? 'active' : ''">Quarterly Analysis</a></button>
                    <button><a (click)="btnClicked('/data-intelligence/data/yearly-analysis-residential')" [ngClass]="active == 6 ? 'active' : ''">Yearly Analysis</a></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="dropdown-design dropdown-design-sub-menu">
              <button type="button" class="btn btn-has-dropdown">Listing Data </button>
              <div class="sub-menu">
                <button><a (click)="btnClicked('/data-intelligence/data/listing-monitor-residential')">Listing Monitor</a></button>
                <button><a (click)="btnClicked('/data-intelligence/data/listing-data-residential')">Listing Data</a></button>
              </div>
            </div>
            <button><a routerLink="">Supply Data</a></button>
            <button><a routerLink="">Occupancy Rate Data</a></button>
            <button><a routerLink="">Service Charges Data</a></button>
          </div>
        </div>
      </li>
      <li>
        <div class="dropdown-design dropdown-design-main">
          <button type="button" class="btn btn-has-dropdown"><mat-icon>shopping_cart</mat-icon>COMMERCIAL</button>
          <div class="sub-menu">
            <div class="dropdown-design dropdown-design-sub-menu">
              <button type="button" class="btn btn-has-dropdown">Transaction Data</button>
              <div class="sub-menu">
                <button><a routerLink="">Transaction Data</a></button>
                <button><a routerLink="">Rent Data</a></button>
                <button><a routerLink="">Unit Transaction History</a></button>
                <div class="dropdown-design dropdown-design-sub-menu">
                  <button type="button" class="btn btn-has-dropdown">Transaction Analysis </button>
                  <div class="sub-menu">
                    <button><a routerLink="#">Monthly Analysis</a></button>
                    <button><a routerLink="#">Quarterly Analysis</a></button>
                    <button><a routerLink="#">Yearly Analysis</a></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="dropdown-design dropdown-design-sub-menu">
              <button type="button" class="btn btn-has-dropdown">Listing Data </button>
              <div class="sub-menu">
                <button><a routerLink="">Listing Monitor</a></button>
                <button><a routerLink="">Listing Data</a></button>
              </div>
            </div>
            <!-- <div class="dropdown-design dropdown-design-sub-menu">
              <button type="button" class="btn btn-has-dropdown" id="dropdownBasicsuplydataCom">Listing Data </button>
              <div class="sub-menu">
                <button><a routerLink="">Office Supply</a></button>
                <button><a routerLink="">Retail Supply</a></button>
              </div>
            </div> -->
            <button><a routerLink="">Occupancy Rate Data</a></button>
            <button><a routerLink="">Service Charges Data</a></button>
          </div>
        </div>
      </li>
     </ul>
     </div>
     <div class="dashboard-data-side-links reports" [ngClass]="status2 ? 'show' : 'hide'">
      <div class="dashboard-data-side-subheader">
       <h4>REPORTS</h4>
      </div>
      <ul class="list-unstyled">
        <li>
          <div class="dropdown-design dropdown-design-main">
            <button type="button" class="btn btn-has-dropdown" id="dropdownBasicResedentialReport"><mat-icon>home</mat-icon>RESIDENTIAL</button>
            <div class="sub-menu">
              <button><a routerLink="">CITY REPORT</a></button>
              <button><a routerLink="">AREA REPORT</a></button>
              <button><a routerLink="">PROPERTY REPORT</a></button>
              <button><a routerLink="">DEVELOPER REPORT</a></button>
              <div class="dropdown-design dropdown-design-sub-menu">
                <button type="button" class="btn btn-has-dropdown" id="dropdownBasicmarketreport">Market Report</button>
                <div class="sub-menu">
                  <button><a routerLink="">Price Report</a></button>
                  <button><a routerLink="">Occupancy Report</a></button>
                  <button><a routerLink="">Service Charge Report</a></button>
                </div>
              </div>
              <div class="dropdown-design dropdown-design-sub-menu">
                <button type="button" class="btn btn-has-dropdown" id="dropdownBasicoffplanreports">OFF-PLAN REPORTS </button>
                <div class="sub-menu">
                  <button><a routerLink="">Off-Plan Price Report</a></button>
                  <button><a routerLink="">Supply Report</a></button>
                  <button><a routerLink="">Construction Status Report</a></button>
                  <button><a routerLink="">Payment Plans Report</a></button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown-design dropdown-design-main">
            <button type="button" class="btn btn-has-dropdown" id="dropdownBasicResedentialReport"><mat-icon>shopping_cart</mat-icon>COMMERCIAL</button>
            <div class="sub-menu">
              <div class="dropdown-design dropdown-design-sub-menu">
                <button type="button" class="btn btn-has-dropdown" id="dropdownBasicmarketreport">OFFICE MARKET</button>
                <div class="sub-menu">
                  <button><a routerLink="">Area Report</a></button>
                  <button><a routerLink="">Property Report</a></button>
                  <div class="dropdown-design dropdown-design-sub-menu">
                    <button type="button" class="btn btn-has-dropdown" id="dropdownBasicmarketreport">Market Report </button>
                    <div class="sub-menu">
                      <button><a routerLink="">Office Price Report</a></button>
                      <button><a routerLink="">Occupancy Report</a></button>
                      <button><a routerLink="">Service Charge Report</a></button>
                    </div>
                  </div>
                </div>
              </div>
              <button><a routerLink="">RETAIL MARKET</a></button>
              <button><a routerLink="">HOTEL MARKET</a></button>
              <button><a routerLink="">LAND MARKET</a></button>
              <button><a routerLink="">INDUSTRIAL MARKET</a></button>
              <button><a routerLink="">LABOR CAMPS</a></button>
            </div>
          </div>
        </li>
        <li>
          <div class="dropdown-design dropdown-design-main">
            <button type="button" class="btn btn-has-dropdown" id="dropdownBasiceconomyReport"><mat-icon> insert_chart</mat-icon>ECONOMY REPORTS</button>
            <div class="sub-menu">
              <div class="dropdown-design dropdown-design-sub-menu">
                <button type="button" class="btn btn-has-dropdown" id="dropdowndemographicreport">DEMOGRAPHICS</button>
                <div class="sub-menu">
                  <button><a routerLink="">Population Trends</a></button>
                </div>
              </div>
              <div class="dropdown-design dropdown-design-sub-menu">
                <button type="button" class="btn btn-has-dropdown" id="dropdownfinance">FINANCE</button>
                <div class="sub-menu">
                  <button><a routerLink="">Mortgage Rates</a></button>
                </div>
              </div>
              <button><a routerLink="">PRICES</a></button>
            </div>
          </div>
        </li>
        <li><button><a routerLink=""><mat-icon> insert_drive_file</mat-icon>REIDIN REPORTS</a></button></li>
        <li><button><a routerLink=""><mat-icon>update</mat-icon>PRODUCT UPDATES</a></button></li>
      </ul>
      </div>
      <div class="dashboard-data-side-links rankings" [ngClass]="status3 ? 'show' : 'hide'">
        <div class="dashboard-data-side-subheader">
         <h4>RANKINGS</h4>
        </div>
        <ul class="list-unstyled">
          <li>
            <div class="dropdown-design dropdown-design-main">
              <button type="button" class="btn btn-has-dropdown" id="dropdownBasicResedentialReportRed"><mat-icon>home</mat-icon>RESIDENTIAL</button>
              <div class="sub-menu">
                <div class="dropdown-design dropdown-design-sub-menu">
                  <button type="button" class="btn btn-has-dropdown" id="dropdownBasicarearankingRes">AREA RANKINGS </button>
                  <div class="sub-menu">
                    <button><a routerLink="">Sales</a></button>
                    <button><a routerLink="">Rental</a></button>
                    <button><a routerLink="">Rental Yields</a></button>
                    <button><a routerLink="">Residential Supply</a></button>
                    <button><a routerLink="">Occupancy Rates</a></button>
                    <button><a routerLink="">Service Charges</a></button>
                  </div>
                </div>
                <div class="dropdown-design dropdown-design-sub-menu">
                  <button type="button" class="btn btn-has-dropdown" id="dropdownBasicpropertyRankingRed">PROPERTY RANKINGS </button>
                  <div class="sub-menu">
                    <button><a routerLink="">Sales</a></button>
                    <button><a routerLink="">Rental</a></button>
                    <button><a routerLink="">Rental Yields</a></button>
                    <button><a routerLink="">Residential Supply</a></button>
                    <button><a routerLink="">Occupancy Rates</a></button>
                    <button><a routerLink="">Service Charges</a></button>
                  </div>
                </div>
                <div class="dropdown-design dropdown-design-sub-menu">
                  <button type="button" class="btn btn-has-dropdown" id="dropdownBasicpropertyRankingRed">BROKERAGE RANKINGS </button>
                  <div class="sub-menu">
                    <button><a routerLink="">Brokerage Rankings</a></button>
                    <button><a routerLink="">Brokerage Analytics</a></button>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown-design dropdown-design-main">
              <button type="button" class="btn btn-has-dropdown" id="dropdownBasicResedentialReport"><mat-icon>shopping_cart</mat-icon>COMMERCIAL</button>
              <div class="sub-menu">
                <div class="dropdown-design dropdown-design-sub-menu">
                  <button type="button" class="btn btn-has-dropdown" id="dropdownBasicofficecom1">OFFICE</button>
                  <div class="sub-menu">
                    <div class="dropdown-design dropdown-design-sub-menu">
                      <button type="button" class="btn btn-has-dropdown" id="dropdownBasicofficecom12">Area Rankings</button>
                      <div class="sub-menu">
                        <button><a routerLink="">Sales</a></button>
                        <button><a routerLink="">Rent</a></button>
                        <button><a routerLink="">Office Supply</a></button>
                        <button><a routerLink="">Occupancy Rates</a></button>
                        <button><a routerLink="">Service Charges</a></button>
                      </div>
                    </div>
                    <div class="dropdown-design dropdown-design-sub-menu">
                      <button type="button" class="btn btn-has-dropdown" id="dropdownBasicofficecom13">Property Rankings </button>
                      <div class="sub-menu">
                        <button><a routerLink="">Sales</a></button>
                        <button><a routerLink="">Rent</a></button>
                        <button><a routerLink="">Office Supply</a></button>
                        <button><a routerLink="">Occupancy Rates</a></button>
                        <button><a routerLink="">Service Charges</a></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dropdown-design dropdown-design-sub-menu">
                  <button type="button" class="btn btn-has-dropdown" id="dropdownBasicofficecom14">Brokerage Rankings</button>
                  <div class="sub-menu">
                    <button><a routerLink="">Brokerage Rankings</a></button>
                    <button><a routerLink="">Brokerage Analytics</a></button>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="dashboard-data-side-links trends" [ngClass]="status4 ? 'show' : 'hide'">
        <div class="dashboard-data-side-subheader">
         <h4>TRENDS</h4>
        </div>
        <ul class="list-unstyled">
          <li>
            <div class="dropdown-design dropdown-design-main">
              <button type="button" class="btn btn-has-dropdown" id="dropdownBasicResedentialReport"><mat-icon>home</mat-icon>RESIDENTIAL</button>
              <div class="sub-menu">
                <div class="dropdown-design dropdown-design-sub-menu">
                  <button type="button" class="btn btn-has-dropdown" id="dropdowntrends1">TRENDS</button>
                  <div class="sub-menu">
                    <div class="dropdown-design dropdown-design-sub-menu">
                      <button type="button" class="btn btn-has-dropdown" id="dropdowntrends12">Sales Price Trends </button>
                      <div class="sub-menu">
                        <button><a routerLink="">Residential Sales</a></button>
                        <button><a routerLink="">Serviced/Hotel Apartment Sales</a></button>
                      </div>
                    </div>
                    <button><a routerLink="">Rent Price Trends</a></button>
                    <button><a routerLink="">Rental Yields</a></button>
                    <button><a routerLink="">Supply Trends</a></button>
                  </div>
                </div>
                <div class="dropdown-design dropdown-design-sub-menu">
                  <button type="button" class="btn btn-has-dropdown" id="dropdowntrends13">INDICES </button>
                  <div class="sub-menu">
                    <div class="dropdown-design dropdown-design-sub-menu">
                      <button type="button" class="btn btn-has-dropdown" id="dropdowntrends14">Sales Price Indices </button>
                      <div class="sub-menu">
                        <button><a routerLink="">Residential Sales</a></button>
                        <button><a routerLink="">Prime Residential Sales</a></button>
                        <button><a routerLink="">Off-Plan Sales Prices</a></button>
                        <button><a routerLink="">Serviced/Hotel Apartment Sales</a></button>
                      </div>
                    </div>
                    <div class="dropdown-design dropdown-design-sub-menu">
                      <button type="button" class="btn btn-has-dropdown" id="dropdowntrends15">Rent Price Indices</button>
                      <div class="sub-menu">
                        <button><a routerLink="">Residential Rent</a></button>
                        <button><a routerLink="">Prime Residential Rent</a></button>
                      </div>
                    </div>
                    <button><a routerLink="">Housing & Rental Affordability</a></button>
                    <button><a routerLink="">Buildings Scores</a></button>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown-design dropdown-design-main">
              <button type="button" class="btn btn-has-dropdown" id="dropdownBasicResedentialReport"><mat-icon>shopping_cart</mat-icon>COMMERCIAL</button>
              <div class="sub-menu">
                <div class="dropdown-design dropdown-design-sub-menu">
                  <button type="button" class="btn btn-has-dropdown" id="dropdowntrenscomm16">OFFICE</button>
                  <div class="sub-menu">
                    <div class="dropdown-design dropdown-design-sub-menu">
                      <button type="button" class="btn btn-has-dropdown" id="dropdowntrenscomm17">Trends</button>
                      <div class="sub-menu">
                        <button><a routerLink="">Rent Price Trends</a></button>
                        <button><a routerLink="">Supply Trends</a></button>
                      </div>
                    </div>
                    <div class="dropdown-design dropdown-design-sub-menu">
                      <button type="button" class="btn btn-has-dropdown" id="dropdowntrenscomm18">Indices</button>
                      <div class="sub-menu">
                        <button><a routerLink="">Rent Price Indices</a></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="dropdown-design dropdown-design-sub-menu">
                  <button type="button" class="btn btn-has-dropdown" id="dropdowntrenscomm19">RETAIL </button>
                  <div class="sub-menu">
                    <button><a routerLink="">Supply Trends</a></button>
                  </div>
                </div>
                <div class="dropdown-design dropdown-design-sub-menu">
                  <button type="button" class="btn btn-has-dropdown" id="dropdowntrenscomm20">LAND </button>
                  <div class="sub-menu">
                    <div class="dropdown-design dropdown-design-sub-menu">
                      <button type="button" class="btn btn-has-dropdown" id="dropdowntrenscomm21">Trends</button>
                      <div class="sub-menu">
                        <button><a routerLink="">Sale Price Trends</a></button>
                      </div>
                    </div>
                    <div class="dropdown-design dropdown-design-sub-menu">
                      <button type="button" class="btn btn-has-dropdown" id="dropdowntrenscomm22">Indices</button>
                      <div class="sub-menu">
                        <button><a routerLink="">Sale Price Indices</a></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
   </div>
  </div>
  <div ngClass="overlay_counter" (click)="clickEvent5()"></div>