<div class="container-fluid">
    <div class="white-header-wrap">
      <button class="dashboard-data-bars d-hide" (click)="clickEvent5()">
       More Filters
      </button>
    <div class="d-flex justify-content-center align-items-center">
      <div class="dashboard-header-left">
          <!-- <div class="logo-wrapper">
          <a ngClass="navbar-brand" routerLink=""><img src="{{logo}}"></a>
          </div> -->
          <div class="dashboard-dat-left-box d-flex align-items-center">
            <ul class="list-unstyled d-flex">
              <li (click)="clickEvent1()" [ngClass]="status1 ? 'active' : 'notactive'">DATA</li>
              <li (click)="clickEvent2()" [ngClass]="status2 ? 'active' : 'notactive'">REPORTS</li>
              <li (click)="clickEvent3()" [ngClass]="status3 ? 'active' : 'notactive'">RANKINGS</li>
              <li (click)="clickEvent4()" [ngClass]="status4 ? 'active' : 'notactive'">TRENDS</li>
            </ul>
          </div>
      </div>
    </div>
    </div>
  </div>
  <div class="dashboard-data-side-bar" [ngClass]="status5 ? 'active' : 'notactive'">
   <div class="dashboard-data-side-header">
    <h2>DATA INTELLEGENT DASHBOARD</h2>
   </div>
   <div class="dashboard-data-side-lists">
    <div class="dashboard-data-side-links data" [ngClass]="status1 ? 'show' : 'hide'">
     <div class="dashboard-data-side-subheader">
      <h4>DATA</h4>
     </div>
     <ul class="list-unstyled">
      <li>
        <div ngbDropdown class="dropdown-design dropdown-design-main">
          <button type="button" class="btn btn-outline-primary" id="dropdownBasicResedential" ngbDropdownToggle><mat-icon>home</mat-icon>RESIDENTIAL</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasicResedential">
            <div ngbDropdown class="dropdown-design dropdown-design-sub-menu">
              <button type="button" class="btn btn-outline-primary" id="dropdownBasictransactindata" ngbDropdownToggle>Transaction Data</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasictransactindata">
                <button ngbDropdownItem routerLink="transaction-data-residential"><a>Transaction Data</a></button>
                <button ngbDropdownItem routerLink="rent-data-residential"><a>Rent Data</a></button>
                <button ngbDropdownItem><a routerLink="">Unit Transaction History</a></button>
                <div ngbDropdown class="dropdown-design dropdown-design-sub-menu">
                  <button type="button" class="btn btn-outline-primary" id="dropdownBasictransactinanalysis" ngbDropdownToggle>Transaction Analysis </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasictransactinanalysis">
                    <button ngbDropdownItem><a routerLink="#">Monthly Analysis</a></button>
                    <button ngbDropdownItem><a routerLink="#">Quarterly Analysis</a></button>
                    <button ngbDropdownItem><a routerLink="#">Yearly Analysis</a></button>
                  </div>
                </div>
              </div>
            </div>
            <div ngbDropdown class="dropdown-design dropdown-design-sub-menu">
              <button type="button" class="btn btn-outline-primary" id="dropdownBasiclistindata" ngbDropdownToggle>Listing Data </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasiclistindata">
                <button ngbDropdownItem><a routerLink="">Listing Monitor</a></button>
                <button ngbDropdownItem><a routerLink="">Listing Data</a></button>
              </div>
            </div>
            <button ngbDropdownItem><a routerLink="">Supply Data</a></button>
            <button ngbDropdownItem><a routerLink="">Occupancy Rate Data</a></button>
            <button ngbDropdownItem><a routerLink="">Service Charges Data</a></button>
          </div>
        </div>
      </li>
      <li>
        <div ngbDropdown class="dropdown-design dropdown-design-main">
          <button type="button" class="btn btn-outline-primary" id="dropdownBasiccommertial" ngbDropdownToggle><mat-icon>shopping_cart</mat-icon>COMMERCIAL</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasiccommertial">
            <div ngbDropdown class="dropdown-design dropdown-design-sub-menu">
              <button type="button" class="btn btn-outline-primary" id="dropdownBasictransactindataCom" ngbDropdownToggle>Transaction Data</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasictransactindataCom">
                <button ngbDropdownItem><a routerLink="">Transaction Data</a></button>
                <button ngbDropdownItem><a routerLink="">Rent Data</a></button>
                <button ngbDropdownItem><a routerLink="">Unit Transaction History</a></button>
                <div ngbDropdown class="dropdown-design dropdown-design-sub-menu">
                  <button type="button" class="btn btn-outline-primary" id="dropdownBasictransactinanalysisCom" ngbDropdownToggle>Transaction Analysis </button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasictransactinanalysisCom">
                    <button ngbDropdownItem><a routerLink="#">Monthly Analysis</a></button>
                    <button ngbDropdownItem><a routerLink="#">Quarterly Analysis</a></button>
                    <button ngbDropdownItem><a routerLink="#">Yearly Analysis</a></button>
                  </div>
                </div>
              </div>
            </div>
            <div ngbDropdown class="dropdown-design dropdown-design-sub-menu">
              <button type="button" class="btn btn-outline-primary" id="dropdownBasiclistindataCom" ngbDropdownToggle>Listing Data </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasiclistindataCom">
                <button ngbDropdownItem><a routerLink="">Listing Monitor</a></button>
                <button ngbDropdownItem><a routerLink="">Listing Data</a></button>
              </div>
            </div>
            <div ngbDropdown class="dropdown-design dropdown-design-sub-menu">
              <button type="button" class="btn btn-outline-primary" id="dropdownBasicsuplydataCom" ngbDropdownToggle>Listing Data </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasicsuplydataCom">
                <button ngbDropdownItem><a routerLink="">Office Supply</a></button>
                <button ngbDropdownItem><a routerLink="">Retail Supply</a></button>
              </div>
            </div>
            <button ngbDropdownItem><a routerLink="">Occupancy Rate Data</a></button>
            <button ngbDropdownItem><a routerLink="">Service Charges Data</a></button>
          </div>
        </div>
      </li>
     </ul>
     </div>
     <div class="dashboard-data-side-links reports" [ngClass]="status2 ? 'show' : 'hide'">
      <div class="dashboard-data-side-subheader">
       <h4>REPORTS</h4>
      </div>
      <ul class="list-unstyled">
        <li>
          <div ngbDropdown class="dropdown-design dropdown-design-main">
            <button type="button" class="btn btn-outline-primary" id="dropdownBasicResedentialReport" ngbDropdownToggle><mat-icon>home</mat-icon>RESIDENTIAL</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasicResedentialReport">
              <button ngbDropdownItem><a routerLink="">CITY REPORT</a></button>
              <button ngbDropdownItem><a routerLink="">AREA REPORT</a></button>
              <button ngbDropdownItem><a routerLink="">PROPERTY REPORT</a></button>
              <button ngbDropdownItem><a routerLink="">DEVELOPER REPORT</a></button>
              <div ngbDropdown class="dropdown-design dropdown-design-sub-menu">
                <button type="button" class="btn btn-outline-primary" id="dropdownBasicmarketreport" ngbDropdownToggle>Market Report</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasicmarketreport">
                  <button ngbDropdownItem><a routerLink="">Price Report</a></button>
                  <button ngbDropdownItem><a routerLink="">Occupancy Report</a></button>
                  <button ngbDropdownItem><a routerLink="">Service Charge Report</a></button>
                </div>
              </div>
              <div ngbDropdown class="dropdown-design dropdown-design-sub-menu">
                <button type="button" class="btn btn-outline-primary" id="dropdownBasicoffplanreports" ngbDropdownToggle>OFF-PLAN REPORTS </button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasicoffplanreports">
                  <button ngbDropdownItem><a routerLink="">Off-Plan Price Report</a></button>
                  <button ngbDropdownItem><a routerLink="">Supply Report</a></button>
                  <button ngbDropdownItem><a routerLink="">Construction Status Report</a></button>
                  <button ngbDropdownItem><a routerLink="">Payment Plans Report</a></button>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div ngbDropdown class="dropdown-design dropdown-design-main">
            <button type="button" class="btn btn-outline-primary" id="dropdownBasicResedentialReport" ngbDropdownToggle><mat-icon>shopping_cart</mat-icon>COMMERCIAL</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasicResedentialReport">
              <div ngbDropdown class="dropdown-design dropdown-design-sub-menu">
                <button type="button" class="btn btn-outline-primary" id="dropdownBasicmarketreport" ngbDropdownToggle>OFFICE MARKET</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasicmarketreport">
                  <button ngbDropdownItem><a routerLink="">Area Report</a></button>
                  <button ngbDropdownItem><a routerLink="">Property Report</a></button>
                  <div ngbDropdown class="dropdown-design dropdown-design-sub-menu">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasicmarketreport" ngbDropdownToggle>Market Report </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasicmarketreport">
                      <button ngbDropdownItem><a routerLink="">Office Price Report</a></button>
                      <button ngbDropdownItem><a routerLink="">Occupancy Report</a></button>
                      <button ngbDropdownItem><a routerLink="">Service Charge Report</a></button>
                    </div>
                  </div>
                </div>
              </div>
              <button ngbDropdownItem><a routerLink="">RETAIL MARKET</a></button>
              <button ngbDropdownItem><a routerLink="">HOTEL MARKET</a></button>
              <button ngbDropdownItem><a routerLink="">LAND MARKET</a></button>
              <button ngbDropdownItem><a routerLink="">INDUSTRIAL MARKET</a></button>
              <button ngbDropdownItem><a routerLink="">LABOR CAMPS</a></button>
            </div>
          </div>
        </li>
        <li>
          <div ngbDropdown class="dropdown-design dropdown-design-main">
            <button type="button" class="btn btn-outline-primary" id="dropdownBasiceconomyReport" ngbDropdownToggle><mat-icon> insert_chart</mat-icon>ECONOMY REPORTS</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasiceconomyReport">
              <div ngbDropdown class="dropdown-design dropdown-design-sub-menu">
                <button type="button" class="btn btn-outline-primary" id="dropdowndemographicreport" ngbDropdownToggle>DEMOGRAPHICS</button>
                <div ngbDropdownMenu aria-labelledby="dropdowndemographicreport">
                  <button ngbDropdownItem><a routerLink="">Population Trends</a></button>
                </div>
              </div>
              <div ngbDropdown class="dropdown-design dropdown-design-sub-menu">
                <button type="button" class="btn btn-outline-primary" id="dropdownfinance" ngbDropdownToggle>FINANCE</button>
                <div ngbDropdownMenu aria-labelledby="dropdownfinance">
                  <button ngbDropdownItem><a routerLink="">Mortgage Rates</a></button>
                </div>
              </div>
              <button ngbDropdownItem><a routerLink="">PRICES</a></button>
            </div>
          </div>
        </li>
        <li><button ngbDropdownItem><a routerLink=""><mat-icon> insert_drive_file</mat-icon>REIDIN REPORTS</a></button></li>
        <li><button ngbDropdownItem><a routerLink=""><mat-icon>update</mat-icon>PRODUCT UPDATES</a></button></li>
      </ul>
      </div>
      <div class="dashboard-data-side-links rankings" [ngClass]="status3 ? 'show' : 'hide'">
        <div class="dashboard-data-side-subheader">
         <h4>RANKINGS</h4>
        </div>
        <ul class="list-unstyled">
         <li class="mt-4 mb-4">RESIDENTIAL</li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic13" ngbDropdownToggle>AREA RANKINGS</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic13">
               <button ngbDropdownItem>Sales</button>
               <button ngbDropdownItem>Rental Yields</button>
               <button ngbDropdownItem>Residential Supply</button>
               <button ngbDropdownItem>Occupancy Rates</button>
               <button ngbDropdownItem>Service Changes</button>
             </div>
           </div>
         </li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic14" ngbDropdownToggle>PROPERTY RANKINGS</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic14">
              <button ngbDropdownItem>Sales</button>
              <button ngbDropdownItem>Rental Yields</button>
              <button ngbDropdownItem>Residential Supply</button>
              <button ngbDropdownItem>Occupancy Rates</button>
              <button ngbDropdownItem>Service Changes</button>
             </div>
           </div>
         </li>
         <li>COMMERCIAL</li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic15" ngbDropdownToggle>BROKERAGE RANKINGS</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic15">
               <button ngbDropdownItem>Brokerage Rankings</button>
               <button ngbDropdownItem>Brokerage Analytics</button>
             </div>
           </div>
         </li>
         <li class="mt-4 mb-4">COMMERCIAL</li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic16" ngbDropdownToggle>OFFICE</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic16">
               <button ngbDropdownItem>Area Rankings</button>
               <button ngbDropdownItem>Sales</button>
               <button ngbDropdownItem>Rent</button>
               <button ngbDropdownItem>Office Supply</button>
               <button ngbDropdownItem>Occupancy Rates</button>
               <button ngbDropdownItem>Service Changes</button>
             </div>
           </div>
         </li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic17" ngbDropdownToggle>PROPERTY RANKINGSS</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic17">
               <button ngbDropdownItem>Sales</button>
               <button ngbDropdownItem>Rental</button>
               <button ngbDropdownItem>Office Supply</button>
               <button ngbDropdownItem>Occupancy Rates</button>
               <button ngbDropdownItem> Service Charges</button>
             </div>
           </div>
         </li>
         <li>
          <div ngbDropdown>
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic18" ngbDropdownToggle>BROKERAGE RANKINGS</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic18">
              <button ngbDropdownItem>Brokerage Rankings</button>
              <button ngbDropdownItem>Brokerage Analytics</button>
            </div>
          </div>
        </li>
        </ul>
      </div>
      <div class="dashboard-data-side-links trends" [ngClass]="status4 ? 'show' : 'hide'">
        <div class="dashboard-data-side-subheader">
         <h4>TRENDS</h4>
        </div>
        <ul class="list-unstyled">
         <li class="mt-4 mb-4">RESIDENTIAL</li>
         <li>TRENDS</li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic19" ngbDropdownToggle>SALES PRICE TRENDS</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic19">
               <button ngbDropdownItem>Residential Sales</button>
               <button ngbDropdownItem>Serviced/Hotel Apt Sales</button>
             </div>
           </div>
         </li>
         <li>RENT PRICE TRENDS</li>
         <li>RENTAL YIELDS</li>
         <li>SUPPLY TRENDS</li>
         <li>INDICES</li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic20" ngbDropdownToggle>SALES PRICE INDICES</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic20">
               <button ngbDropdownItem>Residential Sales</button>
               <button ngbDropdownItem>Prime Residential Sales</button>
               <button ngbDropdownItem>Off - Plan Sale Prices</button>
               <button ngbDropdownItem>Serviced/Hotel Apt Sales</button>
             </div>
           </div>
         </li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic21" ngbDropdownToggle>RENT PRICE INDICES</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic21">
               <button ngbDropdownItem>Residential Rent</button>
               <button ngbDropdownItem>Prime Residential Rent</button>
             </div>
           </div>
         </li>
         <li>HOUSING & RENTAL AFFORDIBILTY</li>
         <li>BUILDING SCORES</li>
         <li class="mt-4 mb-4">COMMERCIAL</li>
         <li>OFFICE</li>
         <li>TRENDS</li>
         <li>RENT PRICE TRENDS</li>
         <li>SUPPLY TRENDS</li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic22" ngbDropdownToggle>INDICES</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic22">
               <button ngbDropdownItem>Rent Price Indices</button>
             </div>
           </div>
         </li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic23" ngbDropdownToggle>RETAIL</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic23">
               <button ngbDropdownItem>Supply Trends </button>
             </div>
           </div>
         </li>
         <li>
          <div ngbDropdown>
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic24" ngbDropdownToggle>LAND</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic24">
              <button ngbDropdownItem>Trends</button>
              <button ngbDropdownItem>Sales Price Trend</button>
            </div>
          </div>
        </li>
        <li>
          <div ngbDropdown>
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic25" ngbDropdownToggle>INDICES</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic25">
              <button ngbDropdownItem>Sales Price Index</button>
            </div>
          </div>
        </li>
        </ul>
      </div>
   </div>
  </div>
  <div ngClass="overlay_counter" (click)="clickEvent5()"></div>