<div class="container-fluid">
    <div class="white-header-wrap">
      <button class="dashboard-data-bars d-hide" (click)="clickEvent5()">
       More Filters
      </button>
    <div class="d-flex justify-content-center align-items-center">
      <div class="dashboard-header-left">
          <!-- <div class="logo-wrapper">
          <a ngClass="navbar-brand" routerLink=""><img src="{{logo}}"></a>
          </div> -->
          <div class="dashboard-dat-left-box d-flex align-items-center">
            <ul class="list-unstyled d-flex">
              <li (click)="clickEvent1()" [ngClass]="status1 ? 'active' : 'notactive'">DATA</li>
              <li (click)="clickEvent2()" [ngClass]="status2 ? 'active' : 'notactive'">REPORTS</li>
              <li (click)="clickEvent3()" [ngClass]="status3 ? 'active' : 'notactive'">RANKINGS</li>
              <li (click)="clickEvent4()" [ngClass]="status4 ? 'active' : 'notactive'">TRENDS</li>
            </ul>
          </div>
      </div>
    </div>
    </div>
  </div>
  <div class="dashboard-data-side-bar" [ngClass]="status5 ? 'active' : 'notactive'">
   <div class="dashboard-data-side-header">
    <h2>DATA INTELLEGENT DASHBOARD</h2>
   </div>
   <div class="dashboard-data-side-lists">
    <div class="dashboard-data-side-links data" [ngClass]="status1 ? 'show' : 'hide'">
     <div class="dashboard-data-side-subheader">
      <h4>DATA</h4>
     </div>
     <ul class="list-unstyled">
      <li>
        <div ngbDropdown class="dropdown-design">
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>RESIDENTIAL</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div ngbDropdown class="dropdown-design-1">
              <button type="button" class="btn btn-outline-primary" id="dropdownBasic1-2" ngbDropdownToggle>TRANSACTION DATA</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                <button ngbDropdownItem><a routerLink="">TRANSACTION DATA</a></button>
                <button ngbDropdownItem><a routerLink="">Rent Data</a></button>
                <button ngbDropdownItem><a routerLink="">Unit Transaction History</a></button>
                <div ngbDropdown class="dropdown-design-2">
                  <button type="button" class="btn btn-outline-primary" id="dropdownBasic1-3" ngbDropdownToggle>TRANSACTION ANALYSIS</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownBasic21">
                    <button ngbDropdownItem><a routerLink="">Monthly Analysis</a></button>
                    <button ngbDropdownItem><a routerLink="">Quarterly Analysis</a></button>
                    <button ngbDropdownItem><a routerLink="">Yearly Analysis</a></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div ngbDropdown>
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic3" ngbDropdownToggle>LISTING DATA</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
            <button ngbDropdownItem>Listing Monitor</button>
            <button ngbDropdownItem>Listing Data</button>
          </div>
        </div>
      </li>
      <li>SUPPLY DATA</li>
      <li>SERVICE CHARGES DATA</li>
      <li class="mt-4 mb-4">COMMERCIAL</li>
      <li>
        <div ngbDropdown>
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic4" ngbDropdownToggle>TRANSACTION DATA</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic4">
            <button ngbDropdownItem>Rent Data</button>
            <button ngbDropdownItem>Unit Transaction History</button>
          </div>
        </div>
      </li>
      <li>
        <div ngbDropdown>
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic5" ngbDropdownToggle>TRANSACTION ANALYSIS</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic5">
            <button ngbDropdownItem>Monthly Analysis</button>
            <button ngbDropdownItem>Quarterly Analysis</button>
            <button ngbDropdownItem>Yearly Analysis</button>
          </div>
        </div>
      </li>
      <li>
        <div ngbDropdown>
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic6" ngbDropdownToggle>LISTING DATA</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic6">
            <button ngbDropdownItem>Listing Montor</button>
            <button ngbDropdownItem>Listing Data</button>
          </div>
        </div>
      </li>
      <li>
        <div ngbDropdown>
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic7" ngbDropdownToggle>SUPPLY DATA</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic7">
            <button ngbDropdownItem>Office Supply</button>
            <button ngbDropdownItem>Retail Supply</button>
          </div>
        </div>
      </li>
      <li>OCCUPANCY RATE DATA</li>
      <li>SERVICE CHARGES DATA</li>
     </ul>
     </div>
     <div class="dashboard-data-side-links reports" [ngClass]="status2 ? 'show' : 'hide'">
      <div class="dashboard-data-side-subheader">
       <h4>REPORTS</h4>
      </div>
      <ul class="list-unstyled">
       <li class="mt-4">
        <div ngbDropdown>
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic81" ngbDropdownToggle>RESIDENTIAL</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic81">
            <button ngbDropdownItem>City Report</button>
            <button ngbDropdownItem>Area Report</button>
            <button ngbDropdownItem>Property Report</button>
            <button ngbDropdownItem>Developer Report</button>
          </div>
        </div>
      </li>
       <li>
         <div ngbDropdown>
           <button type="button" class="btn btn-outline-primary" id="dropdownBasic8" ngbDropdownToggle>MARKET REPORTS</button>
           <div ngbDropdownMenu aria-labelledby="dropdownBasic8">
             <button ngbDropdownItem>Price Report</button>
             <button ngbDropdownItem>Occupancy Report</button>
             <button ngbDropdownItem>Service Charges Report</button>
           </div>
         </div>
       </li>
       <li>
         <div ngbDropdown>
           <button type="button" class="btn btn-outline-primary" id="dropdownBasic9" ngbDropdownToggle>OFF PLAN REPORTS</button>
           <div ngbDropdownMenu aria-labelledby="dropdownBasic9">
             <button ngbDropdownItem>Off Plan Price Report </button>
             <button ngbDropdownItem>Supply Report</button>
             <button ngbDropdownItem>Construction Status Report</button>
             <button ngbDropdownItem>Payment Plans Report</button>
           </div>
         </div>
       </li>
       <li class="mt-4 mb-4">COMMERCIAL</li>
       <li>
         <div ngbDropdown>
           <button type="button" class="btn btn-outline-primary" id="dropdownBasic10" ngbDropdownToggle>OFFICE MARKET</button>
           <div ngbDropdownMenu aria-labelledby="dropdownBasic10">
             <button ngbDropdownItem>Area Report</button>
             <button ngbDropdownItem>Property Report</button>
             <button ngbDropdownItem>Market Report</button>
           </div>
         </div>
       </li>
       <li>RETAIL MARKET</li>
       <li>HOTEL MARKET</li>
       <li>LAND MARKET</li>
       <li>INDUSTRIAL MARKET</li>
       <li>LABOR CAMPS</li>
       <li>SERVICE CHARGES REPORT</li>
       <li>
         <div ngbDropdown>
           <button type="button" class="btn btn-outline-primary" id="dropdownBasic11" ngbDropdownToggle>ECONOMY REPORTS</button>
           <div ngbDropdownMenu aria-labelledby="dropdownBasic11">
             <button ngbDropdownItem>Demographics</button>
           </div>
         </div>
       </li>
       <li>
         <div ngbDropdown>
           <button type="button" class="btn btn-outline-primary" id="dropdownBasic12" ngbDropdownToggle>FINANCE</button>
           <div ngbDropdownMenu aria-labelledby="dropdownBasic12">
             <button ngbDropdownItem>Mortage Rates</button>
           </div>
         </div>
       </li>
       <li>PRICES</li>
      </ul>
      </div>
      <div class="dashboard-data-side-links rankings" [ngClass]="status3 ? 'show' : 'hide'">
        <div class="dashboard-data-side-subheader">
         <h4>RANKINGS</h4>
        </div>
        <ul class="list-unstyled">
         <li class="mt-4 mb-4">RESIDENTIAL</li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic13" ngbDropdownToggle>AREA RANKINGS</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic13">
               <button ngbDropdownItem>Sales</button>
               <button ngbDropdownItem>Rental Yields</button>
               <button ngbDropdownItem>Residential Supply</button>
               <button ngbDropdownItem>Occupancy Rates</button>
               <button ngbDropdownItem>Service Changes</button>
             </div>
           </div>
         </li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic14" ngbDropdownToggle>PROPERTY RANKINGS</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic14">
              <button ngbDropdownItem>Sales</button>
              <button ngbDropdownItem>Rental Yields</button>
              <button ngbDropdownItem>Residential Supply</button>
              <button ngbDropdownItem>Occupancy Rates</button>
              <button ngbDropdownItem>Service Changes</button>
             </div>
           </div>
         </li>
         <li>COMMERCIAL</li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic15" ngbDropdownToggle>BROKERAGE RANKINGS</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic15">
               <button ngbDropdownItem>Brokerage Rankings</button>
               <button ngbDropdownItem>Brokerage Analytics</button>
             </div>
           </div>
         </li>
         <li class="mt-4 mb-4">COMMERCIAL</li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic16" ngbDropdownToggle>OFFICE</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic16">
               <button ngbDropdownItem>Area Rankings</button>
               <button ngbDropdownItem>Sales</button>
               <button ngbDropdownItem>Rent</button>
               <button ngbDropdownItem>Office Supply</button>
               <button ngbDropdownItem>Occupancy Rates</button>
               <button ngbDropdownItem>Service Changes</button>
             </div>
           </div>
         </li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic17" ngbDropdownToggle>PROPERTY RANKINGSS</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic17">
               <button ngbDropdownItem>Sales</button>
               <button ngbDropdownItem>Rental</button>
               <button ngbDropdownItem>Office Supply</button>
               <button ngbDropdownItem>Occupancy Rates</button>
               <button ngbDropdownItem> Service Charges</button>
             </div>
           </div>
         </li>
         <li>
          <div ngbDropdown>
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic18" ngbDropdownToggle>BROKERAGE RANKINGS</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic18">
              <button ngbDropdownItem>Brokerage Rankings</button>
              <button ngbDropdownItem>Brokerage Analytics</button>
            </div>
          </div>
        </li>
        </ul>
      </div>
      <div class="dashboard-data-side-links trends" [ngClass]="status4 ? 'show' : 'hide'">
        <div class="dashboard-data-side-subheader">
         <h4>TRENDS</h4>
        </div>
        <ul class="list-unstyled">
         <li class="mt-4 mb-4">RESIDENTIAL</li>
         <li>TRENDS</li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic19" ngbDropdownToggle>SALES PRICE TRENDS</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic19">
               <button ngbDropdownItem>Residential Sales</button>
               <button ngbDropdownItem>Serviced/Hotel Apt Sales</button>
             </div>
           </div>
         </li>
         <li>RENT PRICE TRENDS</li>
         <li>RENTAL YIELDS</li>
         <li>SUPPLY TRENDS</li>
         <li>INDICES</li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic20" ngbDropdownToggle>SALES PRICE INDICES</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic20">
               <button ngbDropdownItem>Residential Sales</button>
               <button ngbDropdownItem>Prime Residential Sales</button>
               <button ngbDropdownItem>Off - Plan Sale Prices</button>
               <button ngbDropdownItem>Serviced/Hotel Apt Sales</button>
             </div>
           </div>
         </li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic21" ngbDropdownToggle>RENT PRICE INDICES</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic21">
               <button ngbDropdownItem>Residential Rent</button>
               <button ngbDropdownItem>Prime Residential Rent</button>
             </div>
           </div>
         </li>
         <li>HOUSING & RENTAL AFFORDIBILTY</li>
         <li>BUILDING SCORES</li>
         <li class="mt-4 mb-4">COMMERCIAL</li>
         <li>OFFICE</li>
         <li>TRENDS</li>
         <li>RENT PRICE TRENDS</li>
         <li>SUPPLY TRENDS</li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic22" ngbDropdownToggle>INDICES</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic22">
               <button ngbDropdownItem>Rent Price Indices</button>
             </div>
           </div>
         </li>
         <li>
           <div ngbDropdown>
             <button type="button" class="btn btn-outline-primary" id="dropdownBasic23" ngbDropdownToggle>RETAIL</button>
             <div ngbDropdownMenu aria-labelledby="dropdownBasic23">
               <button ngbDropdownItem>Supply Trends </button>
             </div>
           </div>
         </li>
         <li>
          <div ngbDropdown>
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic24" ngbDropdownToggle>LAND</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic24">
              <button ngbDropdownItem>Trends</button>
              <button ngbDropdownItem>Sales Price Trend</button>
            </div>
          </div>
        </li>
        <li>
          <div ngbDropdown>
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic25" ngbDropdownToggle>INDICES</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic25">
              <button ngbDropdownItem>Sales Price Index</button>
            </div>
          </div>
        </li>
        </ul>
      </div>
   </div>
  </div>
  <div ngClass="overlay_counter" (click)="clickEvent5()"></div>