<header>
    <app-header></app-header>
</header>
<section [ngClass]="'inner-cntnt-wrapper slide-left-bar'">
    <section ngClass="explore-details-sec">
        <div [ngClass]="'container_1280px'">
            <div ngClass="exploredetails-breadcrumb-wrapper black-text-breadcrumb">
                <app-breadcrumb></app-breadcrumb>
            </div>
            <div ngClass="explore-details-banner">
                <div ngClass="explore_details-img">
                    <img src="https://beta.ovaluate.com/{{districtDetail.document.fileUrl}}">
                </div>
                <div ngClass="explore_details-cntnt">
                    <div ngClass="hp-design white">
                        <h4>{{districtDetail.name}}</h4>
                        <p>UAE</p>
                    </div>
                </div>
            </div>
            <div ngClass="property_details-tabs">
                <mat-tab-group>
                    <mat-tab label="Overview">
                        <div ngClass="hp-design">
                            <p>{{districtDetail.details}}.</p>
                        </div>
                    </mat-tab>
                    <mat-tab label="Nearby">
                        <div ngClass="tabs-heading-div">
                            <h5>Nearby Al Barsha</h5>
                        </div>
                        <div ngClass="explore-near-by-buttons">
                            <button ngClass="explore-btn-design">All</button>
                            <button ngClass="explore-btn-design active"><img src="{{restaurant}}"> Restaurants</button>
                            <button ngClass="explore-btn-design"><img src="{{restaurant}}"> Groceries</button>
                            <button ngClass="explore-btn-design"><img src="{{restaurant}}"> Cafes</button>
                            <button ngClass="explore-btn-design"><img src="{{restaurant}}"> Shopping</button>
                            <button ngClass="explore-btn-design"><img src="{{restaurant}}"> Schools</button>
                        </div>
                        <div ngClass="explore-near-dmeo-img">
                            <img src="{{exploredemo}}">
                        </div>
                    </mat-tab>
                    <mat-tab label="Residential Properties">
                        <section
                            ngClass="position-relative wrapper-section properties-slider residentials-property-rent-1">
                            <div ngClass="container_1220px">
                                <div ngClass="section-title">
                                    <div ngClass="section-title-left">
                                        <h4>Residential Properties for Rent in Dubai</h4>
                                        <p>Some of our picked properties near your location.</p>
                                    </div>
                                </div>
                                <div id="resedential-rent">
                                    <owl-carousel-o [options]="customOptions">
                                        <ng-container *ngFor="let slide of dynamicSlides1">
                                            <ng-template carouselSlide [id]="slide.id">
                                                <div class="property-item position-relative">
                                                    <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
                                                    <span class="popular-tag"><img
                                                            src="assets/images/tag/popular.png"></span>
                                                    <div class="brand-logo">
                                                        <img src="{{brandimg}}" alt="">
                                                    </div>
                                                    <button class="property-whistlist">
                                                        <svg width="22" height="23" viewBox="0 0 22 23" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path
                                                                d="M4.39376 6.23844C4.02517 6.63167 3.73279 7.0985 3.53331 7.61228C3.33383 8.12605 3.23116 8.67672 3.23116 9.23283C3.23116 9.78894 3.33383 10.3396 3.53331 10.8534C3.73279 11.3672 4.02517 11.834 4.39376 12.2272L11.1699 19.4563L17.946 12.2272C18.6904 11.433 19.1086 10.3559 19.1086 9.23283C19.1086 8.10972 18.6904 7.0326 17.946 6.23844C17.2016 5.44429 16.1919 4.99813 15.1392 4.99813C14.0865 4.99813 13.0768 5.44429 12.3324 6.23844L11.1699 7.47873L10.0073 6.23844C9.63871 5.84521 9.20113 5.53329 8.71954 5.32047C8.23796 5.10766 7.72179 4.99812 7.20053 4.99812C6.67926 4.99812 6.1631 5.10766 5.68152 5.32047C5.19993 5.53329 4.76235 5.84521 4.39376 6.23844V6.23844Z"
                                                                stroke-width="2" stroke-linecap="round"
                                                                stroke-linejoin="round" />
                                                        </svg>
                                                    </button>
                                                    <div class="property-info">
                                                        <span class="property-pricing"><span>{{slide.price}}</span>
                                                            /yearly</span>
                                                        <span class="property-name">Blue Wave Tower</span>
                                                        <p class="property-location"><img src="{{homelocationsvg}}"
                                                                width="14" alt="">Etihad Tower 4, Etihad Towers, </p>
                                                        <div class="property-details">
                                                            <span class="bed">
                                                                <img src="{{bedsvg}}" alt="">3 Beds
                                                            </span>
                                                            <span class="bath">
                                                                <img src="{{bathsvg}}" alt="">2Bath
                                                            </span>
                                                            <span class="area">
                                                                <img src="{{squaremetersvg}}" alt="">800sqft
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <a [routerLink]="['/PropertDetailsPage']"
                                                        ngClass="linK_overlay"></a>
                                                </div>
                                            </ng-template>
                                        </ng-container>
                                    </owl-carousel-o>
                                </div>
                            </div>
                        </section>
                    </mat-tab>
                    <mat-tab label="Commercial Properties">

                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </section>
</section>
<footer ngClass="footer-sec">
    <app-footer></app-footer>
</footer>