.light-bg-body {
    background: #F4F6FF;
}
.rent-propoerties-main-sec {
    padding-bottom: 0px;
}
.map-view-right-listings {
    padding-top: 25px;
    padding-bottom: 60px;
    padding-right: 30px;
}