<header>
    <app-second-header></app-second-header>
</header>
<section ngClass="property-valuation-sec">
   <div ngClass="listing-container full-width">
    <div ngClass="heading-title-sec text-center">
        <h2>Property Valuation</h2>
        <p>Make sure you filled in all the necessary fields and have uploaded all the required files.</p>
    </div>
    <div ngClass="listing-property-form-sec">
        <div ngClass="listing-property-ul">
            <mat-list>
                <mat-list-item ngClass="active"> <a routerLink=""><span ngClass="">1</span> Details</a> </mat-list-item>
                <mat-list-item ngClass="active"><a routerLink=""><span ngClass="">2</span> Type</a></mat-list-item>
                <mat-list-item ngClass="active"> <a routerLink=""><span ngClass="">3</span> Documents</a> </mat-list-item>
                <mat-list-item ngClass="active"> <a routerLink=""><span ngClass="">4</span> Review</a> </mat-list-item>
                <mat-list-item ngClass="active"> <a routerLink=""><span ngClass="">5</span> Payment</a> </mat-list-item>
                <mat-list-item ngClass="disabled"> <a routerLink=""><span ngClass="">6</span> Download Report</a> </mat-list-item>
            </mat-list>
        </div>
        <div ngClass="list-property-content">
            <div ngClass="list-property-body">
                <form>
                <div ngClass="form-border-wrapper">
                            <div ngClass="list-property-header mb-4">
                                <h5 ngClass="h5-heading">Payment</h5>
                                <p>Please provide your propety type for the valuation</p>
                            </div>
                           <div ngClass="payment-main-sec">
                            <div ngClass="row">
                                <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                                    <div ngClass="payment-left-form-sec position-relative">
                                        <div ngClass="payment-price-box">
                                            <p>Pay Ovaluate Real Estate Valuation Services LLC</p>
                                            <h3 ngClass="price">AED 2500</h3>
                                        </div>
                                        <div ngClass="payment-another-info">
                                            <div ngClass="detail-box d-flex justify-content-spacebw">
                                                <div ngClass="pay-heading-block">
                                                    <h6>Detail Report</h6>
                                                    <p>Residential - Apartment Valuation Report</p>
                                                </div>
                                                <p ngClass="price">AED 1,500</p>
                                            </div>
                                            <div ngClass="Inspection-box d-flex justify-content-spacebw">
                                                <div ngClass="pay-heading-block">
                                                    <h6>Inspection</h6>
                                                </div>
                                                <p ngClass="price">AED 1,500</p>
                                            </div>
                                            <div ngClass="tax-box d-flex justify-content-spacebw">
                                                <div ngClass="pay-heading-block">
                                                    <h6>Tax</h6>
                                                </div>
                                                <p ngClass="tax-cost">Included</p>
                                            </div>
                                            <div ngClass="totel-due-box d-flex justify-content-spacebw">
                                                <div ngClass="pay-heading-block">
                                                    <h6>Total Due</h6>
                                                </div>
                                                <p ngClass="price">AED 2,500</p>
                                            </div>
                                        </div>
                                        <div ngClass="strip-btn-div">
                                            <button ngClass="stripr-btn"><img src="{{stripe}}"></button>
                                        </div>
                                    </div>
                                </div>
                                <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                                    <div ngClass="payment-right-form-sec">
                                      <form>
                                        <div ngClass="block-wrapper mb-3">
                                            <label class="h6-design">Email</label>
                                            <mat-form-field class="full-width input-design-2 grey-input-bg" appearance="fill">
                                                <input matInput type="email" placeholder="omran.yusef@gmail.com">
                                              </mat-form-field>
                                        </div>
                                         <div ngClass="block-wrapper mb-3">
                                            <label class="h6-design">Card Informations</label>
                                            <mat-form-field class="full-width input-design-2" appearance="fill">
                                                <input matInput type="number" placeholder="1234 1234 1234 1234 ">
                                              </mat-form-field>
                                              <div ngClass="custom-input-flex d-flex mt-3">
                                                <div ngClass="month-box">
                                                    <mat-form-field class="full-width input-design-2" appearance="fill">
                                                      <input matInput type="number" placeholder="Month">
                                                    </mat-form-field>
                                                  </div>
                                                  <div ngClass="year-box">
                                                    <mat-form-field class="full-width input-design-2" appearance="fill">
                                                      <input matInput type="number" placeholder="Year">
                                                    </mat-form-field>
                                                  </div>
                                                  <div ngClass="cvc-box">
                                                  <mat-form-field class="full-width input-design-2" appearance="fill">
                                                    <input matInput type="number" placeholder="CVC">
                                                  </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div ngClass="block-wrapper mb-4">
                                            <label class="h6-design">Name on Card</label>
                                            <mat-form-field class="full-width input-design-2" appearance="fill">
                                                <input matInput type="text">
                                              </mat-form-field>
                                        </div>
                                        <div ngClass="block-wrapper mb-3 billing-information">
                                            <label class="h6-design">Billing Informations</label>
                                            <mat-form-field class="full-width input-design-2 mb-2" appearance="fill">
                                                <input matInput type="text" placeholder="United Arab Emirates">
                                            </mat-form-field>
                                            <mat-form-field class="full-width input-design-2 mb-2" appearance="fill">
                                                <input matInput type="text" placeholder="Address Line 1">
                                            </mat-form-field>
                                            <mat-form-field class="full-width input-design-2 mb-2" appearance="fill">
                                                <input matInput type="text" placeholder="Address Line 2">
                                            </mat-form-field>
                                            <div ngClass="custom-input-flex d-flex mt-2">
                                                <div class="input-design city-box">
                                                    <mat-form-field class="full-width input-design-2 mb-2" appearance="fill">
                                                        <input matInput type="text" placeholder="City">
                                                    </mat-form-field>
                                                    </div>
                                                    <div class="zip-box">
                                                    <mat-form-field class="full-width input-design-2" appearance="fill">
                                                      <input matInput type="number" placeholder="ZIP">
                                                    </mat-form-field>
                                              </div>
                                              </div>
                                              <mat-form-field class="full-width input-design-2 mb-2" appearance="fill">
                                                <input matInput type="text" placeholder="State">
                                            </mat-form-field>
                                        </div>
                                      </form>
                                    </div>
                                </div>
                            </div>
                           </div>
                </div>
                <div class="text-right save-continue-sec">
                    <mat-card-actions>
                            <a routerLink="/PropertyReview" class="back-btn">Back</a>
                     </mat-card-actions>
                    <mat-card-actions>
                        <a routerLink="/PropertyDownloadReport" class="save-continue-btn">Proceed to Pay</a>
                     </mat-card-actions>
                    </div>
                </form>
            </div>
        </div>
    </div>
   </div>
</section>