.payment-package-banner-sec {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.payment-package-banner-sec .inner-banner-heading {
    padding-top: 60px;
    padding-bottom: 90px;
}
.payment-package-banner-sec .inner-banner-heading h2 {
    color: #fff;
}
.payemnt_packages-form-inner {
    padding: 60px 0px;
}
.payemnt_packages-form-inner>.container_1280px {
    max-width: 1000px;
    border: 1px solid #d4dbfc;
    padding: 25px;
    border-radius: 8px;
}