.footer-company{
    padding: 10px;
    margin-bottom: 10px;
}

.footer-company img{
    margin-bottom: 20px;
}

.footer-company p{
    font-size: 14px;
    color: var(--primary-color-light);
    font-weight: 400;
    line-height: 22px;
}

.contact-details{
    padding: 10px;
    margin-bottom: 30px;
}

.contact-details h5{
    font-size: 14px;
    color: var(--gray);
    font-weight: 500;
    margin-bottom: 0px;
}

.contact-details span, .contact-details span a{
    font-size: 14px;
    color: var(--primary-color-light);
}

.footer-menu-heading{
    padding: 0px  20px;
}

.footer-menu-heading h5, .footer-secondary-menu-heading h5{
    font-weight: bold;
    color: var(--footer-color);
    font-size: 15px;
}

.footer-menu-heading ul, .footer-secondary-menu-heading ul{
    padding-left: 0;
    margin-top: 15px;
}

.footer-menu-heading ul li, .footer-secondary-menu-heading ul li{
    list-style: none;
    margin: 8px 0px;
}

.footer-menu-heading ul li a, .footer-secondary-menu-heading ul li a{
    font-size: 14px;
    color: var(--gray);
    font-weight: medium;
}

.footer-secondary-menu-heading{
    padding: 0px  20px;
    margin-top: 45px;
}

.footer-wrapper{
    padding: 20px 10px;
}

.copyright-col{
    margin: auto;
}

.copyright-text p{
    margin-bottom: 0;
    color: rgba(0,9,41,0.5);
    margin-bottom: 0;
    font-size: 14px;
}
.footer-social-link svg path {
    fill: rgba(0,9,41,0.3);
}
.footer-social-link{
    text-align: center;
}
.footer-social-link ul{ 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0;
}
.footer-social-link ul li{
    list-style: none;
    margin: 0px 20px;
}

.footer-social-link ul li a{
    color: var(--footer-social-color);
    font-size: 24px;
}
.footer-sec {
    padding-top: 71px;
}
.footer-bottom {
    border-top: 1.5px solid #E8E6F9;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-top {
    padding-bottom: 30px;
}
.footer-social-link a:hover svg path {
    fill: rgba(0,9,41,1);
}


@media (max-width: 767px){
    .footer-secondary-menu-heading {
		margin-top: 20px !important;
	}
	.footer-menu-heading {
		padding: 0px 12px !important;
	}
	.footer-secondary-menu-heading {
		padding: 0px 12px !important;
	}
	.copyright-text {
		text-align: center;
	}
	.footer-social-link>ul {
		justify-content: center !important;
		padding-left: 0px !important;
		margin-top: 10px !important;
	}
}