<app-header></app-header>
<section [ngClass]="'slide-left-bar classified-page-sec'">
<section class="classified-search-sec">
    <div class="container_1280px">
        <div class="classified-banner-img"  style="background-image: url('../../../assets/images/banner2.png')">
            <div class="classified-header-banner">
                <h4>The best place to buy your house, sell your car or find a job in Dubai.</h4>
            </div>
            <div class="classified_tabs-component">
                <span class="tab-inline-heading">Searching in</span>
                <mat-tab-group>
                    <mat-tab label="All"><app-all-search></app-all-search></mat-tab>
                    <mat-tab label="Motors"><app-motor-component></app-motor-component></mat-tab>
                    <mat-tab label="Services"><app-service-search-component></app-service-search-component></mat-tab>
                    <mat-tab label="Jobs"><app-job-search></app-job-search></mat-tab>
                    <mat-tab label="Community"> <app-community-search-component></app-community-search-component></mat-tab>
                  </mat-tab-group>
            </div>
        </div>
    </div>
</section>
<section class="services-main-sec">
    <div ngClass="container_1280px">
        <div ngClass="h4_design">
            <h4>Popular Services</h4>
        </div>
        <div class="services-block-wrap">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 mb-4" *ngFor="let serviceList of serviceTs">
                    <div class="services-block-shadow position-relative">
                        <div class="services-block-img">
                            <img src="{{serviceList.src}}">
                        </div>
                        <div class="services-block-cntnt">
                            <h4>{{serviceList.title}}</h4>
                            <p><img src="{{pricetag}}"> {{serviceList.text}}</p>
                        </div>
                        <a routerLink="/{{serviceList.link}}" class="linK_overlay"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="properties-slider slider-shadow cars_slider">
    <div ngClass="container_1280px">
        <div ngClass="h4_design">
            <h4>Popular in Used Cars for Sale</h4>
        </div>
        <div class="popular-residential-searches slider-shoecase-design">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let cars of CarsList">
                    <ng-template carouselSlide>
                        <div ngClass="property-item position-relative">
                            <div class="property__img">
                            <img src="{{cars.src}}">
                            </div>
                            <div ngClass="property-info">
                                <span ngClass="property-pricing"><span>{{cars.price}}</span></span>
                                <span ngClass="property-name">{{cars.PropertyName}}</span>
                                <p ngClass="property-location">
                                    <img src="{{ homelocationsvg }}" width="14" alt="" />{{cars.address}}
                                </p>
                            </div>
                            <a routerLink="/{{cars.link}}" ngClass="linK_overlay"></a>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</section>
<section class="properties-slider furniture-slider slider-shadow">
    <div ngClass="container_1280px">
        <div ngClass="h4_design">
            <h4>Popular in Furniture & Garden</h4>
        </div>
        <div class="popular-residential-searches slider-shoecase-design">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let furniture of FurnitureList">
                    <ng-template carouselSlide>
                        <div ngClass="property-item position-relative">
                            <div class="property__img">
                            <img src="{{furniture.src}}">
                            </div>
                            <div ngClass="property-info">
                                <span ngClass="property-pricing"><span>{{furniture.price}}</span></span>
                                <span ngClass="property-name">{{furniture.PropertyName}}</span>
                                <p ngClass="property-location">
                                    <img src="{{ homelocationsvg }}" width="14" alt="" />{{furniture.address}}
                                </p>
                            </div>
                            <a routerLink="/{{furniture.link}}" ngClass="linK_overlay"></a>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</section>
<section class="properties-slider sports-slider slider-shadow">
    <div ngClass="container_1280px">
        <div ngClass="h4_design">
            <h4>Popular in Sports Equipment</h4>
        </div>
        <div class="popular-residential-searches slider-shoecase-design">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let sports of sportsList">
                    <ng-template carouselSlide>
                        <div ngClass="property-item position-relative">
                            <div class="property__img">
                            <img src="{{sports.src}}">
                            </div>
                            <div ngClass="property-info">
                                <span ngClass="property-pricing"><span>{{sports.price}}</span></span>
                                <span ngClass="property-name">{{sports.PropertyName}}</span>
                                <p ngClass="property-location">
                                    <img src="{{ homelocationsvg }}" width="14" alt="" />{{sports.address}}
                                </p>
                            </div>
                            <a routerLink="/{{sports.link}}" ngClass="linK_overlay"></a>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</section>
<section class="properties-slider phone-tablet_slider slider-shadow">
    <div ngClass="container_1280px">
        <div ngClass="h4_design">
            <h4>Popular in Mobile Phones & Tablets</h4>
        </div>
        <div class="slider-shoecase-design">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let MobileTable of MobileTabletList">
                    <ng-template carouselSlide>
                        <div ngClass="property-item position-relative">
                            <div class="property__img">
                            <img src="{{MobileTable.src}}">
                            </div>
                            <div ngClass="property-info">
                                <span ngClass="property-pricing"><span>{{MobileTable.price}}</span></span>
                                <span ngClass="property-name">{{MobileTable.PropertyName}}</span>
                                <p ngClass="property-location">
                                    <img src="{{ homelocationsvg }}" width="14" alt="" />{{MobileTable.address}}
                                </p>
                            </div>
                            <a routerLink="/{{MobileTable.link}}" ngClass="linK_overlay"></a>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</section>
<section class="popular-cateogary-sec">
  <div class="container_1280px">
    <div ngClass="h4_design">
        <h4>Popular Categories</h4>
    </div>
    <div class="classified-catogary-sec">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-5">
                <div class="category_block-design">
                    <h2><img src="{{motors}}"> Motors <span class="">(186)</span></h2>
                    <ul class="list-unstyled">
                        <li><a routerLink="">Used Cars for Sale</a></li>
                        <li><a routerLink="">Motorcycles</a></li>
                        <li><a routerLink="">Auto Accessories & Parts</a></li>
                        <li><a routerLink="">All in Motors</a></li>
                    </ul>
                    <div class="view-all-category">
                        <a routerLink="">All in Motors
                            <svg class="svg-inline--fa fa-arrow-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"></path></svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-5">
                <div class="category_block-design">
                    <h2><img src="{{services}}"> Services <span class="">(186)</span></h2>
                    <ul class="list-unstyled">
                        <li><a routerLink="">Handyman</a></li>
                        <li><a routerLink="">Heavy Lifting</a></li>
                        <li><a routerLink="">Personal Assistant</a></li>
                        <li><a routerLink="">General Cleaning</a></li>
                    </ul>
                    <div class="view-all-category">
                        <a routerLink="">All in Classified 
                            <svg class="svg-inline--fa fa-arrow-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"></path></svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-5">
                <div class="category_block-design">
                    <h2><img src="{{mobilephone}}"> Mobiles Phones <span class="">(186)</span></h2>
                    <ul class="list-unstyled">
                        <li><a routerLink="">Mobiles Phones</a></li>
                        <li><a routerLink="">Tablets</a></li>
                        <li><a routerLink="">Other Mobile Phones & Tablets</a></li>
                        <li><a routerLink="">Mobile Phone & Tablet Accessories</a></li>
                    </ul>
                    <div class="view-all-category">
                        <a routerLink="">All in Mobiles Phones 
                            <svg class="svg-inline--fa fa-arrow-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"></path></svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-5">
                <div class="category_block-design">
                    <h2><img src="{{homeappliances}}">Home Appliances <span class="">(186)</span></h2>
                    <ul class="list-unstyled">
                        <li>
                            <a routerLink="">Large Appliances / White Goods</a>
                        </li>
                        <li>
                            <a routerLink="">Small Kitchen Appliances</a>
                        </li>
                        <li>
                            <a routerLink="">Outdoor Appliances</a>
                        </li>
                        <li>
                            <a routerLink="">Small Bathroom Appliances</a>
                        </li>
                    </ul>
                    <div class="view-all-category">
                        <a routerLink="">All in Home Appliances 
                            <svg class="svg-inline--fa fa-arrow-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"></path></svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-5">
                <div class="category_block-design">
                    <h2><img src="{{furnituregarden}}">Furniture & Garden <span class="">(186)</span></h2>
                    <ul class="list-unstyled">
                        <li>
                            <a routerLink="">Furniture</a>
                        </li>
                        <li>
                            <a routerLink="">Home accessories</a>
                        </li>
                        <li>
                            <a routerLink="">Garden & Outdoor</a>
                        </li>
                        <li>
                            <a routerLink="">Rug & Carpets</a>
                        </li>
                    </ul>
                    <div class="view-all-category">
                        <a routerLink="">All in Furniture & Garden 
                            <svg class="svg-inline--fa fa-arrow-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"></path></svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-5">
                <div class="category_block-design">
                    <h2><img src="{{community}}">Community <span class="">(186)</span></h2>
                    <ul class="list-unstyled">
                        <li>
                            <a routerLink="">Home Maintenance</a>
                        </li>
                        <li>
                            <a routerLink="">Tutors & Classes</a>
                        </li>
                        <li>
                            <a routerLink="">Other Services</a>
                        </li>
                        <li>
                            <a routerLink="">Freelancers</a>
                        </li>
                    </ul>
                    <div class="view-all-category">
                        <a routerLink="">All in Community 
                            <svg class="svg-inline--fa fa-arrow-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z"></path></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
<section class="amazing-details-sec">
    <div ngClass="container_1280px">
        <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 cls-sm-12">
                    <div class="amazing_details-text">
                        <h2>Find amazing deals on the go.</h2>
                        <h5>Download the app now!</h5>
                        <div class="stroe-icons-link d-flex align-items-center">
                            <a href=""><img src="{{applestore}}"></a>
                            <a href=""><img src="{{playstore}}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 cls-sm-12">
                    <div class="amazing-deals-img">
                        <img src="{{phonemockup}}">
                    </div>
                </div>
            </div>
    </div>
</section>
<section ngClass="position-relative wrapper-section certified_sec">
    <div ngClass="container_1280px">
        <div ngClass="heading-32px-design text-center mb-4">
            <h2>Approved & Certified by DLD</h2>
            <p>Ovaluate Certificates are approved & certified by Dubai Land Department</p>
        </div>
        <div ngClass="certified_images-sec text-center">
            <img src="{{rera}}">
            <img src="{{dubaigv}}">
            <img src="{{landdept}}">
        </div>
    </div>
</section>
</section>
<app-footer></app-footer>
