<section class="properties-slider classified-page-sec">
    <div ngClass="container_1220px">
        <div ngClass="h4_design">
            <h4>Popular Services</h4>
        </div>
        <div class="services-block-wrap">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <div class="services-block-shadow position-relative">
                        <div class="services-block-img">
                            <img src="">
                        </div>
                        <div class="services-block-cntnt">
                            <h4></h4>
                        </div>
                        <a routerLink="" class="linK_overlay"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>