.light-bg-body {
	background: #F4F6FF;
}

.grey-heading {
	h2 {
		color: #3e4861;
		font-size: 16px;
		font-weight: 400;
		padding: 15px 20px;
		margin-bottom: 0px;
	}
    background: whitesmoke;
    border-top: 1px solid #eae8e8;
}
.property-cparison-heading {
	h4 {
		color: #595ad4;
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 0px;
	}
}
.com-img {
	img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 15px;
	}
}
.com-cntnt {
	text-align: center;
	padding-top: 5px;
	h4 {
        color: #595ad4;
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 2px;
        margin-top: 4px;
		small {
			color: #3e4861;
			font-size: 14px;
			font-weight: 500;
		}
	}
	h5 {
        color: #3e4861;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 4px;
	}
	address {
        font-size: 14px;
        color: #3e4861;
        margin-bottom: 0px;
        font-weight: 300;
		svg{
			margin-right: 5px;
		}
	}
}
.property-comparison-block {
	.delete-property {
		padding: 0px;
		background: transparent;
		border: none;
		position: absolute;
		top: 2px;
		right: 0;
	}
	padding-top: 32px;
	padding-bottom: 15px;
}
.properties-comparison-sec {
	padding-top: 25px;
	padding-bottom: 60px;
    background-color: whitesmoke;
}
.compare-banner {
    padding: 160px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.baner-compare-heading h2 {
    color: #fff;
    margin-bottom: 0px;
    text-align: center;
}
.compare-wrapper-sec-main {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: whitesmoke;
}
.property_compare-header ul {
	list-style: none;
	display: flex;
	margin-bottom: 0px;
	padding: 15px 0px;
}

.property_compare-header ul li {
	padding: 10px 15px;
	background-color: #fff;
	margin-right: 10px;
	border-radius: 6px;
	cursor: pointer;
    font-size: 14px;
}

.property_compare-header ul li:hover {
	background-color: #595ad5;
	color: #fff;
	border-color: #595ad5;
}
.compare-block-list {
    display: flex;
    flex-direction: row;
	justify-content: center;
}
.compare-block-list>.comparen-list-item {
	width: 25%;
    background-color: #fff;
	padding: 0px 15px;
    margin: 0px 10px;
    min-width: 305px;
	border-left: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
}
.title-description {
	font-weight: 300;
    margin-bottom: 10px;
    font-size: 16px;
}
.first-td-design p {
    margin-bottom: 10px;
	font-size: 16px;
}
.comparen-list-item .property-cparison-heading {
    display: flex;
    height: 100%;
    align-items: center;
}
.property-compare-box>.compare-block-list:first-child {
    border-bottom: 1px solid whitesmoke;
}
.property-compare-box>.compare-block-list:nth-child(2) .comparen-list-item {
    padding-top: 20px;
}
.property-compare-box>.compare-block-list:first-child>.comparen-list-item {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	border-top: 1px solid #dfdfdf;
}
.property-compare-box>.compare-block-list:last-child>.comparen-list-item {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid #dfdfdf;
}
.property-compare-box {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}
@media (max-width: 991px){
    .compare-banner {
        padding: 60px 0px !important;
    }
}