<app-header></app-header>
<section [ngClass]="'slide-left-bar compare-page-sec'">
<section class="compare-banner" style="background-image: url('https://beta.ovaluate.com/Attchments/PrivacyPolicyImage/about-banner1%20(1).png')">
    <div class="container_1280px">
     <div class="baner-compare-heading">
         <h2>إلقاء نظرة من خلال مقارنة النتائج الخاصة بك</h2>
     </div>
    </div>
  </section>
  <section class="compare-breadcrumbs">
    <div class="container_1280px">
            <div class="breadcrumb-dark">
                <app-breadcrumbs></app-breadcrumbs>
        </div>
    </div>
    </section>
    <section ngClass="properties-comparison-sec">
        <div ngClass="container_1280px">
            <div ngClass="property_compare-header">
                <ul>
                    <li (click)="scroll(target)">الموقع</li>
                    <li (click)="scroll(property_info)">معلومات الملكية</li>
                    <li (click)="scroll(other_details)">تفاصيل أخرى</li>
                </ul>
            </div>
            <div ngClass="property-compare-box">
                <div ngClass="compare-block">
                    <div ngClass="table-responsive table-design">
                        <table>
                            <tbody>
                                <tr>
                                    <td ngClass="first-td-design">
                                        <div ngClass="property-cparison-heading">
                                            <h4>مقارنة الخصائص</h4>
                                        </div>
                                    </td>
                                    <td *ngFor="let property of properties">
                                        <div ngClass="property-comparison-block position-relative cursor-pointer" routerLink="/ar">
                                            <div ngClass="com-img">
                                                <img src="{{property.img}}">
                                            </div>
                                            <div ngClass="com-cntnt">
                                                <h4> {{property.price}} إ.د
                                                    <small>/شهري</small></h4>
                                                <h5>{{property.title}}</h5>
                                                <address>{{property.address}}</address>
                                            </div>
                                            <button ngClass="delete-property"><img
                                                    src="{{trash}}"></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ngClass="grey-heading" #target>
                    <h2>الموقع</h2>
                </div>
                <div ngClass="compare-block">
                    <div ngClass="table-responsive table-design">
                        <table>
                            <tbody>
                                <tr>
                                    <td ngClass="first-td-design">
                                        اسم المبنى / اسم المشروع
                                    </td>
                                    <td *ngFor="let property of properties">
                                        {{property.title}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        المنطقة
                                    </td>
                                    <td *ngFor="let property of properties">
                                        {{property.address}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        المدينة
                                    </td>
                                    <td *ngFor="let property of properties">
                                        {{property.city}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ngClass="grey-heading" #property_info>
                    <h2>معلومات الملكية</h2>
                </div>
                <div ngClass="compare-block">
                    <div ngClass="table-responsive table-design">
                        <table>
                            <tbody>
                                <tr>
                                    <td ngClass="first-td-design">
                                        حجم الشقة
                                    </td>
                                    <td *ngFor="let property of properties">
                                        {{property.carpetArea}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        غرف نوم
                                    </td>
                                    <td *ngFor="let property of properties">
                                        {{property.bedrooms}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        الحمامات
                                    </td>
                                    <td *ngFor="let property of properties">
                                        {{property.bathrooms}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        المواقف المتاحة
                                    </td>
                                    <td *ngFor="let property of properties">
                                        {{property.parkings}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        عمر البناء
                                    </td>
                                    <td *ngFor="let property of properties">
                                        {{property.propertyAge}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        رقم الطابق
                                    </td>
                                    <td *ngFor="let property of properties">
                                        {{property.floorNo}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        مجموع الطوابق
                                    </td>
                                    <td *ngFor="let property of properties">
                                        {{property.totalFloor}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        منطقة الابراج
                                    </td>
                                    <td *ngFor="let property of properties">
                                        {{property.towerBlock}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        رقم الوحدة
                                    </td>
                                    <td *ngFor="let property of properties">
                                        {{property.unitNo}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ngClass="grey-heading" #other_details>
                    <h2>تفاصيل أخرى</h2>
                </div>
                <div ngClass="compare-block">
                    <div ngClass="table-responsive table-design">
                        <table>
                            <tbody>
                                <tr>
                                    <td ngClass="first-td-design">
                                        حالة الاثاث
                                    </td>
                                    <td *ngFor="let property of properties">
                                        {{property.furnishingType}}
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td ngClass="first-td-design">
                                        Property Features
                                    </td>
                                    <td *ngFor="let property of properties">
                                        <ul ngClass="list-unstyled">
                                            <li *ngFor="let data of properties">
                                                <img height="40px" width="40px"
                                                    src="{{baseUrl+data.propertyFeature.document.fileUrl}}">
                                                {{data.propertyFeature.featureName}}
                                            </li>

                                            <div ngClass="proprty-View-detials">
                                                <a [routerLink]="['/PropertDetailsPage']"
                                                    [queryParams]="{id: property.id}" ngClass="grey-bordered-btn">View
                                                    Details</a>
                                            </div>
                                        </ul>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
<app-footer></app-footer>
</section>