.custom-breadcrumb li {
    color: #fff;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
.custom-breadcrumb ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.custom-breadcrumb li a {
    font-size: 13px;
    font-family: 'dubai';
    color: #fff;
    font-weight: 400;
}
.custom-breadcrumb .mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
    margin: 0px 2px;
    position: relative;
    bottom: 1px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.custom-breadcrumb {
    padding: 10px 0px;
}