<app-header></app-header>
<section [ngClass]="'slide-left-bar ads-page-sec'">
    <section [ngClass]="'ads-banner-wrapper'">
        <div [ngClass]="'container_1280px'">
            <div ngClass="heading-title-sec text-center">
                <h2>Ovaluate Ad Classified</h2>
                <p>Tell us about your listing?</p>
            </div>
        </div>
    </section>
    <section class="ads-form-design-section" style="background-image: url('assets/images/background/bg-1.png');">
        <div class="container_1280px">
            <div class="ads-form-design">
                <form [formGroup]="DetailsForm">
                    <div class="list-property-header">
                        <h5 class="h5-heading">Please Fill your Lisitng Details</h5>
                    </div>
                    <div class="class-fied-breadcrumbs">
                        <ul class="list-unstyled d-flex">
                            <li><a routerLink="/classified/ad-post">Ad Post</a></li>
                            <li>Jobs <span class="divider-bread">/</span> Jobs Hiring</li>
                        </ul>
                    </div>
                    <div ngClass="select-boxes">
                        <div ngClass="row">
                            <div ngClass="col-xl-12 col-lg-12 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>Job Title <span class="required-span">*</span></label>
                                        <select class="select2 job-title">
                                            <option value="0">Select</option>
                                            <option *ngFor="let item of jobTitle" value="{{item.id}}"> {{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-12 col-lg-12 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <label>Job Description <span class="required-span">*</span></label>
                                    <mat-form-field
                                        class="full-width input-design-2 textarea-design-2 description-input"
                                        appearance="fill">
                                        <textarea matInput type="number" formControlName="Description"
                                            placeholder="Enter Description Here...."></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>Gender <span class="required-span">*</span></label>
                                        <select class="select2 Gender">
                                            <option value="0">Select</option>
                                            <option *ngFor="let item of Gender" value="{{item.id}}"> {{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>Nationality <span class="required-span">*</span></label>
                                        <select class="select2 Nationality">
                                            <option value="0">Select</option>
                                            <option *ngFor="let item of Nationality" value="{{item.id}}">
                                                {{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>Language <span class="required-span">*</span></label>
                                        <select class="select2 Language" multiple>
                                            <option value="0">Select</option>
                                            <option *ngFor="let item of Language" value="{{item.id}}"> {{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>Career Level <span class="required-span">*</span></label>
                                        <select class="select2 Career-level">
                                            <option value="0">Select</option>
                                            <option *ngFor="let item of CareerLevel" value="{{item.id}}">
                                                {{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>Employment Type<span class="required-span">*</span></label>
                                        <select class="select2 Employment-type">
                                            <option value="0">Select</option>
                                            <option *ngFor="let item of EmploymentType" value="{{item.id}}">
                                                {{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>Remote Job<span class="required-span">*</span></label>
                                        <select class="select2 Remote-job">
                                            <option value="-1">Select</option>
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>Min. work experience<span class="required-span">*</span></label>
                                        <select class="select2 Work-experience">
                                            <option value="0">Select</option>
                                            <option *ngFor="let item of WorkExperience" value="{{item.id}}">
                                                {{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>Minimum Education Level<span class="required-span">*</span></label>
                                        <select class="select2 Education-level">
                                            <option value="0">N/A</option>
                                            <option value="1">High-School / Secondary</option>
                                            <option value="2">Bachelors Degree</option>
                                            <option value="3">Masters Degree</option>
                                            <option value="4">PhD</option>
                                        </select>
                                    </div>
                                </div>
                            </div> -->
                            <div ngClass="col-xl-12 col-lg-12 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>First Skill<span class="required-span">*</span></label>
                                        <select class="select2 skill1-input">
                                            <option value="0">Select</option>
                                            <option *ngFor="let item of JobSkills" value="{{item.id}}">
                                                {{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-12 col-lg-12 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>Second Skill<span class="required-span">*</span></label>
                                        <select class="select2 skill2-input">
                                            <option value="0">Select</option>
                                            <option *ngFor="let item of JobSkills" value="{{item.id}}">
                                                {{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <!-- <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>CV Required<span class="required-span">*</span></label>
                                        <select class="select2 CV-required">
                                            <option value="0">Select</option>
                                            <option value="1">Yes</option>
                                            <option value="0">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>Monthly Salary<span class="required-span">*</span></label>
                                        <select class="select2 Monthly-salary">
                                            <option *ngFor="let item of MonthlySalary" value="{{item.id}}">
                                                {{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div> -->
                            <div ngClass="col-xl-12 col-lg-12 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <label>Company Name <span class="required-span">*</span></label>
                                    <mat-form-field class="full-width input-design-2 company-name-input"
                                        appearance="fill">
                                        <input matInput type="text" formControlName="Companyname"
                                            placeholder="Company Name" lang="en" />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>Company size <span class="required-span">*</span></label>
                                        <select class="select2 Comapny-size">
                                            <option *ngFor="let item of CompanySize" value="{{item.id}}">
                                                {{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>Listed by <span class="required-span">*</span></label>
                                        <select class="select2 Listed-by">
                                            <option *ngFor="let item of CompanyListedBy" value="{{item.id}}">
                                                {{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right save-continue-sec justify-content-center">
                        <mat-card-actions>
                            <button class="save-continue-btn cursor-pointer" (click)="onSubmit()">Next</button>
                        </mat-card-actions>
                    </div>
                    <div class="text-center question-div">
                        <p><a href="tel:+91528366668">Question? Call +915 28 366 668</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</section>
<app-loader *ngIf="showLoader"></app-loader>
<app-erroralert [error]="error" (errorResponse)="errorResponse($event)" *ngIf="showError"></app-erroralert>