<div class="light-theme dashboard-data-sec">
  <app-header></app-header>
  <div class="dashboard-reports-inner-wrapper">
    <div class="container">
      <div class="dashboard-data-main-wrapper">
        <div class="dashboard-data-scnd-header">
          <app-di-sidebar-component></app-di-sidebar-component>
        </div>
        <div class="dashboard-data-main-contents">
          <form [formGroup]="range">
            <div class="dashboard-dat-filter-box">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-date-range-box">
                    <label>Registration Date</label>
                    <mat-form-field>
                      <mat-label>Enter a date range</mat-label>
                      <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate matInput placeholder="Start date" formControlName="start" (dateChange)="getStartDate($event)">
                        <input matEndDate matInput placeholder="End date" formControlName="end" (dateChange)="getEndDate($event)">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box" *ngIf="citiesData.length > 0">
                    <label>City</label>
                    <mat-form-field class="example-chip-list searh_input-design mat-inner-chip-design"
                      appearance="fill">
                      <mat-chip-list #chipListCity aria-label="selection">
                        <div ngClass="mat-chip-input-limited">
                          <mat-chip *ngFor="let city of Cityfield" (removed)="remove7(city)">
                            <span class="text-limit-chip">{{city.name}}</span>
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                        </div>
                        <input placeholder="Add City..." #CityInput [formControl]="CityCtrl"
                          [matAutocomplete]="cityauto" [matChipInputFor]="chipListCity"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add7($event)">
                      </mat-chip-list>
                      <mat-autocomplete #cityauto="matAutocomplete" (optionSelected)="selected7($event)">
                        <div ngClass="mat-chip-inner-container">
                          <mat-chip *ngFor="let city of Cityfield" (removed)="remove7(city)">
                            <span class="text-limit-chip">{{city.name}}</span>
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                        </div>
                        <mat-option *ngFor="let item of citiesData" [value]="item.id">
                          {{item.name}}
                        </mat-option>
                      </mat-autocomplete>
                      <span ngClass="mat_indicators-counts" *ngIf="Cityfield.length > 0">{{Cityfield.length}}</span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box">
                    <label>District</label>
                    <mat-form-field class="example-chip-list searh_input-design mat-inner-chip-design"
                      [ngClass]="Cityfield.length > 0 ? '' : 'disabled'" appearance="fill">
                      <mat-chip-list #chipListCommunity aria-label="selection">
                        <div ngClass="mat-chip-input-limited">
                          <mat-chip *ngFor="let community of communityfield" (removed)="remove(community)">
                            <span class="text-limit-chip">{{community.name}}</span>
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                        </div>
                        <input placeholder="Add Community..." #ComunityInput [formControl]="CommunityCtrl"
                          [matAutocomplete]="Communityauto" [matChipInputFor]="chipListCommunity"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
                      </mat-chip-list>
                      <mat-autocomplete #Communityauto="matAutocomplete" (optionSelected)="selected($event)">
                        <div ngClass="mat-chip-inner-container">
                          <mat-chip *ngFor="let community of communityfield" (removed)="remove(community)">
                            <span class="text-limit-chip">{{community.name}}</span>
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                        </div>
                        <mat-option *ngFor="let community of filteredcommunity" [value]="community.id">
                          {{community.name}}
                        </mat-option>
                      </mat-autocomplete>
                      <span ngClass="mat_indicators-counts"
                        *ngIf="communityfield.length > 0">{{communityfield.length}}</span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box">
                    <label>Property Type</label>
                    <mat-form-field class="example-chip-list searh_input-design mat-inner-chip-design"
                      appearance="fill">
                      <mat-chip-list #chipListProType aria-label="selection">
                        <div ngClass="mat-chip-input-limited">
                          <mat-chip *ngFor="let protype of ProTypefield" (removed)="remove1(protype)">
                            <span class="text-limit-chip">{{protype.name}}</span>
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                        </div>
                        <input placeholder="Add Property Type..." #PropertyTypeInput [formControl]="PropertyTypCtrl"
                          [matAutocomplete]="PropertyTypeauto" [matChipInputFor]="chipListProType"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add1($event)">
                      </mat-chip-list>
                      <mat-autocomplete #PropertyTypeauto="matAutocomplete" (optionSelected)="selected1($event)">
                        <div ngClass="mat-chip-inner-container">
                          <mat-chip *ngFor="let protype of ProTypefield" (removed)="remove1(protype)">
                            <span class="text-limit-chip">{{protype.name}}</span>
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                        </div>
                        <mat-option *ngFor="let item of filteredProperty" [value]="item.id">
                          {{item.typeDescription}}
                        </mat-option>
                      </mat-autocomplete>
                      <span ngClass="mat_indicators-counts"
                        *ngIf="ProTypefield.length > 0">{{ProTypefield.length}}</span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box">
                    <label>Projects</label>
                    <mat-form-field class="example-chip-list searh_input-design mat-inner-chip-design"
                      [ngClass]="filteredPropertyOnly.length > 0 ? '' : 'disabled'" appearance="fill">
                      <mat-chip-list #chipListProperty aria-label="selection">
                        <div ngClass="mat-chip-input-limited">
                          <mat-chip *ngFor="let property of Profield" (removed)="remove2(property)">
                            <span class="text-limit-chip">{{property.name}}</span>
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                        </div>
                        <input placeholder="Add Property..." #PropertyInput [formControl]="PropertyCtrl"
                          [matAutocomplete]="Propertyauto" [matChipInputFor]="chipListProperty"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add2($event)">
                      </mat-chip-list>
                      <mat-autocomplete #Propertyauto="matAutocomplete" (optionSelected)="selected2($event)">
                        <div ngClass="mat-chip-inner-container">
                          <mat-chip *ngFor="let property of Profield" (removed)="remove2(property)">
                            <span class="text-limit-chip">{{property.name}}</span>
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                        </div>
                        <mat-option *ngFor="let property of filteredPropertyOnly" [value]="property.id">
                          {{property.name}}
                        </mat-option>
                      </mat-autocomplete>
                      <span ngClass="mat_indicators-counts" *ngIf="Profield.length > 0">{{Profield.length}}</span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-date-range-box">
                    <label>Start Date</label>
                    <mat-form-field>
                      <mat-label>Date</mat-label>
                      <mat-date-range-input [rangePicker]="startpicker">
                        <input matStartDate matInput placeholder="Start date" formControlName="minStart" (dateChange)="getMinStartDate($event)">
                        <input matEndDate matInput placeholder="End date" formControlName="maxStart" (dateChange)="getMaxStartDate($event)">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
                      <mat-date-range-picker #startpicker></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-date-range-box">
                    <label>End Date</label>
                    <mat-form-field>
                      <mat-label>Date</mat-label>
                      <mat-date-range-input [rangePicker]="endpicker">
                        <input matStartDate matInput placeholder="Start date" formControlName="minEnd" (dateChange)="getMinEndDate($event)">
                        <input matEndDate matInput placeholder="End date" formControlName="maxEnd" (dateChange)="getMaxEndDate($event)">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                      <mat-date-range-picker #endpicker></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box">
                    <label>Transaction Type</label>
                    <mat-form-field class="example-chip-list searh_input-design mat-inner-chip-design"
                      appearance="fill">
                      <mat-chip-list #chipListTransaction aria-label="selection">
                        <div ngClass="mat-chip-input-limited">
                          <mat-chip *ngFor="let transaction of Transactionfield" (removed)="remove3(transaction)">
                            <span class="text-limit-chip">{{transaction.name}}</span>
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                        </div>
                        <input placeholder="Add Transaction Type..." #TransactionInput [formControl]="TransactionCtrl"
                          [matAutocomplete]="transactiontype" [matChipInputFor]="chipListTransaction"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add3($event)">
                      </mat-chip-list>
                      <mat-autocomplete #transactiontype="matAutocomplete" (optionSelected)="selected3($event)">
                        <div ngClass="mat-chip-inner-container">
                          <mat-chip *ngFor="let transaction of Transactionfield" (removed)="remove3(transaction)">
                            <span class="text-limit-chip">{{transaction.name}}</span>
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                        </div>
                        <mat-option *ngFor="let transaction of filteredTransaction" [value]="transaction.id">
                          {{transaction.name}}
                        </mat-option>
                      </mat-autocomplete>
                      <span ngClass="mat_indicators-counts"
                        *ngIf="Transactionfield.length > 0">{{Transactionfield.length}}</span>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box">
                    <label>BEDROOM</label>
                    <mat-form-field class="example-chip-list searh_input-design mat-inner-chip-design"
                      appearance="fill">
                      <mat-chip-list #chipListBeds aria-label="selection">
                        <div ngClass="mat-chip-input-limited">
                          <mat-chip *ngFor="let beds of bedsfield" (removed)="remove6(beds)">
                            <span class="text-limit-chip">{{beds}}</span>
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                        </div>
                        <input placeholder="Add BEDROOM..." #bedInput [formControl]="bedsCtrl"
                          [matAutocomplete]="bedsmat" [matChipInputFor]="chipListBeds"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add6($event)">
                      </mat-chip-list>
                      <mat-autocomplete #bedsmat="matAutocomplete" (optionSelected)="selected6($event)">
                        <div ngClass="mat-chip-inner-container">
                          <mat-chip *ngFor="let beds of bedsfield" (removed)="remove6(beds)">
                            <span class="text-limit-chip">{{beds}}</span>
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip>
                        </div>
                        <mat-option *ngFor="let beds of allbedsfield" [value]="beds">
                          {{beds}}
                        </mat-option>
                      </mat-autocomplete>
                      <span ngClass="mat_indicators-counts" *ngIf="bedsfield.length > 0">{{bedsfield.length}}</span>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                  <div ngClass="di-rangle-block">
                    <h4>Size Range ({{countryData.unitType}})</h4>
                    <div ngClass="price-range_sec">
                      <div ngClass="range-slider">
                        <ngx-slider [(value)]="SizeminValue" [(highValue)]="SizemaxValue" [options]="Sizeoptions" (valueChange)="getMinSize($event)" (highValueChange)="getMaxSize($event)">
                        </ngx-slider>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                  <div ngClass="di-rangle-block">
                    <h4>Price Range ({{countryData.currency}})</h4>
                    <div ngClass="price-range_sec">
                      <div ngClass="range-slider">
                        <ngx-slider [(value)]="PriceminValue" [(highValue)]="PricemaxValue" [options]="Priceoptions" (valueChange)="getMinPrice($event)" (highValueChange)="getMaxPrice($event)">
                        </ngx-slider>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="dashboard-data-blue-boxes mt-3" *ngIf="totalLength != 0">
            <div class="row dashbpard-reports-inof-blocks">
              <div class="col-xl-3 p-2">
                <div class="card bg-2">
                  <div class="row">
                    <div class="col-12 text-center">
                      <h6 class="text-small">Ready Property Transactions</h6>
                      <p style="margin-bottom: 12px;"></p>
                      <div class="custom-box">
                        <span>
                          <h3>{{formatNumber(transactionData.transactionsCount)}}</h3>
                          <p>TRANSACTIONS</p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 p-2">
                <div class="card bg-3">
                  <div class="row">
                    <div class="col-12 text-center">
                      <h6 class="text-small">Off-plan property transactions</h6>
                      <p style="margin-bottom: 12px;"></p>
                      <div class="custom-box">
                        <span>
                          <h3>{{formatNumber(transactionData.medianPricePerSqft)}}</h3>
                          <p>Median {{countryData.currency}}/{{countryData.unitType}}</p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 p-2">
                <div class="card bg-2">
                  <div class="row">
                    <div class="col-12 text-center">
                      <h6 class="text-small">Sales listings </h6>
                      <div class="custom-box">
                        <span>
                          <h3>{{formatNumber(transactionData.medianPrice)}}</h3>
                          <p>Median Value ({{countryData.currency}})</p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 p-2">
                <div class="card bg-3">
                  <div class="row">
                    <div class="col-12 text-center">
                      <h6 class="text-small">Rent listings</h6>
                      <div class="custom-box">
                        <span>
                          <h3>{{formatNumber(transactionData.totalPrice)}}</h3>
                          <p>Total Value ({{countryData.currency}})</p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dash-table-box-layout" *ngIf="totalLength != 0">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Version</th>
                    <th>Date</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Location</th>
                    <th>Project Name</th>
                    <th>Type</th>
                    <th>Unit</th>
                    <th>Bedrooms</th>
                    <th>Floor</th>
                    <th>Parking</th>
                    <th>Balcony Area</th>
                    <th>Size</th>
                    <th>Land Size</th>
                    <th>Annual Amount(AED)</th>
                    <th>AED/Sqf/Year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of transactionData.transactions | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems:totalLength }">
                    <td>{{item.transactionType != null ? item.transactionType.name : "N/A"}}</td>
                    <td>{{item.transactionDate != null ? item.transactionDate.split("T")[0] : "N/A"}}</td>
                    <td>{{item.startDate != null ? item.startDate.split("T")[0] : "N/A"}}</td>
                    <td>{{item.endDate != null ? item.endDate.split("T")[0] : "N/A"}}</td>
                    <td>{{item.district != null ? item.district.name : "N/A"}}</td>
                    <td>{{item.project != null ? item.project.name : "N/A"}}</td>
                    <td>{{item.propertyType != null ? item.propertyType.typeDescription : "N/A"}}</td>
                    <td>{{item.unit != null ? item.unit : "N/A"}}</td>
                    <td>{{item.bedRoom != null ? item.bedRoom : "N/A"}}</td>
                    <td>{{item.floor != null ? item.floor : "N/A"}}</td>
                    <td>{{item.parking != null ? item.parking : "N/A"}}</td>
                    <td>{{item.balconyAreaSqft != null ? item.balconyAreaSqft : "N/A"}}</td>
                    <td>{{item.sizeSqft != null ? item.sizeSqft : "N/A"}}</td>
                    <td>{{item.landSizeSqft != null ? item.landSizeSqft : "N/A"}}</td>
                    <td>{{item.amountYearly != null ? item.amountYearly : "N/A"}}</td>
                    <td>{{item.amountSqftYearly != null ? item.amountSqftYearly : "N/A"}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="pagination-controls d-flex justify-content-spacebw">
                <div class="pagination-page-per-item d-flex align-items-center">
                  <p>Items Per Page 10</p>
                  <div ngClass="select-design-language">
                    <mat-form-field appearance="fill">
                      <mat-select [disableOptionCentering]="true" [(value)]="PageNumbers" (selectionChange)="getItems($event)">
                        <mat-option [value]="option.value" *ngFor="let option of pageitems">
                          {{option.viewValue }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <pagination-controls (pageChange)="pageChanged($event)" class="text-center my-pagination">
                </pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dahboard-data-f0oter">
      <footer>
        <p class="text-center text-muted mb-0">Copyright &#169; <a routerLink="">Ovaluate</a></p>
      </footer>
    </div>
    <app-loader *ngIf="showLoader"></app-loader>
  </div>
</div>