@font-face {
    font-family: 'Dubai';
    src: url('font/Dubai-Bold.eot');
    src: url('font/Dubai-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/Dubai-Bold.woff2') format('woff2'),
        url('font/Dubai-Bold.woff') format('woff'),
        url('font/Dubai-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dubai';
    src: url('font/Dubai-Light.eot');
    src: url('font/Dubai-Light.eot?#iefix') format('embedded-opentype'),
        url('font/Dubai-Light.woff2') format('woff2'),
        url('font/Dubai-Light.woff') format('woff'),
        url('font/Dubai-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dubai';
    src: url('font/Dubai-Medium.eot');
    src: url('font/Dubai-Medium.eot?#iefix') format('embedded-opentype'),
        url('font/Dubai-Medium.woff2') format('woff2'),
        url('font/Dubai-Medium.woff') format('woff'),
        url('font/Dubai-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dubai';
    src: url('font/Dubai-Regular.eot');
    src: url('font/Dubai-Regular.eot?#iefix') format('embedded-opentype'),
        url('font/Dubai-Regular.woff2') format('woff2'),
        url('font/Dubai-Regular.woff') format('woff'),
        url('font/Dubai-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*  Brandon Font Import */
@font-face {
    font-family: 'Brandon';
    src: url('font/Brandon-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Brandon';
    src:url('font/Brandon-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Brandon';
    src: url('font/Brandon-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/*  LexendDeca Font Import */
@font-face {
    font-family: 'LexendDeca';
    src: url('font/LexendDeca-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LexendDeca';
    src: url('font/LexendDeca-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LexendDeca';
    src: url('font/LexendDeca-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'LexendDeca';
    src: url('font/LexendDeca-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'LexendDeca';
    src: url('font/LexendDeca-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'LexendDeca';
    src: url('font/LexendDeca-SemiBold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}