<form [formGroup]="SubmitForm">
    <div ngClass="property-filter-wrap d-flex justify-content-spacebw">
        <div ngClass="block-item first-block">
            <div ngClass="block-wrapper mb-4 position-relative d-flex searc-input-combination">
            <mat-form-field appearance="fill" class="select-design">
                <mat-label>Type</mat-label>
                <mat-select  [(value)]="selectedRentType">
                  <mat-option *ngFor="let option of rentTypes" [value]="option.id">{{ option.name }}</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="full-width input-design-2" appearance="fill">
                <input matInput formControlName="Name" type="search" placeholder="Search by location, Property Name...">
              </mat-form-field>
            </div>
        </div>
        <div ngClass="block-item scnd-block">
            <div ngClass="block-wrapper mb-4">
            <mat-form-field appearance="fill" class="select-design">
                <mat-label>Property Type</mat-label>
                <mat-select  [(value)]="selectedPropertyType">
                  <mat-option *ngFor="let option of propertyTypes" [value]="option.id">{{ option.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
        <div ngClass="block-item scnd2-block">
            <div ngClass="block-wrapper mb-4">
            <mat-form-field appearance="fill" class="select-design">
                <mat-label>BHK</mat-label>
                <mat-select>
                  <mat-option value="1 BHK">
                    1 BHK
                  </mat-option>
                  <mat-option value="2 BHK">
                   2 BHK
                  </mat-option>
                  <mat-option value="3 BHK">
                    3 BHK
                  </mat-option>
                  <mat-option value="4 BHK">
                    4 BHK
                  </mat-option>
                  <mat-option value="5 BHK">
                    5 BHK
                  </mat-option>
                  <mat-option value="6 BHK">
                    6 BHK
                  </mat-option>
                  <mat-option value="7 BHK">
                    7 BHK
                  </mat-option>
                  <mat-option value="8 BHK">
                    8 BHK
                  </mat-option>
                  <mat-option value="9 BHK">
                    9 BHK
                  </mat-option>
                  <mat-option value="10 BHK">
                    10 BHK
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
        <div ngClass="block-item third-block">
            <div ngClass="block-wrapper mb-4">
            <mat-form-field appearance="fill" class="select-design">
                <mat-label>Beds & Baths</mat-label>
                <mat-select>
                  <mat-option value="1">
                    1
                  </mat-option>
                  <mat-option value="2">
                   2
                  </mat-option>
                  <mat-option value="3">
                    3
                  </mat-option>
                  <mat-option value="4">
                    4
                  </mat-option>
                  <mat-option value="5">
                    5
                  </mat-option>
                  <mat-option value="6">
                    6
                  </mat-option>
                  <mat-option value="7">
                    7
                  </mat-option>
                  <mat-option value="8">
                    8
                  </mat-option>
                  <mat-option value="9">
                    9
                  </mat-option>
                  <mat-option value="10">
                    10
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
        <div ngClass="block-item four-block">
          <div ngClass="block-wrapper">
            <div ngClass="cstm_dropdown-list dropdown-design-2 position-relative drodown_with-img">
               <button ngClass="drop-down_btn" (click)="clickEvent()">Budget</button>
               <div class="cstm_dropdown-menu" [ngClass]="status ? 'active' : 'notactive'">
                  <h4 ngClass="drop_label">Price Range</h4>
                <div ngClass="rental-type-tabs-sec">
                  <mat-tab-group>
                    <mat-tab label="Monthly">
                      <div ngClass="price-range_sec">
                        <div ngClass="extra-controls form-inline">
                          <div ngClass="form-group">
                            <input type="number" formControlName="PriceStart" [(ngModel)]="minValue" placeholder="100,000">
                            <input type="number" formControlName="PriceEnd" [(ngModel)]="maxValue" placeholder="Any">
                          </div>
                        </div>
                        <div ngClass="range-slider">
                          <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
                      </div>
                      <div ngClass="rentle_type-hding">
                        <h5 ngClass="h5-design">Rental Type</h5>
                      </div>
                    </div>
                    </mat-tab>
                    <mat-tab label="Quarterly">
                      <div ngClass="price-range_sec">
                        <div ngClass="extra-controls form-inline">
                          <div ngClass="form-group">
                            <input type="number" formControlName="PriceStart1" [(ngModel)]="minValue1" placeholder="100,000">
                            <input type="number" formControlName="PriceEnd1" [(ngModel)]="maxValue1" placeholder="Any">
                          </div>
                        </div>
                        <div ngClass="range-slider">
                          <ngx-slider [(value)]="minValue1" [(highValue)]="maxValue1" [options]="options"></ngx-slider>
                      </div>
                      <div ngClass="rentle_type-hding">
                        <h5 ngClass="h5-design">Rental Type</h5>
                      </div>
                    </div>
                    </mat-tab>
                    <mat-tab label="Yearly">
                      <div ngClass="price-range_sec">
                        <div ngClass="extra-controls form-inline">
                          <div ngClass="form-group">
                            <input type="number" formControlName="PriceStart2" [(ngModel)]="minValue2" placeholder="100,000">
                            <input type="number" formControlName="PriceEnd2" [(ngModel)]="maxValue2" placeholder="Any">
                          </div>
                        </div>
                        <div ngClass="range-slider">
                          <ngx-slider [(value)]="minValue2" [(highValue)]="maxValue2" [options]="options"></ngx-slider>
                        </div>
                        <div ngClass="rentle_type-hding">
                          <h5 ngClass="h5-design">Rental Type</h5>
                        </div>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                </div>
               </div>
            </div>
          </div>
        </div>
        <div ngClass="block-item five-block">
            <div ngClass="block-wrapper mb-4">
            <mat-form-field appearance="fill" class="select-design">
                <mat-label>Posted by</mat-label>
                <mat-select>
                  <mat-option value="Dealer">
                    Dealer
                  </mat-option>
                  <mat-option value="Owner">
                   Owner
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
        <div ngClass="block-item seven-block">
            <div ngClass="block-wrapper">
           <button ngClass="clear-btn">Clear</button>
            </div>
        </div>
        <div ngClass="block-item eight-block">
          <div ngClass="block-wrapper">
            <button ngClass="search-btn"><img src="assets/images/search.svg"></button>
          </div>
      </div>
    </div>
</form>
