<form>
    <div ngClass="property-filter-wrap d-flex justify-content-spacebw">
        <div ngClass="block-item first-block">
            <div ngClass="block-wrapper mb-4 position-relative d-flex searc-input-combination">
            <mat-form-field appearance="fill" class="select-design">
                <mat-label>Rent</mat-label>
                <mat-select>
                  <mat-option value="Rent">
                    Rent
                  </mat-option>
                  <mat-option value="Sell">
                    Sell
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="full-width input-design-2" appearance="fill">
                <input matInput type="search" placeholder="Search by location, Property Name...">
              </mat-form-field>
            </div>
        </div>
        <div ngClass="block-item scnd-block">
            <div ngClass="block-wrapper mb-4">
            <mat-form-field appearance="fill" class="select-design">
                <mat-label>Property Type</mat-label>
                <mat-select>
                  <mat-option value="Residential"> 
                    Residential
                  </mat-option>
                  <mat-option value="Commertial">
                    Commertial
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
        <div ngClass="block-item scnd-block">
            <div ngClass="block-wrapper mb-4">
            <mat-form-field appearance="fill" class="select-design">
                <mat-label>BHK</mat-label>
                <mat-select>
                  <mat-option value="1 BHK">
                    1 BHK
                  </mat-option>
                  <mat-option value="2 BHK">
                   2 BHK
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
        <div ngClass="block-item third-block">
            <div ngClass="block-wrapper mb-4">
            <mat-form-field appearance="fill" class="select-design">
                <mat-label>Beds & Baths</mat-label>
                <mat-select>
                  <mat-option value="1">
                    1
                  </mat-option>
                  <mat-option value="2">
                   2
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
        <div ngClass="block-item four-block">
            <div ngClass="block-wrapper mb-4">
            <mat-form-field appearance="fill" class="select-design">
                <mat-label>Budgets</mat-label>
                <mat-select>
                  <mat-option value="1">
                    1
                  </mat-option>
                  <mat-option value="2">
                   2
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
        <div ngClass="block-item five-block">
            <div ngClass="block-wrapper mb-4">
            <mat-form-field appearance="fill" class="select-design">
                <mat-label>Posted by</mat-label>
                <mat-select>
                  <mat-option value="Dealer">
                    Dealer
                  </mat-option>
                  <mat-option value="Owner">
                   Owner
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
        <div ngClass="block-item six-block">
            <div ngClass="block-wrapper mb-4">
            <mat-form-field appearance="fill" class="select-design">
                <mat-label>More Filters</mat-label>
                <mat-select>
                  <mat-option value="Dealer">
                    Dealer
                  </mat-option>
                  <mat-option value="Owner">
                   Owner
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        </div>
        <div ngClass="block-item seven-block">
            <div ngClass="block-wrapper">
           <button ngClass="clear-btn">Clear</button>
            </div>
        </div>
    </div>
</form>