.accordians-wrapper .mat-expansion-panel {
    border-color: rgba(0, 0, 0, 0.08) !important;
}
.accordians-wrapper .mat-expansion-panel:hover {
    background-color: whitesmoke;
}
.accordians-wrapper .mat-expansion-panel.mat-expanded:hover{
	background-color: #595ad5;
}
