.thanku-cntnt-img img {
    width: 100%;
    max-width: 500px;
}
.thanku-cntnt-block {
    text-align: center;
}
.thanku-header-inners {
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 60px;
    padding-top: 60px;
}
.thanku-cntnt-block h2 {
    margin-top: 35px;
    font-size: 35px;
    text-transform: uppercase;
}
.thanku-cntnt-block a {
    display: inline-block;
    background-color: #595ad5;
    padding: 10px 25px;
    color: #fff;
    border-radius: 10px;
}
.thanku-cntnt-block a:hover {
    background-color: #212529;
}
