.all-scores-sec {
    .project-scr-card {
        .score-dtls{
            padding: 20px 0px;
            .prjct-name {
                color: #383838;
                font-size: 20px;
                font-weight: 500;
            }
            p{
            color: #363636;
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 0px;
            img {
                margin-right: 6px;
                position: relative;
                bottom: 3px;
            }
        }
        .lbl-name{
            font-size: 18px;
            font-weight: 500;
            margin-top: 8px;
        }
        >.row {
            margin-top: 20px;
            >div{
                margin-bottom: 15px;
            }
        }
    }
}
.properties-list-block-design {
    background: #F2F2F2;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 25px;
    box-shadow: none;
}
.pro-imf {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 14px;
    overflow: hidden;
}
}

@media (min-width: 992px){
    .all-scores-sec>div>.row>div {
        padding-left: 5px;
        padding-right: 5px;
    }
    .all-scores-sec>div>.row {
        margin: 0px -10px;
    }
    
}


svg,
  img {
    max-width: 100%;
    height: 100%;
    width: 100%;
  }
  .container {
    max-width: 1330px;
    padding: 0px 15px;
    position: relative;
    margin: auto;
  }
  p {
    margin-bottom: 0px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  button {
    &:focus {
      box-shadow: none !important;
      outline: none;
    }
  }
// -----variables-------
$myColor: #645bd2;
$backgroundColor: #645bd2;
$backgroundWhite: #fff;
$iconsWidhtHeight: 16px;
// ----------------------------------
// ------------[Main-property-content Start]
// ------------------------------------------//
.main-property-content {
  padding-top: 16px;
  .card {
    margin: 30px 0px;
    border: 0px;
    border-radius: 12px;
    transition: all 0.5s ease;
    background-color: #fff;
    border: 1px solid #d6d6dc;
    overflow: hidden;
    &:hover {
      box-shadow: 0 0px 30px rgba(89, 90, 213, 0.1);
      border-color: transparent;
      .card-header {
        background-color: transparent;
      }
    }
    .card-header {
      background-color: #fafafa;
      display: block;
      padding: 8px 16px;
      border-bottom: 1px solid #d6d6dc !important;
      transition: all 0.5s ease;
      .let-name {
        width: 45px;
        height: 45px;
        border-radius: 100%;
        background-color: #f0f0ff;
        span {
          font-size: 22px;
          font-weight: 600;
          display: block;
          color: #595ad5;
          text-transform: uppercase;
        }
      }
      .infor-pro {
        padding-left: 15px;
        width: calc(100% - 45px);
        a {
          font-size: 18px;
          color: #3e4861;
          display: block;
          line-height: 21px;
          width: 100%;
          font-weight: 600;
          width: fit-content;
        }
        h6 {
          width: 100%;
          color: rgb(113, 113, 131);
          font-size: 15px;
          font-weight: 500;
          line-height: 17px;
          margin-bottom: 0px;
        }
      }
    }
    .card-body {
      padding: 20px 16px 16px 16px;
      .left-pro-imgBox {
        a {
          display: block;
          line-height: normal;
          border-radius: 8px;
          overflow: hidden;
          img {
            width: 100%;
            height: 350px;
          }
        }
      }
      .price-on-request-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
        padding-left: 20px;
        .inner-request {
          padding: 16px 0px;
          h2 {
            color: #000 !important;
            padding: 0;
            font-size: 34px;
            line-height: 44px;
            margin-bottom: 12px;
            font-weight: 600;
          }
          a {
            display: block;
            color: #717183;
            white-space: normal;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
          }
          svg {
            font-size: 22px;
            line-height: 1.2;
            padding-right: 8px;
            color: #595ad5;
            width: auto;
          }
        }
        .launched-handover-box {
          margin-top: 20px;
          .inner-info {
            padding: 0px 10px;
            // width: 50%;
            &:last-child {
              border-left: 1px solid #d6d6dc;
              padding-left: 30px;
              margin-left: 30px;
            }
          }
          svg {
            width: auto;
            font-size: 26px;
            margin-bottom: 5px;
            color: #595ad5;
          }
          span {
            display: block;
            color: #717183;
            white-space: normal;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
          }
          h6 {
            color: #3e4861;
            font-weight: 500;
            font-size: 20px;
            line-height: 20px;
            margin-top: 2px;
          }
        }
        .discover-more-button {
          padding: 15px 0px;

          a {
            display: block;
            font-weight: 500;
            font-size: 19px;
            letter-spacing: 0.5px;
            background: transparent;
            border: 2px solid #595ad5;
            border-radius: 50px;
            color: #595ad5;
            padding: 5px 10px;
            width: 200px;
            text-align: center;
            margin-right: 10px;
            svg {
              width: auto;
              font-size: 14px;
              margin: 0px 5px;
            }
            &:hover {
              background-color: #595ad5;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
// ----@media---
@media (max-width: 500px) {
  .main-property-content {
    .card {
      .card-header {
        .let-name {
          width: 40px;
          height: 40px;
          span {
            font-size: 20px;
          }
        }
      }
      .card-body {
        .left-pro-imgBox {
          a {
            img {
              height: auto;
            }
          }
        }
        .price-on-request-text {
          padding-left: 0px;
          .inner-request {
            h2 {
              font-size: 30px;
              line-height: 35px;
              margin-bottom: 3px;
            }
            a {
              font-size: 16px;
              line-height: 21px;
            }
            svg {
              font-size: 19px;
            }
          }
          .launched-handover-box {
            .inner-info {
              &:last-child {
                padding-left: 20px;
                margin-left: 21px;
              }
            }
            margin-top: 12px;
            svg {
              font-size: 21px;
              margin-bottom: 3px;
            }
            h6 {
              font-size: 17px;
              line-height: 20px;
            }
          }
          .discover-more-button {
            a {
              font-weight: 400;
              font-size: 16px;
              letter-spacing: 0.2px;
              padding: 5px 5px;
              width: 50%;
              &:last-child {
                margin-right: 0px;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 360px) {
  .main-property-content {
    .card {
      .card-header {
        padding: 9px 11px;
      }
      .card-body {
        padding: 15px 12px 5px 11px;
        .price-on-request-text {
          .discover-more-button {
            a {
              &:first-child {
                margin-right: 5px;
              }
              padding: 3px 13px;
              width: auto;
              svg {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

// ----------------------------------
// ------------[project-scores-content Start]
// ------------------------------------------//
.main-project-scores-content {
  .project-scoresBox-section {
    padding-top: 17px;
    .scoresBox-card {
      background: $backgroundWhite;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      .card-body {
        .scoreBox-img {
          height: 290px;
          border-radius: 20px 20px 0px 0px;
        }
        .scoresBox-information {
          padding: 33px 20px 23px 20px;
          h2 {
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: #3e4861;
            margin-bottom: 4px;
          }
          .location-b {
            margin-bottom: 14px;
            img {
              width: $iconsWidhtHeight;
              height: $iconsWidhtHeight;
              margin-right: 6px;
            }
          }
          span {
            font-weight: 400;
            font-size: 12px;
            line-height: 17px;
            color: #606060;
            display: block;
          }
          .popular-box {
            background-color: $backgroundColor;
            width: 160px;
            height: 42px;
            border-radius: 6px;
            position: absolute;
            top: -22px;
            left: -12px;
            &::before {
              content: "";
              position: absolute;
              width: 11.38px;
              height: 9.29px;
              background-color: $backgroundColor;
              left: 0;
              bottom: -4px;
              border-radius: 0px 0px 0px 6px;
            }
            img {
              width: 20px;
              height: auto;
              margin-right: 8px;
            }
            span {
              color: #fff;
              font-weight: 500;
              font-size: 16px;
              line-height: 22px;
              display: block;
              margin-top: 4px;
            }
          }
          .main-progress-circle {
            .row {
              .col-lg-3 {
                padding: 0 8.5px;
              }
            }
            .bottom-label {
              text-align: center;
              width: 100%;
              span {
                margin-bottom: 0px;
                font-weight: 400;
                font-size: 12px;
                color: #3e4861;
                line-height: 121.7%;
                text-align: center;
                margin-top: 0px;
              }
            }
            .circles-small {
              position: relative;
            }
            .circle-small {
              display: inline-block;
              position: relative;
              width: 80px;
              height: 80px;
              svg {
                width: 80px;
                height: 80px;
                transform: rotate(18deg);
                position: absolute;
                left: 2px;
                .backgroundColor {
                  stroke: $myColor;
                  stroke-width: 10px;
                  stroke-linecap: round;
                  stroke-dasharray: 198;
                  stroke-dashoffset: 198;
                  stroke-dashoffset: 29px;
                }
                .white {
                  stroke: #d9d9d9;
                  stroke-dashoffset: 103px;
                  stroke-width: 10px;
                  stroke-linecap: round;
                  stroke-dasharray: 198;
                  stroke-dashoffset: 198;
                  stroke-dashoffset: 28px;
                }
                &.cir-sec {
                  .backgroundColor {
                    stroke-dasharray: 198;
                    stroke-dashoffset: 198;
                    stroke-dashoffset: 55px;
                  }
                }
                &.cir-thid {
                  .backgroundColor {
                    stroke-dasharray: 198;
                    stroke-dashoffset: 198;
                    stroke-dashoffset: 92px;
                  }
                }
                &.cir-four {
                  .backgroundColor {
                    stroke-dasharray: 198;
                    stroke-dashoffset: 198;
                    stroke-dashoffset: 45px;
                  }
                }
              }
              .svg-text {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                font-size: 10px;
                line-height: 14px;
                text-align: center;
                color: #606060;
              }
              .text {
                position: absolute;
                width: 100%;
                top: 30px;
                font-size: 17px;
                text-align: center;
                font-weight: 400;
                line-height: 16px;
                span {
                  font-size: 12px;
                  font-weight: 500;
                  font-size: 22px;
                  line-height: 31px;
                  color: #3e4861;
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
}

@keyframes one {
  from {
    stroke-dashoffset: 232.36;
  }
  to {
    stroke-dashoffset: 100;
  }
}

@keyframes two {
  from {
    stroke-dashoffset: 232.36;
  }
  to {
    stroke-dashoffset: 110;
  }
}
@keyframes three {
  from {
    stroke-dashoffset: 232.36;
  }
  to {
    stroke-dashoffset: 130;
  }
}
@keyframes fore {
  from {
    stroke-dashoffset: 232.36;
  }
  to {
    stroke-dashoffset: 100;
  }
}
@keyframes appear {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .main-project-scores-content {
    .project-scoresBox-section {
      .scoresBox-card {
        .card-body {
          .scoresBox-information {
            .main-progress-circle {
              .circles-small {
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
        .scoreBox-img {
          height: auto;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .main-project-scores-content {
    .project-scoresBox-section {
      .scoresBox-card {
        .card-body {
          .scoreBox-img {
            height: auto;
          }
        }
      }
    }
  }
}
@media (max-width: 520px) {
  .main-project-scores-content {
    .project-scoresBox-section {
      .scoresBox-card {
        .card-body {
          .scoresBox-information {
            .popular-box {
              width: 130px;
              height: 36px;
            }
            .popular-box {
              img {
                width: 18px;
                margin-right: 5px;
              }
              span {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
