.all-scores-sec {
    .project-scr-card {
        .score-dtls{
            padding: 20px 0px;
            .prjct-name {
                color: #383838;
                font-size: 20px;
                font-weight: 500;
            }
            p{
            color: #363636;
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 0px;
            img {
                margin-right: 6px;
                position: relative;
                bottom: 3px;
            }
        }
        .lbl-name{
            font-size: 18px;
            font-weight: 500;
            margin-top: 8px;
        }
        >.row {
            margin-top: 20px;
            >div{
                margin-bottom: 15px;
            }
        }
    }
}
.properties-list-block-design {
    background: #F2F2F2;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 25px;
}
.pro-imf {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 14px;
    overflow: hidden;
}
}

@media (min-width: 992px){
    .all-scores-sec>div>.row>div {
        padding-left: 5px;
        padding-right: 5px;
    }
    .all-scores-sec>div>.row {
        margin: 0px -10px;
    }
    
}