<app-header></app-header>
<section [ngClass]="'inner-cntnt-wrapper slide-left-bar sell-faq-css how-it-works-page cms-inner'">
    <section [ngClass]="'inner-page-banner-sec position-relative'"
        style="background-image: url('assets/images/package-banner.png')">
        <div [ngClass]="'container_1280px'">
            <div ngClass="inner-banner-heading text-center">
                <h2>{{heading}}</h2>
                <p>{{subHead}}</p>
            </div>
        </div>
    </section>
    <section ngClass="position-relative how-it-works-sec">
        <div ngClass="container_1220px">
            <div ngClass="how-it-works">
                <div ngClass="title text-center">
                    <h2>How it Works?</h2>
                    <p>Our selection of properties near you/your location</p>
                </div>
            </div>
            <div ngClass="how-it-works-process">
                <div ngClass="row">
                    <div ngClass="col-md-4 how-it-works-box" *ngFor="let works of howitworks">
                        <div ngClass="how-it-works-inner">
                            <h1>{{works.id}}</h1>
                            <h5>{{works.heading}}</h5>
                            <p>{{works.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div ngClass="green-btn-design text-center">
                <a routerLink="/payment-packages" ngClass="green-btn">List Your Property Now!</a>
            </div>
        </div>
    </section>
    <section ngClass="position-relative faq-section-wrapper">
        <div ngClass="container_1220px">
            <div ngClass="faq-title text-center">
                <h2>Frequently Asked Questions</h2>
                <p>We Provide Simple Solutions For Complex Challenges</p>
            </div>
            <div ngClass="row">
                <div ngClass="col-xl-6 col-lg-6 col-md-6 col-sm-12" *ngFor="let faq of faqsec">
                    <div ngClass="accordians-wrapper">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <h4>{{faq.heading}}</h4>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-panel-description>
                                    <p class="faq__accordion-text">{{faq.description}}</p>
                                </mat-panel-description>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>
        </div>
    </section>
<app-footer></app-footer>
</section>