.hint-text {
    padding-top: 15px;
    padding-bottom: 15px;
}
.hint-text p {
    color: #A8A8A8;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0px;
}
.checkbox-design .mat-checkbox-label {
    color: #4A565F;
    font-size: 16px;
    font-weight: 400;
}
.landlord-checkbox-sec {
    margin-bottom: 15px;
}
.signup-page .terms-text p {
    margin-bottom: 0px;
}
.signup-page .terms-text {
    margin-top: 15px;
}
.mat-checkbox-checked+.dropdown.hide {
    display: block;
}
.landlord-checkbox-sec .dropdown-toggle {
    width: 100%;
    background-color: #F0F3F5;
    text-align: left;
    color: #000929;
    font-size: 16px;
    font-weight: 500;
    padding: 13px 10px;
    background-image: url(../../../../assets/images/drop-arrow.svg);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 90% center;
    padding-right: 16px;
    border: none !important;
}
.landlord-checkbox-sec .dropdown {
    padding-top: 15px;
}
.landlord-checkbox-sec .dropdown-toggle::After{
    display: none !important;
}
.landlord-checkbox-sec .dropdown-menu {
    border: none;
    padding-top: 15px;
    position: initial;
}
.landlord-checkbox-sec .dropdown-menu .h5-heading {
    color: #000929;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}
.landlord-checkbox-sec .dropdown-menu .property-types-heading .nav-tabs {
    display: block;
}
.landlord-checkbox-sec .nav.nav-tabs .nav-link {
    border: none;
    color: #000929;
    font-size: 14px;
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 35px;
    position: relative;
}
.landlord-checkbox-sec .nav.nav-tabs .nav-link>.circle-celection {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    outline: 1px solid #D3D5DA;
    outline-offset: 4px;
    top: 12px;
}
.landlord-checkbox-sec .nav.nav-tabs .nav-link.active>.circle-celection {
    background: #0B26AD;
    outline-color: #0B26AD;
}
.landlord-checkbox-sec .nav.nav-tabs {
    border: none;
}
.landlord-checkbox-sec .tab-content {
    border: none;
    padding-top: 15px;
}
.info-icons-block {
    position: relative;
}
.info-icons-block .info-toogle {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

