<app-header></app-header>
<section [ngClass]="'slide-left-bar ads-page-sec'">
    <section [ngClass]="'ads-banner-wrapper'">
        <div [ngClass]="'container_1280px'">
            <div ngClass="heading-title-sec text-center">
                <h2>Ovaluate Ad Classified</h2>
                <p>Tell us about your listing?</p>
            </div>
        </div>
    </section>
    <section class="ads-form-design-section" style="background-image: url('assets/images/background/bg-1.png');">
        <div class="container_1280px">
            <div class="ads-form-design">
                <form [formGroup]="DetailsForm">
                    <div class="list-property-header">
                        <h5 class="h5-heading">Please Fill your Lisitng Details</h5>
                    </div>
                    <div class="class-fied-breadcrumbs">
                        <ul class="list-unstyled d-flex">
                            <li><a routerLink="/classified/ad-post">Ad Post</a></li>
                            <li>Boats <span class="divider-bread">/</span> Fishing Boat</li>
                        </ul>
                    </div>
                    <div ngClass="select-boxes">
                        <div ngClass="row">
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                        <label>Title <span class="required-span">*</span></label>
                                        <mat-form-field class="full-width input-design-2 title-input" appearance="fill">
                                            <input matInput type="text" formControlName="title" placeholder="Enter Title"
                                                lang="en" />
                                        </mat-form-field>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4 position-relative optional-text">
                                        <label>Phone Number</label>
                                        <mat-form-field class="full-width input-design-2 phone-input" appearance="fill">
                                            <input matInput type="number" formControlName="Phone" placeholder="Enter Phone Number"
                                                lang="en" />
                                        </mat-form-field>
                                        <span class="optional-span">*Optional</span>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4 aed-text position-relative">
                                        <label>Price <span class="required-span">*</span></label>
                                        <mat-form-field class="full-width input-design-2 price-input" appearance="fill">
                                            <input matInput type="number" formControlName="Price"placeholder="Enter Price"
                                                lang="en" />
                                        </mat-form-field>
                                        <span class="price-tag-input">AED</span>
                                </div>
                            </div>
                            <div ngClass="col-xl-12 col-lg-12 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                        <div ngClass="select-design select2-design full-width-select2">
                                            <label>Do you want to show or hide your phone number?</label>
                                            <select class="select2 Show-Phone-Number">
                                                <option value="yes"> Show Number </option>
                                                <option value="no">Hide Number</option>
                                            </select>
                                        </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-12 col-lg-12 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                        <label>Description <span class="required-span">*</span></label>
                                        <mat-form-field class="full-width input-design-2 textarea-design-2 description-input" appearance="fill">
                                            <textarea matInput type="number" formControlName="Description" placeholder="Enter Description Here...."
                                                ></textarea>
                                        </mat-form-field>
                                </div>
                            </div>
                            <div ngClass="col-xl-12 col-lg-12 col-sm-12">
                            <div ngClass="propery-pictures-sec mb-4">
                                <div class="inneR-border-wrap position-relative">
                                    <div ngClass="div_thumb-wrapper img_upload">
                                        <label class="btn btn-default p-0 upload-label">
                                            <input type="file" accept=".jpg, .png, .jpeg," multiple
                                                class="input-file" />
                                            <button ngClass="black-upload-btn"><span
                                                    ngClass="plus_icon-div">+</span> Upload Pictures</button>
                                        </label>
                                        <div ngClass="upload-preview-images">
                                            <img ngClass="img-thumb-icon"
                                                src="../../../../assets/images/image-gallery-thumbnail.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>Age <span class="required-span">*</span></label>
                                        <select class="select2 Age">
                                            <option value="0" *ngFor="let item of Age" value="{{item.id}}">
                                                {{item.name}}
                                            </option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>Usage <span class="required-span">*</span></label>
                                        <select class="select2 Usage">
                                            <option value="0" *ngFor="let item of BoatUsage" value="{{item.id}}">{{item.name}} </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>Condition <span class="required-span">*</span></label>
                                        <select class="select2 Condition">
                                            <option value="0" *ngFor="let item of BoatCondition" value="{{item.id}}"> {{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>Seller type <span class="required-span">*</span></label>
                                        <select class="select2 Seller-type">
                                            <option value="0" *ngFor="let item of SellerType" value="{{item.id}}">{{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>Warranty <span class="required-span">*</span></label>
                                        <select class="select2 Warranty">
                                            <option value="0" *ngFor="let item of Warranty" value="{{item.id}}">{{item.name}}</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>Length <span class="required-span">*</span></label>
                                        <select class="select2 length">
                                            <option value="0" *ngFor="let item of Length" value="{{item.id}}">{{item.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right save-continue-sec justify-content-center">
                        <mat-card-actions>
                            <button class="save-continue-btn cursor-pointer" (click)="onSubmit()">Next</button>
                        </mat-card-actions>
                    </div>
                    <div class="text-center question-div">
                        <p><a href="tel:+91528366668">Question? Call +915 28 366 668</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
<app-footer></app-footer>
</section>
