.light-bg-body {
    background: #F4F6FF;
}
.property-action-hdr .circle-btn img {
    position: relative;
    bottom: 2px;
}
.properties-list_hdr .property-action-hdr {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.properties-list_hdr .property-action-hdr .pro-contact-details {
    margin-right: 15px;
}
.properties-list_hdr .property-action-hdr .pro-contact-details>.dropdown>button {
    padding: 0px;
}
