<app-header></app-header>
<section [ngClass]="'inner-cntnt-wrapper slide-left-bar'">
    <section [ngClass]="'explore-banner-sec position-relative'"
      style="background-image: url('assets/images/explore-bg.png')">
      <div [ngClass]="'container_1280px'">
        <div ngClass="inner-banner-heading text-center">
          <h2>Explore Destinations</h2>
          <div ngClass="search_destinations-block" *ngIf="country.length > 0">
            <form>
              <div ngClass="row">
                <div ngClass="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                  <div ngClass="block-wrapper">
                    <div ngClass="select-design">
                      <mat-form-field appearance="fill">
                        <mat-label>Countries</mat-label>
                        <mat-select [(value)]="selectedCountry.value" (selectionChange)="onCountrySelect($event)">
                          <mat-option *ngFor="let list of country" [value]="list.value">
                            {{ list.viewValue }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div ngClass="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                  <div ngClass="block-wrapper height-100">
                    <mat-form-field class="example-chip-list input-design searh_input-design height-100"
                      appearance="fill">
                      <mat-label>Search</mat-label>
                      <mat-chip-list #chipList aria-label="Search selection">
                        <mat-chip *ngFor="let SearchValue of SearchKeywordExplore" (removed)="remove(SearchValue)">
                          {{SearchValue}}
                          <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-chip>
                        <input placeholder="Location, Project Name" #SearchInput [formControl]="searchctrlExplore"
                          [matAutocomplete]="auto" [matChipInputFor]="chipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodesExplore"
                          (matChipInputTokenEnd)="add($event)">
                      </mat-chip-list>
                      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let SearchValue of searchfilterExplore | async" [value]="SearchValue">
                          {{SearchValue}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>
                <div ngClass="col-xl-1 col-lg-1 col-md-1 col-sm-12">
                  <div ngClass="search-btn-block">
                    <button ngClass="search-btn" type="submit"><img src="{{search}}"></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section ngClass="">
      <div [ngClass]="'container_1280px'">
        <div ngClass="explore-breadcrumb-wrapper black-text-breadcrumb">
          <app-breadcrumbs></app-breadcrumbs>
        </div>
        <div ngClass="explore-word-sec" *ngIf="selectedCountry">
          <div ngClass="d-flex justify-content-spacebw mb-4">
            <div ngClass="hp-design">
              <h4>Explore World</h4>
              <p>Destination that has attracted people from all over the world</p>
            </div>
          </div>
          <div ngClass="explore-locations-block-designs">
            <div ngClass="hp-design mb-4">
              <h4>{{selectedCountry.viewValue}}</h4>
            </div>
            <div ngClass="explore-locations-lists">
              <div class="row" *ngIf="cityData.length > 0">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-4" *ngFor="let item of cityData"
                  [ngClass]="checkCity(item.name) ? 'd-none' : ''">
                  <div ngClass="loc-div-block position-relative">
                    <div ngClass="loc-img-design">
                      <img src="https://beta.ovaluate.com/{{item.cityDocument.fileUrl}}">
                    </div>
                    <div ngClass="loc-img-cntnt">
                      <div ngClass="d-flex justify-content-spacebw align-items-center">
                        <div ngClass="hp-design white">
                          <h4 ngClass="city-name">{{item.name}}</h4>
                          <p ngClass="country-name">{{item.country.name}}</p>
                        </div>
                        <div ngClass="explore-link">
                          <a routerLink="/explore-city/{{item.id}}">Explore <mat-icon>keyboard_arrow_right</mat-icon></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div ngClass="explore-description_sec mt-4" *ngIf="selectedCountry">
            <div ngClass="hp-design hp-explore-spacing">
              <h4>Explore {{selectedCountry.viewValue}}</h4>
              <p>{{selectedCountry.desc}}.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
<app-footer></app-footer>