.properties-list_hdr .pro-contact-details .dropdown > button {
    padding: 0px !important;
}
.property-action-hdr {
    display: flex;
    justify-content: flex-end;
}
.property-action-hdr>.pro-contact-details {
    margin-right: 15px;
}
.notification-box {
    background-color: #595ad5;
    border-radius: 10px;
    padding: 20px;
}
.notification-box .d-flex {
    justify-content: space-between;
}
.email-home-icons {
    width: 72px;
}
.email-home-icons img {
    width: 100%;
    height: 100%;
}
.email-home-cntnt h4 {
    color: #fff;
    margin-bottom: 0px;
    font-size: 19px;
}
.email-home-cntnt {
    width: 70%;
}
.alert_btn {
    background-color: #fff;
    border: none;
    color: #595ad6;
    padding: 8px 20px;
    border-radius: 50px;
    font-size: 15px;
}
.alert_btn .mat-icon {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: relative;
    top: 4px;
}
.alert_btn:hover {
    background-color: #000;
    color: #fff;
}
.alert-email-box {
    background-color: #fff;
    border-radius: 15px;
    margin-top: 50px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0px;
    overflow: hidden;
    width: 100%;
}
.btn-close.email-close-modal {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    left: 0;
    background-repeat: no-repeat;
    background-position: right;
}
.alert-logo-div {
    margin-bottom: 15px;
}
.alert-logo-div {
    margin-bottom: 0px;
    padding: 30px 20px;
}
.alert-logo-content {
    padding: 0px 30px;
}
.alert-logo-content h5 {
    font-size: 20px;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.input-design-3 input {
    width: 100%;
    background-color: #f0f3f5;
    border: none;
    padding: 10px 22px;
    border-radius: 50px;
    font-size: 14px;
}
.input-design-3 input:focus {
    outline: none;
}
.alert_form-box .form-group {
    margin-bottom: 15px;
}
.submit-design-3 input {
    width: 100%;
    border: none;
    background: #595ad5;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    font-size: 14px;
}
.terms-contioning p {
    font-size: 14px;
    margin-bottom: 0px;
}
.terms-contioning p a {
    color: #595ad6;
}
.alert-modal-footer {
    background-color: #f0f3f6;
    padding: 25px 15px;
}
.alert-modal-footer h4 {
    font-size: 16px;
    margin-bottom: 5px;
}
.alert-modal-footer p {
    font-size: 14px;
    margin-bottom: 0px;
}
.alert-modal-footer p a {
    color: #595ad6;
}
.alert_form-box .form-group.terms-contioning {
    padding-bottom: 30px;
}
.submit-design-3 input:hover {
    background-color: #000 !important;
}
.selection-checkbox {
    position: absolute;
    top: 45%;
    left: 18px;
    width: 25px;
    height: 25px;
    z-index: 99;
}
.selection-checkbox input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    opacity: 0;
    cursor: pointer;
}
.selection-checkbox .add-property-cstm {
    width: 25px;
    height: 25px;
    background: transparent;
    border: 0.5px solid #69696b;
    border-radius: 4px;
    position: relative;
    bottom: 6px;
}
.selection-checkbox input:checked+.add-property-cstm {
    background-color: #595ad5;
    border-color: #595ad5;
}
.tag_btn {
    top: 20px;
}
.selection-checkbox .add-property-cstm::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 6px;
    width: 12px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(131deg);
    opacity: 0;
}
.selection-checkbox input:checked+.add-property-cstm::after {
    opacity: 1;
}
.add-property-floating-button {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 99;
    background-color: #fff;
    padding: 15px;
    width: calc(100% - 64px);
    margin-left: auto;
    box-shadow: 0px 0px 21px -15px rgb(0 9 41 / 50%);
}
.add-property-btn:hover {
    background-color: #000;
}
.add-property-btn {
    background-color: #4a565f;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 16px;
}

@media (max-width: 991px){
    .notification-box>.d-flex {
        flex-wrap: wrap;
    }
    .notification-box>.d-flex>div {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .notification-box>.d-flex>div img {
        max-width: 70px;
    }
}
@media (max-width: 767px){
    .add-property-floating-button {
        width: 100% !important;
        background: transparent !important;
        box-shadow: none;
        text-align: right !important;
        bottom: 50px !important;
    }
}
@media (min-width: 1200px){
    .compare-property_list-design .properties-list-block-design {
        padding-left: 60px;
    }
    .compare-property_list-design .properties-list-block-design .tag_btn.blue {
        left: 50px;
    }
}
@media (max-width: 1199px){
    .selection-checkbox {
        top: 20px !important;
        right: 23px !important;
        left: initial !important;
    }
    .selection-checkbox>.add-property-cstm {
        background-color: #fff;
    }
}