<header>
    <app-header></app-header>
</header>
<section [ngClass]="'inner-cntnt-wrapper slide-left-bar'">
  <section [ngClass]="'inner-page-banner-sec position-relative'">
      <div [ngClass]="'container_1280px'">
         <div ngClass="inner-banner-heading text-center">
            <h2>Term & Conditions</h2>
            <p>First time on ovaluate and want to sell or rent your property really fast, simply subscibe to one of our paid packages and get super benefits.</p>
         </div>
      </div>
  </section>
  <section ngClass="cms-content-wrapper">
    <div [ngClass]="'container_1280px'">
        <div ngClass="cms_content-paragraph">
            <h1>Term & Conditions</h1>
            <!-- <p ngClass="mt-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> -->
        </div>
    </div>
  </section>
</section>
<footer ngClass="footer-sec">
    <app-footer></app-footer>
</footer>