.property-action_detals {
    display: flex;
    justify-content: flex-end;
}
.property-action_detals > button:last-child {
    margin-right: 0px;
}
.property-action_detals>.pro-contact-details {
    margin-right: 5px;
}
.property-price_detals .price {
    font-size: 14px;
    color: #595ad5;
    font-weight: 600;
}
.property-price_detals .price img {
    width: 20px;
    margin-right: 10px;
    position: relative;
    bottom: 2px;
}
.property-price_detals>h4 {
    margin-bottom: 5px;
}
