.property-action_detals {
    display: flex;
    justify-content: flex-end;
}
.property-action_detals > button:last-child {
    margin-right: 0px;
}
.property-action_detals>.pro-contact-details {
    margin-right: 5px;
}
.property-price_detals .price {
    font-size: 14px;
    color: #595ad5;
    font-weight: 600;
}
.property-price_detals .price img {
    width: 20px;
    margin-right: 10px;
    position: relative;
    bottom: 2px;
}
.property-price_detals>h4 {
    margin-bottom: 5px;
}
.similer-properties-sec {
    background-color: #f0f3f6;
    padding-top: 60px;
    padding-bottom: 60px;
}
.price-box-right h2 {
    font-size: 30px;
    font-weight: 700;
}
.price-box-right h2 img {
    width: 28px;
    position: relative;
    bottom: 2px;
    margin-right: 15px;
}
.make-oofer-btn {
    width: 100%;
    border: none;
    background-color: #6967d7;
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
}
