<app-header2></app-header2>
<section ngClass="list-properties-sec">
    <div ngClass="listing-container">
        <div ngClass="heading-title-sec text-center">
            <h2>أعلن عن عقار جديد</h2>
            <p>تأكد من ملء جميع الحقول اللازمة وتحميل جميع الملفات المطلوبة.</p>
        </div>
        <div ngClass="listing-property-form-sec">
            <div ngClass="listing-property-ul">
                <mat-list>
                    <mat-list-item ngClass="active"> <a routerLink="/listingproperty"><span ngClass="">1</span>معلومات العقار</a> </mat-list-item>
                    <mat-list-item ngClass="active"><a routerLink=""><span ngClass="">2</span> معلومات الإدراج</a>
                    </mat-list-item>
                    <mat-list-item ngClass="active"> <a routerLink=""><span ngClass="">3</span> وسائل الإعلام</a>
                    </mat-list-item>
                    <mat-list-item ngClass="disabled"> <a routerLink=""><span ngClass="">4</span>نشر</a>
                    </mat-list-item>
                </mat-list>
            </div>
            <div ngClass="list-property-content">
                <div ngClass="list-property-body">
                    <div ngClass="new-listd-property-info">
                        <div ngClass="row">
                            <div ngClass="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                                <div class="new-proprty-details">
                                    <h5 class="proname">{{priviousFormCheck.BuildingName}}</h5>
                                    <address>{{priviousFormCheck.PropertyAddressArabic}}</address>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                <div ngClass="proprty-units">
                                    <p>هذا المبنى مدرج أيضًا في قائمة العقارات</p>
                                    <div ngClass="row">
                                        <div ngClass="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                            <p ngClass="no-units-p"><span
                                                    ngClass="unit-no">{{propertyListingBuy}}</span>وحدات معروضة للبيع</p>
                                        </div>
                                        <div ngClass="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                            <p ngClass="no-units-p"><span
                                                    ngClass="unit-no">{{propertyListingRent}}</span>وحدات للإيجار</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="SubmitForm">
                        <div ngClass="form-border-wrapper">
                            <div ngClass="list-property-header">
                                <h5 ngClass="h5-heading">التحقق من العقار</h5>
                                <p>يرجى تأكيد بعض الحقائق عن العقار</p>
                            </div>
                            <div ngClass="list-new-proerty-cntnt">
                                <div ngClass="upload-document_div">
                                    <h6 ngClass="h6-design mb-4">تحميل المستندات</h6>
                                    <div ngClass="blue-upload-box">
                                        <div ngClass="blue-upload-bordered-btn">
                                            <h6 ngClass="blue-heading">سند الملكية</h6>
                                            <div ngClass="upload-files-design">
                                                <div class="greybordered-btn position-relative title-deed-image-input">
                                                    <input type="file" #fileInput class="input-file"
                                                        (change)='handleChange($any($event.target).files)'>
                                                    <button mat-button (click)="fileInput.click()"><img
                                                            src="{{upload1}}">تحميل سند الملكية</button>
                                                </div>
                                                <div ngClass="uploded-output">
                                                    <span ngClass="outpup-filename">{{ file }}</span>
                                                    <div ngClass="action-btns">
                                                        <button ngClass="trash" (click)="deleteImage()"><img
                                                                src="{{trash}}"></button>
                                                    </div>
                                                    <p ngClass="drag-drop-text">اسحب الملف وأفلته هنا أو تصفح
                                                    </p>
                                                    <button ngClass="succesfull-uploaded"><img src="{{checkmark}}">تم الرفع</button>
                                                </div>
                                            </div>
                                        </div>
                                        <p ngClass="accepted-file-text">نوع الملف المقبول: .doc ، .pdf ، .jpg ، .jpeg ، .png</p>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="list-property-header">
                                <h5 ngClass="h5-heading">صور وفيديوهات العقار</h5>
                                <p>يرجى تأكيد بعض الحقائق عن العقار</p>
                            </div>
                            <div ngClass="list-new-proerty-cntnt">
                                <div ngClass="propery-pictures-sec">
                                    <h5 ngClass="h5-heading">صور العقار</h5>
                                    <div class="inneR-border-wrap position-relative">
                                        <div ngClass="div_thumb-wrapper img_upload">
                                            <label class="btn btn-default p-0 upload-label">
                                                <input type="file" accept=".jpg, .png, .jpeg," multiple
                                                    class="input-file" (change)="selectFiles($event);imgCheck=true" />
                                                <button ngClass="black-upload-btn"><span
                                                        ngClass="plus_icon-div">+</span>تحميل الصور</button>
                                            </label>
                                            <div ngClass="upload-preview-images">
                                                <img *ngFor='let preview of previews' [src]="preview" class="preview">
                                                <img ngClass="img-thumb-icon"
                                                    src="../../../../assets/images/image-gallery-thumbnail.png">
                                            </div>
                                            <div ngClass="image-thumb-cntnt">
                                                <p> درج العقارات التي تحتوي على أكثر من 5 صور على عدد مشاهدات أكبر بمقدار 3 أضعاف.<br />
                                                    المزيد من الصور = المزيد من الفرص لوجود عملاء محتملين</p>
                                                <p>التنسيقات المقبولة هي .jpg و .gif و .bmp و .png والحد الأقصى للحجم المسموح به هو 10 ميغابايت</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ngClass="propery-videos-sec">
                                    <h5 ngClass="h5-heading">مقاطع الفيديو الخاصة بالعقار</h5>
                                    <div class="inneR-border-wrap position-relative">
                                        <div ngClass="div_thumb-wrapper img_upload">
                                            <label class="btn btn-default p-0 upload-label">
                                                <input type='file' accept=".mp4, .mpeg, .flv, mov, swf" multiple
                                                    (change)="onSelectFile($event);videoCheck=true" />
                                                <button ngClass="black-upload-btn"><span
                                                        ngClass="plus_icon-div">+</span>تحميل الفيديو</button>
                                            </label>
                                            <div ngClass="upload-preview-images">
                                                <video [src]="url" *ngIf="format==='video' && url"></video>
                                                <img ngClass="img-thumb-icon"
                                                    src="../../../../assets/images/image-gallery-thumbnail.png">
                                            </div>
                                            <div ngClass="image-thumb-cntnt">
                                                <p>عند إدراج فيديو مع عقارك تحصل على عدد مشاهدات أكثر بثلاث مرات<br />الفيديو = فرص أكبر للعملاء المتوقعين.</p>
                                                <p>التنسيقات المقبولة هي MPEG و FLV و MOV و SWF والحد الأقصى للحجم المسموح به هو 30 ميغابايت</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ngClass="or-divider-div text-center">
                                    <p>أو</p>
                                </div>
                                <div ngClass="property-offers">
                                    <div ngClass="row">
                                        <div ngClass="col-sm-12">
                                            <h6 ngClass="h6-design">رابط الفيديو</h6>
                                            <div ngClass="textarea-design">
                                                <mat-form-field class="full-width input-design" appearance="fill">
                                                    <mat-label>الصق Youtube / Vemio أو أي رابط فيديو أدناه</mat-label>
                                                    <input matInput formControlName="videoLink" type="text"
                                                        (change)="videoCheck=true" placeholder="Eg. https://www.YT.com">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ngClass="text-right save-continue-sec">
                            <mat-card-actions>
                                <a routerLink="/ar/add-property/listpropertyinfo" ngClass="back-btn">خلف</a>
                            </mat-card-actions>
                            <mat-card-actions>
                                <button mat-raised-button type="submit" ngClass="submit-btn"
                                    (click)="onSubmit()">{{btnText}}</button>
                            </mat-card-actions>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<app-loader *ngIf="showLoader"></app-loader>
<app-erroralert [error]="error" (errorResponse)="errorResponse($event)" *ngIf="showError"></app-erroralert>