<app-header2></app-header2>
<section ngClass="list-properties-sec">
    <div ngClass="listing-container">
        <div ngClass="heading-title-sec text-center">
            <h2>أعلن عن عقار جديد</h2>
            <p>تحقق من تعبئة جميع الحقول اللازمة وتحميل جميع الملفات المطلوبة.</p>
        </div>
        <div ngClass="listing-property-form-sec">
            <div ngClass="listing-property-ul">
                <mat-list>
                    <mat-list-item ngClass="active"> <a routerLink="/ar/listingproperty"><span ngClass="">1</span>معلومات العقار</a> </mat-list-item>
                    <mat-list-item ngClass="active"><a routerLink=""><span ngClass="">2</span> معلومات الإعلان</a>
                    </mat-list-item>
                    <mat-list-item ngClass="active"> <a routerLink=""><span ngClass="">3</span> وسائل الإعلام</a>
                    </mat-list-item>
                    <mat-list-item ngClass="disabled"> <a routerLink=""><span ngClass="">4</span> نشر</a>
                    </mat-list-item>
                </mat-list>
            </div>
            <div ngClass="list-property-content">
                <div ngClass="list-property-body">
                    <div ngClass="new-listd-property-info">
                        <div ngClass="row">
                            <div ngClass="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                                <div class="new-proprty-details">
                                    <h5 class="proname">{{priviousFormCheck.BuildingName}}</h5>
                                    <address>{{priviousFormCheck.PropertyAddress}}</address>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                <div ngClass="proprty-units">
                                    <p>هذا المبنى مدرج أيضًا في اوفاليوت </p>
                                    <div ngClass="row">
                                        <div ngClass="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                            <p ngClass="no-units-p"><span
                                                    ngClass="unit-no">{{propertyListingBuy}}</span>وحدات للبيع</p>
                                        </div>
                                        <div ngClass="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                            <p ngClass="no-units-p"><span
                                                    ngClass="unit-no">{{propertyListingRent}}</span> وحدات للإيجار</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="package-detiails-div d-flex justify-content-spacebw">
                                    <div class="packaged-details-left">
                                        <p>Current Package Name</p>
                                        <h6>المعايير</h6>
                                    </div>
                                    <div class="packaged-details-right">
                                        <button class="upgrade-btn">Upgrade Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="SubmitForm">
                        <div ngClass="form-border-wrapper">
                            <div ngClass="list-property-header">
                                <h5 ngClass="h5-heading">تحقق من العقار</h5>
                                <p>يرجى تأكيد بعض الحقائق عن العقار</p>
                            </div>
                            <div ngClass="list-property-header">
                                <h5 ngClass="h5-heading">صور وفيديوهات العقار</h5>
                                <p>يرجى تأكيد بعض الحقائق عن العقار</p>
                            </div>
                            <div ngClass="list-new-proerty-cntnt">
                                <div ngClass="propery-pictures-sec">
                                    <h5 ngClass="h5-heading">صور العقار</h5>
                                    <div class="inneR-border-wrap position-relative">
                                        <div ngClass="div_thumb-wrapper img_upload">
                                            <label class="btn btn-default p-0 upload-label">
                                                <input type="file" accept=".jpg, .png, .jpeg, .mp4" multiple
                                                    class="input-file image-input" (change)="selectFiles($event);imgCheck=true" />
                                                <button ngClass="black-upload-btn"><span
                                                        ngClass="plus_icon-div">+</span>رفع الصور</button>
                                            </label>
                                            <div class="thumbnail_img">
                                            <img *ngIf="previews.length == 0" ngClass="img-thumb-icon"
                                            src="../../../../assets/images/image-gallery-thumbnail.png">
                                            </div>
                                            <div ngClass="upload-preview-images position-relative">
                                                <span *ngFor='let preview of previews; let i = index'>
                                                    <button class="dlt-img" (click)="removeImage(i)">
                                                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M16.875 4.38281H3.125" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M8.125 8.12109V13.1211" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M11.875 8.12109V13.1211" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M15.625 4.38281V16.2578C15.625 16.4236 15.5592 16.5825 15.4419 16.6998C15.3247 16.817 15.1658 16.8828 15 16.8828H5C4.83424 16.8828 4.67527 16.817 4.55806 16.6998C4.44085 16.5825 4.375 16.4236 4.375 16.2578V4.38281" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"/>
                                                            <path d="M13.126 4.37305V3.12305C13.126 2.79153 12.9943 2.47358 12.7599 2.23916C12.5254 2.00474 12.2075 1.87305 11.876 1.87305H8.12598C7.79446 1.87305 7.47651 2.00474 7.24209 2.23916C7.00767 2.47358 6.87598 2.79153 6.87598 3.12305V4.37305" stroke="#fff" stroke-linecap="round" stroke-linejoin="round"/>
                                                            </svg>                                                        
                                                    </button>
                                                    <img [src]="preview" class="preview" (click)="changeMainImg(i)">
                                                    <p class="main_pic-tag" [ngClass]="i == mainImage ? '' : 'hide' ">الصورة الرئيسية</p>
                                                </span>
                                            </div>
                                            <div ngClass="image-thumb-cntnt">
                                                <p>العقارات التي تحتوي أكثر من 5 صور تحصل على عدد مشاهدات أكبر بمقدار 3 أضعاف. 
                                                    <br />
                                                    المزيد من الصور = فرص أكبر للعملاء المتوقعين.</p>
                                                <p>التنسيقات المقبولة هي .jpg و .gif و .bmp و .png والحد الأقصى للحجم المسموح به هو 2 ميغابايت لكل صورة</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ngClass="propery-videos-sec" *ngIf="packageData.videoInListing">
                                    <h5 ngClass="h5-heading">فيديو للعقار</h5>
                                    <div class="inneR-border-wrap position-relative">
                                        <div ngClass="div_thumb-wrapper img_upload">
                                            <label class="btn btn-default p-0 upload-label">
                                                <input type='file' accept=".mp4, .mpeg, .flv, mov, swf" multiple
                                                    (change)="onSelectFile($event);videoCheck=true" />
                                                <button ngClass="black-upload-btn"><span
                                                        ngClass="plus_icon-div">+</span>رفع الفيديو</button>
                                            </label>
                                            <div ngClass="upload-preview-images">
                                                <video [src]="url" *ngIf="format==='video' && url"></video>
                                                <img ngClass="img-thumb-icon"
                                                    src="../../../../assets/images/image-gallery-thumbnail.png">
                                            </div>
                                            <div ngClass="image-thumb-cntnt">
                                                <p>تحصل قوائم العقارات مع الفيديو على عدد مشاهدات أكثر بثلاث مرات.<br /> Video = Higher
                                                    chances of Leads.</p>
                                                <p>التنسيقات المقبولة هي MPEG و FLV و MOV و SWF والحد الأقصى للحجم المسموح به هو 30 ميغابايت

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ngClass="or-divider-div text-center" *ngIf="packageData.videoInListing">
                                    <p>أو</p>
                                </div>
                                <div ngClass="property-offers mb-4" *ngIf="packageData.videoInListing">
                                    <div ngClass="row">
                                        <div ngClass="col-sm-12">
                                            <h6 ngClass="h6-design">رابط الفيديو</h6>
                                            <div ngClass="textarea-design">
                                                <mat-form-field class="full-width input-design" appearance="fill">
                                                    <mat-label>الصق رابط Youtube / Vemio أو أي رابط فيديو هنا</mat-label>
                                                    <input matInput formControlName="videoLink" type="text"
                                                        (change)="videoCheck=true" placeholder="Eg. https://www.example.com">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ngClass="property-offers" *ngIf="packageData.videoTour360">
                                    <div ngClass="row">
                                        <div ngClass="col-sm-12">
                                            <h6 ngClass="h6-design">360 رابط فيديو</h6>
                                            <div ngClass="textarea-design">
                                                <mat-form-field class="full-width input-design" appearance="fill">
                                                    <mat-label>الصق رابط الفيديو هنا</mat-label>
                                                    <input matInput formControlName="videoLink" type="text"
                                                        (change)="videoCheck=true" placeholder="Eg. https://www.example.com">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ngClass="text-right save-continue-sec">
                            <mat-card-actions>
                                <a routerLink="/ar/add-property/listpropertyinfo" ngClass="back-btn">للخلف</a>
                            </mat-card-actions>
                            <mat-card-actions>
                                <button mat-raised-button type="submit" ngClass="submit-btn"
                                    (click)="onSubmit()">{{btnText}}</button>
                            </mat-card-actions>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<app-loader *ngIf="showLoader"></app-loader>
<app-erroralert [error]="error" (errorResponse)="errorResponse($event)" *ngIf="showError"></app-erroralert>