<div class="alert_box-design" [ngClass]="hideAlertNg ? 'active' : 'hide'">
  <div ngClass="alert-message-wrap position-relative" style="background-image: url('assets/images/icons/Animal.png')">
      <div class="message-block-design">
      <h2>Success!</h2>
      <p>Your message has been sent. Our agent will get back to you soon.</p>
      <button ngClass="ok-btn" (click)="sendData()">Ok</button>
      </div>
      <div class="close-icon">
          <button class="close" (click)="sendData()"><mat-icon>close</mat-icon></button>
      </div>
  </div>
</div>