<app-header></app-header>
<section [ngClass]="'slide-left-bar ads-page-sec'">
    <section [ngClass]="'ads-banner-wrapper'">
        <div [ngClass]="'container_1280px'">
            <div ngClass="heading-title-sec text-center">
                <h2>أوفالويت الإعلانات مبوب</h2>
                <p>قم بتضمين أكبر قدر ممكن من التفاصيل والصور ، وحدد السعر المناسب!</p>
            </div>
        </div>
    </section>
    <section class="ads-form-design-section" style="background-image: url('assets/images/background/bg-1.png');">
        <div class="container_1280px">
            <div class="ads-form-design">
                <form>
                    <div class="list-property-header">
                        <h5 class="h5-heading">أنت تقريبا!</h5>
                    </div>
                    <div class="attraction-block-wrap text-center">
                        <img src="{{advertize}}">
                        <p>جذب المزيد من المشترين مع شارة تقرير سيارة مجانية <br>أدخل رقم فين / الشاسيه الخاص بك</p>
                        <div ngClass="block-wrapper mb-4 position-relative icon-right-input">
                            <mat-form-field class="full-width input-design-2" appearance="fill">
                                <input matInput type="text" placeholder="أدخل رقم فين / الشاسيه الخاص بك"
                                    lang="en" />
                            </mat-form-field>
                            <button class="abs-btn-icn" (click)="clickEvent1()"><img src="{{info}}"></button>
                            <p class="p-text hide" [ngClass]="status1 ? 'active' : 'notactive'">لن يظهر هذا الرقم في إعلانك</p>
                    </div>
                    </div>
                    <div class="lsiting-summary-block mb-3">
                        <div class="listing-summary">
                        <h6 class="h6-design">ملخص القائمة</h6>
                        <a routerLink="">تحرير</a>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                                <div class="pro-details-info-blocks">
                                    <h6>نموذج</h6>
                                    <p>بورش 911</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                                <div class="pro-details-info-blocks">
                                    <h6>تقليم</h6>
                                    <p>قياسي</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                                <div class="pro-details-info-blocks">
                                    <h6>المواصفات الإقليمية</h6>
                                    <p>مواصفات دول مجلس التعاون الخليجي</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                                <div class="pro-details-info-blocks">
                                    <h6>السنة</h6>
                                    <p>2010</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                                <div class="pro-details-info-blocks">
                                    <h6>الأميال</h6>
                                    <p>95,000 كم</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                                <div class="pro-details-info-blocks">
                                    <h6>السعر</h6>
                                    <p>إ.د 67,000</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                                <div class="pro-details-info-blocks">
                                    <h6>رقم الهاتف</h6>
                                    <p>050891111111</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngClass="propery-pictures-sec mb-4">
                        <div class="inneR-border-wrap position-relative">
                            <div ngClass="div_thumb-wrapper img_upload">
                                <label class="btn btn-default p-0 upload-label">
                                    <input type="file" accept=".jpg, .png, .jpeg," multiple
                                        class="input-file" />
                                    <button ngClass="black-upload-btn"><span
                                            ngClass="plus_icon-div">+</span> تحميل الصور</button>
                                </label>
                                <div ngClass="upload-preview-images">
                                    <img ngClass="img-thumb-icon"
                                        src="../../../../assets/images/image-gallery-thumbnail.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                            <div ngClass="block-wrapper mb-3">
                                    <label>عنوان</label>
                                    <mat-form-field class="full-width input-design-2" appearance="fill">
                                        <input matInput type="text" placeholder="أدخل العنوان"
                                            lang="en" />
                                    </mat-form-field>
                            </div>
                        </div>
                        <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                            <div ngClass="block-wrapper mb-3 position-relative optional-text">
                                    <label>360 رابط الجولة</label>
                                    <mat-form-field class="full-width input-design-2" appearance="fill">
                                        <input matInput type="text" placeholder="360 رابط الجولة"
                                            lang="en" />
                                    </mat-form-field>
                                    <span class="optional-span">*اختيارية</span>
                                    <p class="option-info-text">تعرف على المزيد حول مقدمي الرحلات المقبولين من 360</p>
                            </div>
                        </div>
                        <div ngClass="col-xl-12 col-lg-12 col-sm-12">
                            <div ngClass="block-wrapper mb-3">
                                    <label>وصف السيارات المستعملة للبيع</label>
                                    <mat-form-field class="full-width input-design-2" appearance="fill">
                                    <textarea matInput placeholder="وصف السيارات المستعملة للبيع"></textarea>
                                    </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div ngClass="select-boxes">
                        <div ngClass="row">
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>نوع الوقود</label>
                                        <select class="select2 country-select">
                                            <option value="0"> اختر نوع الوقود</option>
                                            <option>البنزين</option>
                                            <option>ديزل</option>
                                            <option>غاز البترول المسال / الغاز</option>
                                            <option>الهيدروجين</option>
                                            <option>الكهربائية</option>
                                            <option>الهجين</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>حالة الجسم</label>
                                        <select class="select2 country-select">
                                            <option value="0"> حدد حالة الجسم</option>
                                            <option>قابلة للتحويل</option>
                                            <option>كوبيه</option>
                                            <option>هاتشباك</option>
                                            <option>سيارات الدفع الرباعي</option>
                                            <option>سيدان</option>
                                            <option>شاحنة</option>
                                            <option>فان / ميني فان</option>
                                            <option>ستيشن واغن</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>حالة ميكانيكية</label>
                                        <select class="select2 country-select">
                                            <option value="0"> اختر</option>
                                            <option class="country-item">قياسي</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>اللون</label>
                                        <select class="select2 country-select">
                                            <option value="0"> اختر</option>
                                            <option>أبيض</option>
                                            <option>أسود</option>
                                            <option>أحمر</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>الضمان</label>
                                        <select class="select2 country-select">
                                            <option value="0"> اختر</option>
                                            <option>10 السنوات</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>الأبواب</label>
                                        <select class="select2 country-select">
                                            <option value="0"> اختر</option>
                                            <option>2</option>
                                            <option>4</option>
                                            <option>6</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design full-width-select2">
                                        <label>لا. من الاسطوانات</label>
                                        <select class="select2 country-select">
                                            <option value="0"> اختر</option>
                                            <option>2</option>
                                            <option>4</option>
                                            <option>6</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design full-width-select2">
                                        <label>نوع الإرسال</label>
                                        <select class="select2 country-select">
                                            <option value="0"> اختر</option>
                                            <option>تلقائي</option>
                                            <option>دليل</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design full-width-select2">
                                        <label>نوع الجسم</label>
                                        <select class="select2 country-select">
                                            <option value="0"> اختر</option>
                                            <option>سيارات الدفع الرباعي</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design full-width-select2">
                                        <label>حصان</label>
                                        <select class="select2 country-select">
                                            <option value="0"> اختر</option>
                                            <option>1000 حصان</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design full-width-select2">
                                        <label>جانب التوجيه</label>
                                        <select class="select2 country-select">
                                            <option value="0"> اختر</option>
                                            <option>الجانب الأيسر</option>
                                            <option>الجانب الأيمن</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <label>إضافات</label>
                                    <div ngClass="cstm_dropdown-list dropdown-design-2 position-relative drodown_with-img">
                                        <button ngClass="drop-down_btn" (click)="clickEvent2()">التخصصات</button>
                                        <div class="cstm_dropdown-menu" [ngClass]="status2 ? 'active' : 'notactive'">
                                            <ul ngClass="list-unstyled residentails-unit-list">
                                                <li ngClass="d-flex position-relative">
                                                    <div>
                                                        <input checked type="radio" name="ExpertIn"
                                                            value="English">
                                                        <span ngClass="property_sel"></span>
                                                    </div>
                                                    <div ngClass="proprty_name">
                                                        <p>التحكم في المناخ</p>
                                                    </div>
                                                </li>
                                                <li ngClass="d-flex position-relative">
                                                    <div>
                                                        <input checked type="radio" name="ExpertIn"
                                                            value="English">
                                                        <span ngClass="property_sel"></span>
                                                    </div>
                                                    <div ngClass="proprty_name">
                                                        <p>التحكم في المناخ</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <button (click)="clickEvent2()" ngClass="overlay_dropdown-btn"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div ngClass="col-xl-12 col-lg-12 col-sm-12">
                            <div ngClass="block-wrapper mb-3 position-relative optional-text">
                                    <label>حدد موقع سيارتك</label>
                                    <mat-form-field class="full-width input-design-2" appearance="fill">
                                        <input matInput type="text" placeholder="حدد موقع سيارتك"
                                            lang="en" />
                                    </mat-form-field>
                                    <span class="optional-span">*اختياري</span>
                            </div>
                        </div>
                    </div>
                    <div ngClass="address-sec">
                        <div ngClass="block-wrapper-address">
                            <label class="h6-design">هو دبوس في الموقع الصحيح? </label>
                            <p class="under-label-text">انقر واسحب الدبوس إلى المكان المحدد. من المرجح أن يستجيب المستخدمون للإعلانات التي تظهر بشكل صحيح على الخريطة</p>
                            <div ngClass="position-relative">
                                <div style="width: 100%;">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d462562.6509516108!2d54.94729613679833!3d25.07575945545691!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43496ad9c645%3A0xbde66e5084295162!2sDubai%20-%20United%20Arab%20Emirates!5e0!3m2!1sen!2sin!4v1666784711777!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                            <p class="under-label-text">تأكد من صحة معلومات السيارة التي أدخلتها. ستتمكن فقط من إجراء تغييرات محددة بمجرد نشر الإعلان.</p>
                        </div>
                    </div>
                    <div class="text-right save-continue-sec justify-content-center">
                        <mat-card-actions>
                            <button class="save-continue-btn cursor-pointer">ادفع الآن</button>
                        </mat-card-actions>
                    </div>
                </form>
            </div>
        </div>
    </section>
<app-footer></app-footer>
</section>                                   