<app-header2></app-header2>
<section ngClass="auth-wrapper">
    <div ngClass="form-design thanku-page">
        <div ngClass="wecome-message">
            <h2>Thank You!</h2>
            <p>Welcome to Ovaluate! <br />
                We have received your request to list as {{userType}}</p>
            <p>It is under the approval process <br />
                & will take upto 48 hrs. you will be notify
                via email or SMS. </p>
            <p>Untill then you can explore our platform as a customer.</p>
            <a routerLink="" ngClass="submit-btn">Continue as Customer</a>
        </div>
    </div>
</section>