<div class="back-tag-hide">
<app-header2></app-header2>
</div>
<section ngClass="list-properties-sec">
    <div ngClass="listing-container">
        <div ngClass="heading-title-sec text-center">
            <h2>أعلن عن عقار جديد</h2>
            <p>تأكد من ملء جميع الحقول اللازمة وتحميل جميع الملفات المطلوبة.</p>
        </div>
        <div ngClass="listing-property-form-sec pusblished-sec">
            <div ngClass="listing-property-ul">
                <mat-list>
                    <mat-list-item ngClass="active"> <a routerLink="/ar/listingproperty"><span ngClass="">1</span>معلومات العقار</a> </mat-list-item>
                    <mat-list-item ngClass="active"><a routerLink=""><span ngClass="">2</span>معلومات الإدراج</a>
                    </mat-list-item>
                    <mat-list-item ngClass="active"> <a routerLink=""><span ngClass="">3</span>وسائل الإعلام</a>
                    </mat-list-item>
                    <mat-list-item ngClass="active"> <a routerLink=""><span ngClass="">4</span>نشر</a>
                    </mat-list-item>
                </mat-list>
            </div>
            <div ngClass="list-property-content">
                <div ngClass="list-property-body">
                    <form action="">
                        <div ngClass="form-border-wrapper">
                            <div ngClass="list-property-header">
                                <h5 ngClass="h5-heading">نشرت</h5>
                                <p>يرجى تأكيد بعض الحقائق عن العقار</p>
                            </div>
                            <div ngClass="succesfully-addd-property">
                                <div ngClass="checkmark_icon">
                                    <img src="{{checkmark}}">
                                </div>
                                <h2>تمت إضافة عقارك بنجاح</h2>
                                <p>لقد تلقينا تفاصيل عقارك وسيتم عرضه بعد إجراء فحوصات الجودة في غضون 48 ساعة القادمة.
سيصلك إشعار بذلك عن طريق البريد الإلكتروني أو الرسائل القصيرة</p>
                            </div>
                            <div ngClass="list-new-proerty-cntnt">
                                <div ngClass="publishing-pictures-sec">
                                    <div ngClass="new_listing-btn">
                                        <button routerLink="/ar/profile/my-listing" ngClass="blue-listing-btn mb-3">عرض القوائم الخاصة بك</button>
                                        <button routerLink="/ar/add-property/listingproperty" ngClass="blue-listing-btn"><span
                                                ngClass="plus_icon-div">+</span>إدراج المزيد من العقارات</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>