<div ngClass="tab-form-sec rent-form">
  <form>
    <div ngClass="flex-row">
      <div ngClass="flex-column flex-column-1">
        <div ngClass="form-grouph input-design floating-label position-relative">
          <label>Search by</label>
          <input type="text" placeholder="Location, Project Name">
        </div>
      </div>
      <div ngClass="flex-column flex-column-2">
        <div ngClass="property-type-button">
          <div ngClass="dropdown">
            <button type="button" ngClass="btn dropdown-toggle" data-bs-toggle="dropdown">
              Looking For
            </button>
            <div ngClass="dropdown-menu" id="property-type-sec">
              <h5 ngClass="h5-heading">Looking for</h5>
              <div ngClass="property-types-heading">
                <ul ngClass="nav nav-tabs" role="tablist">
                  <li ngClass="nav-item">
                    <a ngClass="nav-link active" data-bs-toggle="tab" href="#buy-looking"><span ngClass="circle-celection"></span> Buy</a>
                  </li>
                  <li ngClass="nav-item">
                    <a ngClass="nav-link" data-bs-toggle="tab" href="#rent-lease"><span ngClass="circle-celection"></span> Rent/Lease</a>
                  </li>
                </ul>
              </div>
              <div ngClass="property-types-cntnts">
                <div ngClass="tab-content">
                  <div id="buy-looking" ngClass="tab-pane active">
                    <h5 ngClass="h5-heading">Commercial Unit Type</h5>
                    <ul ngClass="list-unstyled residentails-unit-list">
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Office Space">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Office Space</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Shop">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Shop</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Retail">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Retail</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Land">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Land</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Industrial Land">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Industrial Land</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Agricultural Land">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Agricultural Land</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Showroom">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Showroom</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Factory">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Factory</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Whole Building">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Whole Building</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Warehouse">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Warehouse</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div id="rent-lease" ngClass="tab-pane fade">
                    <h5 ngClass="h5-heading">Commercial Unit Type</h5>
                    <ul ngClass="list-unstyled residentails-unit-list">
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Office Space">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Office Space</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Shop">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Shop</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Retail">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Retail</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Land">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Land</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Industrial Land">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Industrial Land</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Agricultural Land">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Agricultural Land</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Showroom">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Showroom</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Factory">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Factory</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Whole Building">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Whole Building</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Co-Working Space">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Co-Working Space</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Business Centre">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Business Centre</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Warehouse">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Warehouse</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Labor Camp">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Labor Camp</p>
                        </div>
                      </li>
                      <li ngClass="d-flex">
                        <div ngClass="position-relative">
                          <input type="checkbox" name="Staff Accomodation">
                          <span ngClass="property_sel"></span>
                        </div>
                        <div ngClass="proprty_name">
                          <p>Staff Accomodation</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ngClass="flex-column flex-column-3">
        <div ngClass="budget-button">
          <div ngClass="dropdown">
            <button type="button" ngClass="btn dropdown-toggle" data-bs-toggle="dropdown">
              Budget
            </button>
            <div ngClass="dropdown-menu" id="budget-dropdown">
              <div ngClass="price-range_sec">
                <h5 ngClass="h5-heading">Price Range</h5>
                <div ngClass="price-range-wrap">
                  <div ngClass="wrapper">
                    <div ngClass="extra-controls form-inline">
                      <div ngClass="form-group">
                        <input type="text" ngClass="js-input-from form-control" value="0" />
                        <input type="text" ngClass="js-input-to form-control" value="0" />
                      </div>
                    </div>
                    <div ngClass="range-slider">
                      <input type="text" ngClass="js-range-slider" value="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ngClass="flex-column flex-column-4">
        <a href="https://dx1.in/ovaluate/master-map-view-1.html" ngClass="search-btn"><img src="assets/images/search.svg"></a>
      </div>
    </div>
  </form>
</div>
