.looking-for-div {
    background-color: #fff;
    text-align: center;
    padding: 25px;
    box-shadow: 0px 0px 33px -21px grey;
    border-radius: 15px;
}
.ads-page-sec {
    padding-top: 60px;
    padding-bottom: 60px;
}
.ads-page-sec .ads-banner-wrapper {
    margin-bottom: 50px;
}
.looking-for-div .looking-for-img {
    height: 200px;
    width: 200px;
    margin-left: auto;
    border-radius: 50%;
    background-color: whitesmoke;
    margin-bottom: 30px;
    margin-right: auto;
    padding: 20px;
    background-color: #f5f7f8;
}
.looking-for-div .looking-for-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.looking-for-cntnt .looking-for-btn {
    display: block;
    background-color: #4a565f;
    color: #fff;
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}
.looking-for-cntnt p {
    margin-bottom: 0px;
    font-size: 14px;
}
.looking-for-cntnt .looking-for-btn:hover{
    background-color: #3e4861;
}
