<header>
    <app-second-header></app-second-header>
</header>
<section ngClass="new-message-screendesign">
  <div ngClass="container_1280px">
      <div ngClass="new-msg-div-block text-center">
        <img src="{{messageimg}}">
      </div>
      <div ngClass="heading-24px-design text-center">
        <h2>Messages</h2>
        <p>Messages is a feature that helps you converse with applicants and landlords. Let’s send your first message.</p>
        <a routerLink="/chat" ngClass="new_msg-btn">New Message</a>
      </div>
  </div>
</section>