.new-message-screendesign {
    padding: 60px 0px;
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
}
.new-message-screendesign .heading-24px-design {
    width: 100%;
    max-width: 315px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
}
.new-message-screendesign .heading-24px-design p {
    color: #6C727F;
}
.new-message-screendesign .heading-24px-design .new_msg-btn {
    font-size: 16px;
    color: #fff;
    border-radius: 8px;
    background: #7065F0;
    display: block;
    max-width: 157px;
    margin: 30px auto 0 auto;
    padding: 12px;
}
.new-message-screendesign .heading-24px-design .new_msg-btn:hover {
    background: #1c1c71;
}