<div class="light-theme dashboard-data-sec">
    <!-- <app-header></app-header> -->
    <div class="dashboard-reports-inner-wrapper">
        <div class="container">
            <div class="dashboard-data-main-wrapper">
                <div class="dashboard-data-scnd-header">
                   
                </div>
            <div class="dashboard-data-main-contents">
             <div class="dashboard-dat-filter-box">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-input-box">
                            <mat-form-field>
                                <mat-label>Enter a date range</mat-label>
                                <mat-date-range-input [rangePicker]="picker">
                                  <input matStartDate matInput placeholder="Start date">
                                  <input matEndDate matInput placeholder="End date">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-select-box">
                            <mat-form-field class="example-chip-list searh_input-design mat-inner-chip-design" appearance="fill">
                                <mat-label>Property Type</mat-label>
                                <mat-chip-list #chipList aria-label="selection">
                                <div ngClass="mat-chip-input-limited">
                                  <mat-chip
                                    *ngFor="let community of communityfield"
                                    (removed)="remove(community)">
                                    {{community}}
                                    <button matChipRemove>
                                      <mat-icon>cancel</mat-icon>
                                    </button>
                                  </mat-chip>
                                  </div>
                                  <input
                                    placeholder="Add Property Type..."
                                    #fruitInput
                                    [formControl]="CommunityCtrl"
                                    [matAutocomplete]="auto"
                                    [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    (matChipInputTokenEnd)="add($event)">
                                </mat-chip-list>
                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                    <div ngClass="mat-chip-inner-container">
                                        <mat-chip
                                          *ngFor="let community of communityfield"
                                          (removed)="remove(community)">
                                          {{community}}
                                          <button matChipRemove>
                                            <mat-icon>cancel</mat-icon>
                                          </button>
                                        </mat-chip>
                                        </div>
                                  <mat-option *ngFor="let community of filteredcommunity | async" [value]="community">
                                    {{community}}
                                  </mat-option>
                                </mat-autocomplete>
                                <span ngClass="mat_indicators-counts" *ngIf="communityfield.length > 0">{{communityfield.length}}</span>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-select-box">
                            <mat-form-field class="example-chip-list searh_input-design mat-inner-chip-design" appearance="fill">
                                <mat-label>Community</mat-label>
                                <mat-chip-list #chipList aria-label="selection">
                                <div ngClass="mat-chip-input-limited">
                                  <mat-chip
                                    *ngFor="let community of communityfield"
                                    (removed)="remove(community)">
                                    {{community}}
                                    <button matChipRemove>
                                      <mat-icon>cancel</mat-icon>
                                    </button>
                                  </mat-chip>
                                  </div>
                                  <input
                                    placeholder="Add Community..."
                                    #fruitInput
                                    [formControl]="CommunityCtrl"
                                    [matAutocomplete]="auto"
                                    [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    (matChipInputTokenEnd)="add($event)">
                                </mat-chip-list>
                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                    <div ngClass="mat-chip-inner-container">
                                        <mat-chip
                                          *ngFor="let community of communityfield"
                                          (removed)="remove(community)">
                                          {{community}}
                                          <button matChipRemove>
                                            <mat-icon>cancel</mat-icon>
                                          </button>
                                        </mat-chip>
                                        </div>
                                  <mat-option *ngFor="let community of filteredcommunity | async" [value]="community">
                                    {{community}}
                                  </mat-option>
                                </mat-autocomplete>
                                <span ngClass="mat_indicators-counts" *ngIf="communityfield.length > 0">{{communityfield.length}}</span>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-select-box">
                            <label>District:</label>
                            <select class="nice-select form-control">
                                <option value="Dubai">Dubai</option>
                                <option value="Abu Dhabi">Abu Dhabi</option>
                                <option value="Ajman">Ajman</option>
                                <option value="Fujairah">Fujairah</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-select-box">
                            <label>Community:</label>
                            <select class="nice-select form-control">
                                <option value="Dubai">Community</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-select-box">
                            <label>Transactions:</label>
                            <select class="nice-select form-control">
                                <option value="Dubai">Transactions</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-select-box">
                            <label>Developer:</label>
                            <select class="nice-select form-control">
                                <option value="Dubai">Developer</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-select-box">
                            <label>No. Bedroom:</label>
                            <select class="nice-select form-control">
                                <option value="Dubai">Developer</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mt-4 mb-3">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-input-box">
                            <label>GISID/Plot No/Affection Plan</label>
                            <input type="number" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-input-box">
                            <label>LAND USE</label>
                            <input type="text" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-input-box">
                            <label>AREA</label>
                            <input type="number" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-input-box">
                            <label>FAR</label>
                            <input type="number" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-input-box">
                            <label>BLD AGE</label>
                            <input type="number" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-input-box">
                            <label>AVG PER SQM</label>
                            <input type="number" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-input-box">
                            <label>AVG PER GFA</label>
                            <input type="number" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-input-box">
                            <label>WEIGHTED ESTIMATED VALUE</label>
                            <input type="number" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-input-box">
                            <label>NOI</label>
                            <input type="number" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-input-box">
                            <label>Cap.Rate</label>
                            <input type="number" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-input-box">
                            <label>ROI</label>
                            <input type="number" name="" id="" class="form-control">
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                        <div class="dashboard-data-input-box">
                            <label>Ratio</label>
                            <input type="number" name="" id="" class="form-control">
                        </div>
                    </div>
                </div>
             </div>
             <div class="dashboard-data-blue-boxes mt-3">
                <div class="row dashbpard-reports-inof-blocks">
                    <div class="col-xl-3 p-2">
                        <div class="card bg-2">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h6 class="text-small">Ready Property Transactions</h6>
                                    <p style="margin-bottom: 12px;"></p>
                                    <div class="custom-box">
                                        <span>
                                            <h3>12,272</h3>
                                            <p>NO OF TRANSACTIONS</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 p-2">
                        <div class="card bg-3">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h6 class="text-small">Off-plan property transactions</h6>
                                    <p style="margin-bottom: 12px;"></p>
                                    <div class="custom-box">
                                        <span>
                                            <h3>12,272</h3>
                                            <p>NO OF TRANSACTIONS</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 p-2">
                        <div class="card bg-2">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h6 class="text-small">Sales listings </h6>
                                    <div class="custom-box">
                                        <span>
                                            <h3>12,272</h3>
                                            <p>NO OF TRANSACTIONS</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 p-2">
                        <div class="card bg-3">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h6 class="text-small">Rent listings</h6>
                                    <div class="custom-box">
                                        <span>
                                            <h3>155,014</h3>
                                            <p>NO OF LISTINGS</p>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            </div>
            </div>
        </div>
        <div class="dahboard-data-f0oter">
            <footer>
                <p class="text-center text-muted mb-0">Copyright &#169; <a routerLink="">Ovaluate</a></p>
            </footer>
        </div>
    </div>
    </div>