<app-header></app-header>
<section [ngClass]="'inner-cntnt-wrapper slide-left-bar'">
    <section [ngClass]="'buy-sell-form-sec'">
        <div [ngClass]="'container_1220px'">
            <div [ngClass]="'blue-heading text-left'">
                <h2>تصفح، اكتشف، <br>اتخذ القرار الصحيح</h2>
            </div>
            <div ngClass="buy-sell-wrapepr-forms">
                <div ngClass="form_tabs">
                    <ul ngClass="nav nav-tabs" role="tablist">
                        <li ngClass="nav-item">
                            <a ngClass="nav-link active" data-bs-toggle="tab" href="#rent">إيجار</a>
                        </li>
                        <li ngClass="nav-item">
                            <a ngClass="nav-link" data-bs-toggle="tab" href="#buy">شراء</a>
                        </li>
                        <li ngClass="nav-item">
                            <a ngClass="nav-link" data-bs-toggle="tab" href="#find-agents">ابحث عن وسيط</a>
                        </li>
                        <li ngClass="nav-item">
                            <a ngClass="nav-link" data-bs-toggle="tab" href="#find-companies">ابحث عن شركات</a>
                        </li>
                        <li ngClass="nav-item">
                            <a ngClass="nav-link" data-bs-toggle="tab" href="#motors">المحركات</a>
                        </li>
                        <li ngClass="nav-item">
                            <a ngClass="nav-link" data-bs-toggle="tab" href="#services">خدمات</a>
                        </li>
                        <li ngClass="nav-item">
                            <a ngClass="nav-link" data-bs-toggle="tab" href="#community">المنطقة</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div ngClass="tab-content">
                        <div id="rent" ngClass="tab-pane active">
                            <app-rent-search></app-rent-search>
                        </div>
                        <div id="buy" ngClass="tab-pane fade">
                            <app-buy-search></app-buy-search>
                        </div>
                        <div id="find-agents" ngClass="tab-pane fade">
                            <app-find-agent-search></app-find-agent-search>
                        </div>
                        <div id="find-companies" ngClass="tab-pane fade">
                            <app-findcompanies-search></app-findcompanies-search>
                        </div>
                        <div id="motors" ngClass="tab-pane fade">
                            <app-motor-module></app-motor-module>
                        </div>
                        <div id="services" ngClass="tab-pane fade">
                            <app-service-search-module></app-service-search-module>
                        </div>
                        <div id="community" ngClass="tab-pane fade">
                            <app-community-search-module></app-community-search-module>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section ngClass="home-slider-mainsec">
        <div ngClass="property-valuation-sec">
            <div [ngClass]="'container_1220px'">
                <div ngClass="home-slider-sec">
                    <ngb-carousel [showNavigationArrows]="false">
                        <ng-template ngbSlide *ngFor="let event of homebanners">
                            {{event.id}}
                            <div ngClass="home-slider_img">
                                <img [src]="event.img" alt="Random slide">
                            </div>
                            <div ngClass="home-slider_cntnt">
                                <h2>{{event.title}}</h2>
                                <p>{{event.desc}}</p>
                                <a routerLink="/ar/valuation/property-detail">ابدأ التقييم</a>
                            </div>
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </section>
    <section ngClass="wrapper-section properties-slider residentials-property-rent-1">
        <div ngClass="container_1220px">
            <div ngClass="section-title">
                <div ngClass="section-title-left">
                    <h4>عقارات سكنية للإيجار في دبي</h4>
                    <p>اختياراتنا الالأكثر شعبيةة لعقارات قريبة منك</p>
                </div>
                <div ngClass="section-title-right">
                    <ul ngClass="nav nav-tabs" role="tablist">
                        <li ngClass="nav-item">
                            <a ngClass="nav-link active" data-bs-toggle="tab" (click)="oldData1()">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.4912 12.4406C14.7746 14.149 12.3162 14.674 10.1579 13.999L6.23289 17.9156C5.94955 18.2073 5.39122 18.3823 4.99122 18.324L3.17455 18.074C2.57455 17.9906 2.01622 17.424 1.92455 16.824L1.67455 15.0073C1.61622 14.6073 1.80789 14.049 2.08289 13.7656L5.99955 9.84896C5.33289 7.68229 5.84955 5.22396 7.56622 3.51563C10.0246 1.05729 14.0162 1.05729 16.4829 3.51563C18.9496 5.97396 18.9496 9.98229 16.4912 12.4406Z"
                                        stroke="#595ad4" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M5.74121 14.5742L7.65788 16.4909" stroke="#595ad4" stroke-width="2"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M12.083 9.16797C12.7734 9.16797 13.333 8.60833 13.333 7.91797C13.333 7.22761 12.7734 6.66797 12.083 6.66797C11.3927 6.66797 10.833 7.22761 10.833 7.91797C10.833 8.60833 11.3927 9.16797 12.083 9.16797Z"
                                        stroke="#595ad4" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg> {{ RentAr }}</a>
                        </li>
                        <li ngClass="nav-item">
                            <a ngClass="nav-link" data-bs-toggle="tab" (click)="newData1()">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M14.167 17.0846H5.83366C3.33366 17.0846 1.66699 15.8346 1.66699 12.918V7.08464C1.66699 4.16797 3.33366 2.91797 5.83366 2.91797H14.167C16.667 2.91797 18.3337 4.16797 18.3337 7.08464V12.918C18.3337 15.8346 16.667 17.0846 14.167 17.0846Z"
                                        stroke="#100A55" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M10 12.5C11.3807 12.5 12.5 11.3807 12.5 10C12.5 8.61929 11.3807 7.5 10 7.5C8.61929 7.5 7.5 8.61929 7.5 10C7.5 11.3807 8.61929 12.5 10 12.5Z"
                                        stroke="#100A55" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M4.58301 7.91797V12.0846" stroke="#100A55" stroke-width="2"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M15.417 7.91797V12.0846" stroke="#100A55" stroke-width="2"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                </svg> {{ SaleAr }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="no-data-found" *ngIf="dynamicSlides1.length == 0">
                <mat-icon>file_copy</mat-icon>
                <p>عذراً، لا توجد بيانات</p>
            </div>
            <div ngClass="tab-content" *ngIf="dynamicSlides1.length > 0">
                <div id="resedential-rent" class="tab-pane active">
                    <owl-carousel-o [options]="customOptions" ngClass="slider-shadow ">
                        <ng-container *ngFor="let slide of dynamicSlides1">
                            <ng-template carouselSlide [id]="slide.id">
                                <div ngClass="property-item position-relative">
                                    <img src="https://beta.ovaluate.com/{{slide.documents[0].fileUrl}}"
                                        [alt]="slide.propertyTitle" [title]="slide.propertyTitle" />
                                    <div ngClass="brand-logo">
                                        <img src="{{ brandimg }}" alt="" />
                                    </div>

                                    <button
                                        [ngClass]="slide.favorite == true ? 'property-whistlist red-fill' : 'property-whistlist'"
                                        (click)="AddToFavorite(slide.id,slide.favorite,'resedential-old')">
                                        <svg width="22" height="23" viewBox="0 0 22 23" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M4.39376 6.23844C4.02517 6.63167 3.73279 7.0985 3.53331 7.61228C3.33383 8.12605 3.23116 8.67672 3.23116 9.23283C3.23116 9.78894 3.33383 10.3396 3.53331 10.8534C3.73279 11.3672 4.02517 11.834 4.39376 12.2272L11.1699 19.4563L17.946 12.2272C18.6904 11.433 19.1086 10.3559 19.1086 9.23283C19.1086 8.10972 18.6904 7.0326 17.946 6.23844C17.2016 5.44429 16.1919 4.99813 15.1392 4.99813C14.0865 4.99813 13.0768 5.44429 12.3324 6.23844L11.1699 7.47873L10.0073 6.23844C9.63871 5.84521 9.20113 5.53329 8.71954 5.32047C8.23796 5.10766 7.72179 4.99812 7.20053 4.99812C6.67926 4.99812 6.1631 5.10766 5.68152 5.32047C5.19993 5.53329 4.76235 5.84521 4.39376 6.23844V6.23844Z"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                    <div ngClass="property-info">
                                        <span ngClass="property-pricing"><span>{{ slide.propertyPrice }} {{
                                                slide.country.currencyAr }}</span>
                                            <span *ngIf="slide.rentType != null">/{{slide.rentType.nameAr}}</span></span>
                                        <span ngClass="property-name">{{ slide.buildingName }}</span>
                                        <p ngClass="property-location">
                                            <img src="{{ homelocationsvg }}" width="14"
                                                alt="" />{{slide.propertyAddressArabic}}
                                        </p>
                                        <div ngClass="property-details">
                                            <span ngClass="bed" *ngIf="slide.propertyType.hasBed">
                                                <img src="{{ bedsvg }}" alt="" />{{ slide.bedrooms }}
                                                غرفة نوم
                                            </span>
                                            <span ngClass="bath" *ngIf="slide.propertyType.hasBath">
                                                <img src="{{ bathsvg }}" alt="" />{{ slide.bathrooms }}
                                                حمام
                                            </span>
                                            <span ngClass="area">
                                                <img src="{{ squaremetersvg }}" alt="" />{{slide.carpetArea}}
                                                قدم مربع
                                            </span>
                                        </div>
                                    </div>
                                    <a [routerLink]="['/ar/property/detail']" [queryParams]="{id: slide.id}"
                                        ngClass="linK_overlay"></a>
                                    <button ngClass="tag_btn blue"><img src="{{tagicn}}"> الأكثر شعبية</button>
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section>

    <!--  Commercial Properties for Rent in Dubai-->
    <section ngClass="wrapper-section properties-slider residentials-property-rent-2">
        <div ngClass="container_1220px">
            <div ngClass="section-title">
                <div ngClass="section-title-left">
                    <h4>عقارات تجارية للإيجار في دبي</h4>
                    <p>عقارات الأكثر شعبيةة قريبة منك</p>
                </div>
                <div ngClass="section-title-right">
                    <ul ngClass="nav nav-tabs" role="tablist">
                        <li ngClass="nav-item">
                            <a ngClass="nav-link active" data-bs-toggle="tab" (click)="oldData2()">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M16.4912 12.4406C14.7746 14.149 12.3162 14.674 10.1579 13.999L6.23289 17.9156C5.94955 18.2073 5.39122 18.3823 4.99122 18.324L3.17455 18.074C2.57455 17.9906 2.01622 17.424 1.92455 16.824L1.67455 15.0073C1.61622 14.6073 1.80789 14.049 2.08289 13.7656L5.99955 9.84896C5.33289 7.68229 5.84955 5.22396 7.56622 3.51563C10.0246 1.05729 14.0162 1.05729 16.4829 3.51563C18.9496 5.97396 18.9496 9.98229 16.4912 12.4406Z"
                                        stroke="#595ad4" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M5.74121 14.5742L7.65788 16.4909" stroke="#595ad4" stroke-width="2"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path
                                        d="M12.083 9.16797C12.7734 9.16797 13.333 8.60833 13.333 7.91797C13.333 7.22761 12.7734 6.66797 12.083 6.66797C11.3927 6.66797 10.833 7.22761 10.833 7.91797C10.833 8.60833 11.3927 9.16797 12.083 9.16797Z"
                                        stroke="#595ad4" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                                {{ RentAr }}
                            </a>
                        </li>
                        <li ngClass="nav-item">
                            <a ngClass="nav-link" data-bs-toggle="tab" (click)="newData2()">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M14.167 17.0846H5.83366C3.33366 17.0846 1.66699 15.8346 1.66699 12.918V7.08464C1.66699 4.16797 3.33366 2.91797 5.83366 2.91797H14.167C16.667 2.91797 18.3337 4.16797 18.3337 7.08464V12.918C18.3337 15.8346 16.667 17.0846 14.167 17.0846Z"
                                        stroke="#100A55" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path
                                        d="M10 12.5C11.3807 12.5 12.5 11.3807 12.5 10C12.5 8.61929 11.3807 7.5 10 7.5C8.61929 7.5 7.5 8.61929 7.5 10C7.5 11.3807 8.61929 12.5 10 12.5Z"
                                        stroke="#100A55" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M4.58301 7.91797V12.0846" stroke="#100A55" stroke-width="2"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M15.417 7.91797V12.0846" stroke="#100A55" stroke-width="2"
                                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                </svg> {{ SaleAr }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="no-data-found" *ngIf="dynamicSlides2.length == 0">
                <mat-icon>file_copy</mat-icon>
                <p>عذراً، لا توجد بيانات</p>
            </div>
            <div ngClass="tab-content" *ngIf="dynamicSlides2.length > 0">
                <div id="resedential-rent" class="tab-pane active">
                    <owl-carousel-o [options]="customOptions" ngClass="slider-shadow ">
                        <ng-container *ngFor="let slide of dynamicSlides2">
                            <ng-template carouselSlide [id]="slide.id">
                                <div ngClass="property-item position-relative">
                                    <img src="https://beta.ovaluate.com/{{slide.documents[0].fileUrl}}"
                                        [alt]="slide.propertyTitle" [title]="slide.propertyTitle" />
                                    <div ngClass="brand-logo">
                                        <img src="{{ brandimg }}" alt="" />
                                    </div>
                                    <button
                                        [ngClass]="slide.favorite == true ? 'property-whistlist red-fill' : 'property-whistlist'"
                                        (click)="AddToFavorite(slide.id,slide.favorite,'commercial-old')">
                                        <svg width="22" height="23" viewBox="0 0 22 23" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M4.39376 6.23844C4.02517 6.63167 3.73279 7.0985 3.53331 7.61228C3.33383 8.12605 3.23116 8.67672 3.23116 9.23283C3.23116 9.78894 3.33383 10.3396 3.53331 10.8534C3.73279 11.3672 4.02517 11.834 4.39376 12.2272L11.1699 19.4563L17.946 12.2272C18.6904 11.433 19.1086 10.3559 19.1086 9.23283C19.1086 8.10972 18.6904 7.0326 17.946 6.23844C17.2016 5.44429 16.1919 4.99813 15.1392 4.99813C14.0865 4.99813 13.0768 5.44429 12.3324 6.23844L11.1699 7.47873L10.0073 6.23844C9.63871 5.84521 9.20113 5.53329 8.71954 5.32047C8.23796 5.10766 7.72179 4.99812 7.20053 4.99812C6.67926 4.99812 6.1631 5.10766 5.68152 5.32047C5.19993 5.53329 4.76235 5.84521 4.39376 6.23844V6.23844Z"
                                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </button>
                                    <div ngClass="property-info">
                                        <span ngClass="property-pricing"><span>{{ slide.propertyPrice }} {{
                                                slide.country.currencyAr }}</span>
                                            <span *ngIf="slide.rentType != null">/{{slide.rentType.nameAr}}</span></span>
                                        <span ngClass="property-name">{{ slide.buildingName }}</span>
                                        <p ngClass="property-location">
                                            <img src="{{ homelocationsvg }}" width="14"
                                                alt="" />{{slide.propertyAddressArabic}}
                                        </p>
                                        <div ngClass="property-details">
                                            <span ngClass="bed" *ngIf="slide.propertyType.hasBed">
                                                <img src="{{ bedsvg }}" alt="" />{{ slide.bedrooms }}
                                                غرفة نوم
                                            </span>
                                            <span ngClass="bath" *ngIf="slide.propertyType.hasBath">
                                                <img src="{{ bathsvg }}" alt="" />{{ slide.bathrooms }}
                                                حمام
                                            </span>
                                            <span ngClass="area">
                                                <img src="{{ squaremetersvg }}" alt="" />{{ slide.carpetArea }} غرفة نوم
                                            </span>
                                        </div>
                                    </div>
                                    <a [routerLink]="['/ar/property/detail']" [queryParams]="{id: slide.id}"
                                        ngClass="linK_overlay"></a>
                                    <button ngClass="tag_btn blue"><img src="{{tagicn}}"> الأكثر شعبية</button>
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section>

    <section ngClass="wrapper-section sell-rent-home-directly">
        <div ngClass="container_1220px">
            <div [ngClass]="'listing-slider-area'">
                <owl-carousel-o [options]="sellrentproperty">
                    <ng-container>
                        <ng-template carouselSlide *ngFor="let item of slider">
                            <div ngClass="row mrg-0">
                                <div ngClass="col-md-6 property-listing-slider-left">
                                    <h2>{{item.titleAr}}</h2>
                                    <ul>
                                        <li *ngFor="let list of item.ovaluateOfferingDetails">{{list.descriptionAr}}</li>
                                    </ul>
                                    <div ngClass="listing-btn">
                                        <a [routerLink]="['/ar/add-property/listingproperty']"
                                            ngClass="custom-btn-primary">ادرج عقارك الآن!</a>
                                    </div>
                                </div>
                                <div ngClass="col-md-6 property-listing-slider-right">
                                    <img src="https://beta.ovaluate.com/{{ item.ovaluateOfferingDocument.fileUrl }}"
                                        ngClass="img-fluid lisitng-right-img" alt="" />
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </section>
    <section ngClass="wrapper-section explore-place-sec">
        <div ngClass="container_1220px">
            <div ngClass="section-title">
                <div ngClass="section-custom-title-left">
                    <h4>استكشف الأماكن</h4>
                    <p>اختياراتنا الالأكثر شعبيةة لعقارات قريبة منك</p>
                </div>
                <div ngClass="section-custom-title-right">
                    <a routerLink="/ar/explore">قراءة كامل المحتوى</a>
                </div>
            </div>

            <div ngClass="row">
                <div ngClass="col-md-6 explore-places-col" *ngFor="let data of explorePlaces">
                    <a routerLink="/ar/explore/details/{{data.id}}">
                        <img src="https://beta.ovaluate.com/{{ data.document.fileUrl}}" ngClass="img-fluid" alt="" />
                        <div ngClass="explore-place-content">
                            <h5>{{ data.nameAr }}</h5>
                            <p>{{ data.detailsAr }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section ngClass="wrapper-section blogs_sec">
        <div ngClass="container_1220px">
            <div ngClass="section-title">
                <div ngClass="section-custom-title-left">
                    <h4>المدونات</h4>
                    <p> اختياراتنا الالأكثر شعبيةة لعقارات قريبة منك</p>
                </div>
                <div ngClass="section-custom-title-right">
                    <a routerLink="/ar/blog">قراءة كامل المحتوى</a>
                </div>
            </div>

            <div ngClass="row">
                <!-- let blogs of Blogsec -->
                <div ngClass="col-lg-4 col-md-6 blog-places-col" *ngFor="let blog of blogs">
                    <a routerLink="/ar/blog/details/{{blog.slugName}}" ngClass="position-relative">
                        <!-- blog.blogDocument.fileUrl -->
                        <img [src]="'https://www.ovaluate.com/' + blog.blogDocument.fileUrl"
                            ngClass="img-fluid blog-image-homepage" alt="" />
                        <span ngClass="blog-tag">
                            <img [src]="blog.src2" ngClass="img-fluid" alt="" />
                        </span>
                        <div ngClass="blog-title-content">
                            <h5>{{ blog.blogTitleAr }}</h5>
                            <span>{{ blog.blogDate.split("T")[0] }}</span>
                        </div>
                        <button ngClass="tag_btn blue">{{blog.blogCategory.categoryNameAr}}</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- <app-blogs></app-blogs> -->
    <section ngClass="wrapper-section bg-primary-color easy-tenants-landlords-sec">
        <div ngClass="container_1220px">
            <div ngClass="section-title responsive-section-title tenanats-landlord_Sec">
                <div ngClass="section-title-left">
                    <h2>
                        نحن نجعلها سهلة <br />
                        <span>المستأجرين</span> و <span>ملاك العقارات</span>.
                    </h2>
                </div>
                <div ngClass="section-custom-title-right wd-30">
                    <p>استمتع بتجربة سهلة وفعالة عندما ترغب في شراء بيت جديد أو بيع بيتك القديم أو الحصول على تمويل. أفضل ما في الأمر هو أنك ستوفر الكثير من الوقت والمال بفضل خدماتنا الالأكثر شعبيةة!</p>
                </div>
            </div>
        </div>
        <div ngClass="container_1220px tenants-bar-left">
            <div ngClass="tenants-sec-wrapper">
                <owl-carousel-o [options]="easyslider">
                    <ng-container *ngFor="let slide of tenantsslide">
                        <ng-template carouselSlide [id]="slide.id">
                            <div ngClass="{{ slide.class }}">
                                <img [src]="slide.src" ngClass="img-fluid" alt="" />
                                <div ngClass="virtual-tour-content">
                                    <h5>{{ slide.heading }}</h5>
                                    <p>{{ slide.desc }}</p>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
        <div ngClass="line"></div>

        <div ngClass="container_1220px">
            <div ngClass="recent-data-realestate text-center">
                <h2>المبيعات العقارية الحديثة لدولة الإمارات العربية المتحدة العربية المتحدة</h2>
                <p>لقطة من المبيعات العقارية الأخيرة في دبي، كما التقطتها دائرة الأراضي والأملاك في دبي</p>
            </div>
        </div>

        <div ngClass="container_1220px">
            <div ngClass="row">
                <div ngClass="col-md-3 col-sm-12" *ngFor="let list of transaction">
                    <div ngClass="total-transaction">
                        <p ngClass="text-center">إ.د</p>
                        <h2 ngClass="text-center">{{list.valueAr}}</h2>
                        <p ngClass="text-center">{{list.keyAr}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div ngClass="bg-tree">
            <img src="assets/images/background/tree.png" alt="" />
        </div>
    </section>
    <section ngClass="wrapper-section real-hub-sec" style="background: url('assets/images/background/bg-1.png')">
        <div ngClass="container_1220px">
            <div [ngClass]="'mockup-conatiner position-relative'">
                <div ngClass="row">
                    <div ngClass="col-md-6 col-sm-12">
                        <div ngClass="mockup-left">
                            <h1>محور العقارات</h1>
                            <h4>بين يديك</h4>
                            <ul>
                                <li>تقييم العقارات بالذكاء الاصطناعي في ثوانٍ قليلة</li>
                                <li> شراء وبيع وتأجير العقارات السكنية والتجارية</li>
                                <li>إبحث عن عقارات معتمدة منها بالقرب منك</li>
                                <li>إبحث عن وسيط عقارات معتمدين</li>
                            </ul>
                            <div ngClass="download-btns">
                                <a [routerLink]="['#']">
                                    <img src="assets/images/icons/google-play.svg" alt="Google Play" />
                                </a>
                                <a [routerLink]="['#']">
                                    <img src="assets/images/icons/app-store.svg" alt="Apple Store" />
                                </a>
                            </div>
                            <img src="assets/images/barcode.png" ngClass="img-fluid barcode-mockup-img" alt="" />
                        </div>
                    </div>
                    <div ngClass="col-md-6 col-sm-12">
                        <div ngClass="mockup-right">
                            <img src="assets/images/mockup/mobile-1.png" ngClass="img-fluid" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ngClass="container_1220px">
            <div ngClass="customers-say-sec">
                <div ngClass="row">
                    <div ngClass="col-md-6 col-sm-12">
                        <div ngClass="testimonial-title">
                            <h2>
                                ردود بعض عملائنا <br /> حول\ من نحن <span>أوفالويت</span>
                            </h2>
                            <p>استمتع بتجربة سهلة وفعالة عندما ترغب في شراء بيت جديد أو بيع بيتك القديم أو الحصول على تمويل</p>
                            <p>أفضل ما في الأمر هو أنك ستوفر الكثير من الوقت والمال بفضل خدماتنا الالأكثر شعبيةة!</p>
                        </div>
                    </div>
                    <div ngClass="col-md-6 col-sm-12">
                        <div [ngClass]="'testimonial-section'">
                            <img src="assets/images/testimonial/quote.svg" ngClass="img-fluid testimonial-icon"
                                alt="" />
                            <owl-carousel-o [options]="testimonialslider">
                                <ng-container *ngFor="let slide of clientFeedback">
                                    <ng-template carouselSlide [id]="slide.id">
                                        <div ngClass="testimonial-content">
                                            <p> no arabic data in api {{ slide.desc }} </p>
                                            <div ngClass="testimonial-info d-flex align-items-center">
                                                <div ngClass="client_img">
                                                    <img [src]="slide.src!= null ? slide.src : 'assets/images/testimonial/user.png'"
                                                        ngClass="img-fluid client-img" alt="" />
                                                </div>
                                                <div ngClass="client-info">
                                                    <h5>{{ slide.heading }}</h5>
                                                    <p>{{ slide.location }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ng-container>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section ngClass="custom-wrapper-section bottom-selectionboxes">
        <div ngClass="container_1220px">
            <div ngClass="row">
                <div ngClass="col-lg-3 col-md-6 search-col-homepage" *ngFor="let item of trendTitle; let i = index">
                    <div ngClass="homepage-search-section">
                        <h2>{{item.nameAr}}</h2>
                        <ul ngClass="list-unstyled">
                            <li *ngFor="let item2 of item.trendTitleDetail; let j = index" (click)="onTrendClick(i,j)">
                                <a href="javascript:void(0)">{{item2.detailAr}} section is null in api</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <section ngClass="wrapper-section">
        <div ngClass="container_1220px">
            <div ngClass="property-valuation-sec">
                <div ngClass="row">
                    <div ngClass="col-sm-12">
                        <div ngClass="home-slider-sec">
                            <div ngClass="home-slider-sec">
                                <ngb-carousel [showNavigationArrows]="false">
                                    <ng-template ngbSlide *ngFor="let event of homebanners">
                                        {{event.id}}
                                        <div ngClass="home-slider_img">
                                            <img [src]="event.img" alt="Random slide">
                                        </div>
                                        <div ngClass="home-slider_cntnt">
                                            <h2>{{event.title}}</h2>
                                            <p>{{event.desc}}</p>
                                            <a routerLink="/valuation/property-detail">Start Valuation</a>
                                        </div>
                                    </ng-template>
                                </ngb-carousel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section ngClass="position-relative wrapper-section certified_sec">
        <div ngClass="container_1220px">
            <div ngClass="heading-32px-design text-center mb-4">
                <h2>معتمد من قبل دائرة الأراضي والأملاك في دبي</h2>
                <p>تقاريرتقييم معتمدة ومصدقة من دائرة الأراضي والأملاك في دبي</p>
            </div>
            <div ngClass="certified_images-sec text-center">
                <img src="{{rera}}">
                <img src="{{dubaigv}}">
                <img src="{{landdept}}">
            </div>
        </div>
    </section>
<app-footer></app-footer>
</section>