<header>
    <app-header></app-header>
</header>
<section [ngClass]="'inner-cntnt-wrapper slide-left-bar cms-inner'">
  <section [ngClass]="'inner-page-banner-sec position-relative'" style="background-image: url('assets/images/package-banner.png')">
      <div [ngClass]="'container_1280px'">
         <div ngClass="inner-banner-heading text-center">
            <h2>{{title}}</h2>
            <p>{{subHeading}}.</p>
         </div>
      </div>
  </section>
  <section ngClass="cms-content-wrapper">
    <div [ngClass]="'container_1280px'">
        <div ngClass="cms_content-paragraph">
            <h1>Privacy Policy</h1>
        </div>
    </div>
  </section>
</section>
<footer ngClass="footer-sec">
    <app-footer></app-footer>
</footer>