<div ngClass="tab-form-sec rent-form">
  <form>
    <div ngClass="flex-row">
      <div ngClass="flex-column flex-column-1">
        <div ngClass="form-grouph input-design floating-label position-relative">
          <label>Search by</label>
          <input type="text" placeholder="Location, Project Name">
        </div>
      </div>
      <div ngClass="flex-column flex-column-2">
        <div ngClass="block-wrapper">
          <div ngClass="cstm_dropdown-list dropdown-design-2 position-relative drodown_with-img">
             <button ngClass="drop-down_btn" (click)="clickEvent()">Budget</button>
             <div class="cstm_dropdown-menu" [ngClass]="status ? 'active' : 'notactive'">
                <h4 ngClass="drop_label">Price Range</h4>
              <div ngClass="rental-type-tabs-sec">
                <mat-tab-group>
                  <mat-tab label="Monthly">
                    <div ngClass="price-range_sec">
                      <div ngClass="extra-controls form-inline">
                        <div ngClass="form-group">
                          <input type="number" [(ngModel)]="minValue" placeholder="100,000">
                          <input type="number" [(ngModel)]="maxValue" placeholder="Any">
                        </div>
                      </div>
                      <div ngClass="range-slider">
                        <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
                    </div>
                    <div ngClass="rentle_type-hding">
                      <h5 ngClass="h5-design">Rental Type</h5>
                    </div>
                  </div>
                  </mat-tab>
                  <mat-tab label="Yearly">
                    <div ngClass="price-range_sec">
                      <div ngClass="extra-controls form-inline">
                        <div ngClass="form-group">
                          <input type="number" [(ngModel)]="minValue1" placeholder="100,000">
                          <input type="number" [(ngModel)]="maxValue1" placeholder="Any">
                        </div>
                      </div>
                      <div ngClass="range-slider">
                        <ngx-slider [(value)]="minValue1" [(highValue)]="maxValue1" [options]="options"></ngx-slider>
                    </div>
                    <div ngClass="rentle_type-hding">
                      <h5 ngClass="h5-design">Rental Type</h5>
                    </div>
                  </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
             </div>
          </div>
        </div>
      </div>
      <div ngClass="flex-column flex-column-3">
        <div ngClass="block-wrapper">
          <div ngClass="cstm_dropdown-list dropdown-design-2 position-relative drodown_with-img">
             <button ngClass="drop-down_btn" (click)="clickEvent1()">Property Type</button>
             <div class="cstm_dropdown-menu" [ngClass]="status1 ? 'active' : 'notactive'">
                <h4 ngClass="drop_label">Property Type</h4>
                <div ngClass="property-types-heading">
                  <ul ngClass="nav nav-tabs" role="tablist">
                    <li ngClass="nav-item">
                      <a ngClass="nav-link residential1 active" (click)="residentialfun1()"><span ngClass="circle-celection"></span> Residential</a>
                    </li>
                    <li ngClass="nav-item">
                      <a ngClass="nav-link commertial1" (click)="commertialfun1()"><span ngClass="circle-celection"></span> Commercial</a>
                    </li>
                  </ul>
                </div>
                <div ngClass="property-types-cntnts">
                    <div id="Residentials" ngClass="residential1-tabs">
                      <h5 ngClass="h5-heading">Residential Unit Type</h5>
                      <ul ngClass="list-unstyled residentails-unit-list">
                        <li ngClass="d-flex" *ngFor="let item of propertyType">
                          <div ngClass="position-relative">
                            <input type="checkbox" (click)="getPropertyType(item.id)">
                            <span ngClass="property_sel"></span>
                          </div>
                          <div ngClass="proprty_name">
                            <p>{{item.typeDescription}}</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div id="Commercial" ngClass="hide commertial1-tabs">
                      <h5 ngClass="h5-heading">Commercial Unit Type</h5>
                      <ul ngClass="list-unstyled residentails-unit-list">
                        <li ngClass="d-flex" *ngFor="let item of propertyTypeCommercial">
                          <div ngClass="position-relative">
                            <input type="checkbox" (click)="getPropertyCommercialType(item.id)">
                            <span ngClass="property_sel"></span>
                          </div>
                          <div ngClass="proprty_name">
                            <p>{{item.typeDescription}}</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                </div>
             </div>
          </div>
        </div>
      </div>
      <div ngClass="flex-column flex-column-4">
        <button type="submit" ngClass="search-btn"><img src="assets/images/search.svg"></button>
      </div>
    </div>
  </form>
</div>
