<app-header2></app-header2>
<section ngClass="auth-wrapper">
    <div ngClass="form-design thanku-page">
        <div ngClass="wecome-message">
            <h2>شكراً!</h2>
            <p>مرحبا بكم في اوفاليويت! <br />تم استلام طلبك إدراج العقار في فئة</p>
            <p>cتحت قيد التنفيذ <br/>وسيستغرق حتى 48 ساعة. سيتم إخطارك عبر البريد الإلكتروني أو الرسائل القصيرة.</p>
            <p>حتى ذلك الحين يمكنك استكشاف منصتنا كعميل.</p>
            <a routerLink="" ngClass="submit-btn">الاستمرار كعميل</a>
        </div>
    </div>
</section>