<app-header2></app-header2>
<section ngClass="list-properties-sec">
    <div ngClass="listing-container">
        <div ngClass="heading-title-sec text-center">
            <h2>أعلن عن عقار جديد</h2>
            <p>تحقق من تعبئة جميع الحقول اللازمة وتحميل جميع الملفات المطلوبة</p>
        </div>
        <div ngClass="listing-property-form-sec">
            <div ngClass="listing-property-ul">
                <mat-list>
                    <mat-list-item ngClass="active"> <a routerLink="/ar/listingproperty"><span ngClass="">1</span>معلومات العقار</a>
                    </mat-list-item>
                    <mat-list-item ngClass="disabled"><a routerLink=""><span ngClass="">2</span>معلومات القائمة</a>
                    </mat-list-item>
                    <mat-list-item ngClass="disabled"> <a routerLink=""><span ngClass="">3</span>وسائل الإعلام</a>
                    </mat-list-item>
                    <mat-list-item ngClass="disabled"> <a routerLink=""><span ngClass="">4</span>نشر</a>
                    </mat-list-item>
                </mat-list>
            </div>
            <div ngClass="list-property-content">
                <div ngClass="list-property-header">
                    <h5 ngClass="h5-heading">عنوان العقار</h5>
                    <p>ابحث عن موقعك وتأكد من الموقع الدقيق المراد تتبعه</p>
                </div>
                <div ngClass="list-property-body">
                    <form [formGroup]="SubmitForm">
                        <div ngClass="form-border-wrapper">
                            <div ngClass="row">
                                <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                    <div ngClass="block-wrapper mb-4">
                                        <div ngClass="select-design select2-design">
                                            <label>الدولة<span ngClass="required-span">*</span></label>
                                            <select class="select2 country-select"
                                            [ngClass]="oldData == '' || country.length > 0 ? '' : 'd-none'">
                                                <option value="0">اختر الدولة</option>
                                                <option class="country-item-{{list.value}}" *ngFor="let list of country"
                                                    [value]="list.value"> {{ list.viewValue }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                    <div ngClass="select-design mb-4 select2-design">
                                        <label>المدينة<span ngClass="required-span">*</span></label>
                                        <select class="select2 city-select" [ngClass]="oldData == '' || city.length > 0 ? '' : 'd-none'">
                                            <option value="0">اختر مدينة</option>
                                            <option class="city-item-{{listcity.value}}" *ngFor="let listcity of city"
                                                [value]="listcity.value"> {{ listcity.viewValue }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                    <div ngClass="block-wrapper mb-4">
                                        <div ngClass="select-design select2-design">
                                            <label>المنطقة<span ngClass="required-span">*</span></label>
                                            <select class="select2 district-select"
                                            [ngClass]="oldData == '' || district.length > 0 ? '' : 'd-none'">
                                                <option value="0">حدد المنطقة</option>
                                                <option class="district-item-{{listdistrict.value}}"
                                                    *ngFor="let listdistrict of district" [value]="listdistrict.value">
                                                    {{ listdistrict.viewValue }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div ngClass="address-sec" [ngClass]="showMap ? '' : 'd-none'">
                                    <div ngClass="block-wrapper-address">
                                        <label class="h6-design"></label>
                                        <div ngClass="position-relative">
                                            <div style="width: 100%" >
                                                <div #propertyDetails__map class="property-details__map"></div>
                                            </div>
                                            <div ngClass="locate-me-sec">
                                                <div ngClass="add-adrees-sec">
                                                    <input matInput type="text" formControlName="address"
                                                        placeholder="موقع البحث" #searchLocation
                                                        id="searchLocation" class="searchLocation" />
                                                    <!-- <div ngClass="locate-me-btn text-right">
                                                        <button ngClass="grey-bordered-btn" (click)="getLocation()">
                                                            <img src="{{ Locate }}" /> Locate Me
                                                        </button>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ngClass="text-right save-continue-sec justify-content-end" (click)="onSubmit()">
                            <mat-card-actions>
                                <button mat-raised-button type="submit" ngClass="submit-btn">حفظ ومتابعة</button>
                            </mat-card-actions>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <button (click)="PackageModal(packageContent)">Demo 1</button>
<button (click)="NoPackageModal(NopackageContent)">Demo 2</button> -->
<app-loader *ngIf="showLoader"></app-loader>
<app-erroralert [error]="error" (errorResponse)="errorResponse($event)" *ngIf="showError"></app-erroralert>
<!-- <div ngClass="packages-modal-wrap">
    <ng-template #packageContent let-modal>
        <div class="modal-body packages-modal-design">
            <div class="packages-list-modal-hdr">
                <h2>Current Package</h2>
            </div>
            <div class="packages-list-modal-cntnt">
                <div class="package_row">
                    <owl-carousel-o [options]="PackageOptions">
                        <ng-template carouselSlide *ngFor="let packages of packagesType">
                            <div class="packages-list-modal-list position-relative Free" *ngIf="checkPackage(packages)">
                                <div class="packages-list-modal-radio">
                                    <input type="radio" name="package-select">
                                    <button class="cstm-radio_btn"></button>
                                </div>
                                <div class="packages-list-modal-content">
                                    <div class="payment_box_cnntn">
                                        <ul class="list-unstyled">
                                            <li
                                                *ngFor="let property of packages.propertyListingPackageFeatures; let i = index">
                                                {{property.detail}}</li>
                                            <li>Up to 30 days validity</li>
                                            <li>01 Active Property Listing</li>
                                            <li>Up to 30 days validity</li>
                                            <li>Up to 30 days validity</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="package-tag">
                                    <h4>{{packages.name}}</h4>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="packages-list-modal-list position-relative Premium disabled">
                                <div class="packages-list-modal-radio">
                                    <input type="radio" name="package-select">
                                    <button class="cstm-radio_btn"></button>
                                </div>
                                <div class="packages-list-modal-content">
                                    <div class="payment_box_cnntn">
                                        <ul class="list-unstyled">
                                            <li>01 Active Property Listing</li>
                                            <li>Up to 30 days validity</li>
                                            <li>01 Active Property Listing</li>
                                            <li>Up to 30 days validity</li>
                                            <li>Up to 30 days validity</li>
                                        </ul>
                                        <button ngClass="view-more-btn" routerLink="/payment-packages">View
                                            More</button>
                                    </div>
                                </div>
                                <div class="package-tag">
                                    <h4>Premium</h4>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="packages-list-modal-list position-relative Platinum disabled">
                                <div class="packages-list-modal-radio">
                                    <input type="radio" name="package-select">
                                    <button class="cstm-radio_btn"></button>
                                </div>
                                <div class="packages-list-modal-content">
                                    <div class="payment_box_cnntn">
                                        <ul class="list-unstyled">
                                            <li>01 Active Property Listing</li>
                                            <li>Up to 30 days validity</li>
                                            <li>01 Active Property Listing</li>
                                            <li>Up to 30 days validity</li>
                                            <li>Up to 30 days validity</li>
                                        </ul>
                                        <button ngClass="view-more-btn" routerLink="/payment-packages">View
                                            More</button>
                                    </div>
                                </div>
                                <div class="package-tag">
                                    <h4>Platinum</h4>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="packages-list-modal-list position-relative Standard disabled">
                                <div class="packages-list-modal-radio">
                                    <input type="radio" name="package-select">
                                    <button class="cstm-radio_btn"></button>
                                </div>
                                <div class="packages-list-modal-content">
                                    <div class="payment_box_cnntn">
                                        <ul class="list-unstyled">
                                            <li>01 Active Property Listing</li>
                                            <li>Up to 30 days validity</li>
                                            <li>01 Active Property Listing</li>
                                            <li>Up to 30 days validity</li>
                                            <li>Up to 30 days validity</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="package-tag">
                                    <h4>Standard</h4>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
            <div class="packages-list-modal-footer">
                <button class="want-to-upgrade">Want to upgrade</button>
                <button class="continue-with-this" (click)="modal.dismiss('Cross click')">Continue with this</button>
            </div>
        </div>
    </ng-template>
</div>

<div ngClass="packages-modal-wrap">
    <ng-template #NopackageContent let-modal>
        <div class="modal-body nopackages-modal-design">
            <div class="packages-list-modal-cntnt">
                <img src="assets/images/property-package.png">
                <p>Sorry! You dont have any existing packages to list your property. Please buy one.</p>
            </div>
            <div class="packages-list-modal-footer justify-content-center">
                <a class="want-to-upgrade" routerLink="/payment-packages" (click)="modal.dismiss('Cross click')">Buy
                    Now</a>
            </div>
        </div>
    </ng-template>
</div> -->