<div ngClass="tab-form-sec rent-form">
  <form>
    <div ngClass="flex-row">
      <div ngClass="flex-column flex-column-1">
        <div ngClass="form-grouph input-design floating-label position-relative">
          <label>Search by</label>
          <input type="text" placeholder="Location / Company Name">
        </div>
      </div>
      <div ngClass="flex-column flex-column-2">
        <div ngClass="form-grouph input-design floating-label position-relative">
          <label>Search by</label>
          <input type="text" placeholder="Agent Name">
        </div>
      </div>
      <div ngClass="flex-column flex-column-3">
        <div ngClass="property-type-button">
          <div ngClass="dropdown">
            <button type="button" ngClass="btn dropdown-toggle" data-bs-toggle="dropdown">
              Specialties
            </button>
            <div ngClass="dropdown-menu" id="property-type-sec">
              <h5 ngClass="h5-heading">Specialties</h5>
            </div>
          </div>
        </div>
      </div>
      <div ngClass="flex-column flex-column-4">
        <div ngClass="budget-button">
          <div ngClass="dropdown">
            <button type="button" ngClass="btn dropdown-toggle" data-bs-toggle="dropdown">
              Languages
            </button>
            <div ngClass="dropdown-menu" id="budget-dropdown">
              <h5 ngClass="h5-heading">Agent Type</h5>
              <ul ngClass="list-unstyled residentails-unit-list">
                <li ngClass="d-flex">
                  <div ngClass="position-relative">
                    <input type="radio" name="Residential for sale">
                    <span ngClass="property_sel"></span>
                  </div>
                  <div ngClass="proprty_name">
                    <p>Residential for sale</p>
                  </div>
                </li>
                <li ngClass="d-flex">
                  <div ngClass="position-relative">
                    <input type="radio" name="Residential for rent">
                    <span ngClass="property_sel"></span>
                  </div>
                  <div ngClass="proprty_name">
                    <p>Residential for rent</p>
                  </div>
                </li>
                <li ngClass="d-flex">
                  <div ngClass="position-relative">
                    <input type="radio" name="Commercial for sale">
                    <span ngClass="property_sel"></span>
                  </div>
                  <div ngClass="proprty_name">
                    <p>Commercial for sale</p>
                  </div>
                </li>
                <li ngClass="d-flex">
                  <div ngClass="position-relative">
                    <input type="radio" name="Commercial for Rent/Lease">
                    <span ngClass="property_sel"></span>
                  </div>
                  <div ngClass="proprty_name">
                    <p>Commercial for Rent/Lease</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div ngClass="flex-column flex-column-5">
        <a href="https://dx1.in/ovaluate/master-map-view-1.html" ngClass="search-btn"><img src="assets/images/search.svg"></a>
      </div>
    </div>
  </form>
</div>
