$color_1: #595ad4;
$background-color_1: transparent;
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #eef1f3 inset !important;
	padding-right: 0px !important;
}
.property-filter-wrap {
	.block-item.seven-block {
		width: 5%;
	}
	.block-item.eight-block {
		width: 4%;
	}
}
.block-wrapper .cstm_dropdown-menu {
    min-width: 300px;
}
.clear-btn {
	border: 0.25px solid #595ad4;
	background-color: $background-color_1;
	font-size: 16px;
	color: $color_1;
	padding: 10px 12px;
	border-radius: 8px;
	width: 100%;
}
.property-filter-wrap .block-wrapper .search-btn {
    height: 47px;
}


.searc-input-combination .mat-form-field:last-child {
    width: 100%;
}
@media (max-width: 1199px) and (min-width: 575px){
	.property-filter-wrap {
		flex-wrap: wrap;
		.block-item.block-item-4{
			width: 49%;
			margin-bottom: 10px;
		}
		.block-item.seven-block {
			width: 49%;
			margin-bottom: 10px;
		}
		.block-item.eight-block {
			width: 49%;
			margin-bottom: 10px;
		}
	}
}
@media (max-width: 574px){
	.property-filter-wrap {
		flex-wrap: wrap;
		.block-item.block-item-4{
			width: 100%;
			margin-bottom: 10px;
		}
		.block-item.seven-block {
			width: 100%;
			margin-bottom: 10px;
		}
		.block-item.eight-block {
			width: 100%;
			margin-bottom: 10px;
		}
	}
	.drodown_with-img > .drop-down_btn {
		background-position: 98%  !important;
	}
}
.more-filter-button {
    background: whitesmoke;
    border: none;
    font-size: 13px;
    font-weight: 300;
    color: #3e4861;
    border-radius: 8px;
    padding: 14px 10px;
    height: 100%;
	width: 100%;
}
.property-filter-wrap .dropdown-design-2 .drop-down_btn {
    padding: 13px 15px;
}
.totel_properties-btn button {
    background: #595ad4;
    color: #fff;
    border: none;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 6px;
}
.totel_properties-btn button:hover{
	background: #4a565f;
}
.availity-sec-design {
    padding-bottom: 20px;
}
.property-filter-wrap .block-item-4 {
    width: 22%;
}


@media (max-width: 1200px){
	.more-filter-form-design {
		width: 100% !important;
		max-width: 95%;
		margin: 0 auto;
	}
	.scnd-block .block-wrapper .cstm_dropdown-menu {
		left: 0;
	}
}