<form>
    <div ngClass="property-filter-wrap d-flex justify-content-spacebw">
        <div ngClass="block-item block-item-4">
            <div ngClass="block-wrapper">
                <div ngClass="cstm_dropdown-list dropdown-design-2 position-relative drodown_with-img">
                    <button ngClass="drop-down_btn" (click)="clickEvent1()">نوع العقار</button>
                    <div class="cstm_dropdown-menu" [ngClass]="status1 ? 'active' : 'notactive'">
                        <h4 ngClass="drop_label">نوع العقار</h4>
                        <div ngClass="property-types-heading">
                            <ul ngClass="nav nav-tabs" role="tablist">
                                <li ngClass="nav-item" (click)="propertyType(residentialId)">
                                    <a [ngClass]="PropertyCategoryId == residentialId ? 'nav-link residential active' : 'nav-link residential'"
                                        (click)="residentialfun(residentialId)"><span
                                            ngClass="circle-celection"></span>{{ residential }}</a>
                                </li>
                                <li ngClass="nav-item" (click)="propertyType(commercialId)">
                                    <a [ngClass]="PropertyCategoryId == commercialId ? 'nav-link commertial active' : 'nav-link commertial'"
                                        (click)="commertialfun(commercialId)"><span ngClass="circle-celection"></span>{{
                                        commercial }}</a>
                                </li>
                            </ul>
                        </div>
                        <div ngClass="property-types-cntnts">
                            <div id="Residentials"
                                [ngClass]="PropertyCategoryId == residentialId ? 'residential-tabs' : 'hide residential-tabs'">
                                <h5 ngClass="h5-heading">Residential نوع الوحدة</h5>
                                <ul ngClass="list-unstyled residentails-unit-list">
                                    <li ngClass="d-flex position-relative" *ngFor="let item of propertyTypeResdential">
                                        <div>
                                            <input type="checkbox" (click)="getPropertyType(item.id)">
                                            <span ngClass="property_sel"></span>
                                        </div>
                                        <div ngClass="proprty_name">
                                            <p>{{item.typeDescription}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="Commercial"
                                [ngClass]="PropertyCategoryId == commercialId ? 'commertial-tabs' : 'hide commertial-tabs'">
                                <h5 ngClass="h5-heading">نوع الوحدة التجارية</h5>
                                <ul ngClass="list-unstyled residentails-unit-list">
                                    <li ngClass="d-flex position-relative" *ngFor="let item of propertyTypeCommercial">
                                        <div>
                                            <input type="checkbox" (click)="getPropertyCommercialType(item.id)">
                                            <span ngClass="property_sel"></span>
                                        </div>
                                        <div ngClass="proprty_name">
                                            <p>{{item.typeDescription}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <button (click)="clickEvent1()" ngClass="overlay_dropdown-btn"></button>
                </div>
            </div>
        </div>
        <div class="block-item block-item-4">
            <div ngClass="block-wrapper mb-4">
                <mat-form-field appearance="fill" class="select-design">
                    <mat-label>المشاريع</mat-label>
                    <mat-select [disableOptionCentering]="true">
                        <mat-option value="">
                            كل المشاريع
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="block-item block-item-4">
            <div ngClass="block-wrapper mb-4">
                <mat-form-field appearance="fill" class="select-design">
                    <mat-label>المناطق</mat-label>
                    <mat-select [disableOptionCentering]="true">
                        <mat-option value="">
                            المناطق
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="block-item block-item-4">
            <div ngClass="block-wrapper mb-4">
                <mat-form-field appearance="fill" class="select-design">
                    <mat-label>المطورين</mat-label>
                    <mat-select [disableOptionCentering]="true">
                        <mat-option value="">
                            جميع المطورين
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div ngClass="block-item seven-block">
            <div ngClass="block-wrapper">
                <button ngClass="clear-btn">واضح</button>
            </div>
        </div>
        <div ngClass="block-item eight-block">
            <div ngClass="block-wrapper">
                <button ngClass="search-btn"><img src="assets/images/search.svg"></button>
            </div>
        </div>
    </div>
</form>
