<!--<div id="rent" ngClass="tab-pane active">-->
    <div id="rentform" ngClass="tab-form-sec motor-form-design search-layout-design">
        <!--  <form  [formGroup]="SubmitForm" (ngSubmit)="search()">-->
        <form>
            <div ngClass="flex-row flex-wrap">
                <div ngClass="flex-column flex-column-14">
                    <mat-form-field class="example-full-width input-design-3" appearance="fill">
                        <input matInput placeholder="Search For Anything">
                     </mat-form-field>
                </div>
                <div ngClass="flex-column flex-column-15">
                    <button ngClass="search-btn"><img src="assets/images/search.svg"></button>
                </div>
            </div>
        </form>
    </div>
