<app-header></app-header>
<section class="company-details">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-dark">
                    <app-breadcrumbs></app-breadcrumbs>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="companyDetails != {}">
            <div class="col-lg-8">
                <div class="company-details__wrapper">
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <img *ngIf="companyDetails.company && companyDetails.company.documents.length > 0"
                                src="https://beta.ovaluate.com/{{companyDetails.company.documents[0].fileUrl}}" alt=""
                                class="img-fluid company-details__wrapper-img">
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div class="company-details__wrapper-details">
                                <h4 class="company-details__wrapper-details-heading"
                                    *ngIf="companyDetails.company && companyDetails.company.companyName">
                                    {{companyDetails.company.companyName}}</h4>
                                <p class="company-details__wrapper-details-text mb-0"
                                    *ngIf="companyDetails.company && companyDetails.company.companyAdress">
                                    {{companyDetails.company.companyAdress}}</p>
                                <p class="company-details__wrapper-details-text"
                                    *ngIf="companyDetails.company && companyDetails.company.ornNo">ORN#:
                                    {{companyDetails.company.ornNo}}</p>
                                <p class="company-details__wrapper-details-text"
                                    *ngIf="companyDetails.company && companyDetails.company.reraNo">RERA#
                                    {{companyDetails.company.reraNo}}</p>
                                <p class="company-details__wrapper-details-text"
                                    *ngIf="companyDetails.company && companyDetails.company.premitNo">Permit#
                                    {{companyDetails.company.premitNo}}</p>
                                <ul class="company-details__wrapper-details-list">
                                    <li class="company-details__wrapper-details-list-item">
                                        <p class="company-details__wrapper-details-list-text"
                                            *ngIf="companyDetails.agentNumber">{{companyDetails.agentNumber}} <br>
                                            Agents</p>
                                        <p class="company-details__wrapper-details-list-text"
                                            *ngIf="!companyDetails.agentNumber">0 <br> Agents</p>
                                    </li>
                                    <li class="company-details__wrapper-details-list-item">
                                        <p class="company-details__wrapper-details-list-text"
                                            *ngIf="companyDetails.statistics && companyDetails.statistics.salePropertyListingCount">
                                            {{companyDetails.statistics.salePropertyListingCount}} <br> Sale</p>
                                        <p class="company-details__wrapper-details-list-text"
                                            *ngIf="!companyDetails.statistics || !companyDetails.statistics.salePropertyListingCount">
                                            0 <br> Sale</p>
                                    </li>
                                    <li class="company-details__wrapper-details-list-item">
                                        <p class="company-details__wrapper-details-list-text"
                                            *ngIf="companyDetails.statistics && companyDetails.statistics.rentPropertyListingCount">
                                            {{companyDetails.statistics.rentPropertyListingCount}} <br> Rent</p>
                                        <p class="company-details__wrapper-details-list-text"
                                            *ngIf="!companyDetails.statistics || !companyDetails.statistics.rentPropertyListingCount">
                                            0 <br> Rent</p>
                                    </li>
                                    <li class="company-details__wrapper-details-list-item">
                                      <p class="company-details__wrapper-details-list-text">
                                        0 <br> Residential</p>
                                    </li>
                                    <li class="company-details__wrapper-details-list-item">
                                        <p class="company-details__wrapper-details-list-text"
                                            *ngIf="companyDetails.statistics && companyDetails.statistics.commercialPropertyListingCount">
                                            {{companyDetails.statistics.commercialPropertyListingCount}} <br> Commercial
                                        </p>
                                        <p class="company-details__wrapper-details-list-text"
                                            *ngIf="!companyDetails.statistics || !companyDetails.statistics.commercialPropertyListingCount">
                                            0 <br> Commercial</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="company-details__tabs">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-item">
                                <button class="nav-link active" id="about-tab" data-bs-toggle="tab"
                                    data-bs-target="#about">About Company</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="agent-tab" data-bs-toggle="tab" data-bs-target="#agent">Our
                                    Agents
                                    <span
                                        *ngIf="companyDetails.company && companyDetails.company.agents.length > 0">{{companyDetails.company.agents.length}}</span>
                                </button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="properties-tab" data-bs-toggle="tab"
                                    data-bs-target="#properties">Our Properties
                                    <span
                                        *ngIf="companyDetails.properties && companyDetails.properties.length > 0">{{companyDetails.properties.length}}</span>
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="about">
                                <div class="company-details__tab-content"
                                    *ngIf="companyDetails.company && companyDetails.company.aboutCompany">
                                    <p>{{companyDetails.company.aboutCompany}}</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="agent"
                                *ngIf="companyDetails.agentsViewModel && companyDetails.agentsViewModel.length > 0">
                                <div class="row">
                                    <div class="col-lg-6" *ngFor="let item of companyDetails.agentsViewModel">
                                        <div class="company-details__agent"
                                            routerLink="/agent-details/{{item.agentDetails.user.id}}">
                                            <div class="company-details__agent-wrapper">
                                                <div class="row">
                                                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 d-flex align-items-center"
                                                        *ngIf="item.agentDetails.user && item.agentDetails.user.imageUrl">
                                                        <img src="https://beta.ovaluate.com/{{item.agentDetails.user.imageUrl}}"
                                                            alt="" class="img-fluid company-details__agent-img">
                                                    </div>
                                                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                                                        <div class="company-details__agent-right-panel">
                                                            <h6 class="company-details__agent-heading"
                                                                *ngIf="item.agentDetails.user && item.agentDetails.user.fullName">
                                                                {{item.agentDetails.user.fullName}}</h6>
                                                            <p class="company-details__agent-text"
                                                                *ngIf="item && item.agentDetails.expertIn">{{item.agentDetails.expertIn}}</p>
                                                            <a class="company-details__agent-text company-details__agent-link"
                                                                *ngIf="item.agentDetails.user && item.agentDetails.user.phoneNumber">{{item.agentDetails.user.phoneNumber}}</a>
                                                            <p class="company-details__agent-text mb-3"
                                                                *ngIf="item.agentDetails.user && item.agentDetails.user.location">Location:
                                                                {{item.agentDetails.user.location}}</p>
                                                            <p class="company-details__agent-text"
                                                                *ngIf="item.agentDetails.agents && item.agentDetails.agents.agentLanguages">
                                                                Language: {{item.agentDetails.agents.agentLanguages}}</p>
                                                            <ul class="company-details__agent-details-list">
                                                                <li class="company-details__agent-details-list-item">
                                                                    <p class="company-details__agent-details-list-text">
                                                                        {{item.salePropertyListingCount}}<br>Sale
                                                                    </p>
                                                                </li>
                                                                <li class="company-details__agent-details-list-item">
                                                                    <p class="company-details__agent-details-list-text">
                                                                        {{item.rentPropertyListingCount}}<br>Rents
                                                                    </p>
                                                                </li>
                                                              <li class="company-details__agent-details-list-item">
                                                                <p class="company-details__agent-details-list-text">
                                                                  0<br>Residential
                                                                </p>
                                                              </li>
                                                                <li class="company-details__agent-details-list-item">
                                                                    <p class="company-details__agent-details-list-text">
                                                                        {{item.commercialPropertyListingCount}}<br>Commercial
                                                                    </p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="properties">
                                <div class="company-details__tab-content mb-3">
                                    <div class="company-details__property-wrapper">
                                        <div class="row">
                                            <div class="col-xl-8 col-lg-8 col-md-4 col-12 d-flex align-items-center">
                                                <h6>My Properties</h6>
                                            </div>
                                            <div class="col-xl-4 col-lg-4 col-md-8 col-12 text-end">
                                                <div class="company-details__select-wrapper">
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Sort By</mat-label>
                                                      <mat-select (selectionChange)="sortedBy($event)">
                                                        <mat-option *ngFor="let SortBy of PropertySortBy"
                                                                    value="{{SortBy.id}}">
                                                          {{SortBy.name}}
                                                        </mat-option>
                                                      </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="company-details__property-list" *ngIf="companyDetails.properties">
                                    <li class="company-details__property-list-item"
                                        *ngFor="let item of companyDetails.properties | paginate: { itemsPerPage: 10, currentPage: page, totalItems:totalLength }">
                                        <div class="row" [routerLink]="['/PropertDetailsPage']"
                                            [queryParams]="{id: item.id}">
                                            <div class="col-lg-2" *ngIf="item.documents && item.documents.length > 0">
                                                <img src="{{baseUrl+item.documents[0].fileUrl}}" alt=""
                                                    class="img-fluid company-details__property-list-item-img">
                                            </div>
                                            <div class="col-lg-2" *ngIf="item.documents && item.documents.length == 0">
                                              <img src="assets/images/placeholder.png" alt=""
                                                   class="img-fluid company-details__property-list-item-img">
                                            </div>
                                            <div class="col-lg-10">
                                                <div class="row">
                                                    <div class="col-7">
                                                        <a class="company-details__property-list-item-link">{{item.propertyPrice}}
                                                            <span *ngIf="item.rentType && item.rentType.length > 0">/{{item.rentType.name}}</span>
                                                        </a>
                                                    </div>
                                                    <div class="col-5 text-end">
                                                        <p class="company-details__property-list-item-date">Listed on
                                                            {{item.requestedDateFormat}}</p>
                                                    </div>
                                                </div>
                                                <h6>Blue Wave Tower</h6>
                                                <p class="company-details__property-list-item-text">
                                                    <img src="assets/images/home-location.svg" alt=""
                                                        class="img-fluid company-details__property-list-item-text-icon">
                                                    {{item.propertyAddress}}
                                                </p>
                                                <p class="company-details__property-list-item-type">
                                                    {{item.propertyTitle}}</p>
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <ul class="company-details__property-detail-list">
                                                            <li class="company-details__property-detail-list-item" *ngIf="item.bedrooms != 0 && item.bedrooms != null">
                                                                <img src="{{bedsvg}}" alt="">
                                                                {{item.bedrooms}}
                                                            </li>
                                                            <li class="company-details__property-detail-list-item" *ngIf="item.bedrooms != 0 && item.bathrooms != null">
                                                                <img src="{{bathsvg}}" alt="">
                                                                {{item.bathrooms}}
                                                            </li>
                                                            <li class="company-details__property-detail-list-item">
                                                                <img src="{{squaremetersvg}}" alt="">
                                                                {{item.buildupArea}}
                                                            </li>
                                                            <li class="company-details__property-detail-list-item">
                                                                <img src="{{furnishing}}" alt="">
                                                                {{item.furnishingType}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <img src="assets/images/better-home.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <section class="agent-pagination-wrapper">
                                    <pagination-controls (pageChange)="pageChanged($event)"
                                        class="text-center my-pagination">
                                    </pagination-controls>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="adds-blck-sec">
                    <!-- <div class="row mb-3">
                        <div class="col-8 d-flex align-items-center">
                            <h6 *ngIf="companyDetails.company && companyDetails.company.companyName">Contact {{companyDetails.company.companyName}}</h6>
                        </div>
                        <div class="col-4 text-end">
                            <img *ngIf="companyDetails.company && companyDetails.company.documents.length > 0" src="https://beta.ovaluate.com/{{companyDetails.company.documents[0].fileUrl}}" alt="" class="company-details__form-img">
                        </div>
                    </div>
                    <form class="company-details__form" [formGroup]="agentContact">
                        <fieldset class="company-details__form-fieldset">
                            <label for="name" class="company-details__form-label">Name*</label>
                            <input type="text" name="name" id="name" placeholder="Enter your name"
                                class="company-details__form-input" formControlName="name">
                            <span style="color: red" *ngIf="nameError != ''">*This field is
                                required</span>
                        </fieldset>
                        <fieldset class="company-details__form-fieldset">
                            <label for="email" class="company-details__form-label">Email*</label>
                            <input type="text" name="email" id="email" placeholder="Enter your email"
                                class="company-details__form-input" formControlName="email">
                            <span style="color: red" *ngIf="emailError != ''">*This field is
                                required</span>
                        </fieldset>
                        <fieldset class="company-details__form-fieldset">
                            <label for="phone" class="company-details__form-label">Phone No.*</label>
                            <input type="text" name="phone" id="phone" placeholder="Enter your phone number"
                                class="company-details__form-input" formControlName="phone">
                            <span style="color: red" *ngIf="phoneError != ''">*This field is
                                required</span>
                        </fieldset>
                        <fieldset class="company-details__form-fieldset">
                            <label for="message" class="company-details__form-label">Message</label>
                            <textarea type="text" name="message" id="message"
                                placeholder="I would like to inquire about the property OV - R8986. Please contact me at your earliest convenience."
                                class="company-details__form-input company-details__form-textarea"
                                formControlName="message"></textarea>
                          <span style="color: red" *ngIf="messageError != ''">*This field is
                                required</span>
                        </fieldset>
                        <button type="button" (click)="leadProceedStore()" class="company-details__form-submit">Send Email</button>
                    </form>
                    <div class="row">
                        <div class="col-xxl-6">
                            <a class="company-details__btn">
                                <img src="assets/images/icons/phone-call.svg" alt="">
                                Call Landlord</a>
                        </div>
                        <div class="col-xxl-6">
                            <a class="company-details__btn">
                                <img src="assets/images/icons/WA_Logo.svg" alt="">
                                Whats APP</a>
                        </div>
                        <div class="col-xxl-6">
                            <a class="company-details__btn">
                                <img src="assets/images/icons/comments.svg" alt="">
                                Chat with Landlord</a>
                        </div>
                        <div class="col-xxl-6">
                            <a class="company-details__btn">
                                <img src="assets/images/icons/play-alt.svg" alt="">
                                Video Call</a>
                        </div>
                        <div class="col-xxl-6">
                            <a class="company-details__btn">
                                <img src="assets/images/icons/film.svg" alt="">
                                Virtual Tour</a>
                        </div>
                    </div> -->
                    <script async
                        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6409412786140093"
                        crossorigin="anonymous"></script>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
