<header>
    <app-second-header></app-second-header>
  </header>
  <section class="list-properties-sec">
   <div class="listing-container">
    <div class="heading-title-sec text-center">
        <h2>List New Property</h2>
        <p>Make sure you filled in all the necessary fields and have uploaded all the required files.</p>
    </div>
    <div ngClass="listing-property-form-sec">
      <div ngClass="listing-property-ul">
          <mat-list>
              <mat-list-item ngClass="active"> <a routerLink="/listingproperty"><span ngClass="">1</span> Property Info</a> </mat-list-item>
              <mat-list-item ngClass="active"><a routerLink=""><span ngClass="">2</span> Listing Info</a></mat-list-item>
              <mat-list-item ngClass="disabled"> <a routerLink=""><span ngClass="">3</span> Media</a> </mat-list-item>
              <mat-list-item ngClass="disabled"> <a routerLink=""><span ngClass="">4</span> Verify</a> </mat-list-item>
              <mat-list-item ngClass="disabled"> <a routerLink=""><span ngClass="">5</span> Publish</a> </mat-list-item>
          </mat-list>
      </div>
        <div class="list-property-content">
            <div class="list-property-body">
                <div class="new-listd-property-info">
                    <div class="row">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                            <div class="new-proprty-details">
                                <h5 class="propertyid">OV 3456 890 987</h5>
                                <h5 class="proname">Blue Wave Tower</h5>
                                <address>Etihad Tower 4, Etihad Towers,<br/>
                                    Corniche Road, Abu Dhabi  </address>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                          <div class="proprty-units">
                            <p>This building also listing in ovaluate</p>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <p class="no-units-p"><span class="unit-no">04</span> Units on sale</p>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                    <p class="no-units-p"><span class="unit-no">28</span> Units on rent</p>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
              <form [formGroup]="SubmitForm" (ngSubmit)="onSubmit()">
                <div class="form-border-wrapper">
                    <div class="list-property-header">
                        <h5 class="h5-heading">Property Listing Information</h5>
                        <p>Kindly confirm some facts about the property</p>
                    </div>
                    <div class="list-new-proerty-cntnt">
                        <div class="want-to-list-for">
                            <h6 class="h6-design">Want to List for</h6>
                            <div ngClass="listing-links">
                              <a ngClass="listing-btns" routerLink="/listpropertyinfo">Rent</a>
                              <a ngClass="listing-btns active" routerLink="/SellResidential">Sell</a>
                            </div>
                        </div>
                              <div class="building-type">
                                  <h6 class="h6-design">Building Type</h6>
                                  <div ngClass="listing-links">
                                    <a ngClass="listing-btns active" routerLink="/SellResidential">Residential</a>
                                    <a ngClass="listing-btns" routerLink="/SellCommertial">Commercial</a>
                                  </div>
                              </div>
                              <div class="property-dropdowns-list">
                                  <div class="row">
                                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                          <h6 class="h6-design">Type of Property</h6>
                                          <div class="dropdown">
                                              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                                                  Select type of property
                                              </button>
                                              <div class="dropdown-menu" id="property-type-sec">
                                                <h5 class="h5-heading">Property Type</h5>
                                                  <div class="property-types-cntnts">
                                                    <ul class="list-unstyled residentails-unit-list">
                                                      <li class="d-flex">
                                                        <div class="position-relative">
                                                        <input type="checkbox" formControlName="property_studio">
                                                        <span class="property_sel"></span>
                                                        </div>
                                                        <div class="proprty_name">
                                                          <p>Studio</p>
                                                        </div>
                                                      </li>
                                                      <li class="d-flex">
                                                        <div class="position-relative">
                                                        <input type="checkbox" formControlName="property_apartment">
                                                        <span class="property_sel"></span>
                                                        </div>
                                                        <div class="proprty_name">
                                                          <p>Apartment</p>
                                                        </div>
                                                      </li>
                                                      <li class="d-flex">
                                                        <div class="position-relative">
                                                        <input type="checkbox" formControlName="property_villa">
                                                        <span class="property_sel"></span>
                                                        </div>
                                                        <div class="proprty_name">
                                                          <p>Villa</p>
                                                        </div>
                                                      </li>
                                                      <li class="d-flex">
                                                        <div class="position-relative">
                                                        <input type="checkbox" formControlName="property_townHouse">
                                                        <span class="property_sel"></span>
                                                        </div>
                                                        <div class="proprty_name">
                                                          <p>Town House</p>
                                                        </div>
                                                      </li>
                                                      <li class="d-flex">
                                                        <div class="position-relative">
                                                        <input type="checkbox" formControlName="property_penthouse">
                                                        <span class="property_sel"></span>
                                                        </div>
                                                        <div class="proprty_name">
                                                          <p>Penthouse</p>
                                                        </div>
                                                      </li>
                                                      <li class="d-flex">
                                                        <div class="position-relative">
                                                        <input type="checkbox" formControlName="property_compound">
                                                        <span class="property_sel"></span>
                                                        </div>
                                                        <div class="proprty_name">
                                                          <p>Compound</p>
                                                        </div>
                                                      </li>
                                                      <li class="d-flex">
                                                        <div class="position-relative">
                                                        <input type="checkbox" formControlName="property_duplex">
                                                        <span class="property_sel"></span>
                                                        </div>
                                                        <div class="proprty_name">
                                                          <p>Duplex</p>
                                                        </div>
                                                      </li>
                                                      <li class="d-flex">
                                                        <div class="position-relative">
                                                        <input type="checkbox" formControlName="property_fullFloor">
                                                        <span class="property_sel"></span>
                                                        </div>
                                                        <div class="proprty_name">
                                                          <p>Full Floor</p>
                                                        </div>
                                                      </li>
                                                      <li class="d-flex">
                                                        <div class="position-relative">
                                                        <input type="checkbox" formControlName="property_wholeBuilding">
                                                        <span class="property_sel"></span>
                                                        </div>
                                                        <div class="proprty_name">
                                                          <p>Whole Building</p>
                                                        </div>
                                                      </li>
                                                      <li class="d-flex">
                                                        <div class="position-relative">
                                                        <input type="checkbox" formControlName="property_bulkRentUnit">
                                                        <span class="property_sel"></span>
                                                        </div>
                                                        <div class="proprty_name">
                                                          <p>Bulk Rent Unit</p>
                                                        </div>
                                                      </li>
                                                      <li class="d-flex">
                                                        <div class="position-relative">
                                                        <input type="checkbox" formControlName="property_bungalow">
                                                        <span class="property_sel"></span>
                                                        </div>
                                                        <div class="proprty_name">
                                                          <p>Bungalow</p>
                                                        </div>
                                                      </li>
                                                      <li class="d-flex">
                                                        <div class="position-relative">
                                                        <input type="checkbox" formControlName="property_hotelApartment">
                                                        <span class="property_sel"></span>
                                                        </div>
                                                        <div class="proprty_name">
                                                          <p>Hotel & Hotel Apartment</p>
                                                        </div>
                                                      </li>
                                                    </ul>
                                                    </div>
                                              </div>
                                            </div>
                                      </div>
                                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                          <h6 class="h6-design">Bedroom</h6>
                                          <div class="dropdown">
                                              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                                                Select no. of bedroom
                                              </button>
                                              <div class="dropdown-menu" id="property-type-sec">
                                                <h5 class="h5-heading">Bedroom</h5>
                                                  <div class="property-types-cntnts">
                                                    <ul class="list-unstyled residentails-unit-list">
                                                      <li class="d-flex">
                                                        <div class="position-relative">
                                                        <input type="radio" formControlName="bedroom_1">
                                                        <span class="property_sel"></span>
                                                        </div>
                                                        <div class="proprty_name">
                                                          <p>01</p>
                                                        </div>
                                                      </li>
                                                      <li class="d-flex">
                                                        <div class="position-relative">
                                                        <input type="radio" formControlName="bedroom_2">
                                                        <span class="property_sel"></span>
                                                        </div>
                                                        <div class="proprty_name">
                                                          <p>02</p>
                                                        </div>
                                                      </li>
                                                      <li class="d-flex">
                                                        <div class="position-relative">
                                                        <input type="radio" formControlName="bedroom_3">
                                                        <span class="property_sel"></span>
                                                        </div>
                                                        <div class="proprty_name">
                                                          <p>03</p>
                                                        </div>
                                                      </li>
                                                    </ul>
                                                    </div>
                                              </div>
                                            </div>
                                      </div>
                                      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                          <h6 class="h6-design">Bathroom</h6>
                                          <div class="dropdown square-selection">
                                              <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                                                Select no. of bathroom
                                              </button>
                                              <div class="dropdown-menu" id="property-type-sec">
                                                <h5 class="h5-heading">Bathroom</h5>
                                                  <div class="property-types-cntnts">
                                                    <ul class="list-unstyled residentails-unit-list">
                                                      <li class="d-flex">
                                                        <div class="position-relative">
                                                        <input type="radio" formControlName="room_bathroom_1">
                                                        <span class="property_sel"></span>
                                                        </div>
                                                        <div class="proprty_name">
                                                          <p>01</p>
                                                        </div>
                                                      </li>
                                                      <li class="d-flex">
                                                        <div class="position-relative">
                                                        <input type="radio" formControlName="room_bathroom_2">
                                                        <span class="property_sel"></span>
                                                        </div>
                                                        <div class="proprty_name">
                                                          <p>02</p>
                                                        </div>
                                                      </li>
                                                      <li class="d-flex">
                                                        <div class="position-relative">
                                                        <input type="radio" formControlName="room_bathroom_3">
                                                        <span class="property_sel"></span>
                                                        </div>
                                                        <div class="proprty_name">
                                                          <p>03</p>
                                                        </div>
                                                      </li>
                                                    </ul>
                                                    </div>
                                              </div>
                                            </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="parking-details-sec property-dropdowns-list">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <h6 class="h6-design">Balcony</h6>
                                        <div class="checkbox-flex-box six-column button-same-select">
                                            <div class="checkbox-design position-relative">
                                                <input type="radio" id="Balcony" formControlName="balcony_0" value="Balcony" checked>
                                                <button class="checkbox-btn">0</button>
                                            </div>
                                            <div class="checkbox-design position-relative">
                                                <input type="radio" id="Balcony" formControlName="balcony_1" value="Balcony">
                                                <button class="checkbox-btn">1</button>
                                            </div>
                                            <div class="checkbox-design position-relative">
                                                <input type="radio" id="Balcony" formControlName="balcony_2" value="Balcony">
                                                <button class="checkbox-btn">2</button>
                                            </div>
                                            <div class="checkbox-design position-relative">
                                                <input type="radio" id="Balcony" formControlName="balcony_3" value="Balcony">
                                                <button class="checkbox-btn">3</button>
                                            </div>
                                            <div class="checkbox-design position-relative">
                                                <input type="radio" id="Balcony" formControlName="balcony_4" value="Balcony">
                                                <button class="checkbox-btn">4</button>
                                            </div>
                                            <div class="checkbox-design position-relative">
                                                <input type="radio" id="Balcony" formControlName="balcony_4_plus" value="Balcony">
                                                <button class="checkbox-btn">4+</button>
                                            </div>
                                            </div>
                                   </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <h6 class="h6-design">Available Parking </h6>
                                        <div class="checkbox-flex-box six-column button-same-select">
                                        <div class="checkbox-design position-relative">
                                            <input type="radio" id="parking" formControlName="parking_space_0" value="parking" checked>
                                            <button class="checkbox-btn">0</button>
                                        </div>
                                        <div class="checkbox-design position-relative">
                                            <input type="radio" id="parking" formControlName="parking_space_1" value="parking">
                                            <button class="checkbox-btn">1</button>
                                        </div>
                                        <div class="checkbox-design position-relative">
                                            <input type="radio" id="parking" formControlName="parking_space_2" value="parking">
                                            <button class="checkbox-btn">2</button>
                                        </div>
                                        <div class="checkbox-design position-relative">
                                            <input type="radio" id="parking" formControlName="parking_space_3" value="parking">
                                            <button class="checkbox-btn">3</button>
                                        </div>
                                        <div class="checkbox-design position-relative">
                                            <input type="radio" id="parking" formControlName="parking_space_4" value="parking">
                                            <button class="checkbox-btn">4</button>
                                        </div>
                                        <div class="checkbox-design position-relative">
                                            <input type="radio" id="parking" formControlName="parking_space_4_plus" value="parking">
                                            <button class="checkbox-btn">4+</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                              <div class="furnishing-status">
                                  <div class="row">
                                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                          <h6 class="h6-design">Furnishing Type</h6>
                                          <div class="checkbox-flex-box three-column button-same-select">
                                          <div class="checkbox-design position-relative">
                                              <input type="radio" id="Furnished" formControlName="property_types" value="Furnished" checked>
                                              <button class="checkbox-btn">Furnished</button>
                                          </div>
                                          <div class="checkbox-design position-relative">
                                              <input type="radio" id="Semi-Furnished" formControlName="property_types" value="Semi Furnished">
                                              <button class="checkbox-btn">Semi Furnished</button>
                                          </div>
                                          <div class="checkbox-design position-relative">
                                              <input type="radio" id="Unfurnished" formControlName="property_types" value="Unfurnished">
                                              <button class="checkbox-btn">Unfurnished</button>
                                          </div>
                                          </div>
                                      </div>
                                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                          <h6 class="h6-design">Fitting Type</h6>
                                          <div class="checkbox-flex-box two-column button-same-select max-240">
                                          <div class="checkbox-design position-relative">
                                              <input type="radio" id="None" formControlName="fitting_details" value="None" checked>
                                              <button class="checkbox-btn">None</button>
                                          </div>
                                          <div class="checkbox-design position-relative">
                                              <input type="radio" id="Fitted" formControlName="fitting_details" value="Fitted">
                                              <button class="checkbox-btn">Fitted</button>
                                          </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="area-list">
                                  <div class="row">
                                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                          <h6 class="h6-design">Carpet Area </h6>
                                          <div class="input-flaoted-right-text">
                                          <div class="position-relative">
                                          <mat-form-field class="full-width input-design" appearance="fill">
                                              <input matInput type="number" formControlName="carpetArea">
                                          </mat-form-field>
                                          <span class="area-sq">Sq. Ft.</span>
                                          </div>
                                          <p class="text-right">345 Sq Yd.</p>
                                          </div>
                                      </div>
                                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                          <h6 class="h6-design">Buildup Area</h6>
                                          <div class="input-flaoted-right-text">
                                              <div class="position-relative">
                                              <mat-form-field class="full-width input-design" appearance="fill">
                                                  <input matInput type="number" formControlName="buildupArea">
                                              </mat-form-field>
                                              <span class="area-sq">Sq. Ft.</span>
                                              </div>
                                              <p class="text-right">345 Sq Yd.</p>
                                              </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="transaction-type">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <h6 class="h6-design">Transaction Type</h6>
                                        <div class="checkbox-flex-box two-column button-same-select max-240">
                                        <div class="checkbox-design position-relative">
                                            <input type="radio" id="new-booking" formControlName="transactionType" value="New Booking" checked>
                                            <button class="checkbox-btn">New Booking</button>
                                        </div>
                                        <div class="checkbox-design position-relative">
                                            <input type="radio" id="resale" formControlName="transactionType" value="Re-sale">
                                            <button class="checkbox-btn">Re-sale</button>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <h6 class="h6-design">Completion Status</h6>
                                        <div class="checkbox-flex-box two-column button-same-select max-240">
                                        <div class="checkbox-design position-relative">
                                            <input type="radio" id="Ready" formControlName="completionDetails"  value="Ready" checked>
                                            <button class="checkbox-btn">Ready</button>
                                        </div>
                                        <div class="checkbox-design position-relative">
                                            <input type="radio" id="Off-Plan" formControlName="completionDetails" value="Off Plan">
                                            <button class="checkbox-btn">Off Plan</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                  <div class="price-rent-type">
                                  <div class="row">
                                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                          <h6 class="h6-design">Price </h6>
                                          <div class="input-flaoted-left-text">
                                          <div class="position-relative">
                                              <mat-form-field class="full-width input-design" appearance="fill">
                                                  <input matInput type="number" formControlName="price">
                                              </mat-form-field>
                                          <span class="area-sq">AED</span>
                                          </div>
                                          </div>
                                      </div>
                                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                          <h6 class="h6-design">Maintenance Charge (per month)</h6>
                                          <div class="input-flaoted-left-text">
                                            <div class="position-relative">
                                                <mat-form-field class="full-width input-design" appearance="fill">
                                                    <input matInput type="number" formControlName="maintenanceCharge">
                                                </mat-form-field>
                                            <span class="area-sq">AED</span>
                                            </div>
                                            </div>
                                            <p ngClass="input-btn-text">per month</p>
                                      </div>
                                  </div>
                              </div>
                              <div class="security-deposit-sec">
                                  <div class="row">
                                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                          <h6 class="h6-design">Do you charge brokerage?</h6>
                                          <div class="checkbox-flex-box two-column button-same-select">
                                              <div class="checkbox-design position-relative">
                                                  <input type="radio" id="Yes" formControlName="brokerage" value="Yes" checked>
                                                  <button class="checkbox-btn">Yes</button>
                                                  <div class="deposit-yes hide">
                                                      <div class="input-flaoted-left-text">
                                                          <div class="position-relative">
                                                          <mat-form-field class="full-width input-design" appearance="fill">
                                                              <input matInput type="number" formControlName="brokerageAed">
                                                          </mat-form-field>
                                                          <span class="area-sq">AED</span>
                                                          </div>
                                                        </div>
                                                        <ul class="lsit-unstyled">
                                                          <li class="d-flex">
                                                              <div class="position-relative">
                                                              <input type="radio" formControlName="brokerageNegotiable">
                                                              <span class="property_sel"></span>
                                                              </div>
                                                              <div class="proprty_name">
                                                                <p>Is it Negotiable</p>
                                                              </div>
                                                            </li>
                                                          </ul>
                                                  </div>
                                              </div>
                                              <div class="checkbox-design position-relative">
                                                  <input type="radio" id="No" formControlName="brokerage" value="No">
                                                  <button class="checkbox-btn">No</button>
                                              </div>
                                              </div>
                                      </div>
                                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                        <h6 class="h6-design">Handover On</h6>
                                          <div class="input-date-picker input-design">
                                              <mat-form-field appearance="fill">
                                                  <input matInput [matDatepicker]="picker" formControlName="handover">
                                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                  <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="property-description">
                                  <div class="row">
                                      <div class="col-sm-12">
                                          <h6 class="h6-design">Property Description</h6>
                                          <div class="textarea-design">
                                              <mat-form-field class="example-full-width" appearance="fill">
                                                  <mat-label>Property Description</mat-label>
                                                  <textarea formControlName="propertyDescription" matInput placeholder="Eg. 30"></textarea>
                                                </mat-form-field>
                                              <p class="textraea-hint text-right">320 words left</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="property-offers">
                                  <div class="row">
                                      <div class="col-sm-12">
                                          <h6 class="h6-design">Property Offers (if any)</h6>
                                          <div class="textarea-design">
                                              <mat-form-field class="full-width input-design" appearance="fill">
                                                  <mat-label>Offers - Increase leads on your property upto 50%!</mat-label>
                                                  <input formControlName="propertyOffers" matInput type="text" placeholder="Example - 15 days of rent off. Only Pay 15 days of brokerage now! Free rental agreement.">
                                                </mat-form-field>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="highlight-sec">
                                  <div class="row">
                                      <div class="col-sm-12">
                                          <h6 class="h6-design">Highlights</h6>
                                          <div class="inneR-border-wrap">
                                              <div class="checkbox-flex-box autoflex-layout">
                                                  <div class="checkbox-design position-relative">
                                                      <input type="checkbox" id="Exclusive" formControlName="highlights_exclusive" value="Exclusive" checked>
                                                      <button class="checkbox-btn">Exclusive</button>
                                                  </div>
                                                  <div class="checkbox-design position-relative">
                                                      <input type="checkbox" id="Golf-View" formControlName="highlights_golfView" value="Golf View">
                                                      <button class="checkbox-btn">Golf View</button>
                                                  </div>
                                                  <div class="checkbox-design position-relative">
                                                      <input type="checkbox" id="Canal-View" formControlName="highlights_canalView" value="Canal View" checked>
                                                      <button class="checkbox-btn">Canal View</button>
                                                  </div>
                                                  <div class="checkbox-design position-relative">
                                                      <input type="checkbox" id="Affordable" formControlName="highlights_affordable" value="Affordable" checked>
                                                      <button class="checkbox-btn">Affordable</button>
                                                  </div>
                                                  <div class="checkbox-design position-relative">
                                                      <input type="checkbox" id="Vastu-Complaint" formControlName="highlights_vastuComplaint" value="Vastu Complaint">
                                                      <button class="checkbox-btn">Vastu Complaint</button>
                                                  </div>
                                                  <div class="checkbox-design position-relative">
                                                      <input type="checkbox" id="Prime Location" formControlName="highlights_primeLocation" value="Prime Location">
                                                      <button class="checkbox-btn">Prime Location</button>
                                                  </div>
                                                  <div class="checkbox-design position-relative">
                                                      <input type="checkbox" id="Metro" name="Metro" formControlName="highlights_metro" checked>
                                                      <button class="checkbox-btn">2m from Metro</button>
                                                  </div>
                                                  </div>
                                                  <div class="add-more">
                                                      <button class="add-higlights"><img src="{{plus}}"> Add Hightlights</button>
                                                  </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="select-amenitites">
                                  <div class="row">
                                      <div class="col-sm-12">
                                          <h6 class="h6-design">Select Amenitites</h6>
                                          <div class="inneR-border-wrap">
                                              <div class="checkbox-flex-box autoflex-layout">
                                                  <div class="checkbox-design position-relative">
                                                      <input type="checkbox" id="ac" formControlName="amenitites_ac" value="AC" checked>
                                                      <button class="checkbox-btn">A/C</button>
                                                  </div>
                                                  <div class="checkbox-design position-relative">
                                                      <input type="checkbox" id="Deck" formControlName="amenitites_deckspace" value="Deck">
                                                      <button class="checkbox-btn">Deck</button>
                                                  </div>
                                                  <div class="checkbox-design position-relative">
                                                      <input type="checkbox" id="Pet-Friendly" formControlName="amenitites_petFriendly" value="Pet Friendly" checked>
                                                      <button class="checkbox-btn">Pet Friendly</button>
                                                  </div>
                                                  <div class="checkbox-design position-relative">
                                                      <input type="checkbox" id="Free-Parking-Spots" formControlName="amenitites_parkingspace" value="Free Parking Spots" checked>
                                                      <button class="checkbox-btn">Free Parking Spots</button>
                                                  </div>
                                                  <div class="checkbox-design position-relative">
                                                      <input type="checkbox" id="Pool" formControlName="amenitites_poolspace" value="Pool">
                                                      <button class="checkbox-btn">Pool</button>
                                                  </div>
                                                  <div class="checkbox-design position-relative">
                                                      <input type="checkbox" id="Yard" formControlName="amenitites_yardspace" value="Yard">
                                                      <button class="checkbox-btn">Yard</button>
                                                  </div>
                                                  <div class="checkbox-design position-relative">
                                                      <input type="checkbox" id="Free-Wi-Fi" formControlName="amenitites_freeWiFi" value="Free Wi-Fi">
                                                      <button class="checkbox-btn">Free Wi-Fi</button>
                                                  </div>
                                                  <div class="checkbox-design position-relative">
                                                      <input type="checkbox" id="Gym" formControlName="amenitites_gymspace" value="Gym" checked>
                                                      <button class="checkbox-btn">Gym</button>
                                                  </div>
                                                  <div class="checkbox-design position-relative">
                                                      <input type="checkbox" id="Hardwood-Floor" formControlName="amenitites_hardwoodFloorspace" value="Hardwood Floor">
                                                      <button class="checkbox-btn">Hardwood Floor</button>
                                                  </div>
                                                  <div class="checkbox-design position-relative">
                                                      <input type="checkbox" id="Jacuzzi" formControlName="amenitites_jacuzzi" value="Jacuzzi">
                                                      <button class="checkbox-btn">Jacuzzi</button>
                                                  </div>
                                                  </div>
                                                  <div class="add-more">
                                                      <button class="add-higlights"><img src="{{plus}}"> Add Amenity</button>
                                                  </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                    </div>
                </div>
                <div class="text-right save-continue-sec">
                <mat-card-actions>
                        <a routerLink="/listingproperty" class="back-btn">Back</a>
                 </mat-card-actions>
                <mat-card-actions>
<!--                    <a routerLink="/listpropertymedia" class="save-continue-btn">Save & Continue</a>-->
                        <button mat-raised-button type="submit" ngClass="submit-btn">Save & Continue</button>
                 </mat-card-actions>
                </div>
                </form>
            </div>
        </div>
        </div>
   </div>
  </section>
