<div ngClass="tab-content">
    <div ngClass="tab-form-sec rent-form">
    <form [formGroup]="search" (ngSubmit)="ProceedSearch()">
        <div ngClass="flex-row">
          <div ngClass="flex-column-1">
            <div ngClass="form-grouph input-design floating-label position-relative">
              <label>Search by</label>
              <input type="text" formControlName="Name" placeholder="Location, Project Name">
            </div>
          </div>
          <div ngClass="flex-column-2">
              <div ngClass="budget-button">
              <div ngClass="dropdown">
                <button type="button" ngClass="btn dropdown-toggle" data-bs-toggle="dropdown">
                  Budget
                </button>
                <div ngClass="dropdown-menu" id="budget-dropdown">
                    <div ngClass="price-range_sec">
                      <h5 ngClass="h5-heading">Price Range</h5>
                      <div ngClass="price-range-wrap">
                        
                      </div>                                            
                      </div>
                    <div ngClass="price-type_tabs">
                      <h5 ngClass="h5-heading">Rental Type</h5>
                      <ul ngClass="nav nav-tabs" role="tablist">
                        <li ngClass="nav-item">
                            <input type="radio" id="Monthly" formControlName="RentalType" value="Monthly"><label for="Monthly">Monthly</label>
                            <!-- <a ngClass="nav-link active" data-bs-toggle="tab" href="#Monthly"> Monthly</a> -->
                        </li>
                        <li ngClass="nav-item">
                            <input type="radio" id="Yearly" formControlName="RentalType" value="Yearly"><label for="Yearly">Yearly</label>
                            <!-- <a ngClass="nav-link" data-bs-toggle="tab" href="#Yearly">Yearly</a> -->
                        </li>
                      </ul>
                    </div>
                </div>
              </div>
              </div>
          </div>
          <div ngClass="flex-column-3">
            <div ngClass="property-type-button">
              <div ngClass="dropdown">
                <button type="button" ngClass="btn dropdown-toggle" data-bs-toggle="dropdown">
                Property Type
                </button>
                <div ngClass="dropdown-menu" id="property-type-sec">
                    <h5 ngClass="h5-heading">Property Categories</h5>
                    <div ngClass="property-types-heading">
                        <ul ngClass="nav nav-tabs" role="tablist" *ngFor="let category of categories" >
                        <li ngClass="nav-item">
                            <a ngClass="nav-link {{category.checked}}" data-bs-toggle="tab" href="#{{category.categoryName}}" >
                                <span ngClass="circle-celection"></span> 
                                {{category.categoryName}}
                            </a>
                        </li>
                        <!-- <li ngClass="nav-item">
                            <a ngClass="nav-link" data-bs-toggle="tab" href="#Commercial"><span ngClass="circle-celection"></span> Commercial</a>
                        </li> -->
                        </ul>
                    </div>
                    <div ngClass="property-types-cntnts">
                        <!-- <div ngClass="" > -->
                        <div ngClass="tab-content" *ngFor="let category of categories" >
                            <div id="{{category.categoryName}}" ngClass="tab-pane {{category.checked}} {{category.fade}}" > 
                            <h5 ngClass="h5-heading">{{category.categoryName}} Type</h5>
                                <ul ngClass="list-unstyled residentails-unit-list" *ngFor=" let type of category.propertyTypes">
                                <li ngClass="d-flex">
                                    <div ngClass="position-relative">
                                    <input type="checkbox" formControlName="Type" value="{{type.typeDescription}}">
                                    <span ngClass="property_sel"></span>
                                    </div>
                                    <div ngClass="proprty_name">
                                    <p>{{type.typeDescription}}</p>
                                    </div>
                                </li>
                                </ul>
                            </div>
                        </div>
                    <!-- </div> -->
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div ngClass="flex-column-4">
          <button type="submit" ngClass="search-btn"><img src="assets/images/search.svg"></button> 
          </div>
        </div>
    </form>
    </div>
</div>