<app-header></app-header>
<section [ngClass]="'inner-cntnt-wrapper slide-left-bar'">
    <section [ngClass]="'payment-package-banner-sec position-relative'"
    style="background-image: url('assets/images/payment-bg.jpg')">
    <div [ngClass]="'container_1280px'">
      <app-breadcrumbs></app-breadcrumbs>
      <div ngClass="inner-banner-heading text-center">
        <h2>Payment</h2>
      </div>
    </div>
  </section>
  <section class="payemnt_packages-form-inner">
    <div class="container_1280px">
         <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div ngClass="payment-left-form-sec position-relative">
                    <div ngClass="payment-another-info">
                        <div ngClass="detail-box d-flex justify-content-spacebw">
                            <div ngClass="pay-heading-block">
                                <h6>Points Package Type</h6>
                                <p>Platinum</p>
                            </div>
                            <p ngClass="price">AED 4000</p>
                        </div>
                        <div ngClass="tax-box d-flex justify-content-spacebw">
                            <div ngClass="pay-heading-block">
                                <h6>Tax</h6>
                            </div>
                            <p ngClass="tax-cost">Included</p>
                        </div>
                        <div ngClass="totel-due-box d-flex justify-content-spacebw">
                            <div ngClass="pay-heading-block">
                                <h6>Total Due</h6>
                            </div>
                            <p ngClass="price">AED 4000</p>
                        </div>
                    </div>
                    <div ngClass="strip-btn-div">
                        <button ngClass="stripr-btn"><img src="{{stripe}}"></button>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <form>
                    <div class="payment-form-list">
                        <h5 class="h5-design mb-2">Payment</h5>
                        <p ngClass="mb-4">Please fill your payment details for proceed further</p>
                        <div class="paymentmodal-form-design">
                            <form [formGroup]="paymentForm">
                                <div ngClass="block-wrapper mb-3">
                                    <label>Card Number</label>
                                    <mat-form-field class="full-width input-design-2" appearance="fill">
                                        <input matInput type="number" placeholder="1234 1234 1234 1234"
                                            formControlName="cardNumber">
                                    </mat-form-field>
                                </div>
                                <div ngClass="block-wrapper mb-3">
                                    <label>Expiry</label>
                                    <mat-form-field class="full-width input-design-2" appearance="fill">
                                        <input matInput type="text" placeholder="MM/YY" formControlName="expiryDate"
                                        >
                                    </mat-form-field>
                                </div>
                                <div ngClass="block-wrapper mb-3">
                                    <label>CVV</label>
                                    <mat-form-field class="full-width input-design-2" appearance="fill">
                                        <input matInput type="number" placeholder="CVV" formControlName="cvv"
                                          >
                                    </mat-form-field>
                                </div>
                                <div ngClass="block-wrapper mb-3">
                                    <label>Name on Card</label>
                                    <mat-form-field class="full-width input-design-2" appearance="fill">
                                        <input matInput type="text" placeholder="Name" formControlName="cardName">
                                    </mat-form-field>
                                </div>
                                <div class="wallet-btn-flex">
                                    <button class="recharge-btn">Proceed to Pay</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
         </div>
    </div>
  </section>
<app-footer></app-footer>
</section>