<app-header></app-header>
<section [ngClass]="'inner-cntnt-wrapper slide-left-bar'">
    <section [ngClass]="'explore-banner-sec position-relative'"
      style="background-image: url('assets/images/areas-banner.webp')">
      <div [ngClass]="'container_1280px'">
        <div ngClass="inner-banner-heading text-center">
          <h2>تصنيف المشاريع</h2>
        </div>
      </div>
    </section>
    <section ngClass="all-scores-sec">
      <div [ngClass]="'container_1280px'">
        <div ngClass="explore-breadcrumb-wrapper black-text-breadcrumb">
          <app-breadcrumbs></app-breadcrumbs>
        </div>
        <div class="main-project-scores-content">
          <div class="project-scoresBox-section">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-6 col-lg-4 col-md-6 p-3">
                          <div class="card h-100 scoresBox-card border-0">
                              <div class="card-body p-0">
                                  <div class="scoreBox-img">
                                      <img src="/assets/images/projectScores/score-box-img-3.png" alt="Project Scores image">
                                  </div>
  
                                  <div class="scoresBox-information position-relative">
                                      <div class="popular-box d-flex align-items-center justify-content-center">
                                          <img src="/assets/images/projectScores/popular.png" alt="Popular image">
                                          <span>المحبوب</span>
                                      </div>
                                      <h2>مدينة جميرا ليفينج (MJL)</h2>
                                      <div class="location-b d-flex align-itmes-start">
                                          <img src="/assets/images/projectScores/location.png" alt="Location">
                                          <span>دبى، الامارات العربية المتحدة</span>
                                      </div>
                                      <div class="main-progress-circle">
                                          <div class="row">
                                              <div class="col-6 col-md-4 col-xl-3">
                                                  <div class="circles-small">
                                                      <div class="circle-small">
                                                          <div class="text">
                                                              <span>10</span>
                                                          </div>
                                                          <svg viewBox="0 0 110 100">
                                                              <linearGradient id="gradient" x1="0" y1="0" x2="0"
                                                                  y2="100%">
                                                                  <stop offset="0%" stop-color="#56c4fb"></stop>
                                                                  <stop offset="100%" stop-color="#0baeff"></stop>
                                                              </linearGradient>
                                                              <path class="white" d="M30,90 A40,40 0 1,1 80,90"
                                                                  fill="none"></path>
                                                              <path class="backgroundColor" fill="none" class="blue"
                                                                  d="M30,90 A40,40 0 1,1 80,90"></path>
  
                                                          </svg>
                                                          <span class="svg-text">من اصل 10</span>
                                                      </div>
                                                  </div>
                                                  <div class="bottom-label">
                                                      <span>قيمة المال</span>
                                                  </div>
                                              </div>
                                              <div class="col-6 col-md-4 col-xl-3">
                                                  <div class="circles-small">
                                                      <div class="circle-small">
                                                          <div class="text">
                                                              <span>8</span>
                                                          </div>
                                                          <svg viewBox="0 0 110 100" class="cir-sec">
                                                              <linearGradient id="gradient" x1="0" y1="0" x2="0"
                                                                  y2="100%">
                                                                  <stop offset="0%" stop-color="#56c4fb"></stop>
                                                                  <stop offset="100%" stop-color="#0baeff"></stop>
                                                              </linearGradient>
                                                              <path class="white" d="M30,90 A40,40 0 1,1 80,90"
                                                                  fill="none"></path>
                                                              <path class="backgroundColor" fill="none" class="blue"
                                                                  d="M30,90 A40,40 0 1,1 80,90"></path>
                                                          </svg>
                                                          <span class="svg-text">من اصل 10</span>
                                                      </div>
                                                  </div>
                                                  <div class="bottom-label">
                                                      <span>المدرة للدخل</span>
                                                  </div>
                                              </div>
                                              <div class="col-6 col-md-4 col-xl-3">
                                                  <div class="circles-small">
                                                      <div class="circle-small">
                                                          <div class="text">
                                                              <span>5</span>
                                                          </div>
                                                          <svg viewBox="0 0 110 100" class="cir-thid">
                                                              <linearGradient id="gradient" x1="0" y1="0" x2="0"
                                                                  y2="100%">
                                                                  <stop offset="0%" stop-color="#56c4fb"></stop>
                                                                  <stop offset="100%" stop-color="#0baeff"></stop>
                                                              </linearGradient>
                                                              <path class="white" d="M30,90 A40,40 0 1,1 80,90"
                                                                  fill="none"></path>
                                                              <path class="backgroundColor" fill="none" class="blue"
                                                                  d="M30,90 A40,40 0 1,1 80,90"></path>
  
                                                          </svg>
                                                          <span class="svg-text">من اصل 10</span>
                                                      </div>
                                                  </div>
                                                  <div class="bottom-label">
                                                      <span>تطبيق رأس المال</span>
                                                  </div>
                                              </div>
                                              <div class="col-6 col-md-4 col-xl-3">
                                                  <div class="circles-small">
                                                      <div class="circle-small">
                                                          <div class="text">
                                                              <span>9</span>
                                                          </div>
                                                          <svg viewBox="0 0 110 100" class="cir-four">
                                                              <linearGradient id="gradient" x1="0" y1="0" x2="0"
                                                                  y2="100%">
                                                                  <stop offset="0%" stop-color="#56c4fb"></stop>
                                                                  <stop offset="100%" stop-color="#0baeff"></stop>
                                                              </linearGradient>
                                                              <path class="white" d="M30,90 A40,40 0 1,1 80,90"
                                                                  fill="none"></path>
                                                              <path class="backgroundColor" fill="none" class="blue"
                                                                  d="M30,90 A40,40 0 1,1 80,90"></path>
  
                                                          </svg>
                                                          <span class="svg-text">من اصل 10</span>
                                                      </div>
                                                  </div>
                                                  <div class="bottom-label">
                                                      <span>إجمالي</span>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
  
                      <div class="col-sm-6 col-lg-4 col-md-6 p-3">
                          <div class="card h-100 scoresBox-card border-0">
                              <div class="card-body p-0">
                                  <div class="scoreBox-img">
                                      <img src="/assets/images/projectScores/score-box-img-2.png" alt="Project Scores image">
                                  </div>
  
                                  <div class="scoresBox-information position-relative">
                                      <div class="popular-box d-flex align-items-center justify-content-center">
                                          <img src="/assets/images/projectScores/popular.png" alt="Popular image">
                                          <span>المحبوب</span>
                                      </div>
                                      <h2>مدينة جميرا ليفينج (MJL)</h2>
                                      <div class="location-b d-flex align-itmes-start">
                                          <img src="/assets/images/projectScores/location.png" alt="Location">
                                          <span>دبى، الامارات العربية المتحدة</span>
                                      </div>
                                      <div class="main-progress-circle">
                                          <div class="row">
                                              <div class="col-6 col-md-4 col-xl-3">
                                                  <div class="circles-small">
                                                      <div class="circle-small">
                                                          <div class="text">
                                                              <span>10</span>
                                                          </div>
                                                          <svg viewBox="0 0 110 100">
                                                              <linearGradient id="gradient" x1="0" y1="0" x2="0"
                                                                  y2="100%">
                                                                  <stop offset="0%" stop-color="#56c4fb"></stop>
                                                                  <stop offset="100%" stop-color="#0baeff"></stop>
                                                              </linearGradient>
                                                              <path class="white" d="M30,90 A40,40 0 1,1 80,90"
                                                                  fill="none"></path>
                                                              <path class="backgroundColor" fill="none" class="blue"
                                                                  d="M30,90 A40,40 0 1,1 80,90"></path>
  
                                                          </svg>
                                                          <span class="svg-text">من اصل 10</span>
                                                      </div>
                                                  </div>
                                                  <div class="bottom-label">
                                                      <span>قيمة المال</span>
                                                  </div>
                                              </div>
                                              <div class="col-6 col-md-4 col-xl-3">
                                                  <div class="circles-small">
                                                      <div class="circle-small">
                                                          <div class="text">
                                                              <span>8</span>
                                                          </div>
                                                          <svg viewBox="0 0 110 100" class="cir-sec">
                                                              <linearGradient id="gradient" x1="0" y1="0" x2="0"
                                                                  y2="100%">
                                                                  <stop offset="0%" stop-color="#56c4fb"></stop>
                                                                  <stop offset="100%" stop-color="#0baeff"></stop>
                                                              </linearGradient>
                                                              <path class="white" d="M30,90 A40,40 0 1,1 80,90"
                                                                  fill="none"></path>
                                                              <path class="backgroundColor" fill="none" class="blue"
                                                                  d="M30,90 A40,40 0 1,1 80,90"></path>
                                                          </svg>
                                                          <span class="svg-text">من اصل 10</span>
                                                      </div>
                                                  </div>
                                                  <div class="bottom-label">
                                                      <span>المدرة للدخل</span>
                                                  </div>
                                              </div>
                                              <div class="col-6 col-md-4 col-xl-3">
                                                  <div class="circles-small">
                                                      <div class="circle-small">
                                                          <div class="text">
                                                              <span>5</span>
                                                          </div>
                                                          <svg viewBox="0 0 110 100" class="cir-thid">
                                                              <linearGradient id="gradient" x1="0" y1="0" x2="0"
                                                                  y2="100%">
                                                                  <stop offset="0%" stop-color="#56c4fb"></stop>
                                                                  <stop offset="100%" stop-color="#0baeff"></stop>
                                                              </linearGradient>
                                                              <path class="white" d="M30,90 A40,40 0 1,1 80,90"
                                                                  fill="none"></path>
                                                              <path class="backgroundColor" fill="none" class="blue"
                                                                  d="M30,90 A40,40 0 1,1 80,90"></path>
  
                                                          </svg>
                                                          <span class="svg-text">من اصل 10</span>
                                                      </div>
                                                  </div>
                                                  <div class="bottom-label">
                                                      <span>تطبيق رأس المال</span>
                                                  </div>
                                              </div>
                                              <div class="col-6 col-md-4 col-xl-3">
                                                  <div class="circles-small">
                                                      <div class="circle-small">
                                                          <div class="text">
                                                              <span>9</span>
                                                          </div>
                                                          <svg viewBox="0 0 110 100" class="cir-four">
                                                              <linearGradient id="gradient" x1="0" y1="0" x2="0"
                                                                  y2="100%">
                                                                  <stop offset="0%" stop-color="#56c4fb"></stop>
                                                                  <stop offset="100%" stop-color="#0baeff"></stop>
                                                              </linearGradient>
                                                              <path class="white" d="M30,90 A40,40 0 1,1 80,90"
                                                                  fill="none"></path>
                                                              <path class="backgroundColor" fill="none" class="blue"
                                                                  d="M30,90 A40,40 0 1,1 80,90"></path>
  
                                                          </svg>
                                                          <span class="svg-text">من اصل 10</span>
                                                      </div>
                                                  </div>
                                                  <div class="bottom-label">
                                                      <span>إجمالي</span>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-6 col-lg-4 col-md-6 p-3">
                          <div class="card h-100 scoresBox-card border-0">
                              <div class="card-body p-0">
                                  <div class="scoreBox-img">
                                      <img src="/assets/images/projectScores/score-box-img-1.png" alt="Project Scores image">
                                  </div>
  
                                  <div class="scoresBox-information position-relative">
                                      <div class="popular-box d-flex align-items-center justify-content-center">
                                          <img src="/assets/images/projectScores/popular.png" alt="Popular image">
                                          <span>المحبوب</span>
                                      </div>
                                      <h2>مدينة جميرا ليفينج (MJL)</h2>
                                      <div class="location-b d-flex align-itmes-start">
                                          <img src="/assets/images/projectScores/location.png" alt="Location">
                                          <span>دبى، الامارات العربية المتحدة</span>
                                      </div>
                                      <div class="main-progress-circle">
                                          <div class="row">
                                              <div class="col-6 col-md-4 col-xl-3">
                                                  <div class="circles-small">
                                                      <div class="circle-small">
                                                          <div class="text">
                                                              <span>10</span>
                                                          </div>
                                                          <svg viewBox="0 0 110 100">
                                                              <linearGradient id="gradient" x1="0" y1="0" x2="0"
                                                                  y2="100%">
                                                                  <stop offset="0%" stop-color="#56c4fb"></stop>
                                                                  <stop offset="100%" stop-color="#0baeff"></stop>
                                                              </linearGradient>
                                                              <path class="white" d="M30,90 A40,40 0 1,1 80,90"
                                                                  fill="none"></path>
                                                              <path class="backgroundColor" fill="none" class="blue"
                                                                  d="M30,90 A40,40 0 1,1 80,90"></path>
  
                                                          </svg>
                                                          <span class="svg-text">من اصل 10</span>
                                                      </div>
                                                  </div>
                                                  <div class="bottom-label">
                                                      <span>قيمة المال</span>
                                                  </div>
                                              </div>
                                              <div class="col-6 col-md-4 col-xl-3">
                                                  <div class="circles-small">
                                                      <div class="circle-small">
                                                          <div class="text">
                                                              <span>8</span>
                                                          </div>
                                                          <svg viewBox="0 0 110 100" class="cir-sec">
                                                              <linearGradient id="gradient" x1="0" y1="0" x2="0"
                                                                  y2="100%">
                                                                  <stop offset="0%" stop-color="#56c4fb"></stop>
                                                                  <stop offset="100%" stop-color="#0baeff"></stop>
                                                              </linearGradient>
                                                              <path class="white" d="M30,90 A40,40 0 1,1 80,90"
                                                                  fill="none"></path>
                                                              <path class="backgroundColor" fill="none" class="blue"
                                                                  d="M30,90 A40,40 0 1,1 80,90"></path>
                                                          </svg>
                                                          <span class="svg-text">من اصل 10</span>
                                                      </div>
                                                  </div>
                                                  <div class="bottom-label">
                                                      <span>المدرة للدخل</span>
                                                  </div>
                                              </div>
                                              <div class="col-6 col-md-4 col-xl-3">
                                                  <div class="circles-small">
                                                      <div class="circle-small">
                                                          <div class="text">
                                                              <span>5</span>
                                                          </div>
                                                          <svg viewBox="0 0 110 100" class="cir-thid">
                                                              <linearGradient id="gradient" x1="0" y1="0" x2="0"
                                                                  y2="100%">
                                                                  <stop offset="0%" stop-color="#56c4fb"></stop>
                                                                  <stop offset="100%" stop-color="#0baeff"></stop>
                                                              </linearGradient>
                                                              <path class="white" d="M30,90 A40,40 0 1,1 80,90"
                                                                  fill="none"></path>
                                                              <path class="backgroundColor" fill="none" class="blue"
                                                                  d="M30,90 A40,40 0 1,1 80,90"></path>
  
                                                          </svg>
                                                          <span class="svg-text">من اصل 10</span>
                                                      </div>
                                                  </div>
                                                  <div class="bottom-label">
                                                      <span>تطبيق رأس المال</span>
                                                  </div>
                                              </div>
                                              <div class="col-6 col-md-4 col-xl-3">
                                                  <div class="circles-small">
                                                      <div class="circle-small">
                                                          <div class="text">
                                                              <span>9</span>
                                                          </div>
                                                          <svg viewBox="0 0 110 100" class="cir-four">
                                                              <linearGradient id="gradient" x1="0" y1="0" x2="0"
                                                                  y2="100%">
                                                                  <stop offset="0%" stop-color="#56c4fb"></stop>
                                                                  <stop offset="100%" stop-color="#0baeff"></stop>
                                                              </linearGradient>
                                                              <path class="white" d="M30,90 A40,40 0 1,1 80,90"
                                                                  fill="none"></path>
                                                              <path class="backgroundColor" fill="none" class="blue"
                                                                  d="M30,90 A40,40 0 1,1 80,90"></path>
  
                                                          </svg>
                                                          <span class="svg-text">من اصل 10</span>
                                                      </div>
                                                  </div>
                                                  <div class="bottom-label">
                                                      <span>إجمالي</span>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </section>
<app-footer></app-footer>
</section>