a {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
    svg,
    img {
      max-width: 100%;
      height: 100%;
      width: 100%;
    }
    .container {
      max-width: 1330px;
      padding: 0px 15px;
      position: relative;
      margin: auto;
    }
    p {
      margin-bottom: 0px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    ::selection {
      color: #fff;
      background: #0085ff;
    }
    button {
      &:focus {
        box-shadow: none !important;
        outline: none;
      }
    }
    .subTitle {
      font-size: 34px;
      line-height: 36px;
      font-weight: 600;
      color: #000 !important;
      padding: 30px 0 20px 0;
      letter-spacing: 0.02em;
      margin-bottom: 0px;
    }
    .color {
      color: #595ad5 !important;
    }
  }
  
  .tilal-ghaf-villas-section {
    .main-title {
      font-size: 50px;
      line-height: 52px;
      font-weight: 600;
      margin-bottom: 30px;
      padding-top: 2rem;
      max-width: 757px;
    }
    .startingPrice-section {
      background-color: #f6f4f2;
      padding: 15px 0px 2rem 0px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
      .starting-text-box {
        .price-inner-box {
          margin: 16px 16px 0 0;
          padding: 10px 20px;
          background: #fff;
          width: calc(50% - 16px);
          svg {
            padding: 5px;
            font-size: 38px;
            color: #75818b;
            width: 40px;
          }
          .highlight-option {
            margin: 5px 0;
            h5 {
              font-size: 30px;
              line-height: 30px;
              font-weight: 600;
              color: #3e4861;
              margin-bottom: 0px;
            }
            span {
              display: block;
              font-size: 20px;
              color: #a8a8a8;
              line-height: 25px;
            }
          }
        }
      }
      .brochure-img {
        text-align: right;
        img {
          width: 75%;
        }
        .brochure-button {
          position: absolute;
          bottom: 102px;
          right: 0px;
          a {
            width: 70px;
            height: 70px;
            background: #595ad5;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            svg {
              color: #fff;
              font-size: 32px;
              width: 32px;
            }
          }
        }
      }
    }
    .tilal-al-ghaf-villas-location {
      padding-bottom: 2rem;
      .map-boxs {
        height: 400px;
        width: 100%;
        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
    .tilal-al-ghaf-villas-payment {
      background-color: #f6f4f2;
      padding: 2rem 0px;
      .row {
        .col-lg-3 {
          padding: 0px 8px;
        }
      }
      .t-card {
        padding: 16px;
        border-radius: 15px;
        background-color: #fff;
        margin-bottom: 2rem;
        .t-card-body {
          .t-card-icons {
            text-align: right;
            width: 100%;
            svg {
              display: block;
              font-size: 50px;
              color: #3e4861;
              width: 50px;
              text-align: right;
              margin-left: auto;
            }
          }
          .t-card-title {
            padding-top: 1rem;
            h4 {
              font-size: 58px;
              line-height: 62px;
              font-weight: 600;
              margin-bottom: 0px;
            }
            span {
              font-size: 18px;
              line-height: 28px;
              color: rgba(115, 115, 115, 1) !important;
              font-weight: 500;
            }
          }
        }
      }
      .tilal-al-wrapper {
        width: 800px;
        .t-mediaList-item {
          margin-top: 1rem;
          .t-MediaList-icon {
            width: 75px;
            height: 75px;
            border: 2px solid #595ad5;
            background-color: #fff;
            border-radius: 100%;
            position: relative;
            svg {
              font-size: 30px;
              color: #595ad5;
              width: 30px;
            }
            .sub-icons {
              position: absolute;
              bottom: 7px;
              right: 9px;
              svg {
                width: 24px;
                height: 24px;
                color: #278701;
              }
            }
          }
          .t-mediaList-title {
            width: calc(100% - 75px);
            span {
              display: block;
              font-size: 22px;
              padding-left: 15px;
            }
          }
        }
      }
    }
  
    .main-imagesContent-slider {
      margin-top: 80px;
      .carousel-indicators {
        button {
          height: 8px;
          width: 8px;
          opacity: 0.5;
          border-radius: 100%;
          background: #3e4861;
          margin: 0 4px;
          border: 0px !important;
        }
        button.active {
          opacity: 1;
          background-color: #fff !important;
          height: 9px;
          width: 9px;
        }
      }
      .carousel-control-prev,
      .carousel-control-next {
        width: 3%;
        margin: 0px 5px;
        svg {
          color: #fff;
          font-size: 50px;
          position: relative;
        }
      }
    }
    .get-another-opinion-section {
      margin-top: 4rem;
      .inner-get-another-opinion {
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 20px;
        padding: 2rem 2rem 2rem 2rem;
        .content-link {
          .left-link-box {
            border: 1px solid #dfdfdf;
            border-radius: 6px;
          }
          .share-pre-text {
            padding: 0 16px;
            position: relative;
            position: relative;
            span {
              font-size: 15px;
              line-height: 18px;
              font-weight: normal;
              color: #484848;
            }
            &::before {
              content: "";
              width: 1px;
              background-color: #dfdfdf;
              height: 25px;
              position: absolute;
              right: 0;
              top: -3px;
            }
            svg {
              font-size: 12px;
              margin-right: 5px;
              width: 12px;
            }
          }
          .share-post-text {
            padding: 0 16px;
            position: relative;
            a {
              display: block;
              span {
                font-size: 15px;
                line-height: 18px;
                font-weight: normal;
                color: #e9222f;
              }
              svg {
                font-size: 14px;
                margin-right: 5px;
                color: #e9222f;
                width: 14px;
              }
            }
          }
          input {
            border-width: 0 1px 0px 0px;
            border-color: #dfdfdf;
            padding: 8px;
            min-width: auto;
            height: 60px;
            font-size: 15px;
            line-height: 18px;
            font-weight: normal;
            color: #484848;
          }
          .brack-span {
            span {
              line-height: 1.625;
              font-size: 15px;
              font-weight: 600;
              line-height: 25px;
              letter-spacing: 0.2px;
              color: #484848;
            }
          }
          .link-social {
            ul {
              margin-bottom: 0px !important;
              border: 1px solid #dfdfdf;
              padding: 8px 1rem 8px 1rem;
              margin: 0;
              height: 60px;
              border-radius: 50px;
              list-style: none;
              li {
                margin: 0 6px;
                a {
                  color: #3e4861;
                  svg {
                    font-size: 28px;
                    width: 20px;
                  }
                  &:hover {
                    color: #595ad5;
                  }
                }
                &:first-child {
                  a {
                    svg {
                      font-size: 25px;
                      width: 12px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .amenities-content {
        padding: 2rem 0px;
        .amenities-card {
          padding: 15px;
          margin-bottom: 16px;
          svg {
            margin-right: 15px;
            font-size: 32px;
            color: #595ad5;
            width: 32px;
          }
          span {
            color: #737373;
            font-size: 17px;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
    }
    .available-sizes-section {
      padding: 2rem 0px;
      background-color: #f6f4f2;
      .available-card {
        padding: 20px 16px 0 16px;
        .bed-icon {
          width: 85px;
          height: 85px;
          border: 3px solid rgba(233, 230, 227, 1);
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            color: #404952;
            font-size: 24px;
            letter-spacing: 0.02em;
            font-weight: 400;
          }
          svg {
            padding-left: 5px;
            font-size: 26px;
            width: auto;
            color: #404952;
            width: 26px;
          }
        }
        label {
          font-size: 20px;
          font-weight: 400;
          padding: 1rem 0px;
          text-align: center;
          width: 100%;
        }
      }
      .view-floor-plan-link {
        a {
          font-size: 16px;
          line-height: 16px;
          font-weight: 400;
          margin: 2rem 0px 1rem 0px;
          padding: 0.75rem 1rem;
          background-color: #595ad5;
          border: 1px solid #595ad5;
          border-radius: 4px;
          display: flex;
          align-items: center;
          width: fit-content;
          color: #fff;
          svg {
            width: 16px;
            font-size: 16px;
            margin-right: 7px;
            transition: all 0.2s ease;
          }
          &:hover {
            background-color: transparent;
            color: #595ad5;
            svg {
              color: #595ad5;
            }
          }
        }
      }
    }
    .tilal-villas-overview-section {
      padding: 2rem 0px;
      .inner-villas-overview {
        margin-top: 40px;
        p {
          line-height: 1.625;
          font-size: 17px;
          font-weight: 400;
          letter-spacing: 0.2px;
          color: #484848;
          margin-bottom: 1rem;
        }
        ul {
          margin: 0.75rem 2rem;
          padding: 0px;
          li {
            font-size: 15px;
            line-height: 1.25rem;
            font-weight: 400;
            letter-spacing: 0.2px;
            color: #484848;
          }
        }
        img {
          border-radius: 20px;
        }
      }
    }
    .nearby-schools-section {
      padding: 2rem 0px;
      background-color: #f6f4f2;
      .nearby-schools-slider {
        .card {
          border: 1px solid #e5e5e5;
          padding: 15px;
          height: 100%;
          min-height: 216px;
          .card-header {
            height: auto;
            background-color: transparent;
            padding: 0px;
            h3 {
              letter-spacing: 0.02em;
              font-weight: 300;
              font-size: 20px;
              margin-bottom: 0.75rem;
              min-height: 48px;
            }
          }
          .card-body {
            .book-box {
              width: 35px;
              height: 35px;
              border-radius: 50%;
              margin-right: 10px;
              background-color: #e6e3e0;
              svg {
                font-size: 13px;
                width: 13px;
              }
            }
            span {
              font-weight: 600;
              letter-spacing: 0.02em;
              font-size: 16px;
              color: #484848;
              b {
                color: #a8a8a8;
                padding-right: 6px;
              }
            }
            .mb-5rem {
              margin-bottom: 0.5rem;
            }
          }
        }
        .owl-nav {
          text-align: center;
          margin-top: 16px;
          // position: absolute;
          // left: calc(50% - 50px);
          button {
            width: 25px;
            height: 25px;
            vertical-align: bottom;
            &:hover {
              background-color: #fff;
            }
            span {
              font-size: 25px;
              font-weight: 300;
              line-height: 0;
              width: auto;
              height: auto;
              display: block;
            }
          }
        }
      }
    }
    .buildings-section {
      padding: 2rem 0px;
      .buildings-top-imageBox {
        max-height: 600px;
        padding-bottom: 2rem;
        img {
          border-radius: 20px;
        }
      }
      .buildings-content-link {
        .link-box {
          border: 1px solid #e5e5e5;
          padding: 16px;
          a {
            display: block;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 0.02em;
            line-height: 1.5;
            color: #3e4861;
            &:hover {
              color: #595ad5;
            }
          }
        }
        .row {
          .col-lg-4 {
            margin-bottom: 16px;
            padding: 0px 8px;
          }
        }
      }
    }
  }
  
  // ----@media---------------///
  @media (max-width: 1400px) {
    body {
      .container {
        max-width: 100%;
      }
    }
  }
  @media (max-width: 991.98px) {
    .tilal-ghaf-villas-section {
      .startingPrice-section {
        .brochure-img {
          text-align: center;
  
          .brochure-button {
            bottom: 95px;
            right: 52px;
          }
        }
      }
      .available-sizes-section {
        .available-card {
          label {
            text-align: left;
          }
        }
      }
      .main-title {
        max-width: 100%;
      }
      .tilal-al-ghaf-villas-payment {
        .tilal-al-wrapper {
          width: 100%;
        }
      }
    }
  }
  @media (max-width: 767.98px) {
    .startingPrice-section {
      .row {
        align-items: center;
      }
    }
    .tilal-ghaf-villas-section {
      .startingPrice-section {
        .brochure-img {
          .brochure-button {
            bottom: -64px;
            right: 75px;
          }
        }
      }
      .tilal-al-ghaf-villas-payment {
        .tilal-al-wrapper {
          flex-direction: column;
          .t-mediaList-item {
            width: 100%;
          }
        }
      }
      .get-another-opinion-section {
        .inner-get-another-opinion {
          padding: 0px 1rem 1rem 1rem;
        }
      }
    }
  }
  
  @media (max-width: 600px) {
    body {
      .subTitle {
        font-size: 22px;
        line-height: 24px;
      }
    }
    .tilal-ghaf-villas-section {
      .main-title {
        font-size: 34px;
        line-height: 40px;
      }
      .hiro-bg-section {
        img {
          height: 450px;
        }
      }
      .startingPrice-section {
        .starting-text-box {
          svg {
            font-size: 25px !important;
          }
          .price-inner-box {
            padding: 10px 15px;
            .highlight-option {
              h5 {
                font-size: 19px;
                line-height: 24px;
              }
              span {
                font-size: 16px;
                line-height: 18px;
              }
            }
          }
        }
        .brochure-img {
          img {
            width: 50%;
            margin-top: 30px;
          }
          .brochure-button {
            bottom: 76px;
            right: calc(50% - 105px);
            a {
              width: 50px;
              height: 50px;
              svg {
                font-size: 22px;
              }
            }
          }
        }
      }
      .tilal-al-ghaf-villas-payment {
        .row {
          .col-sm-4,
          .col-sm-12 {
            width: 50%;
          }
        }
        .t-card {
          padding: 15px;
          margin-bottom: 17px;
          .t-card-body {
            .t-card-icons {
              svg {
                font-size: 32px;
              }
            }
            .t-card-title {
              h4 {
                font-size: 37px;
                line-height: 40px;
              }
              span {
                font-size: 15px;
                line-height: 19px;
              }
            }
          }
        }
  
        .tilal-al-wrapper {
          .t-mediaList-item {
            .t-MediaList-icon {
              width: 60px;
              height: 60px;
              .sub-icons {
                bottom: 4px;
                right: 4px;
                svg {
                  width: 19px;
                  height: auto;
                }
              }
            }
          }
        }
      }
      .wizard-section {
        .wizard {
          width: 100%;
          min-height: 100%;
          padding: 25px 20px 40px 20px;
          .nav-tabs {
            margin-bottom: 32px;
          }
          .tab-content {
            .wizard-data-info {
              margin-top: 38px;
              margin-bottom: 40px;
              .ms-4 {
                margin-left: 8px !important;
              }
              .me-4 {
                margin-right: 8px !important;
              }
              .main-interested-box {
                .interested-box {
                  width: 65px;
                  height: 65px;
                  svg {
                    width: 27px;
                    height: auto;
                  }
                }
              }
              .amazing-block {
                padding: 0px 0px;
              }
            }
            h3 {
              font-size: 32px;
              line-height: 34px;
              margin-top: 8px;
            }
          }
          .tab-content {
            .wizard-data-info {
              .main-interested-box {
                padding: 0px 15px;
              }
            }
          }
        }
      }
      .inner-get-another-opinion {
        .content-link {
          flex-direction: column;
          .brack-span {
            padding: 20px 0px;
          }
        }
      }
      .available-sizes-section {
        .available-card {
          label {
            text-align: center;
          }
        }
      }
    }
  }
  
  @media (max-width: 380px) {
    .tilal-ghaf-villas-section {
      .get-another-opinion-section {
        .inner-get-another-opinion {
          .content-link {
            .share-pre-text {
              padding: 0 7px;
              flex-direction: column;
            }
            .share-post-text {
              padding: 0 7px;
              a {
                flex-direction: column;
              }
            }
  
            .link-social {
              ul {
                height: 46px;
                li {
                  padding-top: 5px;
                  a {
                    svg {
                      font-size: 22px !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .startingPrice-section {
        .brochure-img {
          img {
            width: 76%;
          }
        }
      }
    }
  }
  .nearby-schools-section .subTitle {
    margin-bottom: 25px;
}
.wizard-section-steps {
  padding: 2rem 0px;
  margin: 15px 0px;
}
.wizard-steps {
  position: relative;
  width: 100%;
  border-radius: 15px;
  margin: auto;
  border: 1px solid #e5e5e5;
  padding: 30px 25px;
  max-width: 500px;
}
.step-box h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
  margin-top: 0px;
  padding: 0 5%;
  color: #3e4861;
  margin-bottom: 30px;
}
.interested-box {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #ececec;
  cursor: pointer;
}
.interested-box svg {
  width: 35px;
  height: 35px;
}
.main-interested-box {
  position: relative;
}
.main-interested-box .d-block {
  text-align: center;
  width: 100%;
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.main-interested-box input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
}
.main-interested-box input:checked+.interested-box,.main-interested-box input:hover+.interested-box {
  background-color: rgba(89, 90, 213, 0.2);
  border-color: transparent;
  svg{
    color: #595ad5;
  }
}
.wizard-button .next {
  padding: 7px 22px;
  font-size: 17px;
  border-radius: 40px;
  line-height: normal;
  background-color: #595ad5;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  svg {
    margin-left: 5px;
    width: 15px;
    height: auto;
}
&:hover{
  background-color: #4545b9;
}
}
.wizard-steps .mat-step-header {
  padding-top: 0px;
  padding-bottom: 0px;
}
.wizard-button {
  margin-top: 35px;
}
.main-looking-box {
  padding: 5px 15px;
  border-radius: 50px;
  border: 2px solid #ececec;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  margin: 5px 7px;
  position: relative;
}
.main-looking-box svg {
  width: 16px;
  margin-right: 5px;
}
.main-looking-box-wrap input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  cursor: pointer;
}
.main-looking-box-wrap {
  position: relative;
}
.main-looking-box-wrap input:checked+.main-looking-box,.main-looking-box-wrap input:hover+.main-looking-box {
  background-color: rgba(89, 90, 213, 0.2);
  border-color: transparent;
  color: #595ad5;
  svg{
    color: #595ad5;
  }
}
.price-range svg {
  width: 16px;
  height: auto;
  color: #595ad5;
  margin-right: 5px;
}
.price-range label {
  padding-top: 2px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #484848;
  margin-bottom: 0px;
}
.price-range .wizard-input {
  width: 100%;
  padding: 15px 30px 15px 15px;
  display: block;
  border-radius: 5px;
  box-shadow: 0 1px 5px 1px #e5d9d9;
  border: 0 solid;
  margin-bottom: 20px;
  max-height: 46px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #484848;
  margin-top: 15px;
}
.price-range .close-btn {
  display: block;
  position: absolute;
  top: 9px;
  right: 14px;
  cursor: pointer;
  svg{
    width: 13px;
    margin-right: 0px;
    height: auto;
    color: rgb(91, 91, 91);
  }
}
.amazing-block .icons {
  display: block;
  position: absolute;
  top: 8px;
  left: 14px;
  cursor: pointer;
}
.amazing-block .wizard-input {
  padding: 15px 15px 15px 48px !important;
}
