<app-header></app-header>
<section [ngClass]="'slide-left-bar ads-page-sec'">
    <section [ngClass]="'ads-banner-wrapper'">
        <div [ngClass]="'container_1280px'">
            <div ngClass="heading-title-sec text-center">
                <h2>أوفالويت الإعلانات مبوب</h2>
                <p>أخبرنا عن سيارتك?</p>
            </div>
        </div>
    </section>
    <section class="ads-form-design-section" style="background-image: url('assets/images/background/bg-1.png');">
        <div class="container_1280px">
            <div class="ads-form-design">
                <form>
                    <div class="list-property-header">
                        <h5 class="h5-heading">يرجى ملء تفاصيل سيارتك</h5>
                    </div>
                    <div ngClass="select-boxes">
                        <div ngClass="row">
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>الإمارات</label>
                                        <select class="select2 country-select">
                                            <option value="0">اختر طيران الإمارات</option>
                                            <option class="country-item">دبي </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>جعل ونموذج</label>
                                        <select class="select2 country-select">
                                            <option value="0">حدد الصنع والطراز</option>
                                            <option class="country-item">بورش كاريرا 911</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>تقليم</label>
                                        <select class="select2 country-select">
                                            <option value="0">حدد تقليم</option>
                                            <option class="country-item">قياسي</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>المواصفات الإقليمية</label>
                                        <select class="select2 country-select">
                                            <option value="0">حدد المواصفات الإقليمية</option>
                                            <option class="country-item">مواصفات دول مجلس التعاون الخليجي</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>تقليم</label>
                                        <select class="select2 country-select">
                                            <option value="0">حدد تقليم</option>
                                            <option class="country-item">قياسي</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design">
                                        <label>السنة</label>
                                        <select class="select2 country-select">
                                            <option value="0">اختر السنة</option>
                                            <option class="country-item">2010</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-12 col-lg-12 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                    <div ngClass="select-design select2-design full-width-select2">
                                        <label>هل سيارتك مؤمنة في الإمارات العربية المتحدة?</label>
                                        <select class="select2 country-select">
                                            <option value="0"> اختر</option>
                                            <option class="country-item">نعم</option>
                                            <option class="country-item">لا</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                        <label>كيلومترات</label>
                                        <mat-form-field class="full-width input-design-2" appearance="fill">
                                            <input matInput type="text" placeholder="أدخل إجمالي الكيلومترات"
                                                lang="en" />
                                        </mat-form-field>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                        <label>السعر</label>
                                        <mat-form-field class="full-width input-design-2" appearance="fill">
                                            <input matInput type="number" placeholder="أدخل السعر"
                                                lang="en" />
                                        </mat-form-field>
                                </div>
                            </div>
                            <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                        <label>رقم الهاتف</label>
                                        <mat-form-field class="full-width input-design-2" appearance="fill">
                                            <input matInput type="number" placeholder="أدخل رقم الهاتف"
                                                lang="en" />
                                        </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right save-continue-sec justify-content-center">
                        <mat-card-actions>
                            <a class="save-continue-btn cursor-pointer" routerLink="/ar/classified/motor-ad-payment">التالي</a>
                        </mat-card-actions>
                    </div>
                    <div class="text-center question-div">
                        <p><a href="tel:+91528366668">هل لديك بعض الأسئلة؟ اتصل الآن +915 28 366 668 </a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
<app-footer></app-footer>
</section>
