<div ngClass="light-bg-body">
<header>
    <app-second-header></app-second-header>
</header>
<section ngClass="properties-comparison-sec">
    <div ngClass="container_1280px">
         <div ngClass="property_compare-header">
            <ul>
                <li (click)="scroll(target)">Location</li>
                <li (click)="scroll(property_info)">Property Info</li>
                <li (click)="scroll(other_details)">Other Details</li>
            </ul>
         </div>
         <div ngClass="property-compare-box">
            <div ngClass="compare-block">
            <div ngClass="table-responsive table-design">
                <table>
                   <tbody>
                    <tr>
                        <td ngClass="first-td-design">
                            <div ngClass="property-cparison-heading">
                                <h4>Rental Property Comparision</h4>
                            </div>
                        </td>
                        <td *ngFor="let property of properties">
                            <div ngClass="property-comparison-block position-relative">
                                <div ngClass="com-img">
                                    <img src="{{property.img}}">
                                </div>
                                <div ngClass="com-cntnt">
                                    <h4> {{property.price}} AED  <small>/yearly</small></h4>
                                    <h5>{{property.title}}</h5>
                                    <address>{{property.address}}</address>
                                </div>
                                <button ngClass="delete-property"><img src="{{trash}}"></button>
                            </div>
                        </td>
                    </tr>
                   </tbody>
                </table>
            </div>
            </div>
            <div ngClass="grey-heading" #target>
                <h2>Location</h2>
            </div>
            <div ngClass="compare-block">
                <div ngClass="table-responsive table-design">
                    <table>
                       <tbody>
                        <tr>
                            <td ngClass="first-td-design">
                                Building Name / Project Name
                            </td>
                            <td>
                                <strong>Blue Wave Tower</strong>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td ngClass="first-td-design">
                                Locality
                            </td>
                            <td>
                                Corniche Road, Abu Dhabi
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td ngClass="first-td-design">
                                City
                            </td>
                            <td>
                                Abu Dhabi
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                       </tbody>
                    </table>
                </div>
            </div>
            <div ngClass="grey-heading" #property_info>
                <h2>Property Info</h2>
            </div>
            <div ngClass="compare-block">
                <div ngClass="table-responsive table-design">
                    <table>
                       <tbody>
                        <tr>
                            <td ngClass="first-td-design">
                                Apartment Size
                            </td>
                            <td>
                                3,678 Sq. Ft.
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td ngClass="first-td-design">
                                BHK
                            </td>
                            <td>
                                3 BHK
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td ngClass="first-td-design">
                                Bathroom
                            </td>
                            <td>
                                2
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td ngClass="first-td-design">
                                Available Parking
                            </td>
                            <td>
                                0
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td ngClass="first-td-design">
                                Construction Age
                            </td>
                            <td>
                                29 Yrs
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td ngClass="first-td-design">
                                Floor Number
                            </td>
                            <td>
                                8
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td ngClass="first-td-design">
                                Total Floors
                            </td>
                            <td>
                                23
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td ngClass="first-td-design">
                                Tower Block
                            </td>
                            <td>
                                A
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td ngClass="first-td-design">
                                Unit No
                            </td>
                            <td>
                                891
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                       </tbody>
                    </table>
                </div>
            </div>
            <div ngClass="grey-heading" #other_details>
                <h2>Other Details</h2>
            </div>
              <div ngClass="compare-block">
                <div ngClass="table-responsive table-design">
                    <table>
                       <tbody>
                        <tr>
                            <td ngClass="first-td-design">
                                Furnishing Status
                            </td>
                            <td>
                                Unfurnished
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td ngClass="first-td-design">
                                Property Features
                            </td>
                            <td>
                                <ul ngClass="list-unstyled">
                                    <li><img src="{{swimm}}"> Swimming Pool</li>
                                    <li><img src="{{swimm}}"> Swimming Pool</li>
                                    <li><img src="{{swimm}}"> Swimming Pool</li>
                                    <li><img src="{{swimm}}"> Swimming Pool</li>
                                    <li><img src="{{swimm}}"> Swimming Pool</li>
                                    <li><img src="{{swimm}}"> Swimming Pool</li>
                                    <li><img src="{{swimm}}"> Swimming Pool</li>
                                </ul>
                                <div ngClass="proprty-View-detials">
                                    <a routerLink="/PropertDetailsPage" ngClass="grey-bordered-btn">View Details</a>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                       </tbody>
                    </table>
                </div>
            </div>
         </div>
    </div>
</section>
</div>