<app-header></app-header>
<section [ngClass]="'inner-cntnt-wrapper slide-left-bar'">
    <section ngClass="explore-details-sec">
        <div [ngClass]="'container_1280px'">
            <div ngClass="exploredetails-breadcrumb-wrapper black-text-breadcrumb">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
            <div ngClass="explore-details-banner" *ngIf="dataLoaded">
                <div ngClass="explore_details-img">
                    <img src="https://beta.ovaluate.com/{{districtDetail.document.fileUrl}}">
                </div>
                <div ngClass="explore_details-cntnt">
                    <div ngClass="hp-design white">
                        <h4>{{districtDetail.nameAr}}</h4>
                        <p>الإمارات العربية المتحدة</p>
                    </div>
                </div>
            </div>
            <div ngClass="explore-details-bars">
                <div ngClass="container_1280px">
                    <div ngClass="row">
                        <div ngClass="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            <div ngClass="blogs-link-list">
                                <ul ngClass="list-unstyled d-flex justify-content-start">
                                    <li [ngClass]="status ? 'tactive' : 'thide'"><a (click)="Overview()">نظرة عامة</a></li>
                                    <li [ngClass]="status1 ? 'tactive' : 'thide'"><a (click)="NearBy()">موقع</a></li>
                                    <li [ngClass]="status2 ? 'tactive' : 'thide'"><a (click)="ResPro()">العقارات السكنية</a></li>
                                    <li [ngClass]="status3 ? 'tactive' : 'thide'"><a (click)="ComPro()">العقارات التجارية</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overview_wrapper" [ngClass]="status ? 'Showactive' : 'ExDetailhide'">
                <div ngClass="hp-design">
                    <p>{{districtDetail.detailsAr}}.</p>
                </div>
            </div>
            <div class="nearBy-wrapper" [ngClass]="status1 ? 'Showactive' : 'ExDetailhide'">
                <!-- <div ngClass="tabs-heading-div">
                    <h5>بالقرب من البرشاء</h5>
                </div> -->
                <!-- <div ngClass="explore-near-by-buttons">
                      <button ngClass="explore-btn-design">All</button>
                      <button ngClass="explore-btn-design active"><img src="{{restaurant}}"> Restaurants</button>
                      <button ngClass="explore-btn-design"><img src="{{restaurant}}"> Groceries</button>
                      <button ngClass="explore-btn-design"><img src="{{restaurant}}"> Cafes</button>
                      <button ngClass="explore-btn-design"><img src="{{restaurant}}"> Shopping</button>
                      <button ngClass="explore-btn-design"><img src="{{restaurant}}"> Schools</button>
                  </div> -->
                <div class="explore-near-map" id="explore-near-map">
                </div>
            </div>
            <div class="resdential_properties-wrapper" [ngClass]="status2 ? 'Showactive' : 'ExDetailhide'">
                <section ngClass="position-relative wrapper-section properties-slider residentials-property-rent-1">
                    <div ngClass="container_1220px">
                        <div ngClass="section-title">
                            <div ngClass="section-title-left">
                                <h4>عقارات سكنية للإيجار</h4>
                                <p>اختياراتنا الالأكثر شعبيةة لعقارات قريبة منك</p>
                            </div>
                            <div ngClass="section-title-right">
                                <ul ngClass="nav nav-tabs" role="tablist">
                                    <li ngClass="nav-item">
                                        <a ngClass="nav-link active" data-bs-toggle="tab" (click)="oldData1()">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M16.4912 12.4406C14.7746 14.149 12.3162 14.674 10.1579 13.999L6.23289 17.9156C5.94955 18.2073 5.39122 18.3823 4.99122 18.324L3.17455 18.074C2.57455 17.9906 2.01622 17.424 1.92455 16.824L1.67455 15.0073C1.61622 14.6073 1.80789 14.049 2.08289 13.7656L5.99955 9.84896C5.33289 7.68229 5.84955 5.22396 7.56622 3.51563C10.0246 1.05729 14.0162 1.05729 16.4829 3.51563C18.9496 5.97396 18.9496 9.98229 16.4912 12.4406Z"
                                                    stroke="#595ad4" stroke-width="2" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M5.74121 14.5742L7.65788 16.4909" stroke="#595ad4"
                                                    stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M12.083 9.16797C12.7734 9.16797 13.333 8.60833 13.333 7.91797C13.333 7.22761 12.7734 6.66797 12.083 6.66797C11.3927 6.66797 10.833 7.22761 10.833 7.91797C10.833 8.60833 11.3927 9.16797 12.083 9.16797Z"
                                                    stroke="#595ad4" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg> إيجار</a>
                                    </li>
                                    <li ngClass="nav-item">
                                        <a ngClass="nav-link" data-bs-toggle="tab" (click)="newData1()">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M14.167 17.0846H5.83366C3.33366 17.0846 1.66699 15.8346 1.66699 12.918V7.08464C1.66699 4.16797 3.33366 2.91797 5.83366 2.91797H14.167C16.667 2.91797 18.3337 4.16797 18.3337 7.08464V12.918C18.3337 15.8346 16.667 17.0846 14.167 17.0846Z"
                                                    stroke="#100A55" stroke-width="2" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path
                                                    d="M10 12.5C11.3807 12.5 12.5 11.3807 12.5 10C12.5 8.61929 11.3807 7.5 10 7.5C8.61929 7.5 7.5 8.61929 7.5 10C7.5 11.3807 8.61929 12.5 10 12.5Z"
                                                    stroke="#100A55" stroke-width="2" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M4.58301 7.91797V12.0846" stroke="#100A55" stroke-width="2"
                                                    stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path d="M15.417 7.91797V12.0846" stroke="#100A55" stroke-width="2"
                                                    stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg> شراء
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="no-data-found" *ngIf="dynamicSlides1.length == 0">
                            <mat-icon>file_copy</mat-icon>
                            <p>عذراً، لا توجد بيانات</p>
                        </div>
                        <div ngClass="tab-content">
                            <div id="resedential-rent" class="tab-pane active">
                                <owl-carousel-o [options]="customOptions" ngClass="slider-shadow ">
                                    <ng-container *ngFor="let slide of dynamicSlides1">
                                        <ng-template carouselSlide [id]="slide.id">
                                            <div ngClass="property-item position-relative">
                                                <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" />
                                                <div ngClass="brand-logo">
                                                    <img src="{{ brandimg }}" alt="" />
                                                </div>
                                                <button
                                                    [ngClass]="slide.favorite == true ? 'property-whistlist red-fill' : 'property-whistlist'"
                                                    (click)="AddToFavorite(slide.id,slide.favorite,'resedential-old')">
                                                    <svg width="22" height="23" viewBox="0 0 22 23" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M4.39376 6.23844C4.02517 6.63167 3.73279 7.0985 3.53331 7.61228C3.33383 8.12605 3.23116 8.67672 3.23116 9.23283C3.23116 9.78894 3.33383 10.3396 3.53331 10.8534C3.73279 11.3672 4.02517 11.834 4.39376 12.2272L11.1699 19.4563L17.946 12.2272C18.6904 11.433 19.1086 10.3559 19.1086 9.23283C19.1086 8.10972 18.6904 7.0326 17.946 6.23844C17.2016 5.44429 16.1919 4.99813 15.1392 4.99813C14.0865 4.99813 13.0768 5.44429 12.3324 6.23844L11.1699 7.47873L10.0073 6.23844C9.63871 5.84521 9.20113 5.53329 8.71954 5.32047C8.23796 5.10766 7.72179 4.99812 7.20053 4.99812C6.67926 4.99812 6.1631 5.10766 5.68152 5.32047C5.19993 5.53329 4.76235 5.84521 4.39376 6.23844V6.23844Z"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </svg>
                                                </button>
                                                <div ngClass="property-info">
                                                    <span ngClass="property-pricing"><span>{{ slide.price }} {{
                                                            slide.currency }}</span>
                                                        <span>{{slide.rentType}}</span></span>
                                                    <span ngClass="property-name">{{ slide.buildingName }}</span>
                                                    <p ngClass="property-location">
                                                        <img src="{{ homelocationsvg }}" width="14"
                                                            alt="" />{{slide.propertyAddress}}
                                                    </p>
                                                    <div ngClass="property-details">
                                                        <span ngClass="bed">
                                                            <img src="{{ bedsvg }}" alt="" />{{ slide.bedrooms }}غرفة نوم
                                                        </span>
                                                        <span ngClass="bath">
                                                            <img src="{{ bathsvg }}" alt="" />{{ slide.bathrooms }}حمام
                                                        </span>
                                                        <span ngClass="area">
                                                            <img src="{{ squaremetersvg }}"
                                                                alt="" />{{slide.carpetArea}}قدم مربع
                                                        </span>
                                                    </div>
                                                </div>
                                                <a [routerLink]="['/ar/property/detail']" [queryParams]="{id: slide.id}"
                                                    ngClass="linK_overlay"></a>
                                                <button ngClass="tag_btn blue"><img src="{{tagicn}}"> الأكثر شعبية</button>
                                            </div>
                                        </ng-template>
                                    </ng-container>
                                </owl-carousel-o>
                            </div>

                            <div id="resedential-buy" class="tab-pane fade">

                                <owl-carousel-o [options]="customOptions" ngClass="slider-shadow ">
                                    <ng-container *ngFor="let slide of dynamicSlides1">
                                        <ng-template carouselSlide [id]="slide.id">
                                            <div ngClass="property-item position-relative">
                                                <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" />
                                                <div ngClass="brand-logo">
                                                    <img src="{{ brandimg }}" alt="" />
                                                </div>
                                                <button
                                                    [ngClass]="slide.favorite == true ? 'property-whistlist red-fill' : 'property-whistlist'"
                                                    (click)="AddToFavorite(slide.id,slide.favorite,'resedential-new')">
                                                    <svg width="22" height="23" viewBox="0 0 22 23" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M4.39376 6.23844C4.02517 6.63167 3.73279 7.0985 3.53331 7.61228C3.33383 8.12605 3.23116 8.67672 3.23116 9.23283C3.23116 9.78894 3.33383 10.3396 3.53331 10.8534C3.73279 11.3672 4.02517 11.834 4.39376 12.2272L11.1699 19.4563L17.946 12.2272C18.6904 11.433 19.1086 10.3559 19.1086 9.23283C19.1086 8.10972 18.6904 7.0326 17.946 6.23844C17.2016 5.44429 16.1919 4.99813 15.1392 4.99813C14.0865 4.99813 13.0768 5.44429 12.3324 6.23844L11.1699 7.47873L10.0073 6.23844C9.63871 5.84521 9.20113 5.53329 8.71954 5.32047C8.23796 5.10766 7.72179 4.99812 7.20053 4.99812C6.67926 4.99812 6.1631 5.10766 5.68152 5.32047C5.19993 5.53329 4.76235 5.84521 4.39376 6.23844V6.23844Z"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </svg>
                                                </button>
                                                <div ngClass="property-info">
                                                    <span ngClass="property-pricing"><span>{{ slide.price }} {{
                                                            slide.currency }}</span>
                                                        <span>{{slide.rentType}}</span></span>
                                                    <span ngClass="property-name">{{slide.buildingName}}</span>
                                                    <p ngClass="property-location">
                                                        <img src="{{ homelocationsvg }}" width="14"
                                                            alt="" />{{slide.propertyAddress}}
                                                    </p>
                                                    <div ngClass="property-details">
                                                        <span ngClass="bed">
                                                            <img src="{{ bedsvg }}" alt="" />{{ slide.bedrooms }} غرفة نوم
                                                        </span>
                                                        <span ngClass="bath">
                                                            <img src="{{ bathsvg }}" alt="" />{{ slide.bathrooms }} حمام
                                                        </span>
                                                        <span ngClass="area">
                                                            <img src="{{ squaremetersvg }}"
                                                                alt="" />{{slide.carpetArea}} قدم مربع
                                                        </span>
                                                    </div>
                                                </div>
                                                <a [routerLink]="['/ar/property/detail']" [queryParams]="{id: slide.id}"
                                                    ngClass="linK_overlay"></a>
                                                <button ngClass="tag_btn blue"><img src="{{tagicn}}"> الأكثر شعبية</button>
                                            </div>
                                        </ng-template>
                                    </ng-container>
                                </owl-carousel-o>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="commertial_properties-wrapper" [ngClass]="status3 ? 'Showactive' : 'ExDetailhide'">
                <!--  Commercial Properties for Rent in Dubai-->
                <section ngClass="position-relative wrapper-section properties-slider residentials-property-rent-2">
                    <div ngClass="container_1220px">
                        <div ngClass="section-title">
                            <div ngClass="section-title-left">
                                <h4>عقارات تجارية للايجار</h4>
                                <p>اختياراتنا الالأكثر شعبيةة لعقارات قريبة منك</p>
                            </div>
                            <div ngClass="section-title-right">
                                <ul ngClass="nav nav-tabs" role="tablist">
                                    <li ngClass="nav-item">
                                        <a ngClass="nav-link active" data-bs-toggle="tab" (click)="oldData2()">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M16.4912 12.4406C14.7746 14.149 12.3162 14.674 10.1579 13.999L6.23289 17.9156C5.94955 18.2073 5.39122 18.3823 4.99122 18.324L3.17455 18.074C2.57455 17.9906 2.01622 17.424 1.92455 16.824L1.67455 15.0073C1.61622 14.6073 1.80789 14.049 2.08289 13.7656L5.99955 9.84896C5.33289 7.68229 5.84955 5.22396 7.56622 3.51563C10.0246 1.05729 14.0162 1.05729 16.4829 3.51563C18.9496 5.97396 18.9496 9.98229 16.4912 12.4406Z"
                                                    stroke="#595ad4" stroke-width="2" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M5.74121 14.5742L7.65788 16.4909" stroke="#595ad4"
                                                    stroke-width="2" stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path
                                                    d="M12.083 9.16797C12.7734 9.16797 13.333 8.60833 13.333 7.91797C13.333 7.22761 12.7734 6.66797 12.083 6.66797C11.3927 6.66797 10.833 7.22761 10.833 7.91797C10.833 8.60833 11.3927 9.16797 12.083 9.16797Z"
                                                    stroke="#595ad4" stroke-width="2" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg>
                                            إيجار
                                        </a>
                                    </li>
                                    <li ngClass="nav-item">
                                        <a ngClass="nav-link" data-bs-toggle="tab" (click)="newData2()">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M14.167 17.0846H5.83366C3.33366 17.0846 1.66699 15.8346 1.66699 12.918V7.08464C1.66699 4.16797 3.33366 2.91797 5.83366 2.91797H14.167C16.667 2.91797 18.3337 4.16797 18.3337 7.08464V12.918C18.3337 15.8346 16.667 17.0846 14.167 17.0846Z"
                                                    stroke="#100A55" stroke-width="2" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path
                                                    d="M10 12.5C11.3807 12.5 12.5 11.3807 12.5 10C12.5 8.61929 11.3807 7.5 10 7.5C8.61929 7.5 7.5 8.61929 7.5 10C7.5 11.3807 8.61929 12.5 10 12.5Z"
                                                    stroke="#100A55" stroke-width="2" stroke-miterlimit="10"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M4.58301 7.91797V12.0846" stroke="#100A55" stroke-width="2"
                                                    stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path d="M15.417 7.91797V12.0846" stroke="#100A55" stroke-width="2"
                                                    stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                            </svg> شراء
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="no-data-found" *ngIf="commercialdynamicSlides.length == 0">
                            <mat-icon>file_copy</mat-icon>
                            <p>عذراً، لا توجد بيانات</p>
                        </div>
                        <div ngClass="tab-content">
                            <div id="resedential-rent" class="tab-pane active">
                                <owl-carousel-o [options]="customOptions" ngClass="slider-shadow ">
                                    <ng-container *ngFor="let slide of commercialdynamicSlides">
                                        <ng-template carouselSlide [id]="slide.id">
                                            <div ngClass="property-item position-relative">
                                                <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" />
                                                <div ngClass="brand-logo">
                                                    <img src="{{ brandimg }}" alt="" />
                                                </div>
                                                <button
                                                    [ngClass]="slide.favorite == true ? 'property-whistlist red-fill' : 'property-whistlist'"
                                                    (click)="AddToFavorite(slide.id,slide.favorite,'commercial-old')">
                                                    <svg width="22" height="23" viewBox="0 0 22 23" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M4.39376 6.23844C4.02517 6.63167 3.73279 7.0985 3.53331 7.61228C3.33383 8.12605 3.23116 8.67672 3.23116 9.23283C3.23116 9.78894 3.33383 10.3396 3.53331 10.8534C3.73279 11.3672 4.02517 11.834 4.39376 12.2272L11.1699 19.4563L17.946 12.2272C18.6904 11.433 19.1086 10.3559 19.1086 9.23283C19.1086 8.10972 18.6904 7.0326 17.946 6.23844C17.2016 5.44429 16.1919 4.99813 15.1392 4.99813C14.0865 4.99813 13.0768 5.44429 12.3324 6.23844L11.1699 7.47873L10.0073 6.23844C9.63871 5.84521 9.20113 5.53329 8.71954 5.32047C8.23796 5.10766 7.72179 4.99812 7.20053 4.99812C6.67926 4.99812 6.1631 5.10766 5.68152 5.32047C5.19993 5.53329 4.76235 5.84521 4.39376 6.23844V6.23844Z"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </svg>
                                                </button>
                                                <div ngClass="property-info">
                                                    <span ngClass="property-pricing"><span>{{ slide.price }} {{
                                                            slide.currency }}</span>
                                                        <span>{{slide.rentType}}</span></span>
                                                    <span ngClass="property-name">{{slide.buildingName}}</span>
                                                    <p ngClass="property-location">
                                                        <img src="{{ homelocationsvg }}" width="14"
                                                            alt="" />{{slide.propertyAddress}}
                                                    </p>
                                                    <div ngClass="property-details">
                                                        <span ngClass="bed">
                                                            <img src="{{ bedsvg }}" alt="" />{{slide.bedrooms}} غرفة نوم
                                                        </span>
                                                        <span ngClass="bath">
                                                            <img src="{{ bathsvg }}" alt="" />{{slide.bathrooms}} حمام
                                                        </span>
                                                        <span ngClass="area">
                                                            <img src="{{ squaremetersvg }}" alt="" />{{ slide.carpetArea}} قدم مربع
                                                        </span>
                                                    </div>
                                                </div>
                                                <a [routerLink]="['/ar/property/detail']" [queryParams]="{id: slide.id}"
                                                    ngClass="linK_overlay"></a>
                                                <button ngClass="tag_btn blue"><img src="{{tagicn}}"> الأكثر شعبية</button>
                                            </div>
                                        </ng-template>
                                    </ng-container>
                                </owl-carousel-o>
                            </div>
                            <div id="resedential-buy" class="tab-pane fade">
                                <owl-carousel-o [options]="customOptions" ngClass="slider-shadow ">
                                    <ng-container *ngFor="let slide of commercialdynamicSlides">
                                        <ng-template carouselSlide [id]="slide.id">
                                            <div ngClass="property-item position-relative">
                                                <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" />
                                                <div ngClass="brand-logo">
                                                    <img src="{{ brandimg }}" alt="" />
                                                </div>
                                                <button
                                                    [ngClass]="slide.favorite == true ? 'property-whistlist red-fill' : 'property-whistlist'"
                                                    (click)="AddToFavorite(slide.id,slide.favorite,'commercial-new')">
                                                    <svg width="22" height="23" viewBox="0 0 22 23" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path
                                                            d="M4.39376 6.23844C4.02517 6.63167 3.73279 7.0985 3.53331 7.61228C3.33383 8.12605 3.23116 8.67672 3.23116 9.23283C3.23116 9.78894 3.33383 10.3396 3.53331 10.8534C3.73279 11.3672 4.02517 11.834 4.39376 12.2272L11.1699 19.4563L17.946 12.2272C18.6904 11.433 19.1086 10.3559 19.1086 9.23283C19.1086 8.10972 18.6904 7.0326 17.946 6.23844C17.2016 5.44429 16.1919 4.99813 15.1392 4.99813C14.0865 4.99813 13.0768 5.44429 12.3324 6.23844L11.1699 7.47873L10.0073 6.23844C9.63871 5.84521 9.20113 5.53329 8.71954 5.32047C8.23796 5.10766 7.72179 4.99812 7.20053 4.99812C6.67926 4.99812 6.1631 5.10766 5.68152 5.32047C5.19993 5.53329 4.76235 5.84521 4.39376 6.23844V6.23844Z"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" />
                                                    </svg>
                                                </button>
                                                <div ngClass="property-info">
                                                    <span ngClass="property-pricing"><span>{{ slide.price }} {{
                                                            slide.currency }}</span>
                                                        <span>{{slide.rentType}}</span></span>
                                                    <span ngClass="property-name">{{slide.buildingName}}</span>
                                                    <p ngClass="property-location">
                                                        <img src="{{ homelocationsvg }}" width="14"
                                                            alt="" />{{slide.propertyAddress}}
                                                    </p>
                                                    <div ngClass="property-details">
                                                        <span ngClass="bed">
                                                            <img src="{{ bedsvg }}" alt="" />{{slide.bedrooms}} غرفة نوم
                                                        </span>
                                                        <span ngClass="bath">
                                                            <img src="{{ bathsvg }}" alt="" />{{slide.bathrooms}} حمام
                                                        </span>
                                                        <span ngClass="area">
                                                            <img src="{{ squaremetersvg }}" alt="" />{{ slide.carpetArea}} قدم مربع
                                                        </span>
                                                    </div>
                                                </div>
                                                <a [routerLink]="['/ar/property/detail']" [queryParams]="{id: slide.id}"
                                                    ngClass="linK_overlay"></a>
                                                <button ngClass="tag_btn blue"><img src="{{tagicn}}"> الأكثر شعبية</button>
                                            </div>
                                        </ng-template>
                                    </ng-container>
                                </owl-carousel-o>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
<app-footer></app-footer>
</section>
