.properties-list_hdr .pro-contact-details .dropdown > button {
    padding: 0px !important;
}
.property-action-hdr {
    display: flex;
    align-items: center;
}
.property-action-hdr>.pro-contact-details {
    margin-right: 15px;
}
