<app-header></app-header>
<section [ngClass]="'inner-cntnt-wrapper slide-left-bar'">
    <section ngClass="explore-citites-main-sec" *ngIf="cityData != {}">
        <div [ngClass]="'container_1280px'">
            <div ngClass="citites-breadcrumb-wrapper black-text-breadcrumb">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
            <div ngClass="hp-design mb-4">
                <h4>{{cityData.name}} Area Guide</h4>
            </div>
            <div ngClass="search_destinations-block">
                <form>
                    <div ngClass="row">
                        <div ngClass="col-xl-11 col-lg-11 col-md-11 col-sm-12">
                            <div ngClass="block-wrapper height-100">
                                <mat-form-field class="example-chip-list input-design searh_input-design height-100"
                                    appearance="fill">
                                    <mat-label>Search</mat-label>
                                    <mat-chip-list #chipList aria-label="Search selection">
                                        <mat-chip *ngFor="let SearchValue of SearchKeyword"
                                            (removed)="remove(SearchValue)">
                                            {{SearchValue}}
                                            <button matChipRemove>
                                                <mat-icon>cancel</mat-icon>
                                            </button>
                                        </mat-chip>
                                        <input placeholder="Location, Project Name" #SearchInput
                                            [formControl]="searchctrl" [matAutocomplete]="auto"
                                            [matChipInputFor]="chipList"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                            (matChipInputTokenEnd)="add($event)">
                                    </mat-chip-list>
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                        <mat-option *ngFor="let SearchValue of searchfilter | async"
                                            [value]="SearchValue">
                                            {{SearchValue}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                        <div ngClass="col-xl-1 col-lg-1 col-md-1 col-sm-12">
                            <div ngClass="search-btn-block">
                                <button ngClass="search-btn" type="submit"><img src="{{search}}"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div ngClass="citites-guide-block-design">
                <div class="citites-guide-block-div" *ngFor="let item of districtData"
                    [ngClass]="checkDistrict(item.name) ? 'd-none' : ''">
                    <div ngClass="row">
                        <div ngClass="col-xl-2 col-lg-2 col-md-3 col-sm-12">
                            <div ngClass="city_img">
                                <img src="https://beta.ovaluate.com/{{item.document.fileUrl}}">
                            </div>
                        </div>
                        <div ngClass="col-xl-10 col-lg-10 col-md-9 col-sm-12">
                            <div ngClass="city_cntnt">
                                <h4>{{item.name}}</h4>
                                <p>{{item.details}}</p>
                                <a routerLink="/explore-details/{{item.id}}">Explore <mat-icon>keyboard_arrow_right
                                    </mat-icon></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ngClass="explore-description_sec mt-4">
                <div ngClass="hp-design hp-explore-spacing">
                    <h4>Explore {{cityData.name}}</h4>
                    <p>{{cityData.description}}</p>
                </div>
            </div>
        </div>
    </section>
</section>
<app-footer></app-footer>