<header>
    <app-second-header></app-second-header>
</header>
<section ngClass="property-valuation-sec">
    <div ngClass="listing-container full-width">
        <div ngClass="heading-title-sec text-center">
            <h2>Property Valuation</h2>
            <p>Make sure you filled in all the necessary fields and have uploaded all the required files.</p>
        </div>
        <div ngClass="listing-property-form-sec">
            <div ngClass="listing-property-ul">
                <mat-list>
                    <mat-list-item ngClass="active"> <a routerLink=""><span ngClass="">1</span> Details</a>
                    </mat-list-item>
                    <mat-list-item ngClass="disabled"><a routerLink=""><span ngClass="">2</span> Type</a>
                    </mat-list-item>
                    <mat-list-item ngClass="disabled"> <a routerLink=""><span ngClass="">3</span> Documents</a>
                    </mat-list-item>
                    <mat-list-item ngClass="disabled"> <a routerLink=""><span ngClass="">4</span> Review</a>
                    </mat-list-item>
                    <mat-list-item ngClass="disabled"> <a routerLink=""><span ngClass="">5</span> Payment</a>
                    </mat-list-item>
                    <mat-list-item ngClass="disabled"> <a routerLink=""><span ngClass="">6</span> Download Report</a>
                    </mat-list-item>
                </mat-list>
            </div>
            <div ngClass="list-property-content">
                <div ngClass="list-property-body">
                    <form [formGroup]="propertyDetails">
                        <div ngClass="form-border-wrapper">
                            <div ngClass="list-property-header">
                                <h5 ngClass="h5-heading">Property Details</h5>
                                <p>Please provide your propety type for the valuation</p>
                            </div>
                            <div ngClass="deed-numbers">
                                <div ngClass="row">
                                    <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                                        <div ngClass="block-wrapper mb-4">
                                            <label class="h6-design">Title Deed No.*</label>
                                            <mat-form-field class="full-width input-design-2" appearance="fill">
                                                <input matInput type="number" placeholder="Eg. 9999999" formControlName="titleDeed">
                                            </mat-form-field>
                                            <span style="color: red" *ngIf="titleDeed && titleDeed.invalid && titleDeed.touched">*This field is
                                                required</span>
                                        </div>
                                    </div>
                                    <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                                        <div ngClass="block-wrapper mb-4">
                                            <label class="h6-design">Title Deed Type*</label>
                                            <div class="checkbox-flex-box two-column max-240">
                                                <div class="checkbox-design position-relative" (click)="toggleType(0)">
                                                    <input type="radio" id="Monthly" name="building-type"
                                                        value="Monthly">
                                                    <button class="checkbox-btn">Leasehold</button>
                                                </div>
                                                <div class="checkbox-design position-relative" (click)="toggleType(1)">
                                                    <input type="radio" id="Quaterly" name="building-type"
                                                        value="Quaterly">
                                                    <button class="checkbox-btn">Freehold</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="affection-numbers">
                                <div ngClass="row">
                                    <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                                        <div ngClass="block-wrapper mb-4">
                                            <label class="h6-design">Muncipality/Affection No.*</label>
                                            <mat-form-field class="full-width input-design-2" appearance="fill">
                                                <input matInput type="number" placeholder="Eg. 9999999" formControlName="muncipality">
                                            </mat-form-field>
                                            <span style="color: red" *ngIf="muncipality && muncipality.invalid && muncipality.touched">*This field is
                                                required</span>
                                        </div>
                                    </div>
                                    <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                                        <div ngClass="block-wrapper mb-4">
                                            <label class="h6-design">Property Insured*</label>
                                            <div class="checkbox-flex-box two-column max-240">
                                                <div class="checkbox-design position-relative" (click)="toggleInsured(0)">
                                                    <input type="radio" id="Yes" name="building-type" value="Yes">
                                                    <button class="checkbox-btn">Yes</button>
                                                </div>
                                                <div class="checkbox-design position-relative" (click)="toggleInsured(1)">
                                                    <input type="radio" id="No" name="building-type" value="No">
                                                    <button class="checkbox-btn">No</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="name-owner-sec">
                                <div ngClass="row">
                                    <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                                        <div ngClass="block-wrapper mb-4">
                                            <label class="h6-design">Name of the Property Owner</label>
                                            <mat-form-field class="full-width input-design-2" appearance="fill">
                                                <input matInput type="text" placeholder="Name">
                                            </mat-form-field>
                                            <p ngClass="hint-text-grey">Please mention as per title deed</p>
                                        </div>
                                    </div>
                                    <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                                        <div ngClass="block-wrapper mb-4">
                                            <label class="h6-design">Phone No. of the Property Owner</label>
                                            <mat-form-field class="full-width input-design-2" appearance="fill">
                                                <input matInput type="number" placeholder="Eg. (00) 000 0000">
                                            </mat-form-field>
                                            <p ngClass="hint-text-grey">Please mention as per title deed</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="select-boxes">
                                <div ngClass="row">
                                    <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                        <div ngClass="block-wrapper mb-4">
                                            <div ngClass="select-design">
                                                <label>Country</label>
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Select the Country</mat-label>
                                                    <mat-select (selectionChange)="onCountrySelect($event)">
                                                        <mat-option *ngFor="let list of country" [value]="list.value">
                                                            {{list.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                        <div ngClass="select-design">
                                            <div ngClass="block-wrapper mb-4">
                                                <label>City</label>
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Select the City</mat-label>
                                                    <mat-select (selectionChange)="onCitySelect($event)">
                                                        <mat-option *ngFor="let listcity of city"
                                                            [value]="listcity.value">
                                                            {{listcity.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                        <div ngClass="block-wrapper mb-4">
                                            <div ngClass="select-design">
                                                <label>District</label>
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Select the District</mat-label>
                                                    <mat-select (selectionChange)="onDistrictSelect($event)">
                                                        <mat-option *ngFor="let listdistrict of district"
                                                            [value]="listdistrict.value">
                                                            {{listdistrict.viewValue}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="address-sec">
                                <div ngClass="block-wrapper-address">
                                    <label class="h6-design">Pin the Location of your Property</label>
                                    <div ngClass="position-relative">
                                    <div style="width: 100%"><iframe width="100%" height="311" frameborder="0"
                                            scrolling="no" marginheight="0" marginwidth="0"
                                            src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=dubai+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                                                href="https://www.gps.ie/wearable-gps/">Kids wearables</a></iframe>
                                    </div>
                                    <div ngClass="locate-me-sec">
                                        <div ngClass="add-adrees-sec">
                                                <mat-form-field class="full-width input-design" appearance="fill">
                                                    <mat-label>Add a Address</mat-label>
                                                    <input matInput type="text" placeholder="Search for your location">
                                                  </mat-form-field>
                                                  <div ngClass="locate-me-btn text-right">
                                                  <button ngClass="grey-bordered-btn"><img src="{{Locate}}"> Locate Me</button>
                                                  </div>
                                        </div>
                                        </div>
                                        </div>
                                        <div ngClass="confirm-location-sec text-right">
                                            <button ngClass="confirm-location-btn">Confirm Location</button>
                                        </div>
                                </div>
                            </div>
                            <div ngClass="location-information">
                                <div ngClass="block-wrapper mb-4">
                                    <h6 ngClass="h6-design">Location Information</h6>
                                    <div ngClass="location-info-lists">
                                        <mat-list>
                                            <mat-list-item ngClass="d-flex justify-content-spacebw">
                                                <div ngClass="location-div-block">
                                                    <h4 ngClass="loc-heading">Al Mankool, Dubai, UAE</h4>
                                                    <p>2535, Road 34,Al Mankool, Duba...</p>
                                                    <img src="../../../../assets/images/MapPin.svg">
                                                </div>
                                                <div ngClass="change-btn-block">
                                                    <button ngClass="change-btn">Change</button>
                                                </div>
                                            </mat-list-item>
                                        </mat-list>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ngClass="text-right save-continue-sec justify-content-end">
                            <mat-card-actions>
                                <!-- <a routerLink="/PropertyType" ngClass="save-continue-btn">Save & Continue</a> -->
                                <button ngClass="save-continue-btn" [disabled]="propertyDetails.invalid" (click)="getData()">Save & Continue</button>
                            </mat-card-actions>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>