<app-header2></app-header2>
<section ngClass="list-properties-sec">
    <div ngClass="listing-container">
        <div ngClass="heading-title-sec text-center">
            <h2>List New Property</h2>
            <p>Make sure you filled in all the necessary fields and have uploaded all the required files.</p>
        </div>
        <div ngClass="listing-property-form-sec pusblished-sec">
            <div ngClass="listing-property-ul">
                <mat-list>
                    <mat-list-item ngClass="active"> <a routerLink="/listingproperty"><span ngClass="">1</span> Property
                            Info</a> </mat-list-item>
                    <mat-list-item ngClass="active"><a routerLink=""><span ngClass="">2</span> Listing Info</a>
                    </mat-list-item>
                    <mat-list-item ngClass="active"> <a routerLink=""><span ngClass="">3</span> Media</a>
                    </mat-list-item>
                    <mat-list-item ngClass="active"> <a routerLink=""><span ngClass="">4</span> Publish</a>
                    </mat-list-item>
                </mat-list>
            </div>
            <div ngClass="list-property-content">
                <div ngClass="list-property-body">
                    <form action="">
                        <div ngClass="form-border-wrapper">
                            <div ngClass="list-property-header">
                                <h5 ngClass="h5-heading">Published</h5>
                                <p>Kindly confirm some facts about the property</p>
                            </div>
                            <div ngClass="succesfully-addd-property">
                                <div ngClass="checkmark_icon">
                                    <img src="{{checkmark}}">
                                </div>
                                <h2>Successfully Added Your Property</h2>
                                <p>We have received details of your property. It will be made live after quality checks
                                    within next 48 hours. You will be notified by email or SMS.</p>
                            </div>
                            <div ngClass="list-new-proerty-cntnt">
                                <div ngClass="publishing-pictures-sec">
                                    <div ngClass="new_listing-btn">
                                        <button routerLink="/add-property/listingproperty" ngClass="blue-listing-btn"><span
                                                ngClass="plus_icon-div">+</span> Add More Listing</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>