<app-header></app-header>
<section [ngClass]="'inner-cntnt-wrapper slide-left-bar blogs_sec padd-0'">
    <section ngClass="blog_inner-banner-blocks">
        <div ngClass="container_1280px">
            <div ngClass="exploredetails-breadcrumb-wrapper black-text-breadcrumb mt-3">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
            <div ngClass="heading-32px-design mb-3">
                <h2>Markets Trends</h2>
                <p>Some of our picked properties near your location.</p>
            </div>
        </div>
    </section>
    <section ngClass="position-relative wrapper-section blogs_sec category_blog-sec">
        <div ngClass="container_1280px">
            <div ngClass="catogries-blog_row">
                <div ngClass="row">
                    <div ngClass="col-xl-8 col-lg-8 col-sm-12" *ngIf="marketTrendsBlog && marketTrendsBlog.blogs.length">
                        <div ngClass="row" *ngIf="marketTrendsBlog.blogs.length > 0">
                            <!-- let blogs of Blogsec -->
                            <div ngClass="col-lg-6 col-md-6 blog-places-col"
                                *ngFor=" let blog of marketTrendsBlog.blogs">
                                <a routerLink="/blog/details/{{blog.id}}">
                                    <!-- blog.blogDocument.fileUrl -->
                                    <img src="https://beta.ovaluate.com/{{blog.blogDocument.fileUrl}}"
                                        ngClass="img-fluid blog-image-homepage" alt="">
                                    <!-- <span ngClass="blog-tag">
                            <img [src]="blog.src2" ngClass="img-fluid" alt="">
                        </span> -->
                                    <div ngClass="blog-title-content">
                                        <h5>{{blog.blogTitle}}</h5>
                                        <span>{{blog.blogDate.split("T")[0]}}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                        <div ngClass="heading-24px-design mb-4">
                            <h2>About Ovaluate</h2>
                            <p>Market trends, sales transactions, sales performance, and market analysis are the
                                fundamental pillar of market insight. It communicates how the market is shifting and
                                where new opportunities are emerging in real-time to deliver personalized experiences
                                based on real data.</p>
                        </div>
                        <div ngClass="heading-24px-design recent_designs-posts mb-4">
                            <h2>Recent Posts</h2>
                            <ul ngClass="list-unstyled">
                                <li><a routerLink="">What makes Gurgaon the best place to Invest in Real Estate?</a>
                                </li>
                                <li><a routerLink="">6 Tips to Find the Best Real Estate Consultant in Gurgaon</a></li>
                                <li><a routerLink="">Modern Rules of Buying a Residential Property in Gurgaon</a></li>
                                <li><a routerLink="">What made Dwarka Expressway a Special Location for Property
                                        Investors?</a></li>
                                <li><a routerLink="">Top 5 Real Estate Projects in Dwarka Expressway</a></li>
                            </ul>
                        </div>
                        <div ngClass="heading-24px-design category_designs-list mb-4">
                            <h2>Categories</h2>
                            <ul ngClass="list-unstyled">
                                <li><a routerLink="/blog/tips-advice/">Tips & Advice</a></li>
                                <li><a routerLink="/blog/newsblog/">News</a></li>
                                <li><a routerLink="/blog/exploreblog/">Explore</a></li>
                                <li><a routerLink="/blog/left-at-home/">Life at Homes</a></li>
                                <li><a routerLink="/blog/lawblog/">Laws</a></li>
                                <li><a routerLink="/blog/market-trends/">Market Trends</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<app-footer></app-footer>