
  <form>
    <div class="properties-file-container-shadow">
    <div class="properties-file-container">
    <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12">
          <div class="select-design select2-design">
            <select class="select2">
              <option value="Dubai">City</option>
              <option value="UAE">Dubai</option>
            </select>
          </div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12">
            <div class="select-design select2-design">
              <select class="select2">
                <option value="Dubai">Category</option>
                <option value="UAE">All in Furniture, Home & Garden</option>
              </select>
            </div>
          </div>
          <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12">
            <div class="select-design select2-design">
              <select class="select2">
                <option value="Dubai">Neighborhood</option>
                <option value="UAE">All Neighborhoods</option>
              </select>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
            <div ngClass="block-wrapper">
              <div ngClass="cstm_dropdown-list dropdown-design-2 position-relative drodown_with-img">
                  <button ngClass="drop-down_btn" (click)="clickEvent()">Price (AED)</button>
                  <div class="cstm_dropdown-menu" [ngClass]="status ? 'active' : 'notactive'">
                      <h4 ngClass="drop_label">Price Range</h4>
                      <div ngClass="rental-type-tabs-sec">
                          <div ngClass="price-range_sec">
                              <div ngClass="extra-controls form-inline">
                                  <div ngClass="form-group">
                                      <input type="number" formControlName="PriceStart"
                                          placeholder="100,000">
                                      <input type="number" formControlName="PriceEnd"
                                          placeholder="Any">
                                  </div>
                              </div>
                              <div ngClass="range-slider">
                                  <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options">
                                  </ngx-slider>
                              </div>
                          </div>
                      </div>
                  </div>
                  <button (click)="clickEvent()" ngClass="overlay_dropdown-btn"></button>
              </div>
          </div>
          </div>
          <div class="col-xl-1 col-lg-1 col-md-6 col-sm-12">
            <div ngClass="block-wrapper more-filter_btn-wrapper">
              <button ngClass="more-filter-button" (click)="openVerticallyCentered(content)">More Filters</button>
          </div>
          </div>
          <div class="col-xl-1 col-lg-1 col-md-6 col-sm-12">
            <div ngClass="block-wrapper">
              <button ngClass="clear-btn">Clear</button>
          </div>
          </div>
          <div class="col-xl-1 col-lg-1 col-md-6 col-sm-12">
            <div ngClass="block-wrapper">
              <button ngClass="search-btn"><img src="assets/images/search.svg"></button>
          </div>
          </div>
    </div>
    </div>
    </div>
  </form>
  <div ngClass="more_filters-modal">
    <ng-template #content let-modal>
        <button type="button" class="btn-close" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
        <div class="modal-body more-filter-form-design">
            <div ngClass="row">
                <div ngClass="col-xl-12 col-lg-12 col-sm-12">
                    <div ngClass="form_heading mb-4">
                        <h4 ngClass="h4-design">More Filters</h4>
                    </div>
                </div>
                <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                  <div ngClass="block-wrapper mb-4">
                      <label class="h6-design">Age</label>
                      <div class="checkbox-flex-box autoflex-layout">
                          <div class="checkbox-design position-relative">
                              <input type="radio" checked id="brand-new" name="Age" value="brand-new">
                              <button class="checkbox-btn">Brand New</button>
                          </div>
                          <div class="checkbox-design position-relative">
                            <input type="radio" checked id="brand-new" name="Age" value="0-1 Months">
                            <button class="checkbox-btn">0-1 Months</button>
                        </div>
                        <div class="checkbox-design position-relative">
                          <input type="radio" checked id="brand-new" name="Age" value="6-12 Months">
                          <button class="checkbox-btn">6-12 Months</button>
                      </div>
                      <div class="checkbox-design position-relative">
                        <input type="radio" checked id="brand-new" name="Age" value="1-2 Years">
                        <button class="checkbox-btn">1-2 Years</button>
                    </div>
                        <div class="checkbox-design position-relative">
                        <input type="radio" checked id="brand-new" name="Age" value="1-2 Years">
                        <button class="checkbox-btn">2-3 Years</button>
                    </div>
                      </div>
                  </div>
              </div>
              <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                <div ngClass="block-wrapper mb-4">
                    <label class="h6-design">Usage</label>
                    <div class="checkbox-flex-box autoflex-layout">
                        <div class="checkbox-design position-relative">
                            <input type="radio" checked id="Never-Used" name="Usage" value="Never-Used">
                            <button class="checkbox-btn">Never Used</button>
                        </div>
                        <div class="checkbox-design position-relative">
                          <input type="radio" checked id="Used-Once" name="Usage" value="Used-Once">
                          <button class="checkbox-btn">Used Once</button>
                      </div>
                      <div class="checkbox-design position-relative">
                        <input type="radio" checked id="Light-Usage" name="Usage" value="Light-Usage">
                        <button class="checkbox-btn">Light Usage</button>
                    </div>
                    <div class="checkbox-design position-relative">
                      <input type="radio" checked id="Normal-Usage" name="Usage" value="Normal-Usage">
                      <button class="checkbox-btn">Normal Usage</button>
                  </div>
                  <div class="checkbox-design position-relative">
                    <input type="radio" checked id="Normal-Usage" name="Usage" value="Normal-Usage">
                    <button class="checkbox-btn">Heavy Usage</button>
                </div>
                    </div>
                </div>
            </div>
            <div ngClass="col-xl-12 col-lg-12 col-sm-12">
              <div ngClass="block-wrapper mb-4">
                  <label class="h6-design">Ads posted</label>
                  <div class="checkbox-flex-box autoflex-layout">
                      <div class="checkbox-design position-relative">
                          <input type="radio" checked id="any-time" name="Ads-posted" value="any-time">
                          <button class="checkbox-btn">Any Time</button>
                      </div>
                      <div class="checkbox-design position-relative">
                        <input type="radio" checked id="Today" name="Ads-posted" value="Today">
                        <button class="checkbox-btn">Today</button>
                    </div>
                    <div class="checkbox-design position-relative">
                      <input type="radio" checked id="Light-Usage" name="Ads-posted" value="Light-Usage">
                      <button class="checkbox-btn">Within 3 days</button>
                  </div>
                  <div class="checkbox-design position-relative">
                    <input type="radio" checked id="Normal-Usage" name="Ads-posted" value="Normal-Usage">
                    <button class="checkbox-btn">Within 1 Week</button>
                </div>
                <div class="checkbox-design position-relative">
                  <input type="radio" checked id="Normal-Usage" name="Ads-posted" value="Normal-Usage">
                  <button class="checkbox-btn">Within 2 Week</button>
              </div>
              <div class="checkbox-design position-relative">
                <input type="radio" checked id="Normal-Usage" name="Ads-posted" value="Normal-Usage">
                <button class="checkbox-btn">Within 3 Week</button>
            </div>
                  </div>
              </div>
          </div>
          <div ngClass="col-xl-12 col-lg-12 col-sm-12">
            <div ngClass="block-wrapper mb-4">
              <label>Other Filters</label>
              <div class="mat-checkbox-list">
                <mat-checkbox class="example-margin">Show ads in English only</mat-checkbox>
                <mat-checkbox class="example-margin">Show ads with photos only</mat-checkbox>
                <mat-checkbox class="example-margin">Show ads by</mat-checkbox>
                <mat-checkbox class="example-margin">Ads with video only</mat-checkbox>
              </div>
            </div>
          </div>
          <div ngClass="col-xl-12 col-lg-12 col-sm-12 text-right">
            <button class="show-results">Show Results</button>
          </div>
            </div>
        </div>
    </ng-template>
</div>