<app-header></app-header>
<section [ngClass]="'inner-cntnt-wrapper slide-left-bar'">
    <section [ngClass]="'list-payment-sec position-relative'">
        <div [ngClass]="'container_1280px'">
            <div class="valuation-cstm_tabs property_payment">
            <div ngClass="form-border-wrapper">
                <div ngClass="list-property-header mb-4">
                    <h5 ngClass="h5-heading">Payment</h5>
                    <p>Please provide your propety type for the valuation</p>
                </div>
                <div ngClass="payment-main-sec">
                    <div ngClass="row">
                        <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                            <div ngClass="payment-left-form-sec position-relative">
                                <div ngClass="payment-price-box">
                                    <p>Pay Ovaluate Real Estate Valuation Services LLC</p>
                                    <h3 ngClass="price">AED 2500</h3>
                                </div>
                                <div ngClass="payment-another-info">
                                    <div ngClass="detail-box d-flex justify-content-spacebw">
                                        <div ngClass="pay-heading-block">
                                            <h6>Detail Report</h6>
                                            <p>Residential - Apartment Valuation Report</p>
                                        </div>
                                        <p ngClass="price">AED
                                            1,500</p>
                                    </div>
                                    <div ngClass="Inspection-box d-flex justify-content-spacebw">
                                        <div ngClass="pay-heading-block">
                                            <h6>Inspection</h6>
                                        </div>
                                        <p ngClass="price">AED
                                            1,000</p>
                                    </div>
                                    <div ngClass="tax-box d-flex justify-content-spacebw">
                                        <div ngClass="pay-heading-block">
                                            <h6>Tax</h6>
                                        </div>
                                        <p ngClass="tax-cost">Included</p>
                                    </div>
                                    <div ngClass="totel-due-box d-flex justify-content-spacebw">
                                        <div ngClass="pay-heading-block">
                                            <h6>Total Due</h6>
                                        </div>
                                        <p ngClass="price">AED
                                            2,500</p>
                                    </div>
                                </div>
                                <div ngClass="strip-btn-div">
                                    <button ngClass="stripr-btn"><img src="{{stripe}}"></button>
                                </div>
                            </div>
                        </div>
                        <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                            <div ngClass="payment-right-form-sec">
                                <form>
                                    <div ngClass="block-wrapper mb-3">
                                        <label class="h6-design">Email</label>
                                        <mat-form-field class="full-width input-design-2 grey-input-bg"
                                            appearance="fill">
                                            <input matInput type="email"
                                                placeholder="omran.yusef@gmail.com"
                                                disabled>
                                        </mat-form-field>
                                    </div>
                                    <div ngClass="block-wrapper mb-3">
                                        <label class="h6-design">Card Informations</label>
                                        <mat-form-field class="full-width input-design-2"
                                            appearance="fill">
                                            <input matInput type="number"
                                                placeholder="1234 1234 1234 1234">
                                        </mat-form-field>
                                    </div>
                                    <div ngClass="block-wrapper mb-3">
                                        <label class="h6-design">Expiry</label>
                                        <mat-form-field class="full-width input-design-2"
                                            appearance="fill">
                                            <input matInput type="text"
                                                placeholder="MM/YY">
                                        </mat-form-field>
                                    </div>
                                    <div ngClass="block-wrapper mb-3">
                                        <label class="h6-design">CVV</label>
                                        <mat-form-field class="full-width input-design-2"
                                            appearance="fill">
                                            <input matInput type="number"
                                                placeholder="CVV"
                                                formControlName="cvv">
                                        </mat-form-field>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right save-continue-sec justify-content-end">
                <mat-card-actions>
                    <a class="save-continue-btn">Proceed to Pay</a>
                </mat-card-actions>
            </div>
        </div>
        </div>
    </section>
</section>
<app-footer></app-footer>