<app-header></app-header>
<section [ngClass]="'inner-cntnt-wrapper slide-left-bar'">
    <section [ngClass]="'explore-banner-sec position-relative'"
      style="background-image: url('assets/images/areas-banner.webp')">
      <div [ngClass]="'container_1280px'">
        <div ngClass="inner-banner-heading text-center">
          <h2>All Projects</h2>
          <div ngClass="search_destinations-block" *ngIf="country.length > 0">
            <form>
              <div ngClass="row">
                <div ngClass="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                  <div ngClass="block-wrapper">
                    <div ngClass="select-design">
                      <mat-form-field appearance="fill">
                        <mat-label>Property type</mat-label>
                        <mat-select [disableOptionCentering]="true"  [(value)]="selected">
                          <mat-option>None</mat-option>
                          <mat-option value="option1">Option 1</mat-option>
                          <mat-option value="option2">Option 2</mat-option>
                          <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div ngClass="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                  <div ngClass="block-wrapper">
                    <div ngClass="select-design">
                      <mat-form-field appearance="fill">
                        <mat-label>Project</mat-label>
                        <mat-select [disableOptionCentering]="true"  [(value)]="selected">
                          <mat-option>None</mat-option>
                          <mat-option value="option1">Option 1</mat-option>
                          <mat-option value="option2">Option 2</mat-option>
                          <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div ngClass="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                  <div ngClass="block-wrapper">
                    <div ngClass="select-design">
                      <mat-form-field appearance="fill">
                        <mat-label>Area</mat-label>
                        <mat-select [disableOptionCentering]="true"  [(value)]="selected">
                          <mat-option>None</mat-option>
                          <mat-option value="option1">Option 1</mat-option>
                          <mat-option value="option2">Option 2</mat-option>
                          <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div ngClass="col-xl-3 col-lg-3 col-md-3 col-sm-12">
                  <div ngClass="block-wrapper">
                    <div ngClass="select-design">
                      <mat-form-field appearance="fill">
                        <mat-label>Developer</mat-label>
                        <mat-select [disableOptionCentering]="true"  [(value)]="selected">
                          <mat-option>None</mat-option>
                          <mat-option value="option1">Option 1</mat-option>
                          <mat-option value="option2">Option 2</mat-option>
                          <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <!-- <div ngClass="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                  <div ngClass="block-wrapper height-100">
                    <mat-form-field class="example-chip-list input-design searh_input-design height-100"
                      appearance="fill">
                      <mat-label>Search</mat-label>
                      <mat-chip-list #chipList aria-label="Search selection">
                        <mat-chip *ngFor="let SearchValue of SearchKeywordExplore" (removed)="remove(SearchValue)">
                          {{SearchValue}}
                          <button matChipRemove>
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-chip>
                        <input placeholder="Location, Project Name" #SearchInput [formControl]="searchctrlExplore"
                          [matAutocomplete]="auto" [matChipInputFor]="chipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodesExplore"
                          (matChipInputTokenEnd)="add($event)">
                      </mat-chip-list>
                      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let SearchValue of searchfilterExplore | async" [value]="SearchValue">
                          {{SearchValue}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div> -->
                <!-- <div ngClass="col-xl-1 col-lg-1 col-md-1 col-sm-12">
                  <div ngClass="search-btn-block">
                    <button ngClass="search-btn" type="submit"><img src="{{search}}"></button>
                  </div>
                </div> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section ngClass="all-projects-sec">
      <div [ngClass]="'container_1280px'">
        <div ngClass="explore-breadcrumb-wrapper black-text-breadcrumb">
          <app-breadcrumbs></app-breadcrumbs>
        </div>
        <div ngClass="explore-word-sec" *ngIf="selectedCountry">
          <div ngClass="d-flex justify-content-spacebw mb-4">
            <div ngClass="hp-design">
              <h4>All Projects</h4>
              <p>When it comes to finding out about new projects, which are almost nearing completion or ready to occupy new developments and off-plan projects, which have been just launched, or those under-construction in Dubai, our ‘Home Finder section’ is just what you need. Home to Dubai’s comprehensive list of real estate projects every project listing provides in-depth details starting from artistic, live images and video gallery, fact sheet, location map, frequently asked questions (FAQs), and more on sub communities within the projects, their features and nearby places. Our aim to provide as much information as possible to help you understand thoroughly as you progress with your home buying and investments.</p>
              <p>Use our search tool to select your preferences in order to view the best properties available. Or give us a call for immediate service at <a href="#"> 800-326- 800.</a>
              </p>
            </div>
          </div>
          <!-- <div ngClass="explore-locations-block-designs">
            <div ngClass="hp-design mb-4">
              <h4>{{selectedCountry.viewValue}}</h4>
            </div>
            <div ngClass="explore-locations-lists">
              <div class="row" *ngIf="cityData.length > 0">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-4" *ngFor="let item of cityData"
                  [ngClass]="checkCity(item.name) ? 'd-none' : ''">
                  <div ngClass="loc-div-block position-relative">
                    <div ngClass="loc-img-design">
                      <img src="https://beta.ovaluate.com/{{item.cityDocument.fileUrl}}">
                    </div>
                    <div ngClass="loc-img-cntnt">
                      <div ngClass="d-flex justify-content-spacebw align-items-center">
                        <div ngClass="hp-design white">
                          <h4 ngClass="city-name">{{item.name}}</h4>
                          <p ngClass="country-name">{{item.country.name}}</p>
                        </div>
                        <div ngClass="explore-link">
                          <a routerLink="/explore/city/{{item.id}}">Explore <mat-icon>keyboard_arrow_right</mat-icon></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- <div ngClass="explore-description_sec mt-4 mb-5" *ngIf="selectedCountry">
            <div ngClass="hp-design hp-explore-spacing">
              <h4>Explore {{selectedCountry.viewValue}}</h4>
              <p>{{selectedCountry.desc}}.</p>
            </div>
          </div> -->
        </div>



        <div>
                                <div ngClass="properties-list-block-design">
                                    <div ngClass="row">
                                        <div ngClass="col-xl-7 col-md-6 col-lg-7 col-sm-12">
                                            <div ngClass="properties-list_slider">
                                              <img src="https://cloud.famproperties.com/project/large/jumeirah-living-business-bay-160826-121954.jpg">
                                                <!-- <ngb-carousel>
                                                    <ng-template ngbSlide>
                                                        <img src="https://cloud.famproperties.com/project/large/jumeirah-living-business-bay-160826-121954.jpg">
                                                    </ng-template>
                                                </ngb-carousel> -->
                                            </div>
                                            <!-- <div ngClass="properties-list_slider" *ngIf="list.documentsCheck == false">
                                                <img src="assets/images/placeholder.png">
                                            </div> -->
                                        </div>
                                        <div ngClass="col-xl-5 col-md-6 col-lg-5 col-sm-12">
                                            <div ngClass="properties-list_cntnts position-relative">
                                                <div ngClass="properties-list_hdr d-flex justify-content-spacebw">
                                                    <div ngClass="property-price_detals cursor-pointer">
                                                        <h2>Palm Beach Towers</h2>
                                                        <h4>AED 500.00</h4>
                                                        <!-- <div ngClass="property-tags d-flex flex-wrap">
                                                            <span ngClass="tags-bg-grey">Brokrage:AED 200.00</span>
                                                            <span ngClass="tags-bg-grey">Security deposit:AED 200.00</span>
                                                        </div> -->
                                                    </div>
                                                    <!-- <div ngClass="property-action-hdr">
                                                        <button ngClass="ov-verified-btn"><img src="http://localhost:4200/assets/images/icons/ov-verified.svg">
                                                          OV-RA-100036</button>
                                                        <div ngClass="pro-contact-details">
                                                            <div ngbDropdown class="d-inline-block">
                                                                <button ngClass="circle-btn" id="dropdownBasic21"
                                                                    ngbDropdownToggle><img src=""></button>
                                                                <div ngbDropdownMenu aria-labelledby="dropdownBasic21">
                                                                    <h5>Share with:</h5>
                                                                    <button ngbDropdownItem><a target="_blank"
                                                                            href="https://facebook.com"
                                                                            ngClass="facebook"><img src="">
                                                                            Facebook</a></button>
                                                                    <button ngbDropdownItem><a target="_blank"
                                                                            href="https://web.whatsapp.com/"
                                                                            ngClass="whatsapp"><img src="">
                                                                            WhatsAPP</a></button>
                                                                    <button ngbDropdownItem><a target="_blank"
                                                                            href="https://twitter.com/"
                                                                            ngClass="twitter"><img src="">
                                                                            Twitter</a></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button
                                                            ngClass="pro-footer-btn">
                                                            <svg width="22" height="23" viewBox="0 0 22 23"
                                                                fill="#595ad4" xmlns="http://www.w3.org/2000/svg">
                                                                <path
                                                                    d="M4.39376 6.23844C4.02517 6.63167 3.73279 7.0985 3.53331 7.61228C3.33383 8.12605 3.23116 8.67672 3.23116 9.23283C3.23116 9.78894 3.33383 10.3396 3.53331 10.8534C3.73279 11.3672 4.02517 11.834 4.39376 12.2272L11.1699 19.4563L17.946 12.2272C18.6904 11.433 19.1086 10.3559 19.1086 9.23283C19.1086 8.10972 18.6904 7.0326 17.946 6.23844C17.2016 5.44429 16.1919 4.99813 15.1392 4.99813C14.0865 4.99813 13.0768 5.44429 12.3324 6.23844L11.1699 7.47873L10.0073 6.23844C9.63871 5.84521 9.20113 5.53329 8.71954 5.32047C8.23796 5.10766 7.72179 4.99812 7.20053 4.99812C6.67926 4.99812 6.1631 5.10766 5.68152 5.32047C5.19993 5.53329 4.76235 5.84521 4.39376 6.23844V6.23844Z"
                                                                    stroke-width="2" stroke-linecap="round"
                                                                    stroke-linejoin="round" />
                                                            </svg>
                                                        </button>
                                                    </div> -->
                                                </div>

                                                <div ngClass="property-name_detals">
                                                    <!-- <h4>Name Building</h4> -->
                                                    <div ngClass="property-addresss">
                                                        <p><img src="{{homelocationsvg}}"> Business Bay</p>
                                                    </div>
                                                </div>
                                                <div ngClass="topkey-highlights">
                                                    <!-- <h6>propertyType,</h6> -->
                                                    <div ngClass="property-details-highlights">
                                                        <span ngClass="bed">
                                                            Status: <b>Off-plan</b>
                                                        </span>
                                                        <span  ngClass="bath">
                                                            <img src="{{viewsvg}}" alt=""> 872 Views
                                                        </span>
                                                    </div>
                                                </div>
                                                <!-- <div ngClass="key-tags">
                                                    <span *ngFor="let features of list.propertyFeatures">
                                                        {{features.propertyFeature.featureName}}
                                                    </span>
                                                </div> -->
                                                <!-- <div ngClass="data-inteligence-text">
                                                    <h6>OV Data Intelligence - Corniche Road, Abu Dhabi </h6>
                                                    <div ngClass="property-range-bar d-flex">
                                                        <div ngClass="pro-range-whie-box">
                                                            <p>Recent Rent Txns</p>
                                                            <h6>{{list.RecentRentTxns}} in last 1 year</h6>
                                                        </div>
                                                        <div ngClass="pro-range-whie-box">
                                                            <p>Rent Price Range</p>
                                                            <h6>{{list.StartRentPrice}} {{list.currency}} -
                                                                {{list.EndRentPrice}} {{list.currency}}</h6>
                                                        </div>
                                                        <div ngClass="pro-range-whie-box">
                                                            <p>Avg. Rent/ Sq. Ft.</p>
                                                            <h6>{{list.AvgRentPrice}} {{list.currency}}</h6>
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <div ngClass="property-footer-block">
                                                    <div ngClass="row align-items-center">
                                                        <div ngClass="col-xl-5 col-lg-12 col-md-12 col-sm-12">
                                                            <div ngClass="lsited-by-details d-flex">
                                                                <div ngClass="list_cntnt-img">
                                                                    <img src="https://play-lh.googleusercontent.com/DTzWtkxfnKwFO3ruybY1SKjJQnLYeuK3KmQmwV5OQ3dULr5iXxeEtzBLceultrKTIUTr">
                                                                </div>
                                                                <div ngClass="list_cntnt-blcok">
                                                                    <h5>Ali Raza</h5>
                                                                    <p>Listed on: 25 July 2022</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div
                                                            ngClass="col-xl-7 col-lg-12 col-md-12 col-sm-12 text-right">
                                                            <div ngClass="pro-contact-details">
                                                                <a ngClass="pro-footer-btn grren-btn">Contct</a>
                                                                <a ngClass="pro-footer-btn">Discover More</a>
                                                                <!-- <div ngbDropdown placement="top-end"
                                                                    class="d-inline-block call-now_link">
                                                                    <button type="button" class="pro-footer-btn"
                                                                        id="dropdownBasic5"
                                                                        ngbDropdownToggle>{{callNumberText}}</button>
                                                                    <div ngbDropdownMenu
                                                                        aria-labelledby="dropdownBasic5">
                                                                        <p ngClass="mention_ref">Mention the reference
                                                                        </p>
                                                                        <p ngClass="oval_finder-red">"Ovaluate Finder"
                                                                            <span
                                                                                ngClass="ref_id">{{list.propertyCode}}</span>
                                                                        </p>
                                                                    </div>
                                                                </div> -->
                                                                <!-- <div ngbDropdown class="d-inline-block">
                                                                    <button ngClass="grren-btn pro-footer-btn"
                                                                        id="dropdownBasic1"
                                                                        ngbDropdownToggle>Connect</button>
                                                                    <div ngbDropdownMenu
                                                                        aria-labelledby="dropdownBasic1">
                                                                        <button ngbDropdownItem><a
                                                                                routerLink="/chat"><img src="{{chat}}">
                                                                                Chat</a></button>
                                                                        <button ngbDropdownItem><a target="_blank"
                                                                                href="https://web.whatsapp.com/"><img
                                                                                    src="{{whatsapp}}"> Whats
                                                                                APP</a></button>
                                                                        <button ngbDropdownItem><a
                                                                                routerLink="/chat"><img
                                                                                    src="{{videocall}}"> Video
                                                                                Call</a></button>
                                                                        <button ngbDropdownItem><a target="_blank"
                                                                                href="https://www.youtube.com/watch?v=y9j-BL5ocW8"><img
                                                                                    src="{{virtual}}"> Virtual
                                                                                Tour</a></button>
                                                                        <button ngbDropdownItem><a target="_blank"
                                                                                href="mailto:info@ovaluate.com"><img
                                                                                    src="{{email}}"> Email</a></button>
                                                                    </div>
                                                                </div>
                                                                <div ngbDropdown class="d-inline-block">
                                                                    <button ngClass="pro-footer-btn"
                                                                        id="dropdownBasic2" ngbDropdownToggle><img
                                                                            src="{{dots}}"></button>
                                                                    <div ngbDropdownMenu
                                                                        aria-labelledby="dropdownBasic2">
                                                                        <h5>Share with:</h5>
                                                                        <button ngbDropdownItem><a target="_blank"
                                                                                href="https://facebook.com"
                                                                                ngClass="facebook"><img src="{{fb}}">
                                                                                Facebook</a></button>
                                                                        <button ngbDropdownItem><a target="_blank"
                                                                                href="https://web.whatsapp.com/"
                                                                                ngClass="whatsapp"><img
                                                                                    src="{{whatsapp}}">
                                                                                WhatsAPP</a></button>
                                                                        <button ngbDropdownItem><a target="_blank"
                                                                                href="https://twitter.com/"
                                                                                ngClass="twitter"><img
                                                                                    src="{{twitter}}">
                                                                                Twitter</a></button>
                                                                    </div>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <p ngClass="premium-tag">PREMIUM</p> -->
                                            </div>
                                            <button _ngcontent-ekm-c201="" ngclass="tag_btn blue" ng-reflect-ng-class="tag_btn blue" class="tag_btn blue"><img _ngcontent-ekm-c201="" src="../../../assets/images/icons/tag-icn.svg"> PREMIUM</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div ngClass="notification-box mb-5" *ngIf="i == halfList">
                                    <div ngClass="d-flex align-items-center">
                                        <div ngClass="email-home-icons">
                                            <img src="{{emailhome}}">
                                        </div>
                                        <div ngClass="email-home-cntnt">
                                            <h4>Get Notofied when new property match your search criteria</h4>
                                        </div>
                                        <div ngClass="email-alert-btn">
                                            <button ngClass="alert_btn" (click)="openVerticallyCentered(content)">
                                                <mat-icon>notifications_active</mat-icon> Get an alert
                                            </button>
                                        </div>
                                    </div>
                                </div> -->
                            </div>


                            
        <div>
          <div ngClass="properties-list-block-design">
              <div ngClass="row">
                  <div ngClass="col-xl-7 col-md-6 col-lg-7 col-sm-12">
                      <div ngClass="properties-list_slider">
                        <img src="https://cloud.famproperties.com/project/large/jumeirah-living-business-bay-160826-121954.jpg">
                      </div>
                  </div>
                  <div ngClass="col-xl-5 col-md-6 col-lg-5 col-sm-12">
                      <div ngClass="properties-list_cntnts position-relative">
                          <div ngClass="properties-list_hdr d-flex justify-content-spacebw">
                              <div ngClass="property-price_detals cursor-pointer">
                                  <h2>Palm Beach Towers</h2>
                                  <h4>AED 500.00</h4>
                              </div>
                          </div>

                          <div ngClass="property-name_detals">
                              <div ngClass="property-addresss">
                                  <p><img src="{{homelocationsvg}}"> Business Bay</p>
                              </div>
                          </div>
                          <div ngClass="topkey-highlights">
                              <!-- <h6>propertyType,</h6> -->
                              <div ngClass="property-details-highlights">
                                  <span ngClass="bed">
                                      Status: <b>Off-plan</b>
                                  </span>
                                  <span  ngClass="bath">
                                      <img src="{{viewsvg}}" alt=""> 872 Views
                                  </span>
                              </div>
                          </div>
                          <div ngClass="property-footer-block">
                              <div ngClass="row align-items-center">
                                  <div ngClass="col-xl-5 col-lg-12 col-md-12 col-sm-12">
                                      <div ngClass="lsited-by-details d-flex">
                                          <div ngClass="list_cntnt-img">
                                              <img src="https://play-lh.googleusercontent.com/DTzWtkxfnKwFO3ruybY1SKjJQnLYeuK3KmQmwV5OQ3dULr5iXxeEtzBLceultrKTIUTr">
                                          </div>
                                          <div ngClass="list_cntnt-blcok">
                                              <h5>Ali Raza</h5>
                                              <p>Listed on: 25 July 2022</p>
                                          </div>
                                      </div>
                                  </div>
                                  <div
                                      ngClass="col-xl-7 col-lg-12 col-md-12 col-sm-12 text-right">
                                      <div ngClass="pro-contact-details">
                                          <a ngClass="pro-footer-btn grren-btn">Contct</a>
                                          <a ngClass="pro-footer-btn">Discover More</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- <p ngClass="premium-tag">PREMIUM</p> -->
                      </div>
                      <button _ngcontent-ekm-c201="" ngclass="tag_btn blue" ng-reflect-ng-class="tag_btn blue" class="tag_btn blue"><img _ngcontent-ekm-c201="" src="../../../assets/images/icons/tag-icn.svg"> PREMIUM</button>
                  </div>
              </div>
          </div>
        </div>

        <div>
          <div ngClass="properties-list-block-design">
              <div ngClass="row">
                  <div ngClass="col-xl-7 col-md-6 col-lg-7 col-sm-12">
                      <div ngClass="properties-list_slider">
                        <img src="https://cloud.famproperties.com/project/large/jumeirah-living-business-bay-160826-121954.jpg">
                      </div>
                  </div>
                  <div ngClass="col-xl-5 col-md-6 col-lg-5 col-sm-12">
                      <div ngClass="properties-list_cntnts position-relative">
                          <div ngClass="properties-list_hdr d-flex justify-content-spacebw">
                              <div ngClass="property-price_detals cursor-pointer">
                                  <h2>Palm Beach Towers</h2>
                                  <h4>AED 500.00</h4>
                              </div>
                          </div>

                          <div ngClass="property-name_detals">
                              <div ngClass="property-addresss">
                                  <p><img src="{{homelocationsvg}}"> Business Bay</p>
                              </div>
                          </div>
                          <div ngClass="topkey-highlights">
                              <!-- <h6>propertyType,</h6> -->
                              <div ngClass="property-details-highlights">
                                  <span ngClass="bed">
                                      Status: <b>Off-plan</b>
                                  </span>
                                  <span  ngClass="bath">
                                      <img src="{{viewsvg}}" alt=""> 872 Views
                                  </span>
                              </div>
                          </div>
                          <div ngClass="property-footer-block">
                              <div ngClass="row align-items-center">
                                  <div ngClass="col-xl-5 col-lg-12 col-md-12 col-sm-12">
                                      <div ngClass="lsited-by-details d-flex">
                                          <div ngClass="list_cntnt-img">
                                              <img src="https://play-lh.googleusercontent.com/DTzWtkxfnKwFO3ruybY1SKjJQnLYeuK3KmQmwV5OQ3dULr5iXxeEtzBLceultrKTIUTr">
                                          </div>
                                          <div ngClass="list_cntnt-blcok">
                                              <h5>Ali Raza</h5>
                                              <p>Listed on: 25 July 2022</p>
                                          </div>
                                      </div>
                                  </div>
                                  <div
                                      ngClass="col-xl-7 col-lg-12 col-md-12 col-sm-12 text-right">
                                      <div ngClass="pro-contact-details">
                                          <a ngClass="pro-footer-btn grren-btn">Contct</a>
                                          <a ngClass="pro-footer-btn">Discover More</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- <p ngClass="premium-tag">PREMIUM</p> -->
                      </div>
                      <button _ngcontent-ekm-c201="" ngclass="tag_btn blue" ng-reflect-ng-class="tag_btn blue" class="tag_btn blue"><img _ngcontent-ekm-c201="" src="../../../assets/images/icons/tag-icn.svg"> PREMIUM</button>
                  </div>
              </div>
          </div>
        </div>

        <div>
          <div ngClass="properties-list-block-design">
              <div ngClass="row">
                  <div ngClass="col-xl-7 col-md-6 col-lg-7 col-sm-12">
                      <div ngClass="properties-list_slider">
                        <img src="https://cloud.famproperties.com/project/large/jumeirah-living-business-bay-160826-121954.jpg">
                      </div>
                  </div>
                  <div ngClass="col-xl-5 col-md-6 col-lg-5 col-sm-12">
                      <div ngClass="properties-list_cntnts position-relative">
                          <div ngClass="properties-list_hdr d-flex justify-content-spacebw">
                              <div ngClass="property-price_detals cursor-pointer">
                                  <h2>Palm Beach Towers</h2>
                                  <h4>AED 500.00</h4>
                              </div>
                          </div>

                          <div ngClass="property-name_detals">
                              <div ngClass="property-addresss">
                                  <p><img src="{{homelocationsvg}}"> Business Bay</p>
                              </div>
                          </div>
                          <div ngClass="topkey-highlights">
                              <!-- <h6>propertyType,</h6> -->
                              <div ngClass="property-details-highlights">
                                  <span ngClass="bed">
                                      Status: <b>Off-plan</b>
                                  </span>
                                  <span  ngClass="bath">
                                      <img src="{{viewsvg}}" alt=""> 872 Views
                                  </span>
                              </div>
                          </div>
                          <div ngClass="property-footer-block">
                              <div ngClass="row align-items-center">
                                  <div ngClass="col-xl-5 col-lg-12 col-md-12 col-sm-12">
                                      <div ngClass="lsited-by-details d-flex">
                                          <div ngClass="list_cntnt-img">
                                              <img src="https://play-lh.googleusercontent.com/DTzWtkxfnKwFO3ruybY1SKjJQnLYeuK3KmQmwV5OQ3dULr5iXxeEtzBLceultrKTIUTr">
                                          </div>
                                          <div ngClass="list_cntnt-blcok">
                                              <h5>Ali Raza</h5>
                                              <p>Listed on: 25 July 2022</p>
                                          </div>
                                      </div>
                                  </div>
                                  <div
                                      ngClass="col-xl-7 col-lg-12 col-md-12 col-sm-12 text-right">
                                      <div ngClass="pro-contact-details">
                                          <a ngClass="pro-footer-btn grren-btn">Contct</a>
                                          <a ngClass="pro-footer-btn">Discover More</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <!-- <p ngClass="premium-tag">PREMIUM</p> -->
                      </div>
                      <button _ngcontent-ekm-c201="" ngclass="tag_btn blue" ng-reflect-ng-class="tag_btn blue" class="tag_btn blue"><img _ngcontent-ekm-c201="" src="../../../assets/images/icons/tag-icn.svg"> PREMIUM</button>
                  </div>
              </div>
          </div>
        </div>
        


      </div>
    </section>
<app-footer></app-footer>
</section>