<app-header></app-header>
<div ngClass="light-bg-body">
    <section [ngClass]="'inner-cntnt-wrapper slide-left-bar'">
    <section [ngClass]="'explore-banner-sec position-relative'"
      style="background-image: url('assets/images/areas-banner.webp')">
      <div [ngClass]="'container_1280px'">
        <div ngClass="inner-banner-heading text-center">
          <h2>All Projects</h2>
        </div>
      </div>
    </section>
        <section [ngClass]="'rent-propoerties-main-sec'">
            <div ngClass="properties-file-container-shadow">
                <div ngClass="properties-file-container">
                   <app-project-filter></app-project-filter>
                </div>
            </div>
            <div [ngClass]="'container_1280px'">
              <div ngClass="explore-breadcrumb-wrapper black-text-breadcrumb">
                <app-breadcrumbs></app-breadcrumbs>
              </div>
              <div ngClass="explore-word-sec">
                <div ngClass="d-flex justify-content-spacebw mb-4">
                  <div ngClass="hp-design">
                    <h4>All Projects</h4>
                    <p>When it comes to finding out about new projects, which are almost nearing completion or ready to occupy new developments and off-plan projects, which have been just launched, or those under-construction in Dubai, our ‘Home Finder section’ is just what you need. Home to Dubai’s comprehensive list of real estate projects every project listing provides in-depth details starting from artistic, live images and video gallery, fact sheet, location map, frequently asked questions (FAQs), and more on sub communities within the projects, their features and nearby places. Our aim to provide as much information as possible to help you understand thoroughly as you progress with your home buying and investments.</p>
                    <p>Use our search tool to select your preferences in order to view the best properties available. Or give us a call for immediate service at <a href="#"> 800-326- 800.</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div [ngClass]="'container_1280px'">
                <div ngClass="row">
                    <div ngClass="col-xl-12 col-lg-9 col-md-12 col-sm-12">
                        <div ngClass="property-details-header">
                            <div ngClass="d-flex justify-content-spacebw">
                                <div ngClass="black-text-breadcrumb">
                                </div>
                            </div>
                        </div>
                        <div ngClass="properties-filtr-values d-flex justify-content-spacebw">
                            <div ngClass="properties-filtr-values-left d-flex justify-content-spacebw">
                                <div class="checkbox-design position-relative">
                                    <input type="checkbox" id="Furnished" name="property-types" value="Furnished">
                                    <button class="checkbox-btn">All</button>
                                </div>
                                <div ngClass="block-wrapper">
                                    <mat-form-field appearance="fill" class="select-design">
                                        <mat-label><img src="{{videotiour}}"> Video Tour</mat-label>
                                        <mat-select [disableOptionCentering]="true">
                                            <mat-option value="video Tour">
                                                Video Tour
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div ngClass="properties-filtr-values-right d-flex justify-content-spacebw">
                                <div class="checkbox-design position-relative">
                                    <input type="checkbox" id="OV-Verified" name="property-types" value="OV-Verified">
                                    <button class="checkbox-btn"><img src="{{ovverified}}"> OV-Verified</button>
                                </div>
                                <div ngClass="block-wrapper">
                                    <mat-form-field appearance="fill" class="select-design">
                                        <mat-label>Sort by</mat-label>
                                        <mat-select [disableOptionCentering]="true">
                                            <mat-option value="New">
                                                New
                                            </mat-option>
                                            <mat-option value="Latest">
                                                Latest
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="all-project-section">
            <div class="all-inner-project-section">
                <div class="container_1280px">
                    <div class="all-project-sub-inner-section">
                        <div class="row align-items-center">
                            <div class="col-12">
                                <div class="all-project-box">
                                    <div class="all-project-inner-box">
                                        <div class="row main-row">
                                            <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
                                                <div class="all-project-left">
                                                    <div class="all-project-inner-left">
                                                        <img src="/assets/images/projects-listing/score-box-img-1.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-8 d-flex align-items-center">
                                                <div class="all-project-right">
                                                    <div class="all-project-inner-right">
                                                        <div class="content ct-border">
                                                            <span class="icon">H</span>
                                                            <div class="inner-content">
                                                                <div class="inner-content-left">
                                                                    <h5>Madinat Jumeirah Living (MJL)</h5>
                                                                    <p>By Kerzner International</p>
                                                                    <p>Palm Jumeirah.</p>
                                                                </div>
                                                                <div class="inner-content-right">
                                                                    <span>
                                                                        <img src="/assets/images/projects-listing/share.png" alt="">
                                                                    </span>
                                                                    <span>
                                                                        <img src="/assets/images/projects-listing/heart.png" alt="">
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="sale-content">
                                                            <span>Rent Sale</span>
                                                            <h4>15,500,000 AED</h4>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 col-sm-6 col-lg-5">
                                                                <div class="content">
                                                                    <span class="icon">
                                                                        <img src="/assets/images/projects-listing/rocket.png" alt="">
                                                                    </span>
                                                                    <div class="inner-content">
                                                                        <div class="inner-content-left">
                                                                            <p>Launched in</p>
                                                                            <h5>16-MAY-2017</h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6 col-lg-7">
                                                                <div class="content">
                                                                    <span class="icon">
                                                                        <img src="/assets/images/projects-listing/head.png" alt="">
                                                                    </span>
                                                                    <div class="inner-content">
                                                                        <div class="inner-content-left">
                                                                            <p>Handover</p>
                                                                            <h5>Q2-2022</h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="contact-section">
                                                            <button class="btn contact">
                                                                <img src="/assets/images/projects-listing/call-icon.png" alt="">
                                                                <span>Contact</span>
                                                            </button>
                                                            <button class="btn discover-more">
                                                                <img src="/assets/images/projects-listing/share-icon.png" alt="">
                                                                <span>Discover more</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="all-project-box">
                                    <div class="all-project-inner-box">
                                        <div class="row main-row">
                                            <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
                                                <div class="all-project-left">
                                                    <div class="all-project-inner-left">
                                                        <img src="/assets/images/projects-listing/score-box-img-2.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-8 d-flex align-items-center">
                                                <div class="all-project-right">
                                                    <div class="all-project-inner-right">
                                                        <div class="content ct-border">
                                                            <span class="icon">H</span>
                                                            <div class="inner-content">
                                                                <div class="inner-content-left">
                                                                    <h5>Madinat Jumeirah Living (MJL)</h5>
                                                                    <p>By Kerzner International</p>
                                                                    <p>Palm Jumeirah.</p>
                                                                </div>
                                                                <div class="inner-content-right">
                                                                    <span>
                                                                        <img src="/assets/images/projects-listing/share.png" alt="">
                                                                    </span>
                                                                    <span>
                                                                        <img src="/assets/images/projects-listing/heart.png" alt="">
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="sale-content">
                                                            <span>Rent Sale</span>
                                                            <h4>15,500,000 AED</h4>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 col-sm-6 col-lg-5">
                                                                <div class="content">
                                                                    <span class="icon">
                                                                        <img src="/assets/images/projects-listing/rocket.png" alt="">
                                                                    </span>
                                                                    <div class="inner-content">
                                                                        <div class="inner-content-left">
                                                                            <p>Launched in</p>
                                                                            <h5>16-MAY-2017</h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6 col-lg-7">
                                                                <div class="content">
                                                                    <span class="icon">
                                                                        <img src="/assets/images/projects-listing/head.png" alt="">
                                                                    </span>
                                                                    <div class="inner-content">
                                                                        <div class="inner-content-left">
                                                                            <p>Handover</p>
                                                                            <h5>Q2-2022</h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="contact-section">
                                                            <button class="btn contact">
                                                                <img src="/assets/images/projects-listing/call-icon.png" alt="">
                                                                <span>Contact</span>
                                                            </button>
                                                            <button class="btn discover-more">
                                                                <img src="/assets/images/projects-listing/share-icon.png" alt="">
                                                                <span>Discover more</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="all-project-box">
                                    <div class="all-project-inner-box">
                                        <div class="row main-row">
                                            <div class="col-12 col-md-4 d-flex align-items-center justify-content-center">
                                                <div class="all-project-left">
                                                    <div class="all-project-inner-left">
                                                        <img src="/assets/images/projects-listing/score-box-img-3.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-8 d-flex align-items-center">
                                                <div class="all-project-right">
                                                    <div class="all-project-inner-right">
                                                        <div class="content ct-border">
                                                            <span class="icon">H</span>
                                                            <div class="inner-content">
                                                                <div class="inner-content-left">
                                                                    <h5>Madinat Jumeirah Living (MJL)</h5>
                                                                    <p>By Kerzner International</p>
                                                                    <p>Palm Jumeirah.</p>
                                                                </div>
                                                                <div class="inner-content-right">
                                                                    <span>
                                                                        <img src="/assets/images/projects-listing/share.png" alt="">
                                                                    </span>
                                                                    <span>
                                                                        <img src="/assets/images/projects-listing/heart.png" alt="">
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="sale-content">
                                                            <span>Rent Sale</span>
                                                            <h4>15,500,000 AED</h4>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 col-sm-6 col-lg-5">
                                                                <div class="content">
                                                                    <span class="icon">
                                                                        <img src="/assets/images/projects-listing/rocket.png" alt="">
                                                                    </span>
                                                                    <div class="inner-content">
                                                                        <div class="inner-content-left">
                                                                            <p>Launched in</p>
                                                                            <h5>16-MAY-2017</h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-6 col-lg-7">
                                                                <div class="content">
                                                                    <span class="icon">
                                                                        <img src="/assets/images/projects-listing/head.png" alt="">
                                                                    </span>
                                                                    <div class="inner-content">
                                                                        <div class="inner-content-left">
                                                                            <p>Handover</p>
                                                                            <h5>Q2-2022</h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="contact-section">
                                                            <button class="btn contact">
                                                                <img src="/assets/images/projects-listing/call-icon.png" alt="">
                                                                <span>Contact</span>
                                                            </button>
                                                            <button class="btn discover-more">
                                                                <img src="/assets/images/projects-listing/share-icon.png" alt="">
                                                                <span>Discover more</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <footer ngClass="footer-sec">
        <app-footer></app-footer>
    </footer>
   </section>
</div>