<div ngClass="tab-form-sec findcompanies-form-design search-layout-design">
                            <form>
                                <div ngClass="flex-row">
                                    <div ngClass="flex-column flex-column-14">
                                        <div ngClass="block-wrapper" *ngIf="searchList.length > 0">
                                            <mat-form-field class="example-chip-list input-design searh_input-design"
                                                appearance="fill">
                                                <mat-label>Search</mat-label>
                                                <mat-chip-list #chipList aria-label="Search selection">
                                                    <mat-chip *ngFor="let SearchValue of SearchKeyword"
                                                        (removed)="remove(SearchValue)">
                                                        {{SearchValue}}
                                                        <button matChipRemove>
                                                            <mat-icon>cancel</mat-icon>
                                                        </button>
                                                    </mat-chip>
                                                    <input placeholder="Location, Project Name" #SearchInput
                                                        [formControl]="searchctrl" [matAutocomplete]="auto"
                                                        [matChipInputFor]="chipList"
                                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                        (matChipInputTokenEnd)="add($event)">
                                                </mat-chip-list>
                                                <mat-autocomplete #auto="matAutocomplete"
                                                    (optionSelected)="selected($event)">
                                                    <mat-option *ngFor="let SearchValue of searchfilter | async"
                                                        [value]="SearchValue">
                                                        {{SearchValue}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div ngClass="flex-column flex-column-15">
                                        <button (click)="proceedCompanySearch()" ngClass="search-btn"><img
                                                src="assets/images/search.svg"></button>
                                    </div>
                                </div>
                            </form>
 </div>
                  