<div ngClass="tab-form-sec rent-form">
  <form>
    <div ngClass="flex-row">
      <div ngClass="flex-column flex-column-1">
        <div ngClass="form-grouph input-design floating-label position-relative">
          <label>Search by</label>
          <input type="text" placeholder="Location, Project Name">
        </div>
      </div>
      <div ngClass="flex-column flex-column-2">
        <div ngClass="budget-button">
          <div ngClass="dropdown">
            <button type="button" ngClass="btn dropdown-toggle" data-bs-toggle="dropdown">
              Budget
            </button>
            <div ngClass="dropdown-menu" id="budget-dropdown">
              <div ngClass="price-range_sec">
                <h5 ngClass="h5-heading">Price Range</h5>
                <div ngClass="price-range-wrap">
                  <div ngClass="wrapper">
                    <div ngClass="extra-controls form-inline">
                      <div ngClass="form-group">
                        <input type="text" ngClass="js-input-from form-control" value="0" />
                        <input type="text" ngClass="js-input-to form-control" value="0" />
                      </div>
                    </div>
                    <div ngClass="range-slider">
                      <input type="text" ngClass="js-range-slider" value="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ngClass="flex-column flex-column-3">
        <a href="https://dx1.in/ovaluate/master-map-view-1.html" ngClass="search-btn"><img src="assets/images/search.svg"></a>
      </div>
    </div>
  </form>
</div>
