<app-header></app-header>
<section [ngClass]="'inner-cntnt-wrapper slide-left-bar blogs_sec padd-0'">
    <!-- <div ngClass="container_1280px">
        <div ngClass="section-title">
            <div ngClass="section-custom-title-left">
                <h4>Blogs</h4>
                <p>Some of our picked properties near your location.</p>
            </div>
        </div>
        <div ngClass="row">
            <div ngClass="col-lg-4 col-md-6 blog-places-col" *ngFor=" let blog of blogs">
                <a [routerLink]="['/blogs/'+blog.id]" [queryParams] = "{title: blog.blogTitle}"  queryParamsHandling="merge">
                    <img [src]="'https://www.ovaluate.com/'+blog.blogDocument.fileUrl" ngClass="img-fluid blog-image-homepage" alt="">
                    <span ngClass="blog-tag">
                        <img [src]="blog.src2" ngClass="img-fluid" alt="">
                    </span>
                    <div ngClass="blog-title-content">
                        <h5>{{blog.blogTitle}}</h5>
                        <span>{{blog.blogDate}}</span>
                    </div>
                </a>
            </div>
        </div>
    </div> -->
    <section ngClass="blogs-header-bars">
        <div ngClass="container_1280px">
            <div ngClass="row">
                <div ngClass="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div ngClass="blogs-link-list">
                        <ul ngClass="list-unstyled d-flex justify-content-center">
                            <li><a routerLink="/blog/tips-advice" ngClass="active">Tips & Advice</a></li>
                            <li><a routerLink="/blog/newsblog">News</a></li>
                            <li><a routerLink="/blog/exploreblog">Explore</a></li>
                            <li><a routerLink="/blog/left-at-home">Life at Home</a></li>
                            <li><a routerLink="/blog/lawblog">Laws</a></li>
                            <li><a routerLink="/blog/market-trends">Market trends</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section ngClass="blog_inner-banner-blocks" *ngIf="mainBlog != {}">
        <div ngClass="container_1280px">
            <div ngClass="exploredetails-breadcrumb-wrapper black-text-breadcrumb mt-3">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
            <div ngClass="explore-details-banner">
                <div routerLink="/blog/details/{{mainBlog.slugName}}" ngClass="explore_details-img">
                    <img *ngIf="mainBlog.blogDocument && mainBlog.blogDocument.fileUrl"
                        src="https://beta.ovaluate.com/{{mainBlog.blogDocument.fileUrl}}">
                    <!-- <img *ngIf="mainBlog.blogDocument.fileUrl != null" src="https://beta.ovaluate.com/{{mainBlog.blogDocument.fileUrl}}">
                    <img *ngIf="mainBlog.blogDocument.fileUrl == null" src="assets/images/placeholder.png" [alt]=""> -->
                </div>
                <div ngClass="explore_details-cntnt">
                    <div ngClass="hp-design white">
                        <h4 *ngIf="mainBlog && mainBlog.blogTitle">{{mainBlog.blogTitle}}</h4>
                        <span *ngIf="mainBlog.blogCategory && mainBlog.blogCategory.categoryName"
                            ngClass="blue_tag">{{mainBlog.blogCategory.categoryName}}</span>
                        <p *ngIf="mainBlog && mainBlog.blogData">{{mainBlog.blogDate.split("T")[0]}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section ngClass="position-relative wrapper-section blogs_sec">
        <div ngClass="container_1280px">
            <div ngClass="section-title">
                <div ngClass="section-custom-title-left">
                    <h4>Latest News</h4>
                    <p>Some of our picked properties near your location.</p>
                </div>
                <div ngClass="section-custom-title-right">
                    <a routerLink="/newsblog">Read all</a>
                </div>
            </div>

            <div ngClass="row" *ngIf="latestNews.length > 0">
                <div ngClass="col-lg-4 col-md-6 blog-places-col" *ngFor=" let item of latestNews;">
                    <a routerLink="/blog/details/{{item.slugName}}">
                        <img src="https://beta.ovaluate.com/{{item.blogDocument.fileUrl}}"
                            ngClass="img-fluid blog-image-homepage" alt="">
                        <div ngClass="blog-title-content">
                            <h5>{{item.pageTittle}}</h5>
                            <span>{{item.blogDate.split("T")[0]}}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section ngClass="blogs_slider-sec">
        <div ngClass="container_1280px">
            <div ngClass="blogs_sliders-cntnt-bg">
                <ngb-carousel [showNavigationIndicators]="false">
                    <ng-template ngbSlide *ngFor="let item of featureBlogs">
                        <div ngClass="row">
                            <div ngClass="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                                <div ngClass="blogs_cntnt-img">
                                    <a routerLink="/blog/details/{{item.slugName}}">
                                        <img src="https://beta.ovaluate.com/{{item.blogDocument.fileUrl}}"
                                            ngClass="img-fluid blog-image-homepage" alt="">
                                    </a>
                                </div>
                            </div>
                            <div ngClass="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                                <div ngClass="blog-title-content">
                                    <h5>{{item.pageTittle}}</h5>
                                    <span> <span ngClass="blue_tag">{{item.blogCategory.categoryName}}</span>
                                        {{item.blogDate.split("T")[0]}}</span>
                                    <p>{{item.pageDescription}}</p>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </section>
    <section ngClass="blogs_categries-sec">
        <div ngClass="container_1280px">
            <div ngClass="catogries-sec-wrapper">
                <h2>Categories</h2>
                <div ngClass="catogries_blogs-sec">
                    <mat-tab-group>
                        <mat-tab *ngFor="let item of categoryBlogs" label="{{item.categoryName}}">
                            <section ngClass="position-relative blogs_sec">
                                <div ngClass="container_1280px">
                                    <div ngClass="row">
                                        <div ngClass="col-lg-4 col-md-6 blog-places-col"
                                            *ngFor=" let item2 of item.blogs; let i=index">
                                            <a routerLink="/blog/details/{{item2.slugName}}" *ngIf="i < 3">
                                                <img src="https://beta.ovaluate.com/{{item2.blogDocument.fileUrl}}"
                                                    ngClass="img-fluid blog-image-homepage" alt="">
                                                <div ngClass="blog-title-content">
                                                    <h5>{{item2.pageTittle}}</h5>
                                                    <span>{{item2.blogDate.split("T")[0]}}</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </section>
</section>
<app-footer></app-footer>