<app-header></app-header>
<section [ngClass]="'slide-left-bar ads-page-sec'">
    <section [ngClass]="'ads-banner-wrapper'">
        <div [ngClass]="'container_1280px'">
            <div ngClass="heading-title-sec text-center">
                <h2>Ovaluate Ad Classified</h2>
                <p>Tell us about your services?</p>
            </div>
        </div>
    </section>
    <section class="ads-form-design-section" style="background-image: url('assets/images/background/bg-1.png');">
        <div class="container_1280px">
            <div class="ads-form-design">
                <form [formGroup]="DetailsForm">
                    <div class="list-property-header">
                        <h5 class="h5-heading">Please Fill your Services Details</h5>
                    </div>
                    <div class="class-fied-breadcrumbs">
                        <ul class="list-unstyled d-flex">
                            <li><a routerLink="/classified/ad-post">Ad Post</a></li>
                            <li>Services <span class="divider-bread">/</span> AC Maintenance & Repair </li>
                        </ul>
                    </div>
                    <div ngClass="select-boxes">
                        <div ngClass="row">
                            <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                        <label>Title <span class="required-span">*</span></label>
                                        <mat-form-field class="full-width input-design-2 title-input" appearance="fill">
                                            <input matInput type="text"  formControlName="Title"  placeholder="Enter Title"
                                                lang="en" />
                                        </mat-form-field>
                                </div>
                            </div>
                            <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                                <div ngClass="block-wrapper mb-4 position-relative optional-text">
                                        <label>Phone Number</label>
                                        <mat-form-field class="full-width input-design-2 phone-input" appearance="fill">
                                            <input matInput type="number" formControlName="Phone" placeholder="Enter Phone Number"
                                                lang="en" />
                                        </mat-form-field>
                                </div>
                            </div>
                            <div ngClass="col-xl-12 col-lg-12 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                        <div ngClass="select-design select2-design full-width-select2">
                                            <label>Do you want to show or hide your phone number?</label>
                                            <select class="select2 Show-Phone-Numer">
                                                <option value="yes"> Show Number </option>
                                                <option value="no">Hide Number</option>
                                            </select>
                                        </div>
                                </div>
                            </div>
                            <div ngClass="col-xl-12 col-lg-12 col-sm-12">
                                <div ngClass="block-wrapper mb-4">
                                        <label>Description <span class="required-span">*</span></label>
                                        <mat-form-field class="full-width input-design-2 textarea-design-2 description-input" appearance="fill">
                                            <textarea matInput type="number" formControlName="Description" placeholder="Enter Description Here...."
                                                ></textarea>
                                        </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                  
                    <div class="text-right save-continue-sec justify-content-center">
                        <mat-card-actions>
                            <button class="save-continue-btn cursor-pointer" (click)=" onSubmit()">Next</button>
                        </mat-card-actions>
                    </div>
                    <div class="text-center question-div">
                        <p><a href="tel:+97150 8960006">Question? Call +97150 8960006</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
<app-footer></app-footer>
</section>
<app-loader *ngIf="showLoader"></app-loader>
<app-erroralert [error]="error" (errorResponse)="errorResponse($event)" *ngIf="showError"></app-erroralert>
