.custom-breadcrumb li {
    color: #fff;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}
.custom-breadcrumb ul {
    list-style: none;
    padding-left: 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.custom-breadcrumb li a {
    font-size: 11px;
    color: #fff;
    font-weight: 400;
}
.custom-breadcrumb .mat-icon {
    font-size: 22px;
    width: auto;
    height: auto;
    margin: 0px 2px;
    position: relative;
    bottom: 1px;
}
.custom-breadcrumb {
    padding: 10px 0px;
}