<div ngClass="tab-form-sec rent-form">
    <form>
        <div ngClass="flex-row">
            <div ngClass="flex-column flex-column-1">
                <div ngClass="block-wrapper">
                    <mat-form-field class="example-chip-list input-design searh_input-design" appearance="fill">
                        <mat-label>المواقع</mat-label>
                        <mat-chip-list #chipList aria-label="Fruit selection">
                            <mat-chip *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                                {{fruit}}
                                <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip>
                            <input placeholder="Locations" #fruitInput [formControl]="fruitCtrl"
                                [matAutocomplete]="auto" [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                            <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                                {{fruit}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div ngClass="flex-column flex-column-2">
                <div ngClass="block-wrapper">
                    <mat-form-field class="example-chip-list input-design searh_input-design" appearance="fill">
                        <mat-label>الوكلاء</mat-label>
                        <input type="text" placeholder="Select Agents" aria-label="Number" matInput
                            [formControl]="myControl1" [matAutocomplete]="auto1">
                        <mat-autocomplete autoActiveFirstOption #auto1="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions1 | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div ngClass="flex-column flex-column-3">
                <div ngClass="block-wrapper">
                    <div ngClass="cstm_dropdown-list dropdown-design-2 position-relative drodown_with-img">
                        <button ngClass="drop-down_btn" (click)="clickEvent()">Specialties</button>
                        <div class="cstm_dropdown-menu" [ngClass]="status ? 'active' : 'notactive'">
                            <ul ngClass="list-unstyled residentails-unit-list">
                                <li ngClass="d-flex" ngbSlide *ngFor="let list of ExpertIn">
                                    <div (click)="getExpertInId(list.id)" ngClass="position-relative">
                                        <input *ngIf="getUrlExpertInId == list.id" checked type="radio" name="ExpertIn"
                                            value="English">
                                        <input *ngIf="getUrlExpertInId != list.id" type="radio" name="ExpertIn"
                                            value="English">
                                        <span ngClass="property_sel"></span>
                                    </div>
                                    <div ngClass="proprty_name">
                                        <p>{{list.name}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <button (click)="clickEvent()" ngClass="overlay_dropdown-btn"></button>
                    </div>
                </div>
            </div>
            <div ngClass="flex-column flex-column-4">
                <div ngClass="block-wrapper">
                    <div ngClass="cstm_dropdown-list dropdown-design-2 position-relative drodown_with-img">
                        <button ngClass="drop-down_btn" (click)="clickEvent1()">Languages</button>
                        <div class="cstm_dropdown-menu" [ngClass]="status1 ? 'active' : 'notactive'">
                            <h4 ngClass="drop_label">Languages</h4>
                            <ul ngClass="list-unstyled residentails-unit-list">
                                <li ngClass="d-flex" ngbSlide *ngFor="let list of SpokenLanguages">
                                    <div *ngIf="getUrllanguageIds !== null" (click)="getLanguageId(list.id)"
                                        ngClass="position-relative">
                                        <!--                    <input  *ngIf="getUrllanguageIds.includes(list.id)" checked  type="checkbox" name="language" value="English">-->
                                        <input *ngIf="getUrllanguageIds == list.id" checked type="radio" name="language"
                                            value="English">
                                        <input *ngIf="getUrllanguageIds != list.id" type="radio" name="language"
                                            value="English">
                                        <span ngClass="property_sel"></span>
                                    </div>
                                    <div *ngIf="getUrllanguageIds == null" (click)="getLanguageId(list.id)"
                                        ngClass="position-relative">
                                        <input type="checkbox" name="language" value="English">
                                        <span ngClass="property_sel"></span>
                                    </div>
                                    <div ngClass="proprty_name">
                                        <p>{{list.name}}</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <button (click)="clickEvent1()" ngClass="overlay_dropdown-btn"></button>
                    </div>
                </div>
            </div>
            <div ngClass="flex-column flex-column-5">
                <button type="submit" (click)="proceedSearch()" ngClass="search-btn"><img
                        src="assets/images/search.svg"></button>
            </div>
        </div>
    </form>
</div>