<div class="light-theme dashboard-data-sec">
    <app-header></app-header>
    <div class="dashboard-reports-inner-wrapper">
      <div class="container">
        <div class="dashboard-data-main-wrapper">
          <div class="dashboard-data-scnd-header">
            <app-di-sidebar-component></app-di-sidebar-component>
          </div>
          <div class="dashboard-data-main-contents">
            <form [formGroup]="range">
              <div class="dashboard-dat-filter-box">
                <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                    <div class="dashboard-date-range-box">
                      <label>Registration Date</label>
                      <mat-form-field>
                        <mat-label>Enter a date range</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                          <input matStartDate matInput placeholder="Start date" formControlName="start" (dateChange)="getStartDate($event)">
                          <input matEndDate matInput placeholder="End date" formControlName="end" (dateChange)="getEndDate($event)">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                    <div class="dashboard-data-select-box" *ngIf="citiesData.length > 0">
                      <label>City</label>
                      <mat-form-field class="example-chip-list searh_input-design mat-inner-chip-design"
                        appearance="fill">
                        <mat-chip-list #chipListCity aria-label="selection">
                          <div ngClass="mat-chip-input-limited">
                            <mat-chip *ngFor="let city of Cityfield" (removed)="remove7(city)">
                              <span class="text-limit-chip">{{city.name}}</span>
                              <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip>
                          </div>
                          <input placeholder="Add City..." #CityInput [formControl]="CityCtrl"
                            [matAutocomplete]="cityauto" [matChipInputFor]="chipListCity"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add7($event)">
                        </mat-chip-list>
                        <mat-autocomplete #cityauto="matAutocomplete" (optionSelected)="selected7($event)">
                          <div ngClass="mat-chip-inner-container">
                            <mat-chip *ngFor="let city of Cityfield" (removed)="remove7(city)">
                              <span class="text-limit-chip">{{city.name}}</span>
                              <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip>
                          </div>
                          <mat-option *ngFor="let item of citiesData" [value]="item.id">
                            {{item.name}}
                          </mat-option>
                        </mat-autocomplete>
                        <span ngClass="mat_indicators-counts" *ngIf="Cityfield.length > 0">{{Cityfield.length}}</span>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                    <div class="dashboard-data-select-box">
                      <label>District</label>
                      <mat-form-field class="example-chip-list searh_input-design mat-inner-chip-design"
                        [ngClass]="Cityfield.length > 0 ? '' : 'disabled'" appearance="fill">
                        <mat-chip-list #chipListCommunity aria-label="selection">
                          <div ngClass="mat-chip-input-limited">
                            <mat-chip *ngFor="let community of communityfield" (removed)="remove(community)">
                              <span class="text-limit-chip">{{community.name}}</span>
                              <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip>
                          </div>
                          <input placeholder="Add Community..." #ComunityInput [formControl]="CommunityCtrl"
                            [matAutocomplete]="Communityauto" [matChipInputFor]="chipListCommunity"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                        <mat-autocomplete #Communityauto="matAutocomplete" (optionSelected)="selected($event)">
                          <div ngClass="mat-chip-inner-container">
                            <mat-chip *ngFor="let community of communityfield" (removed)="remove(community)">
                              <span class="text-limit-chip">{{community.name}}</span>
                              <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip>
                          </div>
                          <mat-option *ngFor="let community of filteredcommunity" [value]="community.id">
                            {{community.name}}
                          </mat-option>
                        </mat-autocomplete>
                        <span ngClass="mat_indicators-counts"
                          *ngIf="communityfield.length > 0">{{communityfield.length}}</span>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                    <div class="dashboard-data-select-box">
                      <label>Property Type</label>
                      <mat-form-field class="example-chip-list searh_input-design mat-inner-chip-design"
                        appearance="fill">
                        <mat-chip-list #chipListProType aria-label="selection">
                          <div ngClass="mat-chip-input-limited">
                            <mat-chip *ngFor="let protype of ProTypefield" (removed)="remove1(protype)">
                              <span class="text-limit-chip">{{protype.name}}</span>
                              <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip>
                          </div>
                          <input placeholder="Add Property Type..." #PropertyTypeInput [formControl]="PropertyTypCtrl"
                            [matAutocomplete]="PropertyTypeauto" [matChipInputFor]="chipListProType"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add1($event)">
                        </mat-chip-list>
                        <mat-autocomplete #PropertyTypeauto="matAutocomplete" (optionSelected)="selected1($event)">
                          <div ngClass="mat-chip-inner-container">
                            <mat-chip *ngFor="let protype of ProTypefield" (removed)="remove1(protype)">
                              <span class="text-limit-chip">{{protype.name}}</span>
                              <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip>
                          </div>
                          <mat-option *ngFor="let item of filteredProperty" [value]="item.id">
                            {{item.typeDescription}}
                          </mat-option>
                        </mat-autocomplete>
                        <span ngClass="mat_indicators-counts"
                          *ngIf="ProTypefield.length > 0">{{ProTypefield.length}}</span>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                    <div class="dashboard-data-select-box">
                      <label>Projects</label>
                      <mat-form-field class="example-chip-list searh_input-design mat-inner-chip-design"
                        [ngClass]="filteredPropertyOnly.length > 0 ? '' : 'disabled'" appearance="fill">
                        <mat-chip-list #chipListProperty aria-label="selection">
                          <div ngClass="mat-chip-input-limited">
                            <mat-chip *ngFor="let property of Profield" (removed)="remove2(property)">
                              <span class="text-limit-chip">{{property.name}}</span>
                              <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip>
                          </div>
                          <input placeholder="Add Property..." #PropertyInput [formControl]="PropertyCtrl"
                            [matAutocomplete]="Propertyauto" [matChipInputFor]="chipListProperty"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add2($event)">
                        </mat-chip-list>
                        <mat-autocomplete #Propertyauto="matAutocomplete" (optionSelected)="selected2($event)">
                          <div ngClass="mat-chip-inner-container">
                            <mat-chip *ngFor="let property of Profield" (removed)="remove2(property)">
                              <span class="text-limit-chip">{{property.name}}</span>
                              <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip>
                          </div>
                          <mat-option *ngFor="let property of filteredPropertyOnly" [value]="property.id">
                            {{property.name}}
                          </mat-option>
                        </mat-autocomplete>
                        <span ngClass="mat_indicators-counts" *ngIf="Profield.length > 0">{{Profield.length}}</span>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                    <div class="dashboard-data-select-box">
                      <label>Transaction Type</label>
                      <mat-form-field class="example-chip-list searh_input-design mat-inner-chip-design"
                        appearance="fill">
                        <mat-chip-list #chipListTransaction aria-label="selection">
                          <div ngClass="mat-chip-input-limited">
                            <mat-chip *ngFor="let transaction of Transactionfield" (removed)="remove3(transaction)">
                              <span class="text-limit-chip">{{transaction.name}}</span>
                              <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip>
                          </div>
                          <input placeholder="Add Transaction Type..." #TransactionInput [formControl]="TransactionCtrl"
                            [matAutocomplete]="transactiontype" [matChipInputFor]="chipListTransaction"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add3($event)">
                        </mat-chip-list>
                        <mat-autocomplete #transactiontype="matAutocomplete" (optionSelected)="selected3($event)">
                          <div ngClass="mat-chip-inner-container">
                            <mat-chip *ngFor="let transaction of Transactionfield" (removed)="remove3(transaction)">
                              <span class="text-limit-chip">{{transaction.name}}</span>
                              <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip>
                          </div>
                          <mat-option *ngFor="let transaction of filteredTransaction" [value]="transaction.id">
                            {{transaction.name}}
                          </mat-option>
                        </mat-autocomplete>
                        <span ngClass="mat_indicators-counts"
                          *ngIf="Transactionfield.length > 0">{{Transactionfield.length}}</span>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                    <div class="dashboard-data-select-box">
                      <label>Sales Sequence</label>
                      <mat-form-field class="example-chip-list searh_input-design mat-inner-chip-design"
                        [ngClass]="filteredsales.length > 0 ? '' : 'disabled'" appearance="fill">
                        <mat-chip-list #chipListSales aria-label="selection">
                          <div ngClass="mat-chip-input-limited">
                            <mat-chip *ngFor="let sale of salesfield" (removed)="remove4(sale)">
                              <span class="text-limit-chip">{{sale.name}}</span>
                              <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip>
                          </div>
                          <input placeholder="Add Sales Sequence..." #SalesInput [formControl]="salesCtrl"
                            [matAutocomplete]="salestype" [matChipInputFor]="chipListSales"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add4($event)">
                        </mat-chip-list>
                        <mat-autocomplete #salestype="matAutocomplete" (optionSelected)="selected4($event)">
                          <div ngClass="mat-chip-inner-container">
                            <mat-chip *ngFor="let sale of salesfield" (removed)="remove4(sale)">
                              <span class="text-limit-chip">{{sale.name}}</span>
                              <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip>
                          </div>
                          <mat-option *ngFor="let sale of filteredsales" [value]="sale.id">
                            {{sale.name}}
                          </mat-option>
                        </mat-autocomplete>
                        <span ngClass="mat_indicators-counts" *ngIf="salesfield.length > 0">{{salesfield.length}}</span>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                    <div class="dashboard-data-select-box">
                      <label>Developers</label>
                      <mat-form-field class="example-chip-list searh_input-design mat-inner-chip-design"
                        appearance="fill">
                        <mat-chip-list #chipListDevelopers aria-label="selection">
                          <div ngClass="mat-chip-input-limited">
                            <mat-chip *ngFor="let developer of Developersfield" (removed)="remove5(developer)">
                              <span class="text-limit-chip">{{developer.name}}</span>
                              <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip>
                          </div>
                          <input placeholder="Add Developers..." #developersInput [formControl]="DevelopersCtrl"
                            [matAutocomplete]="developers" [matChipInputFor]="chipListDevelopers"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add5($event)">
                        </mat-chip-list>
                        <mat-autocomplete #developers="matAutocomplete" (optionSelected)="selected5($event)">
                          <div ngClass="mat-chip-inner-container">
                            <mat-chip *ngFor="let developer of Developersfield" (removed)="remove5(developer)">
                              <span class="text-limit-chip">{{developer.name}}</span>
                              <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip>
                          </div>
                          <mat-option *ngFor="let developer of filteredDevelopers" [value]="developer.id">
                            {{developer.name}}
                          </mat-option>
                        </mat-autocomplete>
                        <span ngClass="mat_indicators-counts"
                          *ngIf="Developersfield.length > 0">{{Developersfield.length}}</span>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                    <div class="dashboard-data-select-box">
                      <label>BEDROOM</label>
                      <mat-form-field class="example-chip-list searh_input-design mat-inner-chip-design"
                        appearance="fill">
                        <mat-chip-list #chipListBeds aria-label="selection">
                          <div ngClass="mat-chip-input-limited">
                            <mat-chip *ngFor="let beds of bedsfield" (removed)="remove6(beds)">
                              <span class="text-limit-chip">{{beds}}</span>
                              <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip>
                          </div>
                          <input placeholder="Add BEDROOM..." #bedInput [formControl]="bedsCtrl"
                            [matAutocomplete]="bedsmat" [matChipInputFor]="chipListBeds"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add6($event)">
                        </mat-chip-list>
                        <mat-autocomplete #bedsmat="matAutocomplete" (optionSelected)="selected6($event)">
                          <div ngClass="mat-chip-inner-container">
                            <mat-chip *ngFor="let beds of bedsfield" (removed)="remove6(beds)">
                              <span class="text-limit-chip">{{beds}}</span>
                              <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                              </button>
                            </mat-chip>
                          </div>
                          <mat-option *ngFor="let beds of allbedsfield" [value]="beds">
                            {{beds}}
                          </mat-option>
                        </mat-autocomplete>
                        <span ngClass="mat_indicators-counts" *ngIf="bedsfield.length > 0">{{bedsfield.length}}</span>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <div ngClass="di-rangle-block">
                      <h4>Size Range ({{countryData.unitType}})</h4>
                      <div ngClass="price-range_sec">
                        <div ngClass="range-slider">
                          <ngx-slider [(value)]="SizeminValue" [(highValue)]="SizemaxValue" [options]="Sizeoptions" (valueChange)="getMinSize($event)" (highValueChange)="getMaxSize($event)">
                          </ngx-slider>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                    <div ngClass="di-rangle-block">
                      <h4>Price Range ({{countryData.currency}})</h4>
                      <div ngClass="price-range_sec">
                        <div ngClass="range-slider">
                          <ngx-slider [(value)]="PriceminValue" [(highValue)]="PricemaxValue" [options]="Priceoptions" (valueChange)="getMinPrice($event)" (highValueChange)="getMaxPrice($event)">
                          </ngx-slider>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <div class="dashboard-data-blue-boxes mt-3">
              <div class="row dashbpard-reports-inof-blocks">
                <div class="col-xl-3 p-2">
                  <div class="card bg-2">
                    <div class="row">
                      <div class="col-12 text-center">
                        <h6 class="text-small">Ready Property Transactions</h6>
                        <p style="margin-bottom: 12px;"></p>
                        <div class="custom-box">
                          <span>
                            <h3>{{transactionData.transactionsCount}}</h3>
                            <p>TRANSACTIONS</p>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 p-2">
                  <div class="card bg-3">
                    <div class="row">
                      <div class="col-12 text-center">
                        <h6 class="text-small">Off-plan property transactions</h6>
                        <p style="margin-bottom: 12px;"></p>
                        <div class="custom-box">
                          <span>
                            <h3>{{transactionData.medianPricePerSqft}}</h3>
                            <p>Median {{countryData.currency}}/{{countryData.unitType}}</p>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 p-2">
                  <div class="card bg-2">
                    <div class="row">
                      <div class="col-12 text-center">
                        <h6 class="text-small">Sales listings </h6>
                        <div class="custom-box">
                          <span>
                            <h3>{{transactionData.medianPrice}}</h3>
                            <p>Median Value ({{countryData.currency}})</p>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 p-2">
                  <div class="card bg-3">
                    <div class="row">
                      <div class="col-12 text-center">
                        <h6 class="text-small">Rent listings</h6>
                        <div class="custom-box">
                          <span>
                            <h3>{{transactionData.totalPrice}}</h3>
                            <p>Total Value ({{countryData.currency}})</p>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="dash-table-box-layout">
              <div class="table-responsive">
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" matSort>
  
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
  
                    <!-- Progress Column -->
                    <ng-container matColumnDef="progress">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
                      <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
                    </ng-container>
  
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>
  
                    <!-- Fruit Column -->
                    <ng-container matColumnDef="fruit">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fruit </th>
                      <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
                    </ng-container>
  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
  
                  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dahboard-data-f0oter">
        <footer>
          <p class="text-center text-muted mb-0">Copyright &#169; <a routerLink="">Ovaluate</a></p>
        </footer>
      </div>
    </div>
  </div>