<div class="light-theme dashboard-data-sec">
  <app-header></app-header>
  <div class="dashboard-reports-inner-wrapper">
    <div class="container">
      <div class="dashboard-data-main-wrapper">
        <div class="dashboard-data-scnd-header">
          <app-di-sidebar-component></app-di-sidebar-component>
        </div>
        <div class="dashboard-data-main-contents">
          <form [formGroup]="range">
            <div class="dashboard-dat-filter-box">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-date-range-box">
                    <label>Registration Date</label>
                    <mat-form-field>
                      <mat-label>Enter a date range</mat-label>
                      <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate matInput placeholder="Start date" formControlName="start"
                          (dateChange)="getStartDate($event)">
                        <input matEndDate matInput placeholder="End date" formControlName="end"
                          (dateChange)="getEndDate($event)">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box" *ngIf="citiesData.length > 0">
                    <label>City</label>
                    <mat-form-field>
                    <mat-label>Add City</mat-label>
                    <mat-select multiple>
                        <mat-option value="All">Select All</mat-option>
                      <mat-option *ngFor="let city of Cityfield" [value]="city.name">
                        {{city.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box">
                    <label>District</label>
                    <mat-form-field>
                      <mat-label>Add District</mat-label>
                      <mat-select multiple>
                          <mat-option value="All">Select All</mat-option>
                        <mat-option *ngFor="let community of communityfield" [value]="community.name">
                          {{community.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box">
                    <label>Property Type</label>
                    <mat-form-field>
                      <mat-label>Add Property Type</mat-label>
                      <mat-select multiple>
                          <mat-option value="All">Select All</mat-option>
                        <mat-option *ngFor="let protype of ProTypefield" [value]="protype.name">
                          {{protype.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box">
                    <label>Projects</label>
                    <mat-form-field>
                      <mat-label>Add Projects</mat-label>
                      <mat-select multiple>
                          <mat-option value="All">Select All</mat-option>
                        <mat-option *ngFor="let property of Profield" [value]="property.name">
                          {{property.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box">
                    <label>Transaction Type</label>
                    <mat-form-field>
                      <mat-label>Add Transaction Type</mat-label>
                      <mat-select multiple>
                          <mat-option value="All">Select All</mat-option>
                        <mat-option *ngFor="let transaction of Transactionfield" [value]="transaction.name">
                          {{transaction.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box">
                    <label>Sales Sequence</label>
                    <mat-form-field>
                      <mat-label>Add Sales Sequence</mat-label>
                      <mat-select multiple>
                          <mat-option value="All">Select All</mat-option>
                        <mat-option *ngFor="let sale of salesfield" [value]="sale.name">
                          {{sale.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box">
                    <label>Developers</label>
                    <mat-form-field>
                      <mat-label>Add Developers</mat-label>
                      <mat-select multiple>
                          <mat-option value="All">Select All</mat-option>
                        <mat-option *ngFor="let developer of Developersfield" [value]="developer.name">
                          {{developer.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box">
                    <label>BEDROOM</label>
                    <mat-form-field>
                      <mat-label>Add Bedroom</mat-label>
                      <mat-select multiple>
                          <mat-option value="All">Select All</mat-option>
                        <mat-option *ngFor="let beds of bedsfield" [value]="beds">
                          {{beds}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                  <div ngClass="di-rangle-block">
                    <h4>Size Range ({{countryData.unitType}})</h4>
                    <div ngClass="price-range_sec">
                      <div ngClass="range-slider">
                        <ngx-slider [(value)]="SizeminValue" [(highValue)]="SizemaxValue" [options]="Sizeoptions"
                          (valueChange)="getMinSize($event)" (highValueChange)="getMaxSize($event)">
                        </ngx-slider>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-2">
                  <div ngClass="di-rangle-block">
                    <h4>Price Range ({{countryData.currency}})</h4>
                    <div ngClass="price-range_sec">
                      <div ngClass="range-slider">
                        <ngx-slider [(value)]="PriceminValue" [(highValue)]="PricemaxValue" [options]="Priceoptions"
                          (valueChange)="getMinPrice($event)" (highValueChange)="getMaxPrice($event)">
                        </ngx-slider>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <div class="dashboard-data-blue-boxes mt-3" *ngIf="totalLength != 0">
            <div class="row dashbpard-reports-inof-blocks">
              <div class="col-xl-3 p-2">
                <div class="card bg-2">
                  <div class="row">
                    <div class="col-12 text-center">
                      <h6 class="text-small">Ready Property Transactions</h6>
                      <p style="margin-bottom: 12px;"></p>
                      <div class="custom-box">
                        <span>
                          <h3>{{formatNumber(transactionData.transactionsCount)}}</h3>
                          <p>TRANSACTIONS</p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 p-2">
                <div class="card bg-3">
                  <div class="row">
                    <div class="col-12 text-center">
                      <h6 class="text-small">Off-plan property transactions</h6>
                      <p style="margin-bottom: 12px;"></p>
                      <div class="custom-box">
                        <span>
                          <h3>{{formatNumber(transactionData.medianPricePerSqft)}}</h3>
                          <p>Median {{countryData.currency}}/{{countryData.unitType}}</p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 p-2">
                <div class="card bg-2">
                  <div class="row">
                    <div class="col-12 text-center">
                      <h6 class="text-small">Sales listings </h6>
                      <div class="custom-box">
                        <span>
                          <h3>{{formatNumber(transactionData.medianPrice)}}</h3>
                          <p>Median Value ({{countryData.currency}})</p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 p-2">
                <div class="card bg-3">
                  <div class="row">
                    <div class="col-12 text-center">
                      <h6 class="text-small">Rent listings</h6>
                      <div class="custom-box">
                        <span>
                          <h3>{{formatNumber(transactionData.totalPrice)}}</h3>
                          <p>Total Value ({{countryData.currency}})</p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dash-table-box-layout" *ngIf="totalLength != 0">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Sub Type</th>
                    <th>Sequence</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Property Type</th>
                    <th>Project Name</th>
                    <th>Unit</th>
                    <th>Bedrooms</th>
                    <th>Floor</th>
                    <th>Parking</th>
                    <th>Balcony Area</th>
                    <th>Size</th>
                    <th>Land Size</th>
                    <th>Amount</th>
                    <th>AED</th>
                    <th>Developer</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let item of transactionData.transactions | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems:totalLength }">
                    <td>{{item.transactionType != null ? item.transactionType.name : "N/A"}}</td>
                    <td>{{item.transactionSubType != null ? item.transactionSubType.name : "N/A"}}</td>
                    <td>{{item.transactionSequence != null ? item.transactionSequence.name : "N/A"}}</td>
                    <td>{{item.transactionDate != null ? item.transactionDate.split("T")[0] : "N/A"}}</td>
                    <td>{{item.district != null ? item.district.name : "N/A"}}</td>
                    <td>{{item.propertyType != null ? item.propertyType.typeDescription : "N/A"}}</td>
                    <td>{{item.project != null ? item.project.name : "N/A"}}</td>
                    <td>{{item.unit != null ? item.unit : "N/A"}}</td>
                    <td>{{item.bedRoom != null ? item.bedRoom : "N/A"}}</td>
                    <td>{{item.floor != null ? item.floor : "N/A"}}</td>
                    <td>{{item.parking != null ? item.parking : "N/A"}}</td>
                    <td>{{item.balconyAreaSqft != null ? item.balconyAreaSqft : "N/A"}}</td>
                    <td>{{item.landSizeSqft != null ? item.landSizeSqft : "N/A"}}</td>
                    <td>{{item.amount != null ? item.amount : "N/A"}}</td>
                    <td>{{item.amountSqft != null ? item.amountSqft : "N/A"}}</td>
                    <td>{{item.propertyDeveloper != null ? item.propertyDeveloper.name : "N/A"}}</td>
                  </tr>
                </tbody>
              </table>
              <div class="pagination-controls d-flex justify-content-spacebw">
                <div class="pagination-page-per-item d-flex align-items-center">
                  <p>Items Per Page 10</p>
                  <div ngClass="select-design-language">
                    <mat-form-field appearance="fill">
                      <mat-select [disableOptionCentering]="true" [(value)]="PageNumbers" (selectionChange)="getItems($event)">
                        <mat-option [value]="option.value" *ngFor="let option of pageitems">
                          {{option.viewValue }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <pagination-controls (pageChange)="pageChanged($event)" class="text-center my-pagination">
                </pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dahboard-data-f0oter">
      <footer>
        <p class="text-center text-muted mb-0">Copyright &#169; <a routerLink="">Ovaluate</a></p>
      </footer>
    </div>
    <app-loader *ngIf="showLoader"></app-loader>
  </div>
</div>