.coming-soon-banner {
    background-color: #e5e7ec;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}
.coming-soon-banner img {
    width: auto;
    max-width: 100%;
}

