.resdential_properties-wrapper .residentials-property-rent-1 {
    margin-top: 0px !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.commertial_properties-wrapper .residentials-property-rent-2 {
    margin-top: 0px !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.section-title {
    margin-bottom: 0px !important;
}
#explore-near-map {
    border-radius: 8px;
    overflow: hidden;
}
