<div ngClass="light-bg-body">
    <app-header2></app-header2>
    <section ngClass="properties-comparison-sec">
        <div ngClass="container_1280px">
            <div ngClass="property_compare-header">
                <ul>
                    <li (click)="scroll(target)">موقع</li>
                    <li (click)="scroll(property_info)">معلومات العقار</li>
                    <li (click)="scroll(other_details)">تفاصيل أخرى</li>
                </ul>
            </div>
            <div ngClass="property-compare-box">
                <div ngClass="compare-block">
                    <div ngClass="table-responsive table-design">
                        <table>
                            <tbody>
                                <tr>
                                    <td ngClass="first-td-design">
                                        <div ngClass="property-cparison-heading">
                                            <h4>مقارنة تأجير العقارات</h4>
                                        </div>
                                    </td>
                                    <td *ngFor="let property of compareData">
                                        <div ngClass="property-comparison-block position-relative">
                                            <div ngClass="com-img">
                                                <img src="{{property.src}}">
                                            </div>
                                            <div ngClass="com-cntnt">
                                                <h4> {{property.price}} {{property.currency}}
                                                    <small>/{{property.rentType}}</small></h4>
                                                <h5>{{property.title}}</h5>
                                                <address>{{property.propertyAddress}}</address>
                                            </div>
                                            <button ngClass="delete-property" (click)="delete(property.id)"><img
                                                    src="{{trash}}"></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ngClass="grey-heading" #target>
                    <h2>موقع</h2>
                </div>
                <div ngClass="compare-block">
                    <div ngClass="table-responsive table-design">
                        <table>
                            <tbody>
                                <tr>
                                    <td ngClass="first-td-design">
                                        اسم المبنى / اسم المشروع
                                    </td>
                                    <td *ngFor="let property of compareData">
                                        <strong>{{property.title}}</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        المنطقة
                                    </td>
                                    <td *ngFor="let property of compareData">
                                        {{property.propertyAddress}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        مدينة
                                    </td>
                                    <td *ngFor="let property of compareData">
                                        {{property.city}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ngClass="grey-heading" #property_info>
                    <h2>معلومات العقار</h2>
                </div>
                <div ngClass="compare-block">
                    <div ngClass="table-responsive table-design">
                        <table>
                            <tbody>
                                <tr>
                                    <td ngClass="first-td-design">
                                        حجم الشقة
                                    </td>
                                    <td *ngFor="let property of compareData">
                                        {{property.carpetArea}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        غرفة نوم
                                    </td>
                                    <td *ngFor="let property of compareData">
                                        {{property.bedrooms}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        الحمامات
                                    </td>
                                    <td *ngFor="let property of compareData">
                                        {{property.bathrooms}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        المواقف المتاحة
                                    </td>
                                    <td *ngFor="let property of compareData">
                                        {{property.parkings}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        عمر البناء
                                    </td>
                                    <td *ngFor="let property of compareData">
                                        {{property.propertyAge}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        رقم الطابق
                                    </td>
                                    <td *ngFor="let property of compareData">
                                        {{property.floorNo}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        عدد الأدوار
                                    </td>
                                    <td *ngFor="let property of compareData">
                                        {{property.totalFloor}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        منطقة الابراج
                                    </td>
                                    <td *ngFor="let property of compareData">
                                        {{property.towerBlock}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        رقم الوحدة
                                    </td>
                                    <td *ngFor="let property of compareData">
                                        {{property.unitNo}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ngClass="grey-heading" #other_details>
                    <h2>تفاصيل أخرى</h2>
                </div>
                <div ngClass="compare-block">
                    <div ngClass="table-responsive table-design">
                        <table>
                            <tbody>
                                <tr>
                                    <td ngClass="first-td-design">
                                        حالة الاثاث
                                    </td>
                                    <td *ngFor="let property of compareData">
                                        {{property.furnishingType}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ngClass="first-td-design">
                                        خصائص المنشأة
                                    </td>
                                    <td *ngFor="let property of compareData">
                                        <ul ngClass="list-unstyled">
                                            <li *ngFor="let data of property.propertyFeatures">
                                                <img height="40px" width="40px"
                                                    src="{{baseUrl+data.propertyFeature.document.fileUrl}}">
                                                {{data.propertyFeature.featureNameAr}}
                                            </li>

                                            <div ngClass="proprty-View-detials">
                                                <a [routerLink]="['/PropertDetailsPage']"
                                                    [queryParams]="{id: property.id}" ngClass="grey-bordered-btn">عرض التفاصيل</a>
                                            </div>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>