.property-compare-box {
	background-color: #fff;
}
.light-bg-body {
	background: #F4F6FF;
}
.table-design {
	tbody {
		tr {
			>td {
				width: 18%;
				padding: 20px;
				border: 1px solid #e7e6ef;
				border-bottom: none;
				color: #3e4861;
				font-size: 14px;
				font-weight: 400;
				min-width: 200px;
				ul {
					li {
						color: #3e4861;
						font-size: 14px;
						margin-bottom: 5px;
						img {
							margin-right: 5px;
						}
					}
				}
				.proprty-View-detials {
					.grey-bordered-btn {
						display: inline-block;
					}
					margin-top: 50px;
					text-align: center;
				}
			}
			>td.first-td-design {
				width: 22%;
			}
		}
	}
	table {
		width: 100%;
	}
}
.grey-heading {
	h2 {
		color: #3e4861;
		font-size: 16px;
		font-weight: 700;
		padding: 15px 20px;
		margin-bottom: 0px;
	}
	background: #e3e5f0;
}
.property-cparison-heading {
	h4 {
		color: #595ad4;
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 0px;
	}
}
.com-img {
	img {
		width: 100%;
		height: 114px;
		object-fit: cover;
	}
}
.com-cntnt {
	text-align: center;
	padding-top: 5px;
	h4 {
		color: #595ad4;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 0px;
		small {
			color: #3e4861;
			font-size: 14px;
			font-weight: 500;
			opacity: 0.5;
		}
	}
	h5 {
		color: #3e4861;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 4px;
	}
	address {
		font-size: 14px;
		color: #4A565F;
		opacity: 0.5;
		margin-bottom: 0px;
	}
}
.property-comparison-block {
	.delete-property {
		padding: 0px;
		background: transparent;
		border: none;
		position: absolute;
		top: -15px;
		right: 0;
	}
	padding-top: 25px;
}
.properties-comparison-sec {
	padding-top: 25px;
	padding-bottom: 60px;
}
