  <div class="alert_box-design email-submission-alert" [ngClass]="hideAlertNg ? 'active' : 'hide'">
    <div ngClass="alert-message-wrap position-relative">
        <div class="d-flex">
        <div class="msg-img">
            <img src="/assets/images/mail-sent.svg">
        </div>
        <div class="message-block-design">
        <h2>Success!</h2>
        <p>Your Email Is Submitted is succesfull</p>
        <button ngClass="ok-btn">Ok</button>
        </div>
        </div>
        <div class="close-icon">
            <button class="close"><mat-icon>close</mat-icon></button>
        </div>
        <div class="logo-top-left">
            <img src="/assets/images/logo.svg">
        </div>
    </div>
  </div>