<div class="container-fluid">
  <div class="white-header-wrap">
    <button class="dashboard-data-bars d-hide" (click)="clickEvent5()">
     More Filters
    </button>
  <div class="d-flex justify-content-center align-items-center">
    <div class="dashboard-header-left">
        <!-- <div class="logo-wrapper">
        <a ngClass="navbar-brand" routerLink=""><img src="{{logo}}"></a>
        </div> -->
        <div class="dashboard-dat-left-box d-flex align-items-center">
          <ul class="list-unstyled d-flex">
            <li (click)="clickEvent1()" [ngClass]="status1 ? 'active' : 'notactive'">DATA</li>
            <li (click)="clickEvent2()" [ngClass]="status2 ? 'active' : 'notactive'">REPORTS</li>
            <li (click)="clickEvent3()" [ngClass]="status3 ? 'active' : 'notactive'">RANKINGS</li>
            <li (click)="clickEvent4()" [ngClass]="status4 ? 'active' : 'notactive'">TRENDS</li>
          </ul>
        </div>
    </div>
  </div>
  </div>
</div>
<div class="dashboard-data-side-bar" [ngClass]="status5 ? 'active' : 'notactive'">
 <div class="dashboard-data-side-header">
  <h2>DATA INTELLEGENT DASHBOARD</h2>
 </div>
 <div class="dashboard-data-side-lists">
  <div class="dashboard-data-side-links data" [ngClass]="status1 ? 'show' : 'hide'">
   <div class="dashboard-data-side-subheader">
    <h4>DATA</h4>
   </div>
   <ul class="list-unstyled">
    <li class="mt-4 mb-4 font-weight-bold">RESIDENTIAL</li>
    <li>
      <div ngbDropdown>
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>TRANSACTION DATA</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem>Rent Data</button>
          <button ngbDropdownItem>UNIT TRANSACTION HISTORY</button>
        </div>
      </div>
    </li>
    <li>
      <div ngbDropdown>
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle>TRANSACTION ANALYSIS</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
          <button ngbDropdownItem>MONTHLY ANALYSIS</button>
          <button ngbDropdownItem>QUARTERLY ANALYSIS</button>
          <button ngbDropdownItem>YEARLY ANALYSIS</button>
        </div>
      </div>
    </li>
    <li>
      <div ngbDropdown>
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic3" ngbDropdownToggle>LISTING DATA</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
          <button ngbDropdownItem>LISTING MONITOR</button>
          <button ngbDropdownItem>LISTING DATA</button>
        </div>
      </div>
    </li>
    <li>SUPPLY DATA</li>
    <li>SERVICE CHARGES DATA</li>
    <li>SERVICE CHARGES DATA</li>
    <li class="mt-4 mb-4 font-weight-bold">COMMERCIAL</li>
    <li>
      <div ngbDropdown>
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic4" ngbDropdownToggle>TRANSACTION DATA</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic4">
          <button ngbDropdownItem>RENT DATA</button>
          <button ngbDropdownItem>UNIT TRANSACTION HISTORY</button>
        </div>
      </div>
    </li>
    <li>
      <div ngbDropdown>
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic5" ngbDropdownToggle>TRANSACTION ANALYSIS</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic5">
          <button ngbDropdownItem>MONTHLY ANALYSIS</button>
          <button ngbDropdownItem>QUARTERLY ANALYSIS</button>
          <button ngbDropdownItem>YEARLY ANALYSIS</button>
        </div>
      </div>
    </li>
    <li>
      <div ngbDropdown>
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic6" ngbDropdownToggle>LISTING DATA</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic6">
          <button ngbDropdownItem>LISTING MONITOR</button>
          <button ngbDropdownItem>LISTING DATA</button>
        </div>
      </div>
    </li>
    <li>
      <div ngbDropdown>
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic7" ngbDropdownToggle>SUPPLY DATA</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic7">
          <button ngbDropdownItem>OFFICE SUPPLY</button>
          <button ngbDropdownItem>RETAIL SUPPLY</button>
        </div>
      </div>
    </li>
    <li>OCCUPANCY RATE DATA</li>
    <li>SERVICE CHARGES DATA</li>
   </ul>
   </div>
   <div class="dashboard-data-side-links reports" [ngClass]="status2 ? 'show' : 'hide'">
    <div class="dashboard-data-side-subheader">
     <h4>REPORTS</h4>
    </div>
    <ul class="list-unstyled">
     <li class="mt-4">
      <div ngbDropdown>
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic81" ngbDropdownToggle>RESIDENTIAL</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic81">
          <button ngbDropdownItem>CITY REPORT</button>
          <button ngbDropdownItem>AREA REPORT</button>
          <button ngbDropdownItem>PROPERTY REPORT</button>
          <button ngbDropdownItem>DEVELOPER REPORT</button>
        </div>
      </div>
    </li>
     <li>
       <div ngbDropdown>
         <button type="button" class="btn btn-outline-primary" id="dropdownBasic8" ngbDropdownToggle>MARKET REPORTS</button>
         <div ngbDropdownMenu aria-labelledby="dropdownBasic8">
           <button ngbDropdownItem>PRICE REPORT</button>
           <button ngbDropdownItem>OCCUPANCY REPORTS</button>
           <button ngbDropdownItem>SERVICE CHARGES REPORT</button>
         </div>
       </div>
     </li>
     <li>
       <div ngbDropdown>
         <button type="button" class="btn btn-outline-primary" id="dropdownBasic9" ngbDropdownToggle>OFF PLAN REPORTS</button>
         <div ngbDropdownMenu aria-labelledby="dropdownBasic9">
           <button ngbDropdownItem>OFF PLAN PRICE REPORTS </button>
           <button ngbDropdownItem>SUPPLY REPORT</button>
           <button ngbDropdownItem>CONSTRUCTION STATUS REPORT</button>
           <button ngbDropdownItem>PAYMENT PLANS REPORT </button>
         </div>
       </div>
     </li>
     <li class="mt-4 mb-4 font-weight-bold">COMMERCIAL</li>
     <li>
       <div ngbDropdown>
         <button type="button" class="btn btn-outline-primary" id="dropdownBasic10" ngbDropdownToggle>OFFICE MARKET</button>
         <div ngbDropdownMenu aria-labelledby="dropdownBasic10">
           <button ngbDropdownItem>AREA REPORT</button>
           <button ngbDropdownItem>PROPERTY REPORT</button>
           <button ngbDropdownItem>MARKET REPORT</button>
         </div>
       </div>
     </li>
     <li>RETAIL MARKET</li>
     <li>HOTEL MARKET</li>
     <li>LAND MARKET</li>
     <li>INDUSTRIAL MARKET</li>
     <li>LABOR CAMPS</li>
     <li>SERVICE CHARGES REPORT</li>
     <li>
       <div ngbDropdown>
         <button type="button" class="btn btn-outline-primary" id="dropdownBasic11" ngbDropdownToggle>ECONOMY REPORTS</button>
         <div ngbDropdownMenu aria-labelledby="dropdownBasic11">
           <button ngbDropdownItem>DEMOGRAPHICS</button>
         </div>
       </div>
     </li>
     <li>
       <div ngbDropdown>
         <button type="button" class="btn btn-outline-primary" id="dropdownBasic12" ngbDropdownToggle>FINANCE</button>
         <div ngbDropdownMenu aria-labelledby="dropdownBasic12">
           <button ngbDropdownItem>MORTGAGE RATES</button>
         </div>
       </div>
     </li>
     <li>PRICES</li>
    </ul>
    </div>
    <div class="dashboard-data-side-links rankings" [ngClass]="status3 ? 'show' : 'hide'">
      <div class="dashboard-data-side-subheader">
       <h4>RANKINGS</h4>
      </div>
      <ul class="list-unstyled">
       <li class="mt-4 mb-4 font-weight-bold">RESIDENTIAL</li>
       <li>
         <div ngbDropdown>
           <button type="button" class="btn btn-outline-primary" id="dropdownBasic13" ngbDropdownToggle>AREA RANKINGS</button>
           <div ngbDropdownMenu aria-labelledby="dropdownBasic13">
             <button ngbDropdownItem>SALES</button>
             <button ngbDropdownItem>RENTAL YIELDS</button>
             <button ngbDropdownItem>RESIDENTIAL SUPPLY</button>
             <button ngbDropdownItem>OCCUPANCY RATES</button>
             <button ngbDropdownItem>SERVICE CHARGES</button>
           </div>
         </div>
       </li>
       <li>
         <div ngbDropdown>
           <button type="button" class="btn btn-outline-primary" id="dropdownBasic14" ngbDropdownToggle>PROPERTY RANKINGS</button>
           <div ngbDropdownMenu aria-labelledby="dropdownBasic14">
             <button ngbDropdownItem>SALES</button>
             <button ngbDropdownItem>RENTAL YIELDS</button>
             <button ngbDropdownItem>RESIDENTIAL SUPPLY</button>
             <button ngbDropdownItem>OCCUPANCY RATES</button>
             <button ngbDropdownItem>SERVICE CHARGES</button>
           </div>
         </div>
       </li>
       <li>COMMERCIAL</li>
       <li>
         <div ngbDropdown>
           <button type="button" class="btn btn-outline-primary" id="dropdownBasic15" ngbDropdownToggle>BROKERAGE RANKINGS</button>
           <div ngbDropdownMenu aria-labelledby="dropdownBasic15">
             <button ngbDropdownItem>BROKERAGE RANKINGS</button>
             <button ngbDropdownItem>BROKERAGES ANALYTICS</button>
           </div>
         </div>
       </li>
       <li class="mt-4 mb-4 font-weight-bold">COMMERCIAL</li>
       <li>
         <div ngbDropdown>
           <button type="button" class="btn btn-outline-primary" id="dropdownBasic16" ngbDropdownToggle>OFFICE</button>
           <div ngbDropdownMenu aria-labelledby="dropdownBasic16">
             <button ngbDropdownItem>AREA RANKINGS</button>
             <button ngbDropdownItem>SALES</button>
             <button ngbDropdownItem>RENT</button>
             <button ngbDropdownItem>OFFICE SUPPLY</button>
             <button ngbDropdownItem>OCCUPANCY RATES</button>
             <button ngbDropdownItem>SERVICE CHARGES</button>
           </div>
         </div>
       </li>
       <li>
         <div ngbDropdown>
           <button type="button" class="btn btn-outline-primary" id="dropdownBasic17" ngbDropdownToggle>PROPERTY RANKINGSS</button>
           <div ngbDropdownMenu aria-labelledby="dropdownBasic17">
             <button ngbDropdownItem>SALES</button>
             <button ngbDropdownItem>RENTAL</button>
             <button ngbDropdownItem>OFFICE SUPPLY</button>
             <button ngbDropdownItem>OCCUPANCY RATES</button>
             <button ngbDropdownItem> SERVICE CHARGES</button>
           </div>
         </div>
       </li>
       <li>
        <div ngbDropdown>
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic18" ngbDropdownToggle>BROKERAGE RANKINGS</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic18">
            <button ngbDropdownItem>BROKERAGE RANKINGS</button>
            <button ngbDropdownItem>BROKERAGE ANALYTICS</button>
          </div>
        </div>
      </li>
      </ul>
    </div>
    <div class="dashboard-data-side-links trends" [ngClass]="status4 ? 'show' : 'hide'">
      <div class="dashboard-data-side-subheader">
       <h4>TRENDS</h4>
      </div>
      <ul class="list-unstyled">
       <li class="mt-4 mb-4 font-weight-bold">RESIDENTIAL</li>
       <li>TRENDS</li>
       <li>
         <div ngbDropdown>
           <button type="button" class="btn btn-outline-primary" id="dropdownBasic19" ngbDropdownToggle>SALES PRICE TRENDS</button>
           <div ngbDropdownMenu aria-labelledby="dropdownBasic19">
             <button ngbDropdownItem>RESIDENTIAL SALES</button>
             <button ngbDropdownItem>SERVICED/HOTEL APT SALES</button>
           </div>
         </div>
       </li>
       <li>RENT PRICE TRENDS</li>
       <li>RENTAL YIELDS</li>
       <li>SUPPLY TRENDS</li>
       <li>INDICES</li>
       <li>
         <div ngbDropdown>
           <button type="button" class="btn btn-outline-primary" id="dropdownBasic20" ngbDropdownToggle>SALES PRICE INDICES</button>
           <div ngbDropdownMenu aria-labelledby="dropdownBasic20">
             <button ngbDropdownItem>RESIDENTIAL SALES</button>
             <button ngbDropdownItem>PRIME RESIDENTIAL SALES</button>
             <button ngbDropdownItem>OFF - PLAN SLE PRICES</button>
             <button ngbDropdownItem>SERVICED/HOTEL APT SALES</button>
           </div>
         </div>
       </li>
       <li>
         <div ngbDropdown>
           <button type="button" class="btn btn-outline-primary" id="dropdownBasic21" ngbDropdownToggle>RENT PRICE INDICES</button>
           <div ngbDropdownMenu aria-labelledby="dropdownBasic21">
             <button ngbDropdownItem>RESIDNTIAL RENT</button>
             <button ngbDropdownItem>PRIME RESIDENTIAL RENT</button>
           </div>
         </div>
       </li>
       <li>HOUSING & RENTAL AFFORDIBILTY</li>
       <li>BUILDING SCORES</li>
       <li class="mt-4 mb-4 font-weight-bold">COMMERCIAL</li>
       <li>OFFICE</li>
       <li>TRENDS</li>
       <li>RENT PRICE TRENDS</li>
       <li>SUPPLY TRENDS</li>
       <li>
         <div ngbDropdown>
           <button type="button" class="btn btn-outline-primary" id="dropdownBasic22" ngbDropdownToggle>INDICES</button>
           <div ngbDropdownMenu aria-labelledby="dropdownBasic22">
             <button ngbDropdownItem>RENT PRICE INDICES</button>
           </div>
         </div>
       </li>
       <li>
         <div ngbDropdown>
           <button type="button" class="btn btn-outline-primary" id="dropdownBasic23" ngbDropdownToggle>RETAIL</button>
           <div ngbDropdownMenu aria-labelledby="dropdownBasic23">
             <button ngbDropdownItem>SUPPLY TRENDS </button>
           </div>
         </div>
       </li>
       <li>
        <div ngbDropdown>
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic24" ngbDropdownToggle>LAND</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic24">
            <button ngbDropdownItem>TRENDS</button>
            <button ngbDropdownItem>SALES PRICE TREND</button>
          </div>
        </div>
      </li>
      <li>
        <div ngbDropdown>
          <button type="button" class="btn btn-outline-primary" id="dropdownBasic25" ngbDropdownToggle>INDICES</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic25">
            <button ngbDropdownItem>SALES PRICE INDEX</button>
          </div>
        </div>
      </li>
      </ul>
    </div>
 </div>
</div>
<div ngClass="overlay_counter" (click)="clickEvent5()"></div>