<header>
    <app-header></app-header>
</header>
<section [ngClass]="'inner-cntnt-wrapper slide-left-bar cms-inner'">
  <section [ngClass]="'inner-page-banner-sec position-relative'">
      <div [ngClass]="'container_1280px'">
         <div ngClass="inner-banner-heading text-center">
            <h2>{{title}}</h2>
            <p></p>
         </div>
      </div>
  </section>
  <section ngClass="cms-content-wrapper">
    <div [ngClass]="'container_1280px'">
        <div ngClass="cms_content-paragraph text-center mb-4">
            <h2>Have Some Questions?</h2>
        </div>
        <div ngClass="have-questions-form">
          <form [formGroup]="Form" (ngSubmit)="onSubmit()">
            <div ngClass="row">
                    <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                        <div ngClass="block-wrapper mb-3">
                            <label class="h6-design">Name <span ngClass="required-span">*</span></label>
                            <mat-form-field
                              class="full-width input-design-2"
                              appearance="fill"
                            >
                              <input
                                matInput
                                formControlName="Name"
                                type="text"
                                placeholder="Please enter your name"
                              />
                            </mat-form-field>
                          </div>
                    </div>
                    <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                        <div ngClass="block-wrapper mb-3">
                            <label class="h6-design">Phone <span ngClass="required-span">*</span></label>
                            <mat-form-field
                              class="full-width input-design-2"
                              appearance="fill"
                            >
                              <input
                                matInput
                                formControlName="Phone"
                                type="number"
                                placeholder="Please enter your number"
                              />
                            </mat-form-field>
                          </div>
                    </div>
                    <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                        <div ngClass="block-wrapper mb-3">
                            <label class="h6-design">Email <span ngClass="required-span">*</span></label>
                            <mat-form-field
                              class="full-width input-design-2"
                              appearance="fill"
                            >
                              <input
                                matInput
                                formControlName="Email"
                                type="email"
                                placeholder="Please enter your email"
                              />
                            </mat-form-field>
                          </div>
                    </div>
                    <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                        <div ngClass="block-wrapper mb-3">
                            <div ngClass="select-design">
                                <label class="h6-design">I would Like to Conduct <span ngClass="required-span">*</span></label>
                              <mat-form-field appearance="fill">
                                <mat-label>I would Like to Conduct</mat-label>
                                <mat-select (selectionChange)="onQuerySelect($event)">
                                  <mat-option
                                    *ngFor="let list of conductList"
                                    [value]="list.value"
                                  >
                                    {{ list.text }}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>
                    </div>
                    <div ngClass="col-sm-12 mt-4">
                        <div ngClass="block-wrapper text-center">
                            <button type="submit" ngClass="enquire_btn">Enquiry Now</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </section>
  <section ngClass="contact-address-sec">
    <div [ngClass]="'container_1280px'">
        <div ngClass="cms_content-paragraph text-center">
            <h2 ngClass="mb-4">Ovaluate Real Estate Valuation Services LLC</h2>
            <address>Burjuman Business Tower 18th floor, #1801 <br> Dubai, UAE, P.O. BOX 296360</address>
            <a href="tel:+971 52 836 6668">+971 52 836 6668</a>
            <a href="mailto: info@ovaluate.com">info@ovaluate.com</a>
        </div>
    </div>
  </section>
</section>
<footer ngClass="footer-sec">
    <app-footer></app-footer>
</footer>
