<header>
    <app-header></app-header>
</header>
<section class="agent-landing">
    <div class="agent-landing__banner-wrapper">
        <img src="assets/images/find-agent-banner.jpg" alt="" class="img-fluid agent-landing__banner">
        <h1 class="agent-landing__banner-heading">Great Agents Find Great Properties</h1>
        <div class="agent-landing__tabs-wrapper">
            <ul class="nav nav-pills mb-3" id="pills-tab">
                <li class="nav-item">
                    <a class="nav-link {{agentCheck ? 'active' : ''}}" id="pills-agents-tab" data-bs-toggle="pill"
                        data-bs-target="#find-agents" (click)="toggleCompany(true)">Find Agents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{companiesCheck ? 'active' : ''}}" id="pills-companies-tab"
                        data-bs-toggle="pill" data-bs-target="#pills-companies" (click)="toggleCompany(false)">Find
                        Companies</a>
                </li>
            </ul>
            <div ngClass="form_tabs">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show {{agentCheck ? 'active' : ''}}" id="find-agents">
                        <find-agent-search></find-agent-search>
                    </div>
                    <div class="tab-pane fade show {{companiesCheck ? 'active' : ''}}" id="pills-companies">
                        <div ngClass="tab-form-sec rent-form">
                            <form>
                                <div ngClass="flex-row">
                                    <div ngClass="flex-column flex-column-90">
                                        <div ngClass="block-wrapper" *ngIf="searchList.length > 0">
                                            <mat-form-field class="example-chip-list input-design searh_input-design"
                                                appearance="fill">
                                                <mat-label>Search</mat-label>
                                                <mat-chip-list #chipList aria-label="Search selection">
                                                    <mat-chip *ngFor="let SearchValue of SearchKeyword"
                                                        (removed)="remove(SearchValue)">
                                                        {{SearchValue}}
                                                        <button matChipRemove>
                                                            <mat-icon>cancel</mat-icon>
                                                        </button>
                                                    </mat-chip>
                                                    <input placeholder="Location, Project Name" #SearchInput
                                                        [formControl]="searchctrl" [matAutocomplete]="auto"
                                                        [matChipInputFor]="chipList"
                                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                        (matChipInputTokenEnd)="add($event)">
                                                </mat-chip-list>
                                                <mat-autocomplete #auto="matAutocomplete"
                                                    (optionSelected)="selected($event)">
                                                    <mat-option *ngFor="let SearchValue of searchfilter | async"
                                                        [value]="SearchValue">
                                                        {{SearchValue}}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div ngClass="flex-column flex-column-10">
                                        <button type="submit" ngClass="search-btn"><img
                                                src="assets/images/search.svg"></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="agent-landing-featured">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-dark">
                    <app-breadcrumb></app-breadcrumb>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4 class="agent-landing-featured__heading">{{featuredAgentData.heading}}</h4>
                <p class="agent-landing-featured__text">{{featuredAgentData.desc}}</p>
            </div>
        </div>
        <div class="row {{companies ? 'd-none' : ''}}">
            <div class="col-lg-4" *ngFor="let item of agentDetails">
                <div class="agent-landing-featured__agent">
                    <div class="agent-landing-featured__property-wrapper">
                        <img src="assets/images/tag/featured.png" alt="" class="agent-landing-featured__property-tag">
                        <div class="row" routerLink="/agent-details/{{item.agentDetails.user.id}}">
                            <div class="row height-100">
                                <div class="col-5 d-flex align-items-center">
                                    <img src="https://beta.ovaluate.com/{{item.agentDetails.user.imageUrl}}" alt=""
                                        class="img-fluid agent-landing-featured__property-img">
                                    <img src="assets/images/brand/betterhomes.png" alt=""
                                        class="img-fluid agent-landing-featured__agent-company">
                                </div>
                                <div class="col-7">
                                    <div class="agent-landing-featured__agent-right-panel">
                                        <h6 class="agent-landing-featured__property-heading">
                                            {{item.agentDetails.user.fullName}}</h6>
                                        <p class="agent-landing-featured__property-text">
                                            {{item.agentDetails.user.address}}</p>
                                        <p class="agent-landing-featured__property-text" *ngIf="item.agentDetails.company && item.agentDetails.company.reraNo">RERA#
                                            {{item.agentDetails.company.reraNo}}</p>
                                        <p class="agent-landing-featured__property-text" *ngIf="item.agentDetails.company && item.agentDetails.company.premitNo">Permits#
                                            {{item.agentDetails.company.premitNo}}</p>
                                        <ul class="agent-landing-featured__property-details-list">
                                            <li class="agent-landing-featured__property-details-list-item">
                                                <p class="agent-landing-featured__property-details-list-text">
                                                    {{item.salePropertyListingCount}}<br>Sale</p>
                                            </li>
                                            <li class="agent-landing-featured__property-details-list-item">
                                                <p class="agent-landing-featured__property-details-list-text">
                                                    {{item.rentPropertyListingCount}}<br>Rents</p>
                                            </li>
                                            <li class="agent-landing-featured__property-details-list-item">
                                                <p class="agent-landing-featured__property-details-list-text">
                                                    {{item.commercialPropertyListingCount}}<br>Commercial</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row {{!companies ? 'd-none' : ''}}">
            <div class="col-lg-4" *ngFor="let item of bestCompanies">
                <div class="agent-landing-featured__property">
                    <div class="agent-landing-featured__property-wrapper" routerLink="/company-details/1"> >
                        <img src="assets/images/tag/featured.png" alt="" class="agent-landing-featured__property-tag">
                        <div class="row">
                            <div class="col-5 d-flex align-items-center">
                                <img src="assets/images/brand/betterhomes.png" alt="" class="img-fluid agent-landing-featured__property-img">
                            </div>
                            <div class="col-7">
                                <h6 class="agent-landing-featured__property-heading" *ngIf="item.company && item.company.companyName" >{{item.company.companyName}}</h6>
                                <p class="agent-landing-featured__property-text" *ngIf="item.company && item.company.companyAdress">{{item.company.companyAdress}}</p>
                                <p class="agent-landing-featured__property-text" *ngIf="item.company && item.company.reraNo">RERA# {{item.company.reraNo}}</p>
                                <p class="agent-landing-featured__property-text" *ngIf="item.company && item.company.permitNo">Permit# {{item.company.permitNo}}</p>
                                <p class="agent-landing-featured__property-text" *ngIf="item.company && item.company.ornNo">ORN# {{item.company.ornNo}}</p>
                            </div>
                        </div>
                        <ul class="agent-landing-featured__property-details-list">
                            <li class="agent-landing-featured__property-details-list-item">
                                <p class="agent-landing-featured__property-details-list-text">
                                    {{item.statistics.salePropertyListingCount}}<br>Sale</p>
                            </li>
                            <li class="agent-landing-featured__property-details-list-item">
                                <p class="agent-landing-featured__property-details-list-text">
                                    {{item.statistics.rentPropertyListingCount}}<br>Rents</p>
                            </li>
                            <li class="agent-landing-featured__property-details-list-item">
                                <p class="agent-landing-featured__property-details-list-text">
                                    {{item.statistics.commercialPropertyListingCount}}<br>Commercial</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="agent-landing-list {{companies ? 'd-none' : ''}}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="agent-landing-list__heading">{{agentList.heading}}</h4>
                <p class="agent-landing-list__text">{{agentList.desc}}</p>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <table class="agent-landing-list__table agent-landing-list__table-agents">
                        <thead class="agent-landing-list__table-head">
                            <tr class="agent-landing-list__table-row">
                                <th class="agent-landing-list__table-heading" *ngFor="let heading of agentList.tableHeadings">{{heading}}</th>
                            </tr>
                        </thead>
                        <tbody class="agent-landing-list__table-body">
                            <tr class="agent-landing-list__table-row" *ngFor="let data of findAgent.agents | paginate: { itemsPerPage: 10, currentPage: page, totalItems:totalLength }">
                                <td class="agent-landing-list__table-data">
                                    <div class="agent-landing-featured__agent-wrapper">
                                        <div class="agent-landing-featured__agent-img-outer-wrapper">
                                            <div class="agent-landing-featured__agent-img-inner-wrapper" *ngIf="data.user && data.user.imageUrl">
                                                <img src="https://beta.ovaluate.com/{{data.user.imageUrl}}" alt="" class="img-fluid agent-landing-featured__agent-img">
                                            </div>
                                        </div>
                                        <div class="agent-landing-featured__agent-text-wrapper">
                                            <h6 class="agent-landing-featured__property-heading" *ngIf="data.user && data.user.fullName">{{data.user.fullName}}</h6>
                                            <p class="agent-landing-featured__property-text" *ngIf="data.company && data.company.companyName">{{data.company.companyName}}</p>
                                            <p class="agent-landing-featured__property-link m-0" *ngIf="data.user && data.user.phoneNumber">{{data.user.phoneNumber}}</p>
                                            <p class="agent-landing-featured__property-text mb-3" *ngIf="data.user && data.user.cityId">{{data.user.cityId}},{{data.user.countryId}}</p>
                                            <p class="agent-landing-featured__property-text" *ngIf="data.user && data.user.agentLanguages">Languages: {{data.agentLanguages}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="agent-landing-list__table-data">
                                    <h6 class="agent-landing-featured__property-heading" *ngIf="data.company && data.company.companyName">{{data.company.companyName}}</h6>
                                    <p class="agent-landing-featured__property-text" *ngIf="data.user && data.user.phoneNumber">{{data.user.phoneNumber}}</p>
                                </td>
                                <td class="agent-landing-list__table-data">
                                    <div class="agent-landing-list__specialities">
                                        <ul>
                                            <li>{{data.expertIn}}</li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="agent-landing-list__table-data">
                                    <a class="agent-landing-list__table-btn" routerLink="/agent-details/{{data.user.id}}">
                                        <img src="assets/images/icons/eye.svg" alt="" >"View Detail"</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="agent-landing-list {{!companies ? 'd-none' : ''}}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="agent-landing-list__heading">{{companiesList.heading}}</h4>
                <p class="agent-landing-list__text">{{companiesList.desc}}</p>
            </div>
            <div class="col-12">
                <div class="table-responsive">
                    <table class="agent-landing-list__table">
                        <thead class="agent-landing-list__table-head">
                            <tr class="agent-landing-list__table-row">
                                <th class="agent-landing-list__table-heading"
                                    *ngFor="let heading of companiesList.tableHeadings">{{heading}}</th>
                            </tr>
                        </thead>
                        <tbody class="agent-landing-list__table-body">
                            <tr class="agent-landing-list__table-row"
                                *ngFor="let data of companiesList.tableData | paginate: { itemsPerPage: 10, currentPage: page, totalItems:totalLength }">
                                <td class="agent-landing-list__table-data">
                                    <div class="agent-landing-featured__property-wrapper">
                                        <div class="row">
                                            <div class="col-5 d-flex align-items-center">
                                                <img src={{data.img}} alt=""
                                                    class="img-fluid agent-landing-featured__property-img">
                                            </div>
                                            <div class="col-7">
                                                <h6 class="agent-landing-featured__property-heading">{{data.heading}}
                                                </h6>
                                                <p class="agent-landing-featured__property-text">{{data.text}}</p>
                                                <a class="agent-landing-featured__property-link"
                                                    routerLink={{data.link.url}}>{{data.link.text}}</a>
                                                <p class="agent-landing-featured__property-text">{{data.permit}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="agent-landing-list__table-data">
                                    <div class="agent-landing-list__specialities">
                                        <ul>
                                            <li *ngFor="let item of data.specialities">{{item}}</li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="agent-landing-list__table-data">
                                    <p>{{data.agents}}<br>Agents</p>
                                </td>
                                <td class="agent-landing-list__table-data">
                                    <a class="agent-landing-list__table-btn" routerLink="/company-details/1">
                                        <img src={{data.btn.img}} alt="">{{data.btn.text}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="agent-pagination-wrapper">
    <pagination-controls (pageChange)="pageChanged($event)" class="text-center my-pagination"></pagination-controls>
</section>
<section class="agent-landing-text-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="agent-landing-featured__heading">Top Real Estate Agents in Dubai</h4>
                <p class="agent-landing-featured__text">Whether you are looking to rent, buy or sell your home, Zillow's
                    directory of local real estate agents and brokers in Daytona Beach FL connects you with
                    professionals who can help meet your needs. Because the Daytona Beach FL real estate market is
                    unique, it's important to choose a real estate agent or broker with local expertise to guide you
                    through the process of renting, buying or selling your next home. Our directory helps you find real
                    estate professionals who specialize in buying, selling, foreclosures, or relocation - among many
                    other options. Alternatively, you could work with a local agent or real estate broker who provides
                    an entire suite of buying and selling services.</p>

                <p>No matter what type of real estate needs you have, finding the local real estate professional you
                    want to work with is the first step. The Daytona Beach FL real estate directory lets you view and
                    compare real estate agents, read reviews, see an agent's current listings and past sales, and
                    contact agents directly from their profile pages on Zillow.</p>

                <p>Zillow is the leading real estate and rental marketplace dedicated to empowering consumers with data,
                    inspiration and knowledge around the place they call home, and connecting them with the best local
                    professionals who can help.</p>
            </div>
        </div>
    </div>
</section>
<section ngClass="position-relative wrapper-section bg-primary-color span-promises-sec">
    <div ngClass="container_1220px">
        <div ngClass="newsletter-section text-center">
            <h5>No Spam Promise</h5>
            <h1>Are you a landlord or real estate proffessional?</h1>
            <h6>Discover ways to increase your home's value and get listed. No Spam.</h6>
            <form action="" ngClass="news-letter-form position-relative">
                <input type="email" placeholder="Enter your email address">
                <input type="submit" value="Submit">
            </form>
            <p>Join <span>10,000+</span> other landlords in our estatery community.</p>
        </div>
    </div>
</section>
<footer ngClass="footer-sec">
    <app-footer></app-footer>
</footer>