<header>
    <app-header></app-header>
</header>
<section class="agent-details">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-dark">
                    <app-breadcrumb></app-breadcrumb>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="agent-details__wrapper">
                    <div class="row">
                        <div class="col-sm-12 col-md-4"
                            *ngIf="newAgentDetail.image">
                            <img  src="https://beta.ovaluate.com/{{newAgentDetail.image}}" alt=""
                                class="img-fluid agent-details__wrapper-img">
                        </div>
                        <div class="col-sm-12 col-md-4"
                            *ngIf="!newAgentDetail.image">
                            <img  src="assets/images/user.png" alt=""
                                class="img-fluid agent-details__wrapper-img">
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div class="agent-details__wrapper-details">
                                <h4 class="agent-details__wrapper-details-heading"
                                    *ngIf="newAgentDetail.fullName">
                                    {{newAgentDetail.fullName}}</h4>
                                <p class="agent-details__wrapper-details-text"
                                    *ngIf="newAgentDetail.expertIn">
                                    {{newAgentDetail.expertIn}}</p>
                                <h6 class="agent-details__wrapper-details-desc"
                                    *ngIf="newAgentDetail.companyName">
                                    {{newAgentDetail.companyName}}</h6>
                                <p class="agent-details__wrapper-details-phone"
                                    *ngIf="newAgentDetail.phoneNumber">
                                    {{newAgentDetail.phoneNumber}}</p>
                                <p class="agent-details__wrapper-details-text"
                                    *ngIf="newAgentDetail.companyAdress">
                                    {{newAgentDetail.companyAdress}}, UAE</p>
                                <p class="agent-details__wrapper-details-text"
                                    *ngIf="newAgentDetail.brnNo">
                                    {{newAgentDetail.brnNo}}</p>
                                <p class="agent-details__wrapper-details-text"
                                    *ngIf="newAgentDetail.agentLanguages">Language:
<!--                                    {{agentDetail.agentLanguages}}-->
                                  <span
                                    *ngFor="let item of newAgentDetail.agentLanguages">{{item.spokenLanguage}}</span>
                                </p>
                                <p class="agent-details__wrapper-details-text"
                                    *ngIf="newAgentDetail.agentAreas">Area:
                                    <span
                                        *ngFor="let item of newAgentDetail.agentAreas">{{item.district.name}}</span>
                                </p>
                                <ul class="agent-details__wrapper-details-list">
                                    <li class="agent-details__wrapper-details-list-item">
                                        <p class="agent-details__wrapper-details-list-text">
                                            {{newAgentDetail.salePropertyListingCount}} <br> Sale</p>
                                    </li>
                                    <li class="agent-details__wrapper-details-list-item">
                                        <p class="agent-details__wrapper-details-list-text">
                                            {{newAgentDetail.rentPropertyListingCount}} <br> Rent</p>
                                    </li>
                                    <li class="agent-details__wrapper-details-list-item">
                                        <p class="agent-details__wrapper-details-list-text">
                                            {{newAgentDetail.commercialPropertyListingCount}} <br> Commercial</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="agent-details__tabs">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-item">
                                <button class="nav-link active" id="about-tab" data-bs-toggle="tab"
                                    data-bs-target="#about">About Me</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="properties-tab" data-bs-toggle="tab"
                                    data-bs-target="#properties">My Properties({{myListing.length}})</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="about">
                                <div class="agent-details__tab-content">
                                    <p>{{newAgentDetail.aboutMe}}</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="properties">
                                <div *ngIf="myListing.length > 0">
                                    <div class="agent-details__tab-content mb-3">
                                        <div class="agent-details__property-wrapper">
                                            <div class="row">
                                                <div class="col-xl-8 col-lg-8 col-md-4 col-12 d-flex align-items-center">
                                                    <h6>My Properties</h6>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-8 col-12 text-end">
                                                    <div class="agent-details__select-wrapper">
                                                        <mat-form-field appearance="fill">
                                                            <mat-label>Sort By</mat-label>
                                                            <mat-select>
                                                                <mat-option value="Location">Location</mat-option>
                                                                <mat-option value="Area">Area</mat-option>
                                                                <mat-option value="Size">Size</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="agent-details__property-list">
                                        <li class="agent-details__property-list-item"
                                            *ngFor="let item of myListing | paginate: { itemsPerPage: 10, currentPage: page, totalItems:totalLength }">
                                            <div class="row" [routerLink]="['/PropertDetailsPage']"
                                                [queryParams]="{id: item.id}">
                                                <div class="col-lg-2">
                                                    <img src="{{item.image}}" [alt]="" class="img-fluid agent-details__property-list-item-img">
                                                </div>
                                                <div class="col-lg-10">
                                                    <div class="row">
                                                        <div class="col-7">
                                                            <a class="agent-details__property-list-item-link">{{item.propertyPrice}}
                                                                {{item.currency}}
                                                                <span>/{{item.rentType}}</span>
                                                            </a>
                                                        </div>
                                                        <div class="col-5 text-end">
                                                            <p class="agent-details__property-list-item-date">Listed on
                                                                {{item.requestedDateFormat}}</p>
                                                        </div>
                                                    </div>
                                                    <h6>{{item.buildingName}}</h6>
                                                    <p class="agent-details__property-list-item-text">
                                                        <img src="assets/images/home-location.svg" alt=""
                                                            class="img-fluid agent-details__property-list-item-text-icon">
                                                        {{item.propertyAddress}}
                                                    </p>
                                                    <p class="agent-details__property-list-item-type">{{item.propertyTitle}}
                                                    </p>
                                                    <div class="row">
                                                        <div class="col-md-10">
                                                            <ul class="agent-details__property-detail-list">
                                                                <li class="agent-details__property-detail-list-item">
                                                                    <img src="{{bedsvg}}" alt="">
                                                                    {{item.bedrooms}} Beds
                                                                </li>
                                                                <li class="agent-details__property-detail-list-item">
                                                                    <img src="{{bathsvg}}" alt="">
                                                                    {{item.bathrooms}} Bath
                                                                </li>
                                                                <li class="agent-details__property-detail-list-item">
                                                                    <img src="{{squaremetersvg}}" alt="">
                                                                    {{item.buildupArea}} Sq.Ft.
                                                                </li>
                                                                <li class="agent-details__property-detail-list-item">
                                                                    <img src="{{furnishing}}" alt="">
                                                                    {{item.furnishingType}}
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <img src="assets/images/better-home.svg" alt="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <section class="agent-pagination-wrapper">
                                        <pagination-controls (pageChange)="pageChanged($event)" class="text-center my-pagination">
                                        </pagination-controls>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="agent-details__form-wrapper">
                    <div class="row mb-3">
                        <div class="col-8 d-flex align-items-center">
                            <h6>Contact {{newAgentDetail.fullName}}</h6>
                        </div>
                        <div class="col-4 text-end">
                            <img src="assets/images/better-home.svg" alt="" class="agent-details__form-img">
                        </div>
                    </div>
                    <form class="agent-details__form" [formGroup]="agentContact">
                        <fieldset class="agent-details__form-fieldset">
                            <label for="name" class="agent-details__form-label">Name*</label>
                            <input type="text" name="name" id="name" placeholder="Enter your full name"
                                class="agent-details__form-input" formControlName="name">
                            <span style="color: red" *ngIf="nameError != ''">*This field is
                                required</span>

                        </fieldset>
                        <fieldset class="agent-details__form-fieldset">
                            <label for="email" class="agent-details__form-label">Email*</label>
                            <input type="text" name="email" id="email" placeholder="Enter your email address"
                                class="agent-details__form-input" formControlName="email">
                            <span style="color: red" *ngIf="emailError != ''">*This field is
                                required</span>
                        </fieldset>
                        <fieldset class="agent-details__form-fieldset">
                            <label for="phone" class="agent-details__form-label">Phone No.*</label>
                            <input type="text" name="phone" id="phone" placeholder="Enter your phone number"
                                class="agent-details__form-input" formControlName="phone">
                            <span style="color: red" *ngIf="phoneError != ''">*This field is
                                required</span>
                        </fieldset>
                        <fieldset class="agent-details__form-fieldset">
                            <label for="message" class="agent-details__form-label">Message</label>
                            <textarea type="text" name="message" id="message"
                                placeholder="I would like to inquire about the property OV - R8986. Please contact me at your earliest convenience."
                                class="agent-details__form-input agent-details__form-textarea"
                                formControlName="message"></textarea>
                          <span style="color: red" *ngIf="messageError != ''">*This field is
                                required</span>
                        </fieldset>
                        <button type="button" (click)="leadProceedStore()" class="agent-details__form-submit">Send Email</button>
                    </form>
                    <div class="row">
                        <div class="col-xxl-6">
                            <a class="agent-details__btn">
                                <img src="assets/images/icons/phone-call.svg" alt="">
                                Call Landlord</a>
                        </div>
                        <div class="col-xxl-6">
                            <a class="agent-details__btn">
                                <img src="assets/images/icons/WA_Logo.svg" alt="">
                                Whats APP</a>
                        </div>
                        <div class="col-xxl-6">
                            <a class="agent-details__btn">
                                <img src="assets/images/icons/comments.svg" alt="">
                                Chat with Landlord</a>
                        </div>
                        <div class="col-xxl-6">
                            <a class="agent-details__btn">
                                <img src="assets/images/icons/play-alt.svg" alt="">
                                Video Call</a>
                        </div>
                        <div class="col-xxl-6">
                            <a class="agent-details__btn">
                                <img src="assets/images/icons/film.svg" alt="">
                                Virtual Tour</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer ngClass="footer-sec">
    <app-footer></app-footer>
</footer>
