<header>
    <app-header></app-header>
</header>
<section class="agent-details">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-dark">
                    <app-breadcrumb></app-breadcrumb>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="agent-details__wrapper">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/assets/images/agent-image.png" alt=""
                                class="img-fluid agent-details__wrapper-img">
                        </div>
                        <div class="col-sm-8">
                            <div class="agent-details__wrapper-details">
                                <h4 class="agent-details__wrapper-details-heading">Olga Pikina</h4>
                                <p class="agent-details__wrapper-details-text">Sales Director / 10 Yrs. Exp</p>
                                <h6 class="agent-details__wrapper-details-desc">Better Homes Properties</h6>
                                <p class="agent-details__wrapper-details-phone">+971 50 456 3423</p>
                                <p class="agent-details__wrapper-details-text">Dubai, UAE</p>
                                <p class="agent-details__wrapper-details-text">BRN#: 89876</p>
                                <p class="agent-details__wrapper-details-text">Language: English, Hindi, Arabic, Urdu,
                                    Danish</p>
                                <p class="agent-details__wrapper-details-text">Area: Downtown Dubai, AL Mankool</p>
                                <ul class="agent-details__wrapper-details-list">
                                    <li class="agent-details__wrapper-details-list-item">
                                        <p class="agent-details__wrapper-details-list-text">247 <br> Sale</p>
                                    </li>
                                    <li class="agent-details__wrapper-details-list-item">
                                        <p class="agent-details__wrapper-details-list-text">247 <br> Rent</p>
                                    </li>
                                    <li class="agent-details__wrapper-details-list-item">
                                        <p class="agent-details__wrapper-details-list-text">247 <br> Commercial</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="agent-details__tabs">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-item">
                                <button class="nav-link active" id="about-tab" data-bs-toggle="tab"
                                    data-bs-target="#about">About Me</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link" id="properties-tab" data-bs-toggle="tab"
                                    data-bs-target="#properties">My Properties(78)</button>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="about">
                                <div class="agent-details__tab-content">
                                    <p>Mohammad Khalil is a result-oriented person With a passion for service that comes
                                        from a background of working in the retail business. As a real estate agent and
                                        a member of the Driven Properties family, Mohammad Khalil carries his passion
                                        towards helping families find their next home tooled by his original skill of
                                        identifying clients’ needs and using his experience to meet their best interests
                                        Mohammad speaks Arabic as a mother tongue and speaks fluent English which helps
                                        him communicate freely and smoothly with clients.</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="properties">
                                <div class="agent-details__tab-content mb-3">
                                    <div class="agent-details__property-wrapper">
                                        <div class="row">
                                            <div class="col-8 d-flex align-items-center">
                                                <h6>My Properties</h6>
                                            </div>
                                            <div class="col-4 text-end">
                                                <div class="agent-details__select-wrapper">
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Sort By</mat-label>
                                                        <mat-select>
                                                            <mat-option>Location</mat-option>
                                                            <mat-option>Area</mat-option>
                                                            <mat-option>Size</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="agent-details__property-list">
                                    <li class="agent-details__property-list-item">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <img src="assets/images/explore-places/1.jpg" alt=""
                                                    class="img-fluid agent-details__property-list-item-img">
                                            </div>
                                            <div class="col-lg-10">
                                                <div class="row">
                                                    <div class="col-7">
                                                        <a class="agent-details__property-list-item-link">85,000 AED
                                                            <span>/yearly</span>
                                                        </a>
                                                    </div>
                                                    <div class="col-5 text-end">
                                                        <p class="agent-details__property-list-item-date">Listed on 05
                                                            May, 2022</p>
                                                    </div>
                                                </div>
                                                <h6>Blue Wave Tower</h6>
                                                <p class="agent-details__property-list-item-text">
                                                    <img src="assets/images/home-location.svg" alt=""
                                                        class="img-fluid agent-details__property-list-item-text-icon">
                                                    Etihad Tower 4, Etihad Towers, Corniche Road, Abu Dhabi
                                                </p>
                                                <p class="agent-details__property-list-item-type">Hotel & Hotel
                                                    Apartment</p>
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <ul class="agent-details__property-detail-list">
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                3 Beds
                                                            </li>
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                2 Bath
                                                            </li>
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                8000 Sq.Ft.
                                                            </li>
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                Furnished
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <img src="assets/images/better-home.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="agent-details__property-list-item">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <img src="assets/images/explore-places/1.jpg" alt=""
                                                    class="img-fluid agent-details__property-list-item-img">
                                            </div>
                                            <div class="col-lg-10">
                                                <div class="row">
                                                    <div class="col-7">
                                                        <a class="agent-details__property-list-item-link">85,000 AED
                                                            <span>/yearly</span>
                                                        </a>
                                                    </div>
                                                    <div class="col-5 text-end">
                                                        <p class="agent-details__property-list-item-date">Listed on 05
                                                            May, 2022</p>
                                                    </div>
                                                </div>
                                                <h6>Blue Wave Tower</h6>
                                                <p class="agent-details__property-list-item-text">
                                                    <img src="assets/images/home-location.svg" alt=""
                                                        class="img-fluid agent-details__property-list-item-text-icon">
                                                    Etihad Tower 4, Etihad Towers, Corniche Road, Abu Dhabi
                                                </p>
                                                <p class="agent-details__property-list-item-type">Hotel & Hotel
                                                    Apartment</p>
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <ul class="agent-details__property-detail-list">
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                3 Beds
                                                            </li>
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                2 Bath
                                                            </li>
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                8000 Sq.Ft.
                                                            </li>
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                Furnished
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <img src="assets/images/better-home.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="agent-details__property-list-item">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <img src="assets/images/explore-places/1.jpg" alt=""
                                                    class="img-fluid agent-details__property-list-item-img">
                                            </div>
                                            <div class="col-lg-10">
                                                <div class="row">
                                                    <div class="col-7">
                                                        <a class="agent-details__property-list-item-link">85,000 AED
                                                            <span>/yearly</span>
                                                        </a>
                                                    </div>
                                                    <div class="col-5 text-end">
                                                        <p class="agent-details__property-list-item-date">Listed on 05
                                                            May, 2022</p>
                                                    </div>
                                                </div>
                                                <h6>Blue Wave Tower</h6>
                                                <p class="agent-details__property-list-item-text">
                                                    <img src="assets/images/home-location.svg" alt=""
                                                        class="img-fluid agent-details__property-list-item-text-icon">
                                                    Etihad Tower 4, Etihad Towers, Corniche Road, Abu Dhabi
                                                </p>
                                                <p class="agent-details__property-list-item-type">Hotel & Hotel
                                                    Apartment</p>
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <ul class="agent-details__property-detail-list">
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                3 Beds
                                                            </li>
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                2 Bath
                                                            </li>
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                8000 Sq.Ft.
                                                            </li>
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                Furnished
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <img src="assets/images/better-home.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="agent-details__property-list-item">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <img src="assets/images/explore-places/1.jpg" alt=""
                                                    class="img-fluid agent-details__property-list-item-img">
                                            </div>
                                            <div class="col-lg-10">
                                                <div class="row">
                                                    <div class="col-7">
                                                        <a class="agent-details__property-list-item-link">85,000 AED
                                                            <span>/yearly</span>
                                                        </a>
                                                    </div>
                                                    <div class="col-5 text-end">
                                                        <p class="agent-details__property-list-item-date">Listed on 05
                                                            May, 2022</p>
                                                    </div>
                                                </div>
                                                <h6>Blue Wave Tower</h6>
                                                <p class="agent-details__property-list-item-text">
                                                    <img src="assets/images/home-location.svg" alt=""
                                                        class="img-fluid agent-details__property-list-item-text-icon">
                                                    Etihad Tower 4, Etihad Towers, Corniche Road, Abu Dhabi
                                                </p>
                                                <p class="agent-details__property-list-item-type">Hotel & Hotel
                                                    Apartment</p>
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <ul class="agent-details__property-detail-list">
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                3 Beds
                                                            </li>
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                2 Bath
                                                            </li>
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                8000 Sq.Ft.
                                                            </li>
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                Furnished
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <img src="assets/images/better-home.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="agent-details__property-list-item">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <img src="assets/images/explore-places/1.jpg" alt=""
                                                    class="img-fluid agent-details__property-list-item-img">
                                            </div>
                                            <div class="col-lg-10">
                                                <div class="row">
                                                    <div class="col-7">
                                                        <a class="agent-details__property-list-item-link">85,000 AED
                                                            <span>/yearly</span>
                                                        </a>
                                                    </div>
                                                    <div class="col-5 text-end">
                                                        <p class="agent-details__property-list-item-date">Listed on 05
                                                            May, 2022</p>
                                                    </div>
                                                </div>
                                                <h6>Blue Wave Tower</h6>
                                                <p class="agent-details__property-list-item-text">
                                                    <img src="assets/images/home-location.svg" alt=""
                                                        class="img-fluid agent-details__property-list-item-text-icon">
                                                    Etihad Tower 4, Etihad Towers, Corniche Road, Abu Dhabi
                                                </p>
                                                <p class="agent-details__property-list-item-type">Hotel & Hotel
                                                    Apartment</p>
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <ul class="agent-details__property-detail-list">
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                3 Beds
                                                            </li>
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                2 Bath
                                                            </li>
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                8000 Sq.Ft.
                                                            </li>
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                Furnished
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <img src="assets/images/better-home.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="agent-details__property-list-item">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <img src="assets/images/explore-places/1.jpg" alt=""
                                                    class="img-fluid agent-details__property-list-item-img">
                                            </div>
                                            <div class="col-lg-10">
                                                <div class="row">
                                                    <div class="col-7">
                                                        <a class="agent-details__property-list-item-link">85,000 AED
                                                            <span>/yearly</span>
                                                        </a>
                                                    </div>
                                                    <div class="col-5 text-end">
                                                        <p class="agent-details__property-list-item-date">Listed on 05
                                                            May, 2022</p>
                                                    </div>
                                                </div>
                                                <h6>Blue Wave Tower</h6>
                                                <p class="agent-details__property-list-item-text">
                                                    <img src="assets/images/home-location.svg" alt=""
                                                        class="img-fluid agent-details__property-list-item-text-icon">
                                                    Etihad Tower 4, Etihad Towers, Corniche Road, Abu Dhabi
                                                </p>
                                                <p class="agent-details__property-list-item-type">Hotel & Hotel
                                                    Apartment</p>
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <ul class="agent-details__property-detail-list">
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                3 Beds
                                                            </li>
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                2 Bath
                                                            </li>
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                8000 Sq.Ft.
                                                            </li>
                                                            <li class="agent-details__property-detail-list-item">
                                                                <img src="assets/images/icons/Bed.svg" alt="">
                                                                Furnished
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <img src="assets/images/better-home.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="agent-details__form-wrapper">
                    <div class="row mb-3">
                        <div class="col-8 d-flex align-items-center">
                            <h6>Contact Olga Pikina</h6>
                        </div>
                        <div class="col-4 text-end">
                            <img src="assets/images/better-home.svg" alt="" class="agent-details__form-img">
                        </div>
                    </div>
                    <form class="agent-details__form" [formGroup]="agentContact">
                        <fieldset class="agent-details__form-fieldset">
                            <label for="name" class="agent-details__form-label">Name*</label>
                            <input type="text" name="name" id="name" placeholder="Location, Project Name"
                                class="agent-details__form-input" formControlName="name">
                            <span style="color: red" *ngIf="name && name.invalid && name.touched">*This field is
                                required</span>
                        </fieldset>
                        <fieldset class="agent-details__form-fieldset">
                            <label for="email" class="agent-details__form-label">Email*</label>
                            <input type="text" name="email" id="email" placeholder="Location, Project Name"
                                class="agent-details__form-input" formControlName="email">
                            <span style="color: red" *ngIf="email && email.invalid && email.touched">*This field is
                                required</span>
                        </fieldset>
                        <fieldset class="agent-details__form-fieldset">
                            <label for="phone" class="agent-details__form-label">Phone No.*</label>
                            <input type="text" name="phone" id="phone" placeholder="Location, Project Name"
                                class="agent-details__form-input" formControlName="phone">
                            <span style="color: red" *ngIf="phone && phone.invalid && phone.touched">*This field is
                                required</span>
                        </fieldset>
                        <fieldset class="agent-details__form-fieldset">
                            <label for="message" class="agent-details__form-label">Message</label>
                            <textarea type="text" name="message" id="message"
                                placeholder="I would like to inquire about the property OV - R8986. Please contact me at your earliest convenience."
                                class="agent-details__form-input agent-details__form-textarea"
                                formControlName="message"></textarea>
                        </fieldset>
                        <button type="submit" class="agent-details__form-submit">Send Email</button>
                    </form>
                    <div class="row">
                        <div class="col-xxl-6">
                            <a class="agent-details__btn">
                                <img src="assets/images/icons/phone-call.svg" alt="">
                                Call Landloard</a>
                        </div>
                        <div class="col-xxl-6">
                            <a class="agent-details__btn">
                                <img src="assets/images/icons/WA_Logo.svg" alt="">
                                Whats APP</a>
                        </div>
                        <div class="col-xxl-6">
                            <a class="agent-details__btn">
                                <img src="assets/images/icons/comments.svg" alt="">
                                Chat with Landloard</a>
                        </div>
                        <div class="col-xxl-6">
                            <a class="agent-details__btn">
                                <img src="assets/images/icons/play-alt.svg" alt="">
                                Video Call</a>
                        </div>
                        <div class="col-xxl-6">
                            <a class="agent-details__btn">
                                <img src="assets/images/icons/film.svg" alt="">
                                Virtual Tour</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer ngClass="footer-sec">
    <app-footer></app-footer>
</footer>