<div class="light-theme dashboard-data-sec">
  <app-header></app-header>
  <div class="dashboard-reports-inner-wrapper">
    <div class="container">
      <div class="dashboard-data-main-wrapper">
        <div class="dashboard-data-scnd-header">
          <app-di-sidebar-component></app-di-sidebar-component>
        </div>
        <div class="dashboard-data-main-contents">
          <div class="di-inner-header">
            <h4> بيانات الإيجار - السكنية</h4>
          </div>
          <form [formGroup]="range">
            <div class="dashboard-dat-filter-box">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-date-range-box">
                    <label>نطاق التاريخ</label>
                    <mat-form-field>
                      <mat-label>أدخل النطاق الزمني</mat-label>
                      <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate matInput placeholder="تاريخ البدء" formControlName="start"
                          (dateChange)="getStartDate($event)">
                        <input matEndDate matInput placeholder="تاريخ الانتهاء" formControlName="end"
                          (dateChange)="getEndDate($event)">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box" *ngIf="citiesData.length > 0">
                    <label>مدينة</label>
                    <mat-form-field>
                      <mat-label>أضف مدينة</mat-label>
                      <mat-select [disableOptionCentering]="true" multiple (selectionChange)="getCity($event)" [(value)]="selectedCity">
                        <mat-option value="All" (click)="selectAllCity()">اختر الكل</mat-option>
                        <mat-option *ngFor="let city of citiesData" [value]="city.id">
                          {{city.nameAr}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box" [ngClass]="communityfield.length > 0 ? '' : 'disabled'">
                    <label>المنطقة</label>
                    <mat-form-field>
                      <mat-label>أضف المنطقة</mat-label>
                      <mat-select [disableOptionCentering]="true" multiple (selectionChange)="getDistrict($event)" [(value)]="selectedDistrict">
                        <mat-option value="All" (click)="selectAllDistrict()">اختر الكل</mat-option>
                        <mat-option *ngFor="let community of communityfield" [value]="community.id">
                          {{community.nameAr}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box" [ngClass]="filteredProperty.length > 0 ? '' : 'disabled'">
                    <label>نوع الملكية</label>
                    <mat-form-field>
                      <mat-label>إضافة نوع لملكية </mat-label>
                      <mat-select [disableOptionCentering]="true" multiple (selectionChange)="getPropertyType($event)" [(value)]="selectedPropertyType">
                        <mat-option value="All" (click)="selectAllPropertyType()">اختر الكل</mat-option>
                        <mat-option *ngFor="let protype of filteredProperty" [value]="protype.id">
                          {{protype.typeDescriptionAr}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box" [ngClass]="filteredPropertyOnly.length > 0 ? '' : 'disabled'">
                    <label>المشاريع</label>
                    <mat-form-field>
                      <mat-label>أضف مشاريع</mat-label>
                      <mat-select [disableOptionCentering]="true" multiple (selectionChange)="getProject($event)" [(value)]="selectedProject">
                        <mat-option value="All" (click)="selectAllProject()">اختر الكل</mat-option>
                        <mat-option *ngFor="let property of filteredPropertyOnly" [value]="property.id">
                          {{property.nameAr}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-date-range-box">
                    <label>تاريخ البدء</label>
                    <mat-form-field>
                      <mat-label>تاريخ</mat-label>
                      <mat-date-range-input [rangePicker]="startpicker">
                        <input matStartDate matInput placeholder="تاريخ البدء" formControlName="minStart"
                          (dateChange)="getMinStartDate($event)">
                        <input matEndDate matInput placeholder="تاريخ الانتهاء" formControlName="maxStart"
                          (dateChange)="getMaxStartDate($event)">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
                      <mat-date-range-picker #startpicker></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-date-range-box">
                    <label>تاريخ الانتهاء</label>
                    <mat-form-field>
                      <mat-label>تاريخ</mat-label>
                      <mat-date-range-input [rangePicker]="endpicker">
                        <input matStartDate matInput placeholder="تاريخ البدء" formControlName="minEnd"
                          (dateChange)="getMinEndDate($event)">
                        <input matEndDate matInput placeholder="تاريخ الانتهاء" formControlName="maxEnd"
                          (dateChange)="getMaxEndDate($event)">
                      </mat-date-range-input>
                      <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                      <mat-date-range-picker #endpicker></mat-date-range-picker>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box" [ngClass]="filteredTransaction.length > 0 ? '' : 'disabled'">
                    <label>نوع المعاملة</label>
                    <mat-form-field>
                      <mat-label>أضف نوع المعاملة</mat-label>
                      <mat-select [disableOptionCentering]="true" multiple (selectionChange)="getTransactionType($event)"
                        [(value)]="selectedTransactionType">
                        <mat-option value="All" (click)="selectAllTransactionType()">اختر الكل</mat-option>
                        <mat-option *ngFor="let transaction of filteredTransaction" [value]="transaction.id">
                          {{transaction.nameAr}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div class="dashboard-data-select-box">
                    <label>غرفة نوم</label>
                    <mat-form-field>
                      <mat-label>أضف غرفة نوم</mat-label>
                      <mat-select [disableOptionCentering]="true" multiple (selectionChange)="getBeds($event)" [(value)]="selectedBeds">
                        <mat-option value="All" (click)="selectAllBeds()">اختر الكل</mat-option>
                        <mat-option *ngFor="let beds of allbedsfield" [value]="beds">
                          {{beds}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div ngClass="di-rangle-block">
                    <h4>نطاق الحجم ({{countryData.unitType}})</h4>
                    <div ngClass="price-range_sec">
                      <div ngClass="range-slider">
                        <ngx-slider [(value)]="SizeminValue" [(highValue)]="SizemaxValue" [options]="Sizeoptions"
                          (valueChange)="getMinSize($event)" (highValueChange)="getMaxSize($event)">
                        </ngx-slider>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 mb-2">
                  <div ngClass="di-rangle-block">
                    <h4>نطاق السعر ({{countryData.currencyAr}})</h4>
                    <div ngClass="price-range_sec">
                      <div ngClass="range-slider">
                        <ngx-slider [(value)]="PriceminValue" [(highValue)]="PricemaxValue" [options]="Priceoptions"
                          (valueChange)="getMinPrice($event)" (highValueChange)="getMaxPrice($event)">
                        </ngx-slider>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        
          <div class="dashboard-data-blue-boxes mt-3">
            <div class="row dashbpard-reports-inof-blocks">
              <div class="col-xl-3 p-2">
                <div class="card bg-2 position-relative overflow-hidden">
                  <app-loader *ngIf="showLoader"></app-loader>
                  <div class="row">
                    <div class="col-12 text-center">
                      <h6 class="text-small">معاملات العقارات الجاهزة</h6>
                      <p style="margin-bottom: 12px;"></p>
                      <div class="custom-box">
                        <span>
                          <h3>{{totalLength != 0 ? formatNumber(transactionData.transactionsCount) : 0}}</h3>
                          <p>المعاملات</p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 p-2">
                <div class="card bg-2 position-relative overflow-hidden">
                  <app-loader *ngIf="showLoader"></app-loader>
                  <div class="row">
                    <div class="col-12 text-center">
                      <h6 class="text-small">معاملات الملكية خارج الخطة</h6>
                      <p style="margin-bottom: 12px;"></p>
                      <div class="custom-box">
                        <span>
                          <h3>{{totalLength != 0 ? formatNumber(transactionData.medianPricePerSqft) : 0}}</h3>
                          <p>الوسيط  {{countryData.currencyAr}}/{{countryData.unitType}}</p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 p-2">
                <div class="card bg-2 position-relative overflow-hidden">
                  <app-loader *ngIf="showLoader"></app-loader>
                  <div class="row">
                    <div class="col-12 text-center">
                      <h6 class="text-small">قوائم المبيعات </h6>
                      <div class="custom-box">
                        <span>
                          <h3>{{totalLength != 0 ? formatNumber(transactionData.medianPrice) : 0}}</h3>
                          <p>قيمة الوسيط  ({{countryData.currencyAr}})</p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 p-2">
                <div class="card bg-2 position-relative overflow-hidden">
                  <app-loader *ngIf="showLoader"></app-loader>
                  <div class="row">
                    <div class="col-12 text-center">
                      <h6 class="text-small">قوائم الإيجار</h6>
                      <div class="custom-box">
                        <span>
                          <h3>{{totalLength != 0 ? formatNumber(transactionData.totalPrice) : 0}}</h3>
                          <p>قيمة الوسيط  ({{countryData.currencyAr}})</p>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dash-table-box-layout position-relative overflow-hidden">
            <app-loader *ngIf="showLoader"></app-loader>
            <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>إصدار</th>
                    <th>تاريخ</th>
                    <th>تاريخ البدء</th>
                    <th>تاريخ الانتهاء</th>
                    <th>الموقع</th>
                    <th>اسم المشروع</th>
                    <th>نوع</th>
                    <th>الوحدة</th>
                    <th>غرف النوم</th>
                    <th>طوابق</th>
                    <th>موقف سيارات</th>
                    <th>منطقة الشرفة</th>
                    <th>حجم</th>
                    <th>مساحة الارض</th>
                    <th>المبلغ السنوي (درهم)</th>
                    <th>(درهم / قدم مربع / سنة)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let item of transactionData.transactions | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems:totalLength }">
                    <td>{{item.transactionType != null && item.transactionType.nameAr != null ? item.transactionType.nameAr : "N/A"}}</td>
                    <td>{{item.transactionDate != null ? item.transactionDate.split("T")[0] : "N/A"}}</td>
                    <td>{{item.startDate != null ? item.startDate.split("T")[0] : "N/A"}}</td>
                    <td>{{item.endDate != null ? item.endDate.split("T")[0] : "N/A"}}</td>
                    <td>{{item.district && item.district.nameAr != null ? item.district.nameAr : "N/A"}}</td>
                    <td>{{item.project && item.project.nameAr != null ? item.project.nameAr : "N/A"}}</td>
                    <td>{{item.propertyType && item.propertyType.typeDescriptionAr != null ? item.propertyType.typeDescriptionAr : "N/A"}}</td>
                    <td>{{item.unit != null ? item.unit : "N/A"}}</td>
                    <td>{{item.bedRoom != null ? item.bedRoom : "N/A"}}</td>
                    <td>{{item.floor != null ? item.floor : "N/A"}}</td>
                    <td>{{item.parking != null ? item.parking : "N/A"}}</td>
                    <td>{{item.balconyAreaSqft != null ? item.balconyAreaSqft : "N/A"}}</td>
                    <td>{{item.sizeSqft != null ? item.sizeSqft : "N/A"}}</td>
                    <td>{{item.landSizeSqft != null ? item.landSizeSqft : "N/A"}}</td>
                    <td>{{item.amountYearly != null ? item.amountYearly : "N/A"}}</td>
                    <td>{{item.amountSqftYearly != null ? item.amountSqftYearly : "N/A"}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pagination-controls d-flex justify-content-spacebw">
              <div class="pagination-page-per-item d-flex align-items-center">
                <p>عدد العناصر في الصفحة 10</p>
                <div ngClass="select-design-language">
                  <mat-form-field appearance="fill">
                    <mat-select [disableOptionCentering]="true" [(value)]="PageNumbers"
                      (selectionChange)="getItems($event)">
                      <mat-option [value]="option.value" *ngFor="let option of pageitems">
                        {{option.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <pagination-controls (pageChange)="pageChanged($event)" class="text-center my-pagination">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dahboard-data-f0oter">
      <footer>
        <p class="text-center text-muted mb-0">Copyright &#169; <a routerLink="">Ovaluate</a></p>
      </footer>
    </div>
  </div>
</div>