<app-header2></app-header2>
<section ngClass="property-valuation-sec">
    <div ngClass="listing-container full-width">
        <div ngClass="heading-title-sec text-center">
            <h2>Property Valuation</h2>
            <p>
                Make sure you filled in all the necessary fields and have uploaded all
                the required files.
            </p>
        </div>
        <div ngClass="listing-property-form-sec">
            <div ngClass="listing-property-ul">
                <mat-list>
                    <mat-list-item ngClass="active">
                        <a routerLink=""><span ngClass="">1</span> Details</a>
                    </mat-list-item>
                    <mat-list-item ngClass="disabled"><a routerLink=""><span ngClass="">2</span> Type</a>
                    </mat-list-item>
                    <mat-list-item ngClass="disabled">
                        <a routerLink=""><span ngClass="">3</span> Documents</a>
                    </mat-list-item>
                    <mat-list-item ngClass="disabled">
                        <a routerLink=""><span ngClass="">4</span> Review</a>
                    </mat-list-item>
                    <mat-list-item ngClass="disabled">
                        <a routerLink=""><span ngClass="">5</span> Certificate Type</a>
                    </mat-list-item>
                    <mat-list-item ngClass="disabled">
                        <a routerLink=""><span ngClass="">6</span> Payment</a>
                    </mat-list-item>
                    <mat-list-item ngClass="disabled">
                        <a routerLink=""><span ngClass="">7</span> Download Report</a>
                    </mat-list-item>
                </mat-list>
            </div>
            <div ngClass="list-property-content">
                <div ngClass="list-property-body">
                    <form [formGroup]="propertyDetails">
                        <div ngClass="form-border-wrapper">
                            <div ngClass="list-property-header">
                                <h5 ngClass="h5-heading">Property Details</h5>
                                <p>Please provide your propety type for the valuation</p>
                            </div>
                            <div ngClass="select-boxes">
                                <div ngClass="row">
                                    <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                        <div ngClass="block-wrapper mb-4">
                                            <div ngClass="select-design select2-design">
                                                <label>Country <span ngClass="required-span">*</span></label>
                                                <select class="select2 country-select" *ngIf="oldData == '' || country.length > 0">
                                                    <option value="0"> Select Country</option>
                                                    <option class="country-item-{{list.value}}" *ngFor="let list of country" [value]="list.value"> {{ list.viewValue }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                        <div ngClass="select-design mb-4 select2-design">
                                            <label ngClass="h6-design">City <span
                                                    ngClass="required-span">*</span></label>
                                            <select class="select2 city-select" *ngIf="oldData == '' || city.length > 0">
                                                    <option value="0"> Select City</option>
                                                    <option class="city-item-{{listcity.value}}" *ngFor="let listcity of city" [value]="listcity.value"> {{ listcity.viewValue }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div ngClass="col-xl-4 col-lg-4 col-sm-12">
                                        <div ngClass="block-wrapper mb-4">
                                            <div ngClass="select-design select2-design">
                                                <label>District <span ngClass="required-span">*</span></label>
                                                <select class="select2 district-select" *ngIf="oldData == '' || district.length > 0">
                                                    <option value="0"> Select District</option>
                                                    <option class="district-item-{{listdistrict.value}}" *ngFor="let listdistrict of district" [value]="listdistrict.value">{{ listdistrict.viewValue }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="address-sec" [ngClass]="showMap ? '' : 'd-none'">
                                <div ngClass="block-wrapper-address">
                                    <label class="h6-design">Pin the Location of your Property <span
                                            ngClass="required-span">*</span></label>
                                    <div ngClass="position-relative">
                                        <div style="width: 100%">
                                            <div #propertyDetails__map class="property-details__map"></div>
                                        </div>
                                        <div ngClass="locate-me-sec">
                                            <div ngClass="add-adrees-sec">
                                                <div class="input-wrapper">
                                                    <input matInput type="text" placeholder="Search for your location"
                                                        #searchLocation id="searchLocation" class="searchLocation"
                                                        formControlName="address" />
                                                </div>
                                                <div ngClass="locate-me-btn text-right">
                                                    <button ngClass="grey-bordered-btn" (click)="getLocation()">
                                                        <img src="{{ Locate }}" /> Locate Me
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div ngClass="confirm-location-sec text-right" (click)="confirmLocation()">
                                        <button ngClass="confirm-location-btn">
                                            Confirm Location
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="location-information" [ngClass]="showMap ? '' : 'd-none'">
                                <div ngClass="block-wrapper mb-4">
                                    <h6 ngClass="h6-design">Location Information <span ngClass="required-span">*</span>
                                    </h6>
                                    <div ngClass="location-info-lists" *ngIf="locationInformation.city">
                                        <mat-list>
                                            <mat-list-item ngClass="d-flex justify-content-spacebw">
                                                <div ngClass="location-div-block">
                                                    <h4 ngClass="loc-heading">{{locationInformation.city}},
                                                        {{locationInformation.country}}</h4>
                                                    <p>{{locationInformation.address}}</p>
                                                    <img src="../../../../assets/images/MapPin.svg" />
                                                </div>
                                                <div ngClass="change-btn-block" (click)="changeInfo()">
                                                    <button ngClass="change-btn">Change</button>
                                                </div>
                                            </mat-list-item>
                                        </mat-list>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="deed-numbers">
                                <div ngClass="row">
                                    <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                                        <div ngClass="block-wrapper mb-4">
                                            <label class="h6-design">Title Deed No. <span
                                                    ngClass="required-span">*</span> <span ngClass="small-label">(Insert "0" if you don't have number)</span></label>
                                            <div class="title-deed-input">
                                                <mat-form-field class="full-width input-design-2" appearance="fill">
                                                    <input matInput type="text" placeholder="Title Deed No"
                                                        formControlName="titleDeed" lang="en" />
                                                </mat-form-field>
                                            </div>
                                            <span style="color: #FF0000"
                                                *ngIf="titleDeed && titleDeed.invalid && titleDeed.touched">*This field
                                                is required</span>
                                        </div>
                                    </div>
                                    <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                                        <div ngClass="block-wrapper mb-4">
                                            <label class="h6-design">Title Deed Type <span
                                                    ngClass="required-span">*</span></label>
                                            <div class="checkbox-flex-box two-column max-240 title-deed-type-input">
                                                <div class="checkbox-design position-relative" (click)="toggleType(1)">
                                                    <input type="radio" id="Monthly" name="titleDeed-type"
                                                        value="Monthly" *ngIf="oldData.TitleDeedType == 1" checked />
                                                    <input type="radio" id="Monthly" name="titleDeed-type"
                                                        value="Monthly" *ngIf="oldData.TitleDeedType != 1" />
                                                    <button class="checkbox-btn">Leasehold</button>
                                                </div>
                                                <div class="checkbox-design position-relative" (click)="toggleType(2)">
                                                    <input type="radio" id="Quaterly" name="titleDeed-type"
                                                        value="Quaterly" *ngIf="oldData.TitleDeedType == 2" checked />
                                                    <input type="radio" id="Quaterly" name="titleDeed-type"
                                                        value="Quaterly" *ngIf="oldData.TitleDeedType != 2" />
                                                    <button class="checkbox-btn">Freehold</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ngClass="affection-numbers">
                                <div ngClass="row">
                                    <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                                        <div ngClass="block-wrapper mb-4">
                                            <label class="h6-design">Muncipality/Affection No. <span
                                                    ngClass="required-span">*</span> <span ngClass="small-label">(Insert "0" if you don't have number)</span></label>
                                            <div class="municipality-input">
                                                <mat-form-field class="full-width input-design-2" appearance="fill">
                                                    <input matInput type="text"
                                                        placeholder="Enter the Municipality No/Affection No."
                                                        formControlName="muncipality" />
                                                </mat-form-field>
                                            </div>
                                            <span style="color: #FF0000;"
                                                *ngIf="muncipality && muncipality.invalid && muncipality.touched">*This
                                                field is required</span>
                                        </div>
                                    </div>
                                    <div ngClass="col-xl-6 col-lg-6 col-sm-12">
                                        <div ngClass="block-wrapper mb-4">
                                            <label class="h6-design">Property Insured <span
                                                    ngClass="required-span">*</span></label>
                                            <div class="checkbox-flex-box two-column max-240 property-insured-input">
                                                <div class="checkbox-design position-relative"
                                                    (click)="toggleInsured(1)">
                                                    <input type="radio" id="Yes" name="propertyInsured-type" value="Yes"
                                                        *ngIf="oldData.PropertyInsured == 1" checked />
                                                    <input type="radio" id="Yes" name="propertyInsured-type" value="Yes"
                                                        *ngIf="oldData.PropertyInsured != 1" />
                                                    <button class="checkbox-btn">Yes</button>
                                                </div>
                                                <div class="checkbox-design position-relative"
                                                    (click)="toggleInsured(2)">
                                                    <input type="radio" id="No" name="propertyInsured-type" value="No"
                                                        *ngIf="oldData.PropertyInsured == 2" checked />
                                                    <input type="radio" id="No" name="propertyInsured-type" value="No"
                                                        *ngIf="oldData.PropertyInsured != 2" />
                                                    <button class="checkbox-btn">No</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ngClass="text-right save-continue-sec justify-content-end">
                            <mat-card-actions>
                                <button ngClass="save-continue-btn cursor-pointer" (click)="getData()">
                                    Save & Continue
                                </button>
                            </mat-card-actions>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<app-loader *ngIf="showLoader"></app-loader>
<app-erroralert [error]="error" (errorResponse)="errorResponse($event)" *ngIf="showError"></app-erroralert>