<header>
    <app-header></app-header>
    </header>
  <section [ngClass]="'inner-cntnt-wrapper slide-left-bar'">
  <section [ngClass]="'list-package-banner-sec position-relative'" style="background-image: url('assets/images/package-banner.png')">
      <div [ngClass]="'container_1280px'">
        <app-breadcrumb></app-breadcrumb>
         <div ngClass="inner-banner-heading text-center">
            <h2>Ovaluate Premium Listing Packages</h2>
            <p>First time on ovaluate and want to sell or rent your property really fast, simply subscibe to one of our paid packages and get super benefits.</p>
         </div>
      </div>
      </section>
      <section ngClass="listinpackages-wrapper">
        <div ngClass="container_1280px">
          <div ngClass="row">
            <div ngClass="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div ngClass="listing-packages-tabs">
                    <mat-tab-group>
                        <mat-tab label="Landlords/Owners">
                          <div class="package-listing-tab-content-title text-center">
                            <h2>Ovaluate Listing Packages for Landlords/Owners</h2>
                            <p>Some of our picked properties near your location.</p>
                          </div>
                          <div ngClass="pricing-container-sec">
                            <mat-tab-group>
                              <mat-tab label="Sell Property">
                                <div class="row justify-content-center">
                                  <div class="col-lg-4 col-md-6">
                                      <div class="standard-listing">
                                          <div class="listing-table-heading text-center">
                                              <h3>STANDARD</h3>
                                          </div>
                                          <div class="listing-table-pricing text-center">
                                              <h4>FREE</h4>
                                          </div>
                                          <div class="listing-table-btn text-center">
                                              <a routerLink="">Buy Now!</a>
                                          </div>
                                          <hr>
                                          <ul class="package-listing-details">
                                              <li><img src="{{rightarrow}}"> 01 Active Property Listing</li>
                                              <li><img src="{{rightarrow}}"> Up to 30 days validity</li>
                                              <li><img src="{{rightarrow}}"> Unlimited Leads</li>
                                              <ul class="package-listing-details-inner">
                                                  <li>Leads via Email</li>
                                                  <li>Leads via WhatsAPP</li>
                                                  <li>Leads via Phone Call</li>
                                              </ul>
                                              <li><img src="{{rightarrow}}"> Display 4 Photos on the Listing</li>
                                              <li><img src="{{rightarrow}}"> LIVE Chat with Customers</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-md-6">
                                      <div class="featured-listing">
                                          <span class="recomended-bar">Recommended</span>
                                          <div class="listing-table-heading text-center">
                                              <h3>Featured</h3>
                                          </div>
                                          <div class="listing-table-pricing text-center">
                                              <p>200AED</p>
                                              <h4>100 AED</h4>
                                              <span>inclusive of VAT</span>
                                              <h6>You Save: 100 AED / 50% Off</h6>
                                          </div>
                                          <div class="listing-table-btn text-center">
                                              <a routerLink="">Buy Now!</a>
                                          </div>
                                          <hr>
                                          <ul class="package-listing-details">
                                              <li><img src="{{rightarrow}}"> 01 Active Property Listing</li>
                                              <li><img src="{{rightarrow}}"> Up to 90 days validity</li>
                                              <li><img src="{{rightarrow}}"> Unlimited Leads</li>
                                              <ul class="package-listing-details-inner">
                                                  <li>Leads via Email</li>
                                                  <li>Leads via WhatsAPP</li>
                                                  <li>Leads via Phone Call</li>
                                              </ul>
                                              <li><img src="{{rightarrow}}"> Display 06 Photos on the Listing</li>
                                              <li><img src="{{rightarrow}}"> Display Video on the Listing</li>
                                              <li><img src="{{rightarrow}}"> LIVE Chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> LIVE Video chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> 5x More Leads than Standard Listing</li>
                                              <li><img src="{{rightarrow}}"> Featured Listing higher then Standard</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-md-6">
                                      <div class="premium-listing">
                                          <div class="listing-table-heading text-center">
                                              <h3>Premium</h3>
                                          </div>
                                          <div class="listing-table-pricing text-center">
                                              <p>300AED</p>
                                              <h4>200 AED</h4>
                                              <span>inclusive of VAT</span>
                                              <h6>You Save: 100 AED / 50% Off</h6>
                                          </div>
                                          <div class="listing-table-btn text-center">
                                              <a routerLink="">Buy Now!</a>
                                          </div>
                                          <hr>
                                          <ul class="package-listing-details">
                                              <li><img src="{{rightarrow}}"> 01 Active Property Listing</li>
                                              <li><img src="{{rightarrow}}"> Up to 120 days validity</li>
                                              <li><img src="{{rightarrow}}"> Unlimited Leads</li>
                                              <ul class="package-listing-details-inner">
                                                  <li>Leads via Email</li>
                                                  <li>Leads via WhatsAPP</li>
                                                  <li>Leads via Phone Call</li>
                                              </ul>
                                              <li><img src="{{rightarrow}}"> Display 08 Photos on the Listing</li>
                                              <li><img src="{{rightarrow}}"> Display Video on the Listing</li>
                                              <li><img src="{{rightarrow}}"> LIVE Chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> LIVE Video chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> 10x More Leads than Standard Listing</li>
                                              <li><img src="{{rightarrow}}"> Premium Listing higher then Featured</li>
                                              <li><img src="{{rightarrow}}"> 360° Online Tour</li>
                                              <li><img src="{{rightarrow}}"> Email Promotion</li>
                                              <li><img src="{{rightarrow}}"> Best Qualified Leads</li>
                                              <li><img src="{{rightarrow}}"> Dedicated Executive</li>
                                          </ul>
                                      </div>
                                  </div>
                                </div>
                              </mat-tab>
                              <mat-tab label="Rent Property">
                                <div class="row justify-content-center">
                                  <div class="col-lg-4 col-md-6">
                                      <div class="standard-listing">
                                          <div class="listing-table-heading text-center">
                                              <h3>STANDARD</h3>
                                          </div>
                                          <div class="listing-table-pricing text-center">
                                              <h4>FREE</h4>
                                          </div>
                                          <div class="listing-table-btn text-center">
                                              <a routerLink="">Buy Now!</a>
                                          </div>
                                          <hr>
                                          <ul class="package-listing-details">
                                              <li><img src="{{rightarrow}}"> 01 Active Property Listing</li>
                                              <li><img src="{{rightarrow}}"> Up to 30 days validity</li>
                                              <li><img src="{{rightarrow}}"> Unlimited Leads</li>
                                              <ul class="package-listing-details-inner">
                                                  <li>Leads via Email</li>
                                                  <li>Leads via WhatsAPP</li>
                                                  <li>Leads via Phone Call</li>
                                              </ul>
                                              <li><img src="{{rightarrow}}"> Display 4 Photos on the Listing</li>
                                              <li><img src="{{rightarrow}}"> LIVE Chat with Customers</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-md-6">
                                      <div class="featured-listing">
                                          <span class="recomended-bar">Recommended</span>
                                          <div class="listing-table-heading text-center">
                                              <h3>Featured</h3>
                                          </div>
                                          <div class="listing-table-pricing text-center">
                                              <p>200AED</p>
                                              <h4>100 AED</h4>
                                              <span>inclusive of VAT</span>
                                              <h6>You Save: 100 AED / 50% Off</h6>
                                          </div>
                                          <div class="listing-table-btn text-center">
                                              <a routerLink="">Buy Now!</a>
                                          </div>
                                          <hr>
                                          <ul class="package-listing-details">
                                              <li><img src="{{rightarrow}}"> 01 Active Property Listing</li>
                                              <li><img src="{{rightarrow}}"> Up to 90 days validity</li>
                                              <li><img src="{{rightarrow}}"> Unlimited Leads</li>
                                              <ul class="package-listing-details-inner">
                                                  <li>Leads via Email</li>
                                                  <li>Leads via WhatsAPP</li>
                                                  <li>Leads via Phone Call</li>
                                              </ul>
                                              <li><img src="{{rightarrow}}"> Display 06 Photos on the Listing</li>
                                              <li><img src="{{rightarrow}}"> Display Video on the Listing</li>
                                              <li><img src="{{rightarrow}}"> LIVE Chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> LIVE Video chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> 5x More Leads than Standard Listing</li>
                                              <li><img src="{{rightarrow}}"> Featured Listing higher then Standard</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-md-6">
                                      <div class="premium-listing">
                                          <div class="listing-table-heading text-center">
                                              <h3>Premium</h3>
                                          </div>
                                          <div class="listing-table-pricing text-center">
                                              <p>300AED</p>
                                              <h4>200 AED</h4>
                                              <span>inclusive of VAT</span>
                                              <h6>You Save: 100 AED / 50% Off</h6>
                                          </div>
                                          <div class="listing-table-btn text-center">
                                              <a routerLink="">Buy Now!</a>
                                          </div>
                                          <hr>
                                          <ul class="package-listing-details">
                                              <li><img src="{{rightarrow}}"> 01 Active Property Listing</li>
                                              <li><img src="{{rightarrow}}"> Up to 120 days validity</li>
                                              <li><img src="{{rightarrow}}"> Unlimited Leads</li>
                                              <ul class="package-listing-details-inner">
                                                  <li>Leads via Email</li>
                                                  <li>Leads via WhatsAPP</li>
                                                  <li>Leads via Phone Call</li>
                                              </ul>
                                              <li><img src="{{rightarrow}}"> Display 08 Photos on the Listing</li>
                                              <li><img src="{{rightarrow}}"> Display Video on the Listing</li>
                                              <li><img src="{{rightarrow}}"> LIVE Chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> LIVE Video chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> 10x More Leads than Standard Listing</li>
                                              <li><img src="{{rightarrow}}"> Premium Listing higher then Featured</li>
                                              <li><img src="{{rightarrow}}"> 360° Online Tour</li>
                                              <li><img src="{{rightarrow}}"> Email Promotion</li>
                                              <li><img src="{{rightarrow}}"> Best Qualified Leads</li>
                                              <li><img src="{{rightarrow}}"> Dedicated Executive</li>
                                          </ul>
                                      </div>
                                  </div>
                                </div>
                              </mat-tab>
                            </mat-tab-group>
                        </div>
                        </mat-tab>
                        <mat-tab label="Agency/Brokrage Firms">
                          <div class="package-listing-tab-content-title text-center">
                            <h2>Ovaluate Listing Packages for Landlords/Owners</h2>
                            <p>Some of our picked properties near your location.</p>
                          </div>
                          <div ngClass="pricing-container-sec">
                                <div class="row justify-content-center">
                                  <div class="col-lg-4 col-md-6">
                                      <div class="standard-listing">
                                          <div class="listing-table-heading text-center">
                                              <h3>STANDARD</h3>
                                          </div>
                                          <div class="listing-table-pricing text-center">
                                              <h4>FREE</h4>
                                          </div>
                                          <div class="listing-table-btn text-center">
                                              <a routerLink="">Buy Now!</a>
                                          </div>
                                          <hr>
                                          <ul class="package-listing-details">
                                              <li><img src="{{rightarrow}}"> 01 Active Property Listing</li>
                                              <li><img src="{{rightarrow}}"> Up to 30 days validity</li>
                                              <li><img src="{{rightarrow}}"> Unlimited Leads</li>
                                              <ul class="package-listing-details-inner">
                                                  <li>Leads via Email</li>
                                                  <li>Leads via WhatsAPP</li>
                                                  <li>Leads via Phone Call</li>
                                              </ul>
                                              <li><img src="{{rightarrow}}"> Display 4 Photos on the Listing</li>
                                              <li><img src="{{rightarrow}}"> LIVE Chat with Customers</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-md-6">
                                      <div class="featured-listing">
                                          <span class="recomended-bar">Recommended</span>
                                          <div class="listing-table-heading text-center">
                                              <h3>Featured</h3>
                                          </div>
                                          <div class="listing-table-pricing text-center">
                                              <p>200AED</p>
                                              <h4>100 AED</h4>
                                              <span>inclusive of VAT</span>
                                              <h6>You Save: 100 AED / 50% Off</h6>
                                          </div>
                                          <div class="listing-table-btn text-center">
                                              <a routerLink="">Buy Now!</a>
                                          </div>
                                          <hr>
                                          <ul class="package-listing-details">
                                              <li><img src="{{rightarrow}}"> 01 Active Property Listing</li>
                                              <li><img src="{{rightarrow}}"> Up to 90 days validity</li>
                                              <li><img src="{{rightarrow}}"> Unlimited Leads</li>
                                              <ul class="package-listing-details-inner">
                                                  <li>Leads via Email</li>
                                                  <li>Leads via WhatsAPP</li>
                                                  <li>Leads via Phone Call</li>
                                              </ul>
                                              <li><img src="{{rightarrow}}"> Display 06 Photos on the Listing</li>
                                              <li><img src="{{rightarrow}}"> Display Video on the Listing</li>
                                              <li><img src="{{rightarrow}}"> LIVE Chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> LIVE Video chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> 5x More Leads than Standard Listing</li>
                                              <li><img src="{{rightarrow}}"> Featured Listing higher then Standard</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-md-6">
                                      <div class="premium-listing">
                                          <div class="listing-table-heading text-center">
                                              <h3>Premium</h3>
                                          </div>
                                          <div class="listing-table-pricing text-center">
                                              <p>300AED</p>
                                              <h4>200 AED</h4>
                                              <span>inclusive of VAT</span>
                                              <h6>You Save: 100 AED / 50% Off</h6>
                                          </div>
                                          <div class="listing-table-btn text-center">
                                              <a routerLink="">Buy Now!</a>
                                          </div>
                                          <hr>
                                          <ul class="package-listing-details">
                                              <li><img src="{{rightarrow}}"> 01 Active Property Listing</li>
                                              <li><img src="{{rightarrow}}"> Up to 120 days validity</li>
                                              <li><img src="{{rightarrow}}"> Unlimited Leads</li>
                                              <ul class="package-listing-details-inner">
                                                  <li>Leads via Email</li>
                                                  <li>Leads via WhatsAPP</li>
                                                  <li>Leads via Phone Call</li>
                                              </ul>
                                              <li><img src="{{rightarrow}}"> Display 08 Photos on the Listing</li>
                                              <li><img src="{{rightarrow}}"> Display Video on the Listing</li>
                                              <li><img src="{{rightarrow}}"> LIVE Chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> LIVE Video chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> 10x More Leads than Standard Listing</li>
                                              <li><img src="{{rightarrow}}"> Premium Listing higher then Featured</li>
                                              <li><img src="{{rightarrow}}"> 360° Online Tour</li>
                                              <li><img src="{{rightarrow}}"> Email Promotion</li>
                                              <li><img src="{{rightarrow}}"> Best Qualified Leads</li>
                                              <li><img src="{{rightarrow}}"> Dedicated Executive</li>
                                          </ul>
                                      </div>
                                  </div>
                                </div>
                        </div>
                        </mat-tab>
                        <mat-tab label="Agents/Brokers">
                          <div class="package-listing-tab-content-title text-center">
                            <h2>Ovaluate Listing Packages for Landlords/Owners</h2>
                            <p>Some of our picked properties near your location.</p>
                          </div>
                          <div ngClass="pricing-container-sec">
                                <div class="row justify-content-center">
                                  <div class="col-lg-4 col-md-6">
                                      <div class="standard-listing">
                                          <div class="listing-table-heading text-center">
                                              <h3>STANDARD</h3>
                                          </div>
                                          <div class="listing-table-pricing text-center">
                                              <h4>FREE</h4>
                                          </div>
                                          <div class="listing-table-btn text-center">
                                              <a routerLink="">Buy Now!</a>
                                          </div>
                                          <hr>
                                          <ul class="package-listing-details">
                                              <li><img src="{{rightarrow}}"> 01 Active Property Listing</li>
                                              <li><img src="{{rightarrow}}"> Up to 30 days validity</li>
                                              <li><img src="{{rightarrow}}"> Unlimited Leads</li>
                                              <ul class="package-listing-details-inner">
                                                  <li>Leads via Email</li>
                                                  <li>Leads via WhatsAPP</li>
                                                  <li>Leads via Phone Call</li>
                                              </ul>
                                              <li><img src="{{rightarrow}}"> Display 4 Photos on the Listing</li>
                                              <li><img src="{{rightarrow}}"> LIVE Chat with Customers</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-md-6">
                                      <div class="featured-listing">
                                          <span class="recomended-bar">Recommended</span>
                                          <div class="listing-table-heading text-center">
                                              <h3>Featured</h3>
                                          </div>
                                          <div class="listing-table-pricing text-center">
                                              <p>200AED</p>
                                              <h4>100 AED</h4>
                                              <span>inclusive of VAT</span>
                                              <h6>You Save: 100 AED / 50% Off</h6>
                                          </div>
                                          <div class="listing-table-btn text-center">
                                              <a routerLink="">Buy Now!</a>
                                          </div>
                                          <hr>
                                          <ul class="package-listing-details">
                                              <li><img src="{{rightarrow}}"> 01 Active Property Listing</li>
                                              <li><img src="{{rightarrow}}"> Up to 90 days validity</li>
                                              <li><img src="{{rightarrow}}"> Unlimited Leads</li>
                                              <ul class="package-listing-details-inner">
                                                  <li>Leads via Email</li>
                                                  <li>Leads via WhatsAPP</li>
                                                  <li>Leads via Phone Call</li>
                                              </ul>
                                              <li><img src="{{rightarrow}}"> Display 06 Photos on the Listing</li>
                                              <li><img src="{{rightarrow}}"> Display Video on the Listing</li>
                                              <li><img src="{{rightarrow}}"> LIVE Chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> LIVE Video chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> 5x More Leads than Standard Listing</li>
                                              <li><img src="{{rightarrow}}"> Featured Listing higher then Standard</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-md-6">
                                      <div class="premium-listing">
                                          <div class="listing-table-heading text-center">
                                              <h3>Premium</h3>
                                          </div>
                                          <div class="listing-table-pricing text-center">
                                              <p>300AED</p>
                                              <h4>200 AED</h4>
                                              <span>inclusive of VAT</span>
                                              <h6>You Save: 100 AED / 50% Off</h6>
                                          </div>
                                          <div class="listing-table-btn text-center">
                                              <a routerLink="">Buy Now!</a>
                                          </div>
                                          <hr>
                                          <ul class="package-listing-details">
                                              <li><img src="{{rightarrow}}"> 01 Active Property Listing</li>
                                              <li><img src="{{rightarrow}}"> Up to 120 days validity</li>
                                              <li><img src="{{rightarrow}}"> Unlimited Leads</li>
                                              <ul class="package-listing-details-inner">
                                                  <li>Leads via Email</li>
                                                  <li>Leads via WhatsAPP</li>
                                                  <li>Leads via Phone Call</li>
                                              </ul>
                                              <li><img src="{{rightarrow}}"> Display 08 Photos on the Listing</li>
                                              <li><img src="{{rightarrow}}"> Display Video on the Listing</li>
                                              <li><img src="{{rightarrow}}"> LIVE Chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> LIVE Video chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> 10x More Leads than Standard Listing</li>
                                              <li><img src="{{rightarrow}}"> Premium Listing higher then Featured</li>
                                              <li><img src="{{rightarrow}}"> 360° Online Tour</li>
                                              <li><img src="{{rightarrow}}"> Email Promotion</li>
                                              <li><img src="{{rightarrow}}"> Best Qualified Leads</li>
                                              <li><img src="{{rightarrow}}"> Dedicated Executive</li>
                                          </ul>
                                      </div>
                                  </div>
                                </div>
                        </div>
                        </mat-tab>
                        <mat-tab label="Property Managers">
                          <div class="package-listing-tab-content-title text-center">
                            <h2>Ovaluate Listing Packages for Landlords/Owners</h2>
                            <p>Some of our picked properties near your location.</p>
                          </div>
                          <div ngClass="pricing-container-sec">
                                <div class="row justify-content-center">
                                  <div class="col-lg-4 col-md-6">
                                      <div class="standard-listing">
                                          <div class="listing-table-heading text-center">
                                              <h3>STANDARD</h3>
                                          </div>
                                          <div class="listing-table-pricing text-center">
                                              <h4>FREE</h4>
                                          </div>
                                          <div class="listing-table-btn text-center">
                                              <a routerLink="">Buy Now!</a>
                                          </div>
                                          <hr>
                                          <ul class="package-listing-details">
                                              <li><img src="{{rightarrow}}"> 01 Active Property Listing</li>
                                              <li><img src="{{rightarrow}}"> Up to 30 days validity</li>
                                              <li><img src="{{rightarrow}}"> Unlimited Leads</li>
                                              <ul class="package-listing-details-inner">
                                                  <li>Leads via Email</li>
                                                  <li>Leads via WhatsAPP</li>
                                                  <li>Leads via Phone Call</li>
                                              </ul>
                                              <li><img src="{{rightarrow}}"> Display 4 Photos on the Listing</li>
                                              <li><img src="{{rightarrow}}"> LIVE Chat with Customers</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-md-6">
                                      <div class="featured-listing">
                                          <span class="recomended-bar">Recommended</span>
                                          <div class="listing-table-heading text-center">
                                              <h3>Featured</h3>
                                          </div>
                                          <div class="listing-table-pricing text-center">
                                              <p>200AED</p>
                                              <h4>100 AED</h4>
                                              <span>inclusive of VAT</span>
                                              <h6>You Save: 100 AED / 50% Off</h6>
                                          </div>
                                          <div class="listing-table-btn text-center">
                                              <a routerLink="">Buy Now!</a>
                                          </div>
                                          <hr>
                                          <ul class="package-listing-details">
                                              <li><img src="{{rightarrow}}"> 01 Active Property Listing</li>
                                              <li><img src="{{rightarrow}}"> Up to 90 days validity</li>
                                              <li><img src="{{rightarrow}}"> Unlimited Leads</li>
                                              <ul class="package-listing-details-inner">
                                                  <li>Leads via Email</li>
                                                  <li>Leads via WhatsAPP</li>
                                                  <li>Leads via Phone Call</li>
                                              </ul>
                                              <li><img src="{{rightarrow}}"> Display 06 Photos on the Listing</li>
                                              <li><img src="{{rightarrow}}"> Display Video on the Listing</li>
                                              <li><img src="{{rightarrow}}"> LIVE Chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> LIVE Video chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> 5x More Leads than Standard Listing</li>
                                              <li><img src="{{rightarrow}}"> Featured Listing higher then Standard</li>
                                          </ul>
                                      </div>
                                  </div>
                                  <div class="col-lg-4 col-md-6">
                                      <div class="premium-listing">
                                          <div class="listing-table-heading text-center">
                                              <h3>Premium</h3>
                                          </div>
                                          <div class="listing-table-pricing text-center">
                                              <p>300AED</p>
                                              <h4>200 AED</h4>
                                              <span>inclusive of VAT</span>
                                              <h6>You Save: 100 AED / 50% Off</h6>
                                          </div>
                                          <div class="listing-table-btn text-center">
                                              <a routerLink="">Buy Now!</a>
                                          </div>
                                          <hr>
                                          <ul class="package-listing-details">
                                              <li><img src="{{rightarrow}}"> 01 Active Property Listing</li>
                                              <li><img src="{{rightarrow}}"> Up to 120 days validity</li>
                                              <li><img src="{{rightarrow}}"> Unlimited Leads</li>
                                              <ul class="package-listing-details-inner">
                                                  <li>Leads via Email</li>
                                                  <li>Leads via WhatsAPP</li>
                                                  <li>Leads via Phone Call</li>
                                              </ul>
                                              <li><img src="{{rightarrow}}"> Display 08 Photos on the Listing</li>
                                              <li><img src="{{rightarrow}}"> Display Video on the Listing</li>
                                              <li><img src="{{rightarrow}}"> LIVE Chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> LIVE Video chat with Customers</li>
                                              <li><img src="{{rightarrow}}"> 10x More Leads than Standard Listing</li>
                                              <li><img src="{{rightarrow}}"> Premium Listing higher then Featured</li>
                                              <li><img src="{{rightarrow}}"> 360° Online Tour</li>
                                              <li><img src="{{rightarrow}}"> Email Promotion</li>
                                              <li><img src="{{rightarrow}}"> Best Qualified Leads</li>
                                              <li><img src="{{rightarrow}}"> Dedicated Executive</li>
                                          </ul>
                                      </div>
                                  </div>
                                </div>
                        </div>
                        </mat-tab>
                      </mat-tab-group>
                </div>
            </div>
            </div>
            </div>
      </section>
  </section>
  <footer ngClass="footer-sec">
    <app-footer></app-footer>
  </footer>
  