<header>
    <app-header></app-header>
    </header>
  <section [ngClass]="'inner-cntnt-wrapper slide-left-bar'">
  <section [ngClass]="'list-package-banner-sec position-relative'" style="background-image: url('assets/images/package-banner.png')">
      <div [ngClass]="'container_1280px'">
        <app-breadcrumb></app-breadcrumb>
         <div ngClass="inner-banner-heading text-center">
            <h2>Ovaluate Premium Listing Packages</h2>
            <p>First time on ovaluate and want to sell or rent your property really fast, simply subscibe to one of our paid packages and get super benefits.</p>
         </div>
      </div>
      </section>
      <section ngClass="listinpackages-wrapper">
        <div ngClass="container_1280px">
          <div ngClass="row">
            <div ngClass="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div ngClass="listing-packages-tabs">
                    <mat-tab-group>
                        <mat-tab label="{{professionalType.name}}"  *ngFor="let professionalType of professionalTypes">
                          <div class="package-listing-tab-content-title text-center">
                            <h2>Ovaluate Listing Packages for Landlords/Owners</h2>
                            <p>Some of our picked properties near your location.</p>
                          </div>
                          <div ngClass="pricing-container-sec">
                            <mat-tab-group>

                              <mat-tab label="{{list.name}}" (click)="loadProfessionalAndListingType(2,2 )"
                                       *ngFor="let list of propertyListingTypes">
                                <div class="row justify-content-center">
                                  <div class="col-lg-4 col-md-6" *ngFor="let list of professionalAndListingType">
                                    <div [ngClass]="{'featured-listing': list.name === 'Standurd', 'standard-listing' : list.name !== 'Standurd' }">
                                      <span class="recomended-bar" *ngIf="list.name == 'Standurd'">Recommended</span>
                                        <div class="listing-table-heading text-center">
                                          <h3>{{list.name}}</h3>
                                        </div>

                                          <div class="listing-table-pricing text-center" *ngIf="list.name != 'free'" >
                                            <p>{{list.price}}AED</p>
                                            <h4>{{list.price}} AED</h4>
                                            <span>inclusive of VAT</span>
                                            <h6>You Save: {{list.price}} AED / {{list.discountPercentage}}% Off</h6>
                                          </div>
                                          <div class="listing-table-pricing text-center" *ngIf="list.name == 'free'">
                                            <h4>{{list.name}}</h4>
                                          </div>

                                          <div class="listing-table-btn text-center">
                                              <a routerLink="">Buy Now!</a>
                                          </div>
                                          <hr>
                                          <ul class="package-listing-details">
                                            <li *ngFor="let childList of list.propertyListingPackageFeatures">
                                              <img src="{{rightarrow}}">
                                              {{childList.detail}}
                                            </li>
                                            <ul class="package-listing-details-inner" *ngFor="let subFeatures of list.propertyListingPackageSubFeatures">
<!--                                              <li>Leads via Email</li>-->
<!--                                              <li>Leads via WhatsAPP</li>-->
<!--                                              <li>Leads via Phone Call</li>-->
                                            </ul>
                                          </ul>
                                      </div>
                                  </div>

                                </div>
                              </mat-tab>
                            </mat-tab-group>
                        </div>
                        </mat-tab>

                      </mat-tab-group>
                </div>
            </div>
            </div>
            </div>
      </section>
  </section>
  <footer ngClass="footer-sec">
    <app-footer></app-footer>
  </footer>
