.page-custom-heading h1{
    color: var(--body-color);
    margin-bottom: 20px;
    font-weight: bold;
  } 

  .page-custom-heading p{
    color: var(--body-color);
  }

  .package-listing-tab{
    padding: 10px 20px;
  }
  .package-listing-tab .nav-pills .nav-link{
    color: var(--gray);
    border-bottom: 2px solid var(--body-color);
    border-radius: 0px;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 5px;
  }
  .package-listing-tab .nav-pills .nav-link.active{
    background: transparent;
    color: var(--primary-color);
    font-weight: bold;
    border-bottom: 2px solid var(--primary-color);
  }

  .package-listing-tab-content-title{
    margin-bottom: 40px;
    margin-top: 60px;
  }

  .package-listing-tab-content-title h2{
    color: var(--black);
    font-size: 32px;
    font-weight: bold;
  }
  .package-listing-tab-content-title p{
    color: var(--primary-color-light);
  }

  .package-listing-tab-content-tab .nav{
    align-items: center;
    justify-content: center;
  }

  .package-listing-tab-content-tab .nav .nav-item{
    margin-bottom: 20px;
  }

  .package-listing-tab-content-tab .nav-pills .nav-link{
    display: flex;
    align-items: center;
    width: max-content;
    border: 2px solid var(--primary-color-light);
    background: transparent;
    padding: 10px 15px;
    border-radius: var(--border-radius);
    color: var(--primary-color-light);
    margin: 0px 5px;
    font-size: 16px;
    font-weight: 500;
  }
  .package-listing-tab-content-tab .nav-pills .nav-link img{
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  .package-listing-tab-content-tab .nav-pills .nav-link img.img-inactive{
    display: block;
  }

  .package-listing-tab-content-tab .nav-pills .nav-link img.img-active{
    display: none;
  }

  .package-listing-tab-content-tab .nav-pills .nav-link.active{
    border: 2px solid var(--stroke-color);
    background: var(--background-color-tabs);
    border-radius: var(--border-radius);
    color: var(--black);
  }

  .package-listing-tab-content-tab .nav-pills .nav-link.active .img-active{
    display: block;
  }
  .package-listing-tab-content-tab .nav-pills .nav-link.active .img-inactive{
    display: none;
  }


  .standard-listing, .featured-listing, .premium-listing{
    height: 100%;
    width: 100%;
    max-width: 344px;
    margin: 0 auto;
    box-shadow: 1px 1px 33px -32px #000929;
  }

  .standard-listing{
    border: 1px solid var(--stroke-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    padding-bottom: 20px;
  }

  .standard-listing .listing-table-heading{
    background: #41565F;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .standard-listing .listing-table-heading h3{
    color: var(--body-color);
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .standard-listing .listing-table-pricing{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-bottom: 20px;
  }
  .standard-listing .listing-table-pricing h4{
    margin: 0;
    color: var(--gray);
    font-weight: 600;
  }

  .listing-table-btn{
    margin-bottom: 25px;;
  }

  .listing-table-btn a{
    background: #E5E7EB;
    color: var(--gray);
    padding: 12px 60px;
    border-radius: 5px;
    font-weight: 500;
  }

  .standard-listing hr{
    width: 100%;
    height: 1px;
    background: var(--stroke-color);
  }
  .package-listing-details li .fa-play{
    font-size: 10px !important ;
    margin-right: 10px !important;
    color: var(--primary-color);
  }
  ul.package-listing-details li img {
    margin-right: 10px;
}
ul.package-listing-details-inner {
    position: relative;
}



  .premium-listing{
    border: 1px solid var(--stroke-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    padding-bottom: 20px;
  }

  .premium-listing .listing-table-heading{
    background: #41565F;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .premium-listing .listing-table-heading h3{
    color: var(--body-color);
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .premium-listing .listing-table-pricing{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .premium-listing .listing-table-pricing h4{
    margin: 0;
    color: var(--gray);
    margin-bottom: 0;
    font-weight: 600;
  }

  .premium-listing .listing-table-pricing p{
    margin-bottom: 0px;
    font-size: 10px;
    text-decoration: line-through;
    color: var(--primary-color-light);
    margin-top: 5px;
  }
  .premium-listing .listing-table-pricing span{
    font-size: 9px;
    color: var(--primary-color-light);
    margin: 0;
  }
  .premium-listing .listing-table-pricing h6{
    font-size: 11px;
    color: var(--light-green);
  }

  .listing-table-btn{
    margin-bottom: 25px;;
  }

  .listing-table-btn a{
    background: #E5E7EB;
    color: var(--gray);
    padding: 12px 60px;
    border-radius: 5px;
    font-weight: 500;
  }

  .premium-listing hr{
    width: 100%;
    height: 1px;
    background: var(--stroke-color);
  }
  .premium-listing-details .package-listing-details-inner li{
    list-style: disc;
    margin: 10px;
    font-size: 14px;
  }
  .package-listing-details-inner {
    list-style: none;
}




  .standard-listing .listing-table-pricing{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .standard-listing .listing-table-pricing h4{
    margin: 0;
    color: var(--gray);
    margin-bottom: 0;
    font-weight: 600;
  }

  .featured-listing .listing-table-pricing p{
    margin-bottom: 0px;
    font-size: 10px;
    text-decoration: line-through;
    color: var(--primary-color-light);
    margin-top: 5px;
  }
  .featured-listing .listing-table-pricing span{
    font-size: 9px;
    color: var(--primary-color-light);
    margin: 0;
  }
  .featured-listing .listing-table-pricing h6{
    font-size: 11px;
    color: var(--light-green);
  }
  



  
  .featured-listing{
    border: 1px solid var(--stroke-color);
    border-radius: var(--border-radius);
    position: relative;
    padding-bottom: 20px;
  }

  .featured-listing span.recomended-bar{
    margin-bottom: 0;
    font-size: 11px;
    position: absolute;
    margin-top: -12px;
    text-align: center;
    margin-left: auto;
    background: #2DB57D;
    padding: 2px 5px 1px;
    border-radius: 2px;
    color: var(--body-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: auto;
    left: 0;
    right: 0;
    max-width: 119px;
  }

  .featured-listing .listing-table-heading{
    background: #595ad4;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .featured-listing .listing-table-heading h3{
    color: var(--body-color);
    margin: 0;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .featured-listing .listing-table-pricing{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .featured-listing .listing-table-pricing h4{
    margin: 0;
    color: var(--gray);
    margin-bottom: 0;
    font-weight: 600;
    line-height: 21px;
  }

  .featured-listing .listing-table-pricing p{
    margin-bottom: 0px;
    font-size: 14px;
    text-decoration: line-through;
    color: rgba(0,0,0,0.2);
    margin-top: 5px;
    font-weight: 700;
  }
  .featured-listing .listing-table-pricing span{
    margin-bottom: 0px;
    font-size: 12px;
    color: rgba(0,0,0,0.2);
    margin-top: 0px;
    font-weight: 500;
  }
  .featured-listing .listing-table-pricing h6{
    font-size: 14px;
    color: var(--light-green);
    margin-bottom: 0px;
  }

  .listing-table-btn{
    margin-bottom: 15px;;
  }

  .listing-table-btn a{
    background: #E5E7EB;
    color: var(--gray);
    padding: 11px 15px;
    border-radius: 5px;
    font-weight: 500;
    width: 100%;
    display: block;
    max-width: 210px;
    margin: 0 auto;
  }

  .featured-listing hr{
    width: 100%;
    height: 1px;
    background: var(--stroke-color);
  }

  .package-listing-details{
    margin-top: 20px;
  }
  .package-listing-details>li{
    list-style: none;
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    color: #4A565F;
  }
  .featured-listing-details .package-listing-details-inner li{
    list-style: disc;
    margin: 10px;
    font-size: 14px;
  }
  .package-listing-details-inner>li {
    position: relative;
    color: #4A565F;
    font-size: 14px;
    margin-bottom: 5px;
}
.package-listing-details-inner>li::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #4A565F;
    left: -15px;
    top: 8px;
}
ul.package-listing-details-inner {
    margin-bottom: 15px;
}
.featured-listing .package-listing-details {
    width: 100%;
    max-width: 68%;
    padding-left: 0px;
    margin: 0 auto;
}
  .inner-banner-heading h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 8px;
}
.inner-banner-heading p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 0px;
    font-weight: 400;
}
.list-package-banner-sec {
    background-size: cover;
    background-repeat: no-repeat;
}
.list-package-banner-sec .inner-banner-heading {
    padding-top: 7%;
    padding-bottom: 15.5%;
}
.pricing-container-sec {
    padding-bottom: 25px;
}
.featured-listing .listing-table-btn a {
    background-color: #2DB57D !important;
    color: #fff !important;
}

