<header>
    <app-second-header></app-second-header>
</header>
<section ngClass="auth-wrapper">
<div ngClass="form-design login-page">
  <form class="auth-form" [formGroup]="Login" >
    <div ngClass="wecome-message">
      <h2>Welcome to Ovaluate</h2>
      <p>Welcome back! Please enter your details.</p>
    </div>
    <mat-form-field class="full-width input-design" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="Email" placeholder="Email" required ngModel >
      
    </mat-form-field>
    <div *ngIf="submitted && validate['Email'].errors" class="alert alert-danger">
      <div *ngIf="validate['Email'].errors['required']">Email is required</div>
    </div>
    
    <mat-form-field class="full-width input-design padd-b-0" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="Password" required placeholder="Password" ngModel>
      <mat-icon matSuffix (click)="togglePasswordVisibility()">
        {{showPassword?'visibility_off':'visibility'}}
    </mat-icon>    
    </mat-form-field>
    <div *ngIf="submitted && validate['Password'].errors" class="alert alert-danger">
      <div *ngIf="validate['Password'].errors['required']">Password is required</div>
    </div>
    <div ngClass="forgot-password text-right">
      <a routerLink="/forgot">Forgot Password?</a>
    </div>
    <div ngClass="terms-text">
      <p>By click on Continue button <br/>
        I accept the <a routerLink="">terms & conditions</a> of ovaluate.</p>
    </div>
    <mat-card-actions (click)="ProceedLogin()">
      <button mat-raised-button type="submit" ngClass="submit-btn">Login</button>
   </mat-card-actions>
    <div ngClass="or-connect">
      <p>Or connect with</p>
    </div>
    <div class="continue-btns">
      <button ngClass="google-btn"><img src="{{goggle}}"> Continue with Google</button>
      <button ngClass="apple-btn"><img src="{{apple}}"> Continue with Apple</button>
    </div>
    <div ngClass="dont-have-account text-center">
      <p>Don’t have an account? <a routerLink="/signup">Sign up for free</a></p>
    </div>
  </form>
</div>
</section>
