span {
  font-family: "Cairo";
  font-size: 14px;
}
.property-details__map {
  width:100%;
  height:400px;
}
.searchLocation {
  top: 12px !important;
  left: 50% !important;
  // transform: translateX(-50%);
  width: 90%;
  background-color: #fff;
  padding: 12px 16px;
  border-radius: 8px;
}
.locate-me-sec {
  top: 30px;
}
