<header>
    <app-header></app-header>
</header>
<section [ngClass]="'inner-cntnt-wrapper slide-left-bar blogs_sec padd-0'">
    <section ngClass="blog_inner-banner-blocks">
        <div ngClass="container_1280px">
            <div ngClass="exploredetails-breadcrumb-wrapper black-text-breadcrumb mt-3">
                <app-breadcrumb></app-breadcrumb>
            </div>
            <div ngClass="blogs-details-hdr">
                <div ngClass="heading-32px-design mb-3">
                    <h2 *ngIf="blog && blog.blogTitle">{{blog.blogTitle}}</h2>
                    <p *ngIf="blog && blog.blogDate">By <a routerLink="">Ovalaute</a> · <span
                            ngClass="date">{{blog.blogDate.split("T")[0]}}</span> <a routerLink="/blog-category">· Tips
                            & Advice</a></p>
                </div>
                <div ngClass="key-take-ways-sec">
                    <h5>Key Takeaways</h5>
                    <ul *ngIf="blog && blog.blogDetails">
                        <li *ngFor="let item of blog.blogDetails">{{item.keyTakeAway}}</li>
                    </ul>
                </div>
                <div ngClass="blog_details-img mb-4">
                    <img *ngIf="blog && blog.blogDocument.fileUrl" src="{{blog.blogDocument.fileUrl}}">
                </div>
                <div class="blog-post-content">
                </div>
            </div>
        </div>
    </section>
    <section ngClass="about-ovalute_blog-cntnt">
        <div ngClass="container_1280px">
            <div ngClass="about_ovalute-headings">
                <h5>About Ovaluate</h5>
                <p>Ovaluate is a global property valuation and real estate business service, matching technology-driven
                    solutions with the professionalism and dedication of an expert team. Ovaluate is a global property
                    valuation and real estate business service, matching technology-driven solutions with the
                    professionalism and dedication of an expert team.Ovaluate is a global property valuation and real
                    estate.</p>
            </div>
        </div>
    </section>
    <section ngClass="position-relative blogs_sec">
        <div ngClass="container_1280px">
            <div ngClass="section-title">
                <div ngClass="section-custom-title-left">
                    <h4>Related Blogs</h4>
                    <p>Some of our picked properties near your location.</p>
                </div>
                <div ngClass="section-custom-title-right">
                    <a [routerLink]="['/blog-category']">Read all</a>
                </div>
            </div>
            <div ngClass="row" *ngIf="blog && blog.blogCategory.blogs">
                <div ngClass="col-lg-4 col-md-6 blog-places-col" *ngFor=" let item of blog.blogCategory.blogs">
                    <a routerLink="/blogs-details/{{item.id}}">
                        <img *ngIf="item.blogDocument && item.blogDocument.fileUrl"
                            src="https://beta.ovaluate.com/{{item.blogDocument.fileUrl}}"
                            ngClass="img-fluid blog-image-homepage" alt="">
                        <!-- <span ngClass="blog-tag">
                            <img [src]="item.src2" ngClass="img-fluid" alt="">
                        </span> -->
                        <div ngClass="blog-title-content">
                            <h5 *ngIf="item && item.blogTitle">{{item.blogTitle}}</h5>
                            <span *ngIf="item && item.blogData">{{item.blogDate.split("T")[0]}}</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</section>
<footer ngClass="footer-sec">
    <app-footer></app-footer>
</footer>