/* You can add global styles to this file, and also import other style files */ 
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --body-color: #fff;
  --sidebar-color: #fff;
  --primary-color: #1b1571 !important;
  --primary-color-light: #888888;
  --toggle-color: #ddd;
  --text-color: #4a4a4a;
  --sidebar-border-color: #f0f3f5;
  --sidebar-hover-color: #f0f3f5;
  --stroke-color: #e0def7;
  --background-color-tabs: #f5f7ff;
  --border-radius: 0.375rem;
  --gray: #4a565f;
  --footer-color: #000929;
  --footer-social-color: #b3b5bf;
  --light-green: #2db57d;
  --black: #000;
  --light-blue: #49448D;
  --blue: #3C51BD;
  --light-ov-blue: #D0D8FD;
  --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
::selection {
  background-color: var(--primary-color);
  color: #fff;
}

$color_1: #1c1c71;
$color_2: var(--body-color);
$color_3: #192024;
$font-family_1: "Roboto", sans-serif;
$background-color_1: var(--body-color);
$background-color_2: transparent;

body {
	max-width: 100vw;
	overflow-x: hidden;
	background-color: $background-color_1;
	transition: var(--tran-05);
	max-width: 100vw;
	overflow-x: hidden;
	a {
		text-decoration: none;
	}
}
.sidebar-active {
	#sidebar {
		width: 250px !important;
		z-index: 999 !important;
		.sidebar-toggle {
			justify-content: flex-start !important;
			padding-left: 10px;
		}
		.side-nav-text {
			display: block !important;
		}
		.nav-items {
			a {
				justify-content: flex-start !important;
				padding-left: 10px;
			}
		}
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family_1;
}
html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}
.blue-heading {
	h2 {
		color: $color_1;
		font-size: 34px;
		font-weight: 600;
	}
}
a {
	text-decoration: none;
}
.text-right {
	text-align: right;
}
.m-auto {
	margin: auto;
}
.wd-30 {
	width: 30%;
}
.pt-60 {
	padding-top: 60px !important;
}
.pt-80 {
	padding-top: 80px !important;
}
.pt-40 {
	padding-top: 40px !important;
}
.pb-40 {
	padding-bottom: 40px;
}
.pb-60 {
	padding-bottom: 60px;
}
.pb-80 {
	padding-bottom: 80px !important;
}
.pb-120 {
	padding-bottom: 120px !important;
}
.p-40-80 {
	padding: 80px 40px !important;
}
.p-40-100 {
	padding: 80px 100px !important;
}
.mt-120 {
	margin-top: 120px !important;
}
.mb-60 {
	margin-bottom: 60px;
}
.mt-60 {
	margin-top: 60px;
}
.bg-primary-color {
	background: #1B1571;
}
.wrapper-section {
	overflow-x: hidden !important;
	padding-left: 15px;
	padding-right: 15px;
}
#contant-wrapper {
	width: 100%;
	max-width: calc(100% - 64px);
	margin-left: auto;
}
.container_1280px {
	width: 100%;
	max-width: 1280px;
	padding: 0px 15px;
	margin: 0 auto;
}
.container_1220px {
	width: 100%;
	max-width: 1220px;
	padding: 0px 15px;
	margin: 0 auto;
}
.custom-wrapper-section {
	padding: 40px 20px;
}
.border-top-light {
	border-top: 1px solid var(--light-ov-blue);
}
.nice-select.custom-select {
	width: 100%;
	border: 0;
}
.dropdown-menu.active {
	display: block !important;
}
.listing-slider-area {
	.owl-dot {
		span {
			width: 20px !important;
			height: 3px !important;
			border-radius: 0px !important;
		}
	}
}
.tenants-sec-wrapper {
	.owl-item {
		padding-right: 28px;
	}
}
.owl-theme {
	.owl-dots {
		.owl-dot.active {
			span {
				background: #0B26AD !important;
			}
		}
		.owl-dot {
			&:hover {
				span {
					background: #0B26AD !important;
				}
			}
		}
	}
}
.testimonial-section {
	.owl-dots {
		span {
			width: 25px !important;
			height: 3px !important;
			margin-left: 5px !important;
			margin-right: 5px !important;
		}
	}
	.owl-carousel {
		>.owl-dots {
			position: absolute;
			right: 0;
			bottom: -11px;
		}
	}
}
button {
	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}
}
input {
	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}
}
select {
	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}
}
textarea {
	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}
}
.homepage-search-section {
	.mat-form-field {
		.mat-form-field-wrapper {
			padding-bottom: 0px;
			background: transparent;
			.mat-form-field-flex {
				border: none !important;
				background: transparent;
				padding: 0px;
			}
		}
		display: block;
		position: relative;
		text-align: left;
		background-color: $background-color_2;
		.mat-form-field-infix {
			padding: 0px;
			border: none;
		}
	}
	.mat-form-field-underline {
		display: none;
	}
	.mat-select-value-text {
		color: $color_3;
		font-size: 14px;
		font-weight: 500;
	}
	.mat-select-arrow {
		border: none;
		background: url('./assets/images/dropdown.svg');
		width: 17px;
		height: 17px;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		top: 8px;
	}
}
.footer-sec {
	padding-top: 71px;
	a {
		&:hover {
			color: $color_1 !important;
			cursor: pointer;
		}
	}
}
@media (min-widthh: 1200px) {
	.tenants-sec-wrapper {
		.owl-stage-outer.ng-star-inserted {
			overflow: visible;
		}
		.owl-item {
			min-width: 500px;
		}
	}
}
@media (max-width:1920px) and (min-width:767.98px) {
	.lisitng-right-img {
		margin-left: 40px;
	}
	.property-listing-slider-right {
		overflow: hidden !important;
		margin: auto;
	}
}
@media (max-width:991px) {
	.mockup-conatiner {
		.p-40-100 {
			padding: 60px 40px !important;
		}
	}
	.tenants-sec-wrapper {
		.owl-item {
			padding-right: 10px !important;
			padding-left: 10px !important;
		}
	}
}
@media (max-width:767px) {
	.explore-places-col {
		margin-bottom: 20px;
		img {
			width: auto !important;
			height: 300px !important;
		}
	}
	.explore-place-content {
		width: calc(100% - 20px);
	}
	.section-custom-title-right {
		width: auto !important;
	}
	.mockup-right {
		position: relative;
		width: auto !important;
		height: auto !important;
		img {
			position: relative;
			width: auto !important;
			height: auto !important;
			max-width: 100% !important;
			text-align: center;
			margin-left: 0px;
			margin-bottom: -55px;
		}
	}
	.barcode-mockup-img {
		position: absolute;
		bottom: 50%;
		left: 75%;
		width: 120px;
	}
	.total-transaction {
		margin: 20px 0px;
		p {
			text-align: center !important;
		}
		h2 {
			text-align: center !important;
		}
	}
	.blog-places-col {
		.blog-image-homepage {
			width: 100%;
			height: 300px !important;
		}
	}
	.property-listing-slider-left {
		ul {
			li {
				font-size: 13px;
			}
		}
	}
	.mockup-left {
		ul {
			li {
				font-size: 13px;
			}
		}
	}
}
@media (max-width:550px) {
	.property-listing-slider-left {
		padding: 20px !important;
	}
	.section-custom-title-right {
		a {
			margin-right: 0;
			font-size: 12px;
		}
	}
	.barcode-mockup-img {
		position: relative !important;
		left: 0;
		width: 110px;
	}
	.mockup-conatiner {
		.p-40-100 {
			padding: 60px 10px !important;
		}
	}
	.testimonial-section {
		padding: 20px;
	}
	.testimonial-content {
		p {
			font-size: 12px;
			margin-top: 30px;
		}
	}
	.testimonial-info {
		.client-img {
			width: 80px !important;
		}
		.client-info {
			h5 {
				font-size: 16px;
			}
			p {
				margin-top: 10px;
			}
		}
	}
	.download-btns {
		display: flex;
		margin: 20px 0px;
		flex-direction: column;
		a {
			margin: 10px 0px;
		}
	}
	.testimonial-title {
		p {
			width: 100%;
			font-size: 14px;
		}
	}
	.recent-data-realestate {
		h2 {
			font-size: 24px;
		}
		p {
			font-size: 12px;
		}
	}
	.section-title {
		.section-custom-title-right {
			p {
				font-size: 12px;
			}
		}
		p {
			font-size: 12px;
		}
	}
	.virtual-tour {
		p {
			font-size: 12px;
		}
	}
	.find-best-deal {
		p {
			font-size: 12px;
		}
	}
	.get-ready-apply {
		p {
			font-size: 12px;
		}
	}
	.explore-place-content {
		p {
			font-size: 12px;
		}
	}
}
@media (max-width:400px) {
	.property-details {
		span {
			margin: 0px 5px;
		}
	}
	.barcode-mockup-img {
		display: none;
	}
}
@media (min-width: 1200px) {
	.tenants-sec-wrapper {
		.owl-stage-outer {
			overflow: visible !important;
		}
	}
	.easy-tenants-landlords-sec {
		.tenants-bar-left {
			position: relative;
			z-index: 0;
			&::before {
				content: '';
				position: absolute;
				left: -100%;
				right: 0;
				top: 0;
				bottom: 0;
				background: #1c1c71;
				width: 100%;
				height: 100%;
				z-index: 9;
			}
		}
	}
}


.disabled{
	pointer-events: none;
}
.slide-left-bar {
	width: 100%;
	max-width: calc(100% - 64px);
	margin-left: auto;
}
.green-btn {
    padding: 13px 32px;
    color: var(--body-color);
    background: var(--light-green);
    font-size: 14px;
    border-radius: 8px;
    display: inline-block;
}
.green-btn:hover {
    background: #1c1c71 !important;
    color: #fff !important;
}
.mat-expansion-panel-header .mat-expansion-indicator::after {
	content: "+";
    border: 0;
    transform: none;
    font-size: 30px;
    color: rgba(0,0,0,0.2);
  }
  
  .mat-expansion-panel-header.mat-expanded .mat-expansion-indicator::after {
	content: "-";
	border: 0;
    font-size: 30px;
    color: rgba(0,0,0,0.2);
  }
  .auth-header {
    display: flex;
    align-items: center;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.09);
    padding: 20px 75px;
	justify-content: center;
}
.auth-header .back-tag {
    position: absolute;
    left: 75px;
}
.auth-header .back-tag>a {
    color: #4A565F;
    font-size: 14px;
    font-weight: 400;
	display: flex;
    align-items: center;
	opacity: 0.5;
}
.auth-header .back-tag > a .mat-icon {
    width: auto;
    height: auto;
    font-size: 18px;
    display: inline-block;
    position: relative;
    bottom: 1px;
    margin-right: 7px;
}
.dont-have-account>p {
    margin-bottom: 0px;
    font-size: 14px;
    text-align: center;
    color: #4A565F;
    font-weight: 400;
}


.auth-wrapper {
    background: linear-gradient(180deg, #FFFFFF 0%, #F4F6FF 50%, #FFFFFF 100%);
    padding: 130px 0px;
}
.form-design {
    background: #FFFFFF;
    border: 1px solid #F0F3F5;
    border-radius: 10px;
    width: 100%;
    max-width: 482px;
    margin: 0 auto;
    padding: 34px 52px;
}
.wecome-message {
    text-align: center;
}
.wecome-message h2 {
    color: #000929;
    font-size: 32px;
	margin-bottom: 0px;
}
.wecome-message p {
    font-size: 14px;
    color: rgba(0,9,41,0.5);
    font-weight: 400;
	margin-bottom: 20px;
}
.mat-form-field {
    display: block !important;
    width: 100%;
}
.input-design .mat-form-field-underline {
    display: none !important;
}
.input-design .mat-form-field-flex {
    background: #fff;
    border: 1px solid #D3DBFF;
    border-radius: 8px !important;
	padding-top: 8px !important;
}
.input-design .mat-form-field-flex input {
    font-size: 14px;
    color: #000;
}
.input-design mat-label {
    font-size: 14px;
    color: rgb(0,22,25,0.7);
}
.input-design .mat-form-field-flex .mat-icon {
    color: #4A565F;
}
.forgot-password>a {
    color: #0B26AD;
    font-size: 14px;
    text-decoration: none;
}
.terms-text p {
    font-size: 14px;
    text-align: center;
    color: #4A565F;
    font-weight: 400;
}
.terms-text p a{
	color: #0B26AD;
    font-size: 14px;
    text-decoration: none;
}
.submit-btn {
    background: #0B26AD;
    border-radius: 8px;
    width: 100%;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 17px 15px;
}
.or-connect p {
    margin-bottom: 0px;
    display: inline-block;
    font-size: 14px;
    color: #4A565F;
    font-weight: 400;
    padding: 0px 10px;
    background: #fff;
    position: relative;
}
.or-connect {
    text-align: center;
	position: relative;
	margin: 20px 0px;
}
.or-connect::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 12px;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 1px;
}
.continue-btns>button.google-btn {
    display: block;
    width: 100%;
    border: 1px solid #D6DDEB;
    background: transparent;
    color: #000929;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 8px;
}
.continue-btns>button.google-btn>img {
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}
.continue-btns>button.apple-btn {
    display: block;
    width: 100%;
    border: 1px solid #2E2E2E;
    background: #2E2E2E;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 8px;
}
.continue-btns>button.apple-btn>img {
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}
.dont-have-account>p a {
    color: #0B26AD;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
}
.input-design.padd-b-0>.mat-form-field-wrapper {
    padding-bottom: 0px;
}
.forgot-password {
    padding-top: 7px;
    padding-bottom: 15px;
}
.terms-text {
    padding-bottom: 5px;
}
.continue-btns>button {
    margin-bottom: 12px;
}
.dont-have-account {
    padding-top: 30px;
}
.hide {
    display: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.info-icons-block.active+.info-text.hide {
    display: block;
}
.info-text {
    color: #0B26AD;
    font-size: 14px;
    text-align: center;
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #0f2ead !important;
}
.justify-content-spacebw{
	justify-content: space-between;
}

.otp-form-sec .input-design {
    width: 15% !important;
    box-sizing: border-box;
}
.otp-form-sec .mat-form-field-label-wrapper {
    position: initial !important;
}
.otp-form-sec .input-design .mat-form-field-infix {
    padding: 0px !important;
    margin: 0px !important;
    text-align: center !important;
	border: none !important;
}
.otp-form-sec .input-design .mat-form-field-flex {
    padding-top: 19px !important;
    padding-bottom: 20px !important;
}
.otp-info-sec>.otp-Txt {
    margin-bottom: 2px;
    color: #4A565F;
    font-size: 16px;
    font-weight: 500;
}
.otp-info-sec>.otp-number {
    color: #0B26AD;
    font-size: 16px;
    font-weight: 600;
}
.otp-info-sec {
    margin-bottom: 30px;
}
.otp-form-time>.time {
    font-size: 14px;
    color: rgba(0,0,0,0.2);
	margin-bottom: 0px;
}
.resend-code {
    border: none;
    padding: 0px;
    background: transparent;
    font-size: 14px;
    line-height: normal;
    color: #0B26AD;
}
.otp-form-time {
    margin-bottom: 50px;
}
.form-design.thanku-page h2 {
    margin-bottom: 10px;
}
.form-design.thanku-page .submit-btn {
    width: 100%;
    display: block;
    margin-top: 55px;
}
.submit-btn:hover {
    background: #000 !important;
    color: #fff !important;
}
.list-properties-sec {
    padding-top: 65px;
}
.heading-title-sec h2 {
    color: #000929;
    font-size: 32px;
}
.heading-title-sec p {
    color: rgba(0,9,41,0.5);
    font-size: 14px;
}
.listing-container {
    width: 100%;
    padding: 0px 15px;
    max-width: 910px;
    margin: 0 auto;
}
.listing-property-ul .mat-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
	position: relative;
	padding-bottom: 26px;
    margin-bottom: 33px;
}
.listing-property-ul .mat-list .mat-list-item a {
    color: #4A565F;
    font-size: 15px;
    font-weight: 500;
}
.listing-property-ul .mat-list .mat-list-item a>span {
    width: 28px;
    height: 28px;
    background: #D3DBFF;
    display: inline-flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #4A565F;
    font-size: 12px;
    margin-right: 4px;
	position: relative;
    bottom: 1px;
}
.form-border-wrapper {
    border: 1px solid #D3DBFF;
    border-radius: 8px;
    padding: 28px 22px;
}
.listing-property-ul .mat-list .mat-list-item::after {
    content: '';
    position: absolute;
    right: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid #100A55;
    border-right: 2px solid #100A55;
    transform: rotate(45deg);
    top: 17px;
	opacity: 0.5;
}
.listing-property-ul .mat-list .mat-list-item {
    width: 20%;
    display: flex;
    justify-content: center;
	padding: 0px 10px;
    pointer-events: none;
}
.listing-property-ul .mat-list .mat-list-item:last-child:after{
display: none;
}
.listing-property-ul .mat-list::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: #F0EFFB;
    max-width: 94%;
    margin: 0 auto;
}
.listing-property-ul .mat-list .mat-list-item.active a > span {
    background: #0B26AD;
    color: #fff;
}
.list-property-header .h5-heading {
    color: #000929;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
}
.list-property-header p {
    font-size: 14px;
    color: rgba(0,0,0,0.4);
    font-weight: 400;
	margin-bottom: 0px;
}
.list-property-header {
    padding-bottom: 10px;
    border-bottom: 1.5px solid #F0EFFB;
    margin-bottom: 20px;
}
.select-design .mat-form-field-flex {
    border-radius: 8px !important;
    background: #F0F3F5 !important;
    height: 48px;
    padding-top: 6px !important;
}
.select-design .mat-form-field-underline {
    display: none !important;
}
.select-design .mat-select-arrow-wrapper {
	background-image: url(./assets/images/drop-arrow.svg);
	background-size: 16px;
    background-repeat: no-repeat;
    background-position: 100% center;
    height: 14px;
    width: 16px;
    position: relative;
    right: 10px;
}
.select-design .mat-form-field-label {
    font-size: 16px;
    color: #4A565F;
    font-weight: 400;
}
.select-design .mat-select-arrow-wrapper .mat-select-arrow {
    border: none !important;
}
.select-design>label {
    color: #000929;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
}
.h6-design {
    color: #000929;
    font-size: 16px;
    font-weight: 500;
}
.location-information {
    padding-top: 15px;
}
.location-info-lists .mat-list-item-content {
    width: 100%;
    justify-content: space-between;
}
.location-info-lists .mat-list-item {
    height: auto !important;
}
.location-info-lists .mat-list-item-content {
    padding: 0px !important;
}
.location-div-block .loc-heading {
    font-size: 16px;
    color: #2E2E2E;
    font-weight: 400;
    margin-bottom: 0px;
    padding-left: 38px;
}
.location-div-block p {
    margin-bottom: 0px;
    color: #5E6870;
    font-size: 14px;
    font-weight: 400;
    padding-left: 38px;
}
.location-div-block img {
    position: absolute;
    top: 0;
}
.change-btn {
    color: #000000;
    font-size: 14px;
    border: 1px solid #D3DBFF;
    background: transparent;
    padding: 13px 21px;
    border-radius: 5px;
}
.change-btn:hover {
    background: #0f2ead;
    color: #fff !important;
}
.unit-info-sec {
    padding-top: 25px;
}
.save-continue-sec {
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.save-continue-sec .save-continue-btn {
    background: #0B26AD;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding: 17px 15px;
    border-radius: 8px;
    width: 100%;
    max-width: 359px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    text-align: center;
}
.save-continue-sec .save-continue-btn:hover {
	background: #000;
}
.property-dropdowns-list .dropdown-toggle {
    width: 100%;
    background-color: #F0F3F5;
    text-align: left;
    color: #000929;
    font-size: 13px;
    font-weight: 500;
    padding: 12px 10px;
    background-image: url(./assets/images/drop-arrow.svg);
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 90% center;
    padding-right: 16px;
    border: none !important;
}
.property-dropdowns-list .dropdown-toggle::after{
	display: none !important;
}
.property-dropdowns-list .dropdown-menu {
    border: none;
    padding: 15px;
    width: 300px;
    box-shadow: 1px 2px 45px -39px #000929;
}
.h5-heading {
    color: #000929;
    font-size: 16px;
    margin-bottom: 15px;
}
.property-dropdowns-list .dropdown-toggle {
    color: #4A565F;
    font-size: 16px;
    font-weight: 300;
}
.property-dropdowns-list .property-types-cntnts .property_sel {
    background: #fff;
    outline: 1px solid #0B26AD;
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    outline-offset: 3px;
}
.form-border-wrapper .list-new-proerty-cntnt .dropdown .property-types-cntnts input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    cursor: pointer;
    opacity: 0;
}
.form-border-wrapper .list-new-proerty-cntnt .dropdown .property-types-cntnts input:checked+.property_sel {
    background: #0B26AD !important;
}
.property-dropdowns-list .proprty_name p {
	margin-bottom: 0px;
    padding-left: 15px;
    color: #000929;
    font-size: 16px;
    font-weight: 400;
}
.property-dropdowns-list ul>li {
    margin-bottom: 10px;
}
.square-selection .property_sel {
    border-radius: 3px !important;
}
.save-continue-sec>.mat-card-actions {
    width: 49%;
	text-align: left;
}
.back-btn {
    background: transparent;
    color: rgba(0,0,0,0.2);
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding: 17px 15px;
    border-radius: 8px;
    width: auto;
    text-decoration: none;
    display: block;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    max-width: 149px;
}
.back-btn:hover {
    background: #0f2ead;
    color: #fff;
}
.new-listd-property-info {
    border: 1.5px solid #F0EFFB;
    box-shadow: 0px 4px 20px rgba(14, 8, 84, 0.08);
    border-radius: 8px;
    background: #fff;
    padding: 27px;
    margin-bottom: 34px;
    width: 100%;
    max-width: 96%;
    margin-left: auto;
    margin-right: auto;
}
.propertyid {
    color: #0B26AD;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1px;
}
.proname {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
.new-proprty-details address {
    margin-bottom: 0px;
    font-size: 14px;
    color: #4A565F;
    font-weight: 400;
}
.proprty-units>p {
    margin-bottom: 5px;
    font-size: 14px;
    color: rgba(0,0,0,0.2);
    font-weight: 500;
}
.proprty-units .no-units-p {
    margin-bottom: 0px;
    color: #4A565F;
    font-size: 14px;
    font-weight: 400;
}
.proprty-units .no-units-p .unit-no {
    display: block;
    font-weight: 600;
}
.checkbox-design .checkbox-btn {
    color: #4A565F;
    font-size: 14px;
    font-weight: 400;
    border: 1.5px solid #E5E7EB;
    border-radius: 8px;
    padding: 8px 10px;
    background: transparent;
    display: block;
    position: relative;
    width: 100%;
}
.checkbox-design>input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    cursor: pointer;
    opacity: 0;
}
.checkbox-flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.checkbox-flex-box.two-column>div {
    width: 48%;
}
.want-to-list-for {
    width: 100%;
    max-width: 295px;
}
.checkbox-design input:checked+.checkbox-btn {
    border-color: #D3DBFF;
    background: #F5F7FF;
    color: #0B26AD;
}
.checkbox-design input:hover+.checkbox-btn {
    border-color: #D3DBFF;
    background: #F5F7FF;
    color: #0B26AD;
}
.building-type {
    margin-top: 24px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 343px;
}
.furnishing-status {
    margin-top: 30px;
    margin-bottom: 34px;
}
.checkbox-flex-box.three-column>div {
    width: 31%;
}
.property_manage-by {
    margin-top: 30px;
    margin-bottom: 30px;
}
.max-240 {
    width: 100%;
    max-width: 240px;
}
.checkbox-flex-box.six-column>div {
    width: 14%;
}
.area-list {
    margin: 30px 0px;
}
.input-flaoted-right-text .mat-form-field-flex {
    height: 44px;
}
.input-flaoted-right-text .mat-form-field-flex>.mat-form-field-infix {
    border: none;
}
.input-flaoted-right-text .area-sq {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 44px;
    display: flex;
    align-items: center;
    color: rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.2);
    padding: 0px 10px;
    background: #fff;
    border: 1px solid #D3DBFF;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.input-flaoted-right-text .mat-form-field-wrapper {
    padding-bottom: 5px;
}
.input-flaoted-right-text .text-right {
    margin-bottom: 0px;
    font-size: 12px;
    color: rgba(0,22,25,0.7);
}
.input-flaoted-left-text .mat-form-field-flex {
    height: 44px;
}
.input-flaoted-left-text .mat-form-field-flex .mat-form-field-infix {
    border: none;
}
.input-flaoted-left-text .area-sq {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 44px;
    display: flex;
    align-items: center;
    color: rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.2);
    padding: 0px 10px;
    background: #fff;
    border: 1px solid #D3DBFF;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.security-deposit-sec {
    margin: 15px 0px 30px 0px;
}
.property-description {
    margin-top: 30px;
    margin-bottom: 15px;
}
.input-date-picker .mat-form-field-flex {
    height: 44px;
}
.input-date-picker .mat-form-field-flex > .mat-form-field-infix {
    border: none;
    position: relative;
    bottom: 14px;
}
.input-date-picker .mat-form-field-flex .mat-form-field-suffix {
    position: relative;
    bottom: 8px;
    height: 43px;
    border-left: 1px solid rgba(0,0,0,0.2);
    right: -10px;
    padding: 0px 3px;
}
.input-date-picker .mat-form-field-flex .mat-form-field-suffix svg {
    color: rgba(0,0,0,0.2);
}
.input-flaoted-left-text input {
    padding-left: 50px;
}
.textarea-design .mat-form-field-flex {
    background: #fff;
    border: 1px solid #D3DBFF;
    border-radius: 8px !important;
    padding-top: 8px !important;
}
.mat-form-field-underline {
    display: none !important;
}
.textarea-design .mat-form-field-flex textarea {
    font-size: 14px;
    color: #000;
}
.textarea-design .mat-form-field-flex label {
    font-size: 14px;
    color: rgba(0,0,0,0.2);
}
.property-description .textarea-design .mat-form-field-wrapper {
    padding-bottom: 5px;
}
.textraea-hint {
    margin-bottom: 0px;
    color: rgba(0,22,25,0.7);
    font-size: 12px;
}
.checkbox-design input:checked ~ .deposit-yes.hide {
    display: block !important;
}
.deposit-yes {
    padding-top: 15px;
}
.security-deposit-sec .checkbox-design>input {
    height: 40px;
}
.deposit-yes ul {
    padding-left: 0px;
    margin-bottom: 0px;
}
.deposit-yes .input-flaoted-left-text .mat-form-field-wrapper {
    padding-bottom: 8px;
}
.deposit-yes ul .proprty_name p {
    margin-bottom: 0px;
    color: #000929;
    font-size: 16px;
    padding-left: 15px;
}
.deposit-yes ul .property_sel {
    background: #fff;
    outline: 1px solid #0B26AD;
    display: inline-block;
    width: 11px;
    height: 11px;
    border-radius: 1px;
    outline-offset: 3px;
}
.deposit-yes ul input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0;
    cursor: pointer;
}
.deposit-yes ul input:checked+.property_sel {
    background: #0B26AD;
}
.inneR-border-wrap {
    border: 1px solid #E0DEF7;
    border-radius: 8px;
    padding: 25px;
}
.propery-pictures-sec .inneR-border-wrap, .propery-videos-sec .inneR-border-wrap {
    border: 1px dashed #E0DEF7;
}
.add-more {
    margin-top: 15px;
}
.add-higlights {
    background: transparent;
    padding: 0px;
    border: none;
    color: #7065F0;
    font-size: 14px;
}
.or-divider-div {
    padding-top: 20px;
    padding-bottom: 30px;
}
.add-higlights img {
    position: relative;
    bottom: 2px;
    margin-right: 5px;
}
.highlight-sec {
    margin-top: 15px;
    margin-bottom: 30px;
}
.checkbox-flex-box.autoflex-layout {
    flex-wrap: wrap;
	justify-content: flex-start;
}
.checkbox-flex-box.autoflex-layout>div {
    min-width: 15%;
    padding: 0px 8px;
    margin-bottom: 15px;
}
.div_thumb-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.black-upload-btn .plus_icon-div {
    margin-right: 5px;
}
.black-upload-btn {
    border: none;
    background: #4A565F;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px 35px;
}
.div_thumb-wrapper input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0;
    cursor: pointer;
}
.image-thumb-cntnt p {
    font-size: 14px;
    color: rgba(0,0,0,0.2);
    text-align: center;
    font-weight: 500;
}
.div_thumb-wrapper .image-thumb-cntnt {
    order: 3;
}
.div_thumb-wrapper label {
    order: 2;
    margin: 15px 0px;
}
.upload-preview-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.upload-preview-images>img {
    width: 80px;
    height: 80px;
    margin: 0px 10px 10px 10px;
    border: 1px dashed #E0DEF7;
    padding: 10px;
    object-fit: contain;
}
.upload-preview-images > img:last-child {
    border: none;
    padding: 0px;
    margin: 0px;
}
.upload-preview-images > img.preview+.img-thumb-icon{
display: none;
}
.upload-preview-images video {
    width: 100%;
    height: auto;
    max-width: 300px;
    border: 1px dashed #E0DEF7;
    padding: 10px;
    object-fit: contain;
}
.upload-preview-images > video+.img-thumb-icon{
    display: none;
}
.div_thumb-wrapper input:hover+.black-upload-btn {
    background: #1c1c71;
}
.propery-pictures-sec {
    margin-bottom: 60px;
}
.or-divider-div p {
    margin-bottom: 0px;
    color: #4A565F;
    font-size: 16px;
    font-weight: 500;
}
.bordered-upload-btn {
    position: relative;
}
.bordered-upload-btn button img {
    margin-right: 3px;
    position: relative;
    bottom: 2px;
}
.bordered-upload-btn button {
    border: 2px dashed #E0DEF7;
    color: #0B26AD;
    font-size: 16px;
    background: transparent;
    border-radius: 8px;
    padding: 10px 15px;
    font-weight: 400;
}
.bordered-upload-btn:first-child button {
    margin-right: 25px;
}
.bordered-btn-design .outpup-filename {
    font-size: 13px;
    color: grey;
    margin-top: 5px;
    display: block;
}
.geo-loactionverify {
    margin-top: 35px;
}
.icons_txt-design {
    text-align: center;
}
.icons_txt-design h6 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 10px;
    color: #4A565F;
}
.icons_txt-design p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    color: rgba(0,0,0,0.2);
}
.verify-now-btn {
    border: none;
    background: #4A565F;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    padding: 12px 15px;
    width: 100%;
    max-width: 200px;
}
.verify-now-btn:hover {
    background: #1c1c71;
}
.away-from-property .textarea-design .verify-now-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 99;
}
.away-from-property .textarea-design {
    margin-top: 20px;
}
.verify-later p {
    margin-bottom: 0px;
    text-align: center;
    color: #000;
    font-size: 14px;
    font-weight: 500;
}
.verify-later p>a {
    color: #0B26AD;
}
.verify-later {
    margin-top: 35px;
    margin-bottom: 10px;
}
.verify-later p > a:hover {
    color: #0d6efd;
}
.succesfully-addd-property {
    text-align: center;
}
.succesfully-addd-property h2 {
    color: #16B096;
    font-size: 24px;
    font-weight: 700;
}
.succesfully-addd-property p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
    text-align: center;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}
.succesfully-addd-property h2 {
    color: #16B096;
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
}
.pulishing-right-box input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0;
    cursor: pointer;
}
.div_thumb-wrapper-horizontal {
    justify-content: space-between;
}
.pulishing-left-box-cntnt h6 {
    color: #4A565F;
    font-size: 14px;
    margin-bottom: 2px;
}
.pulishing-left-box-cntnt p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: 400;
    margin-bottom: 0px;
}
.pulishing-left-box-cntnt {
    padding-left: 15px;
}
.pulishing-left-box-img {
    padding-right: 20px;
}
.pulishing-left-box-img img {
    width: 60px;
}
.publishing-pictures-sec .upload-preview-images .preview {
    margin-top: 25px;
}
.listing-property-form-sec.pusblished-sec {
    margin-bottom: 60px;
}
.succesfully-addd-property {
    margin-bottom: 35px;
}
.publishing-pictures-sec .inneR-border-wrap {
    margin-bottom: 28px;
}
.pulishing-left-box {
    width: 70%;
}
.pulishing-right-box {
    width: 26%;
}
.blue-listing-btn {
    border: none;
    background: #0B26AD;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    padding: 6px 15px;
    width: 100%;
    max-width: 200px;
}
.blue-listing-btn .plus_icon-div {
    font-size: 24px;
    margin-right: 7px;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}
.blue-listing-btn:hover{
    background: #000;
}
.new_listing-btn {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 13px;
}
.pulishing-right-box input:hover+.black-upload-btn {
    background: #1c1c71;
}
.info-icons-block input {
    position: initial !important;
    opacity: 1 !important;
}
