html[dir="rtl"]{
	.header-section .hover-block-header .btn::after{
		margin-left: 0px;
		margin-right: 7px;
	}
	#sidebar {
		left: initial;
		right: 0;
		border-right: none;
		border-left: 1px solid #F0F3F5;
	}
	.slide-left-bar {
		margin-left: initial;
		margin-right: auto;
	}
	.overlay_counter {
		@extend .slide-left-bar;
	}
	#sidebar ul>li .side-nav-text{
		margin-left: 0px;
		margin-right: 14px;
	}
	.property-item {
		direction: rtl;
		.property-whistlist {
			right: initial;
			left: 10px;
		}
		.property-location {
			img {
				margin-right: 0px;
				margin-left: 7px;
			}
		}
		.brand-logo {
			right: 11px;
			left: initial;
		}
	}
	.section-title-right {
		li.nav-item {
			.nav-link {
				svg {
					margin-right: 0px;
					margin-left: 4px;
				}
			}
		}
	}
	.property-details {
		span {
			img {
				margin-right: 0px;
				margin-left: 5px;
			}
		}
	}
	.tag_btn {
		left: initial;
		right: -8px;
		&::before {
			left: initial;
			right: 3px;
		}
	}
	.listing-slider-area .row {
		direction: rtl;
		width: 100%;
		max-width: 100%;
	}
	.property-listing-slider-left ul {
		padding-left: 0px;
		padding-right: 1.2rem;
	}
	.tenants-sec-wrapper .owl-item>div {
		direction: rtl;
	}
	.get-ready-apply img {
		margin-right: 0px;
		margin-left: 20px;
	}
	.virtual-tour img {
		margin-right: 0px;
		margin-left: 20px;
	}
	.find-best-deal img {
		margin-right: 0px;
		margin-left: 20px;
	}
	.real-hub-sec .mockup-right {
		left: -8%;
		right: initial;
	}
	.testimonial-content {
		direction: rtl;
	}
	.testimonial-info .client-info {
		padding-left: 0px;
		padding-right: 25px;
	}
	.testimonial-section .owl-carousel > .owl-dots {
		right: initial;
		left: 0;
	}
	.testimonial-icon {
		left: initial;
		right: 39px;
	}
	.proprty_name p {
		padding-left: 0px;
		padding-right: 20px;
	}
	.residentails-unit-list .d-flex > .position-relative {
		padding-left: 0px;
		padding-right: 6px;
	}
	.dropdown-design-2 .drop-down_btn {
		text-align: right;
	}
	.dropdown-design-2 .drop-down_btn {
		text-align: right;
		background-position: 5% center;
	}
	.notifivation-list-dropdown {
		right: initial;
		left: 0;
	}
	.fav-list-dropdown {
		@extend .notifivation-list-dropdown;
	}
	.notifivation-inner-cntnt ul li .notifiction_time {
		right: initial !important;
		left: 20px;
	}
	.notifivation-inner-cntnt ul li {
		padding: 10px 15px 10px 90px !important;
	}
	.shortlisted-white-box {
		margin-left: initial !important;
		margin-right: auto;
	}
	.short-cntnt {
		padding-left: 0px !important;
		padding-right: 15px;
	}
	.delete-property-div {
		right: initial !important;
		left: 10px;
	}
	.selection-checkbox-selector {
		left: initial !important;
		right: 5px !important;
	}
	.tenants-sec-wrapper .owl-stage {
		display: flex;
	}
	.tenants-sec-wrapper .owl-item > div {
		height: 100%;
	}
	.dropdown-item {
    text-align: right;
}
.heading {
    text-align: right;
}
.key-take-ways-sec ul {
    padding-left: 0px;
    padding-right: 21px;
}
.blogs_sliders-cntnt-bg .carousel-control-next {
    left: 45px !important;
    right: initial !important;
}
.blogs_sliders-cntnt-bg .carousel-control-prev {
    right: initial !important;
    left: 0 !important;
}
.select-design .mat-select-arrow-wrapper {
    right: initial;
    left: 10px;
}
.searc-input-combination .mat-form-field:first-child {
    margin-right: 0px;
    margin-left: 8px;
}
.property-footer-block::before {
    left: initial !important;
    right: -24px;
}
.property-action-hdr {
	padding-left: 0px;
}
.property-action-hdr > button:last-child {
    margin-right: 15px;
}
.ov-verified-btn img {
    margin-right: 0px;
    margin-left: 5px;
}
.list_cntnt-blcok {
    padding-left: 0px;
    padding-right: 12px;
}
.properties-list-block-design .tag_btn.blue {
    left: initial !important;
    right: 3px !important;
}
.pro-contact-details > .dropdown .dropdown-item a img {
    margin-right: 0px;
    margin-left: 8px;
}
.pro-contact-details > .dropdown .dropdown-item .facebook img {
    margin-right: 6px !important;
}
.pro-contact-details > .dropdown h5 {
    text-align: right;
}
.pro-contact-details > .dropdown:last-child {
    margin-right: 7px !important;
}
.properties-list_cntnts .premium-tag {
    left: 10px;
    right: initial !important;
}
.property-details-highlights > span img {
    margin-right: 0px;
    margin-left: 7px;
}
.property-footer-block .text-right {
    text-align: left !important;
}
.property-details-highlights > span {
    margin-right: 0px !important;
    margin-left: 15px;
}
.property-addresss p img {
    margin-right: 0px;
    margin-left: 6px;
}
.popular-searches .dropdown > button {
    text-align: right;
}
.popular-searches .dropdown > button::before {
    left: 0 !important;
    right: initial !important;
}
.properties-filtr-values > div > div {
    margin-left: 15px;
    margin-right: 0px;
}
.properties-filtr-values .checkbox-design .checkbox-btn img {
    margin-right: 0px;
    margin-left: 5px;
}
.properties-filtr-values .mat-form-field-flex .mat-form-field-infix mat-label img {
    margin-right: 0px;
    margin-left: 4px;
}
.property-listedby-cntnt {
    padding-left: 0px;
    padding-right: 30px;
}
.sell-faq-css .sell-rent-property-left ul {
    padding-left: 0px !important;
    padding-right: 1.5rem;
}
.continue-btns > button > img {
    margin-right: 0px !important;
    margin-left: 5px;
}
.country-code-select-design .iti input {
    padding-left: 15px !important;
    padding-right: 52px !important;
}
.iti__flag-container {
    left: initial !important;
    right: 0px !important;
}
.iti__arrow {
    margin-left: 0px !important;
    margin-right: 6px !important;
}
.landlord-checkbox-sec .btn.dropdown-toggle {
    text-align: right !important;
    background-position: 5% center !important;
}
.landlord-checkbox-sec .dropdown-menu .h5-heading {
    text-align: right !important;
}
.country-code-select-design .iti .country-dropdown {
    right: 0 !important;
    left: initial !important;
}
.iti__country {
    text-align: right;
}
.cms_content-paragraph ol, .cms_content-paragraph ul {
    padding-left: 0px;
    padding-right: 18px;
}
.valuation_property-name-first .val_pro-number {
    margin-right: 0px;
    margin-left: 10px;
}
.my-wallet-list-wrapper.referral-code-block .pro-contact-details {
    left: 15px;
    right: initial !important;
}
.shortlisted-tabs_list .agent-details__property-list-item {
    padding-right: 50px !important;
    padding-left: 10px !important;
}
.shortlisted-tabs_list .agent-details__property-list-item .selection-checkbox-selector {
    right: 20px !important;
}
.recent-activity .agent-details__property-detail-list-item {
    margin-right: 0px !important;
    margin-left: 15px !important;
}
.tab-nav-main .dropdown .dropdown-item a img {
    margin-right: 0px !important;
}
.agent-landing-featured__agent-text-wrapper {
    margin-left: 0px !important;
    margin-right: 20px;
}
#pills-companies .flex-column-10 {
    margin-left: 0px !important;
    margin-right: 10px !important;
}
.agent-landing-list__table-btn img {
    margin-right: 0px !important;
    margin-left: 8px;
}
.news-letter-form input[type=submit] {
    left: 15px;
    right: initial !important;
}
.listing-property-ul .mat-list .mat-list-item a {
    font-size: 13px;
}
.listing-property-ul .mat-list .mat-list-item a > span {
    margin-right: 0px;
    margin-left: 8px;
}
.listing-property-ul .mat-list .mat-list-item:first-child:after{
	display: none;
}
.location-div-block .loc-heading {
    padding-left: 0px;
    padding-right: 38px;
}
.location-div-block p {
    padding-left: 0px;
    padding-right: 38px;
}
.location-div-block img {
    top: 5px;
}
.location-information {
    margin-top: 15px;
}
.input-date-picker .mat-form-field-flex .mat-form-field-suffix {
    left: -8px;
    right: initial;
    border-left: 0px;
    border-right: 0.5px solid rgba(0, 0, 0, 0.2);
}
.input-flaoted-right-text .area-sq,.input-overlay-layer {
    left: 0;
    right: initial;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.input-flaoted-right-text .mat-form-field-flex > .mat-form-field-infix input {
    padding-left: 45px;
    box-sizing: border-box;
}
.input-design .mat-form-field-flex input {
    box-sizing: border-box;
}
.listing-slider-area {
	.owl-dots {
		margin: 0px;
		position: absolute;
		bottom: 15px;
		right: 37px;
		left: initial !important;
	}
}
.properties-list_cntnts {
    padding-right: 0px;
    padding-left: 15px;
}
.agent-details__wrapper-details-list-item {
    margin-right: 0px !important;
    margin-left: 40px;
}
.greybordered-btn button {
    text-align: right;
}
.greybordered-btn button img {
    left: 15px;
    right: initial;
}
.succesfull-uploaded img {
    margin-left: 3px;
    margin-right: 0px;
}
.outpup-filename {
	padding-left: 0px;
    padding-right: 22px;
    background-position: 100%;
}
.unit_types-sec-wrap .add_unit-btn img {
    margin-right: 0px;
    margin-left: 9px;
}
.save-continue-sec .save-continue-btn {
    margin-right: auto;
    margin-left: initial;
}
.doc-list-name .doc-text-details {
    padding-left: 0px;
    padding-right: 15px;
}
.action-text-btns > a:last-child {
    border-right: 1px solid #4A565F;
    padding-right: 8px;
    margin-right: 8px;
}
.action-text-btns > a:first-child {
    border-right: none;
    padding-right: 0px;
    margin-right: 0px;
}
.reports_header .reports_title-list {
    padding-left: 0px;
    padding-right: 15px;
}
.country-code-select-design .input-design-2 .mat-form-field-flex {
    padding-left: 0px;
    padding-right: 75px;
}
.country-code-select-design .countries-select .mat-form-field-flex {
    border-left: 1px solid #d3dbfc;
    border-right: 0px;
}
.tab-nav-main .nav-pills .action-btn::after {
    margin-right: 5px;
    margin-left: 0px;
}
.mat-inner-chip-design input {
    padding-right: 0px !important;
    padding-left: 28px !important;
}
.mat_indicators-counts {
    left: 0;
    right: initial;
}
.mat-chip-inner-container {
    justify-content: flex-end;
}
.mat-standard-chip {
    direction: rtl !important;
}
.refrell-overlay-block .ovrc{
	left: initial !important;
	right: -12px;
}
.refrell-overlay-block input {
    padding-left: 0% !important;
	padding-right: 9% !important;
}
.pro-contact-details>a.grey-bordered-btn {
    margin-right: 0px !important;
}
.dashboard-data-side-lists .dropdown .dropdown-toggle {
    text-align: right !important;
}
.dashboard-data-side-lists .dropdown .dropdown-toggle::before {
	left: 10px;
    right: initial !important;
    transform: rotate(227deg) !important;
    top: 11px !important;
}
select.nice-select {
    background-position: 5% !important;
}
.stroe-icons-link>a:first-child {
    margin-right: 0px !important;
    margin-left: 15px !important;
}
.wallet-btn-flex .recharge-btn {
    margin-right: 15px;
    margin-left: 15px;
}
.paymentmodal-form-design .refrell-overlay-block .ovrc {
    right: 0 !important;
    border-right: 0px !important;
    border-left: 0.5px solid #D3DBFF;
}
.paymentmodal-form-design .refrell-overlay-block input {
    padding-right: 12% !important;
}
.aed-li .aed-sq img {
    margin-right: 0px !important;
    margin-left: 4px;
}
.country_list-dropdown {
    left: 0 !important;
    right: initial !important;
}
.country_list-dropdown>button {
    text-align: left !important;
}
.country_list-dropdown .countries_dropdown-list ul li img {
    margin-right: 0px !important;
    margin-left: 10px !important;
}
.checkbox-flex-box>div:not(:last-child) {
    margin-right: 0px !important;
	margin-left: 15px !important;
}
.alert-message-wrap.confirmation .confirm-btn {
    margin-right: 0px !important;
}
.alert_box-design.confirm-box .ok-btn {
    margin-right: 0px !important;
	margin-left: 10px;
}
.property-contact-buttons > a {
    margin-right: 0px !important;
    margin-left: 5px !important;
}
.property-contact-buttons > a.call {
    padding-left: 15px !important;
    padding-right: 25px !important;
}
.property-contact-buttons > a.call .mat-icon {
    left: initial !important;
    right: 4px;
}
.residentails-unit-list > li {
    padding-left: 0px !important;
    padding-right: 6px !important;
}
.header-section .navbar-nav .blue-bordered-btn .mat-icon {
    top: 8px !important;
}
.header-section .navbar-nav .blue-bordered-btn svg {
    top: 8px !important;
}
#main-header .my-account-li{
    margin-left: 5px !important;
    margin-right: 2px !important;
}
.dashboard-data-side-links ul li .mat-icon{
	margin-right: 0px !important;
	margin-left: 8px;
}
.dashboard-data-select-box .mat-form-field-infix label {
    padding-left: 0px !important;
    padding-right: 15px;
}
.dashboard-data-select-box .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    margin-left: 0px !important;
    margin-right: 4px !important;
}
.dashboard-date-range-box .mat-form-field-flex .mat-form-field-suffix {
    right: -8px !important;
}
.dashboard-date-range-box .mat-form-field-flex label {
    padding-left: 0px !important;
    padding-right: 23px;
}
.property-action-hdr > button {
    margin-right: 0px;
}
.navbar-brand {
    margin-right: 0px !important;
}
.ico-dtls .icn {
    margin-right: 0px !important;
    margin-left: 10px !important;
}
.new-home-page .searc-input-combination .mat-form-field:first-child{
margin-left: 0px !important;
}
.blogs_sliders-cntnt-bg .blog-title-content {
    padding-left: 0px !important;
    padding-right: 60px;
}


    @media (max-width: 767px){
		.call-now_link > .grey-bordered-btn {
			font-size: 13px;
			padding-left: 10px;
			padding-right: 10px;
		}
		.property-contact-buttons > a svg {
			left: 3px !important;
			position: relative;
		}
		.pro-contact-details {
			text-align: right !important;
		}
		.property-contact-buttons > a.call .mat-icon {
			right: 0px !important;
		}
	}
	@media (max-width: 1199px){
		.mobile-abs-items {
			left: 58px;
			right: initial !important;
		}
		.mobile-abs-items .notification_header-list {
			margin-left: 0px !important;
			margin-right: 15px !important;
		}
		#collapsibleNavbar {
			left: -100% !important;
			right: initial !important;
		}
		#collapsibleNavbar.show {
			left: -0% !important;
			right: initial !important;
		}
		#collapsibleNavbar .overlay_counter {
			margin-left: auto !important;
			margin-right: initial !important;
		}
		.header-section .hover-block-header .btn {
			text-align: right !important;
		}
		.header-section .hover-block-header .btn::after {
			left: 0;
			right: initial !important;
		}
		.listing-property-ul .mat-list .mat-list-item a > span {
			display: flex;
			margin: 0px auto 5px auto !important;
		}
	}
	@media (min-width: 1200px){
		.classified_tabs-component .mat-tab-header {
			padding-left: 0px !important;
			padding-right: 90px !important;
		}
		.amazing_details-text {
			padding-left: 0px !important;
			padding-right: 30px;
		}
		.property-filter-wrap .block-item.six-block {
			width: 10% !important;
		}
		.doc-list-div {
			padding-left: 15%;
			padding-right: 30px;
		}
	}
	@media (min-width: 992px){
		.payment-left-form-sec {
			padding-right: 0px;
			border-right: 0px;
			padding-left: 25px;
			border-left: 1.5px solid #F0EFFB;
		}
		.listing-property-ul .mat-list .mat-list-item:last-child:after{
			display: block !important;
		}
	}
@media (max-width: 991px){
	.blogs_sliders-cntnt-bg .blog-title-content{
		padding-right: 0px !important;
	}
}
}