/* You can add global styles to this file, and also import other style files */ 
:root {
  --body-color: #fff;
  --sidebar-color: #fff;
  --primary-color: #1b1571 !important;
  --primary-color-light: #888888;
  --toggle-color: #ddd;
  --text-color: #4a4a4a;
  --sidebar-border-color: #f0f3f5;
  --sidebar-hover-color: #f0f3f5;
  --stroke-color: #e0def7;
  --background-color-tabs: #f5f7ff;
  --border-radius: 0.375rem;
  --gray: #4a565f;
  --footer-color: #000929;
  --footer-social-color: #b3b5bf;
  --light-green: #2db57d;
  --black: #000;
  --light-blue: #49448D;
  --blue: #3C51BD;
  --light-ov-blue: #D0D8FD;


  --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
body{
  max-width: 100vw;
  overflow-x: hidden;
}
.sidebar-active #sidebar {
    width: 250px !important;
  }
  .sidebar-active #sidebar .sidebar-toggle {
    justify-content: flex-start !important;
    padding-left: 10px;
  }
  .sidebar-active #sidebar .side-nav-text {
    display: block !important;
  }
  .sidebar-active #sidebar .nav-items a {
    justify-content: flex-start !important;
    padding-left: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  transition: var(--tran-05);
  max-width: 100vw;
  overflow-x: hidden;
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}




a{
  text-decoration: none;
}

.text-right{
  text-align: right;
}
.m-auto{
  margin: auto;
}

.wd-30{
  width: 30%;
}

.pt-60{
  padding-top: 60px !important;
}

.pt-80{
  padding-top: 80px !important;
}

.pt-40{
  padding-top: 40px !important;
}


.pb-40{
  padding-bottom: 40px;
}


.pb-60{
  padding-bottom: 60px;
}

.pb-80{
  padding-bottom: 80px !important;
}

.pb-120{
  padding-bottom: 120px !important;
}

.p-40-80{
  padding: 80px 40px !important;
}

.p-40-100{
  padding: 80px 100px !important;
}

.mt-120{
  margin-top: 120px !important;
}

.mb-60{
  margin-bottom: 60px;
}

.mt-60{
  margin-top: 60px;
}


.bg-primary-color{
  background: #1B1571;
}

.wrapper-section{
  overflow-x: hidden !important;
  padding-left: 15px;
  padding-right: 15px;
}





#contant-wrapper {
  width: 100%;
  max-width: calc(100% - 64px);
  margin-left: auto;
}

.container_1280px {
  width: 100%;
  max-width: 1280px;
  padding: 0px 15px;
  margin: 0 auto;
}
.container_1220px {
  width: 100%;
  max-width: 1220px;
  padding: 0px 15px;
  margin: 0 auto;
}
.custom-wrapper-section {
  padding: 40px 20px;
}
.border-top-light{
  border-top: 1px solid var(--light-ov-blue);
}

.nice-select.custom-select{
  width: 100%;
  border: 0;
}

.nice-select .list{
  width: 100%;
  max-height: 250px;
  overflow: auto !important;
}

.custom-breadcrumb{
  position: absolute;
  top: 20px;
  left: 10%;
}
.custom-breadcrumb p, .custom-breadcrumb p a, .custom-breadcrumb p span{
  color: var(--body-color);
  font-size: 13px;
  margin: 0px 5px;
}
.dropdown-menu.active {
  display: block !important;
}

.listing-slider-area .owl-dot span {
  width: 20px !important;
  height: 3px !important;
  border-radius: 0px !important;
}
body a {
  text-decoration: none;
}
.tenants-sec-wrapper .owl-item {
  padding-right: 28px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #0B26AD !important;
}
.testimonial-section .owl-dots span {
  width: 25px !important;
  height: 3px !important;
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.testimonial-section .owl-carousel>.owl-dots {
  position: absolute;
  right: 0;
  bottom: -11px;
}

@media (min-widthh: 1200px){
  .tenants-sec-wrapper .owl-stage-outer.ng-star-inserted {
    overflow: visible;
}
.tenants-sec-wrapper .owl-item {
  min-width: 500px;
}
}
@media (max-width:1920px) and (min-width:767.98px){
  .lisitng-right-img{
      margin-left: 40px;
  }
  .property-listing-slider-right{
      overflow: hidden !important;
      margin: auto;
  }
}


@media(max-width:991.98px){
  .mockup-conatiner .p-40-100{
      padding: 60px 40px !important;
  }
  .mockup-right img{
      width: 200% !important;
      max-width: 250% !important;
      margin-left: -150px;
  }
}


@media(max-width:767.98px){
  .explore-places-col{
      margin-bottom: 20px;
  }
  .explore-places-col img{
      width: auto !important;
      height: 300px !important;
  }
  .explore-place-content{
      width: calc(100% - 20px);
  }
  .section-title-right ul.nav{
      display: block;
  }
  .section-custom-title-right{
      width: auto !important;
      margin: 0px 20px;
  }
  .mockup-right{
      position: relative;
      width: auto !important;
      height: auto !important;
  }
  .mockup-right img{
      position: relative;
      width: auto !important;
      height: auto !important;
      max-width: 100% !important;
      text-align: center;
      margin-left: 0px;
      margin-bottom: -55px;
  }
  .barcode-mockup-img{
      position: absolute;
      bottom: 50%;
      left: 75%;
      width: 120px;
  }
  .total-transaction{
      margin: 20px 0px;
  }
  .total-transaction p, .total-transaction h2{
      text-align: center !important;
  }
  .responsive-section-title{
      display: block;
  }
  .responsive-section-title .section-custom-title-right{
      margin: 10px 0px !important;
  }
  .blog-places-col .blog-image-homepage{
      width: 100%;
      height: 300px !important;
  }
  .property-listing-slider-left ul li{
      font-size: 13px;
  }
  .mockup-left ul li{
      font-size: 13px;
  }
}

@media(max-width:550px){
  .property-listing-slider-left{
      padding: 20px !important;
  }

  .section-custom-title-right a{
      margin-right: 0;
      font-size: 12px;
  }

  .barcode-mockup-img{
      position: relative !important;
      left: 0;
  }
  .mockup-conatiner .p-40-100 {
      padding: 60px 10px !important;
    }
    .mockup-right img{
      max-width: 150% !important;
      width: 150%;
      margin-left: -20px;
      margin-top: -150px;
    }
    .barcode-mockup-img{
      width: 110px;
    }
    .testimonial-section{
      padding: 20px;
    }
    .testimonial-content p{
        font-size: 12px;
        margin-top: 30px;
    }
    .testimonial-info .client-img{
        width: 80px !important;
    }
    .testimonial-info .client-info h5{
        font-size: 16px;
    }
    .testimonial-info .client-info p{
        margin-top: 10px;
    }
    .download-btns{
          display: flex;
          margin: 20px 0px;
          flex-direction: column;
    }
    .download-btns a{
        margin: 10px 0px;
    }
    .testimonial-title p{
        width: 100%;
        font-size: 14px;
    }
    .recent-data-realestate h2{
        font-size: 24px;
    }
    .recent-data-realestate p{
        font-size: 12px;
    }
    .section-title .section-custom-title-right p, .virtual-tour p, .find-best-deal p, .get-ready-apply p{
        font-size: 12px;
    }
    .explore-place-content p{
        font-size: 12px;
    }
    .section-title p{
        font-size: 12px;
    }
}



@media(max-width:400px){
  .property-details span{
      margin: 0px 5px;
  }
  .barcode-mockup-img{
      display: none;
    }
  .mockup-right img{
      display: none;
  }
}

