<app-header></app-header>
<section class="slide-left-bar">
    <section class="agent-landing">
        <div class="agent-landing__banner-wrapper black-overlay">
            <img src="assets/images/background/find agents.png" alt="" class="img-fluid agent-landing__banner">
            <h1 class="agent-landing__banner-heading">الوسيط المناسب لإيجاد العقار المناسب</h1>
            <div class="agent-landing__tabs-wrapper">
                <ul class="nav nav-pills mb-3" id="pills-tab">
                    <li class="nav-item">
                        <a class="nav-link {{agentCheck ? 'active' : ''}}" id="pills-agents-tab" data-bs-toggle="pill"
                            data-bs-target="#find-agents" (click)="toggleCompany(true)">ابحث عن وسطاء</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{companiesCheck ? 'active' : ''}}" id="pills-companies-tab"
                            data-bs-toggle="pill" data-bs-target="#pills-companies" (click)="toggleCompany(false)">البحث
                            عن الشركات</a>
                    </li>
                </ul>
                <div ngClass="form_tabs">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show {{agentCheck ? 'active' : ''}}" id="find-agents">
                            <app-find-agent-search (childParentDataLoad)="childParentDataLoad($event)">
                            </app-find-agent-search>
                        </div>
                        <div class="tab-pane fade show {{companiesCheck ? 'active' : ''}}" id="pills-companies">
                            <div ngClass="tab-form-sec rent-form">
                                <form>
                                    <div ngClass="flex-row">
                                        <div ngClass="flex-column flex-column-90">
                                            <div ngClass="block-wrapper" *ngIf="searchList.length > 0">
                                                <mat-form-field
                                                    class="example-chip-list input-design searh_input-design"
                                                    appearance="fill">
                                                    <mat-label>البحث</mat-label>
                                                    <mat-chip-list #chipList aria-label="Search selection">
                                                        <mat-chip *ngFor="let SearchValue of SearchKeyword"
                                                            (removed)="remove(SearchValue)">
                                                            {{SearchValue}}
                                                            <button matChipRemove>
                                                                <mat-icon>cancel</mat-icon>
                                                            </button>
                                                        </mat-chip>
                                                        <input placeholder="Location, Project Name" #SearchInput
                                                            [formControl]="searchctrl" [matAutocomplete]="auto"
                                                            [matChipInputFor]="chipList"
                                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                            (matChipInputTokenEnd)="add($event)">
                                                    </mat-chip-list>
                                                    <mat-autocomplete #auto="matAutocomplete"
                                                        (optionSelected)="selected($event)">
                                                        <mat-option *ngFor="let SearchValue of searchfilter | async"
                                                            [value]="SearchValue">
                                                            {{SearchValue}}
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div ngClass="flex-column flex-column-10">
                                            <button (click)="proceedCompanySearch()" ngClass="search-btn"><img
                                                    src="assets/images/search.svg"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="agent-landing-featured">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-dark">
                        <app-breadcrumbs></app-breadcrumbs>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 {{companies ? 'd-none' : ''}}">
                    <h4 class="agent-landing-featured__heading">{{featuredAgentData.heading}}</h4>
                    <p class="agent-landing-featured__text">{{featuredAgentData.desc}}</p>
                </div>
                <div class="col-12 {{!companies ? 'd-none' : ''}}">
                    <h4 class="agent-landing-featured__heading">{{featuredCompaniesData.heading}}</h4>
                    <p class="agent-landing-featured__text">{{featuredCompaniesData.desc}}</p>
                </div>
            </div>
            <div class="row {{companies ? 'd-none' : ''}}">
                <div class="col-lg-4" *ngFor="let item of agentDetails">
                    <div class="agent-landing-featured__agent">
                        <div class="agent-landing-featured__property-wrapper">
                            <img src="assets/images/tag/featured.png" alt=""
                                class="agent-landing-featured__property-tag">
                            <div class="row cursor-pointer" routerLink="/ar/agent-details/{{item.id}}">
                                <div class="row height-100">
                                    <div class="col-5 d-flex align-items-center">
                                        <img src="{{item.imageUrl}}" alt=""
                                            class="img-fluid agent-landing-featured__property-img">
                                        <img src="assets/images/brand/betterhomes.png" alt=""
                                            class="img-fluid agent-landing-featured__agent-company">
                                    </div>
                                    <div class="col-7">
                                        <div class="agent-landing-featured__agent-right-panel">
                                            <h6 class="agent-landing-featured__property-heading">
                                                {{item.fullName}}</h6>
                                            <p class="agent-landing-featured__property-text">
                                                {{item.expertIn}}</p>
                                            <p class="agent-landing-featured__property-text">RERA#
                                                {{item.reraNo}}</p>
                                            <p class="agent-landing-featured__property-text">شهادة#
                                                {{item.premitNo}}</p>
                                            <ul class="agent-landing-featured__property-details-list">
                                                <li class="agent-landing-featured__property-details-list-item">
                                                    <p class="agent-landing-featured__property-details-list-text">
                                                        {{item.salePropertyListingCount}}<br>للبيع</p>
                                                </li>
                                                <li class="agent-landing-featured__property-details-list-item">
                                                    <p class="agent-landing-featured__property-details-list-text">
                                                        {{item.rentPropertyListingCount}}<br>ايجار</p>
                                                </li>
                                                <li class="agent-landing-featured__property-details-list-item">
                                                    <p class="agent-landing-featured__property-details-list-text">
                                                        {{item.commercialPropertyListingCount}}<br>تجاري</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row {{!companies ? 'd-none' : ''}}">
                <div class="col-lg-4" *ngFor="let item of bestCompanies">
                    <div class="agent-landing-featured__property cursor-pointer"
                        routerLink="/ar/company-details/{{item.company.id}}">
                        <div class="agent-landing-featured__property-wrapper"> >
                            <img src="assets/images/tag/featured.png" alt=""
                                class="agent-landing-featured__property-tag">
                            <div class="row">
                                <div class="col-5 d-flex align-items-center">
                                    <img src="assets/images/brand/betterhomes.png" alt=""
                                        class="img-fluid agent-landing-featured__property-img">
                                </div>
                                <div class="col-7">
                                    <h6 class="agent-landing-featured__property-heading"
                                        *ngIf="item.company && item.company.companyName">{{item.company.companyName}}
                                    </h6>
                                    <p class="agent-landing-featured__property-text"
                                        *ngIf="item.company && item.company.companyAdress">
                                        {{item.company.companyAdress}}
                                    </p>
                                    <p class="agent-landing-featured__property-text"
                                        *ngIf="item.company && item.company.reraNo">RERA# {{item.company.reraNo}}</p>
                                    <p class="agent-landing-featured__property-text"
                                        *ngIf="item.company && item.company.permitNo">شهادة# {{item.company.permitNo}}
                                    </p>
                                    <p class="agent-landing-featured__property-text"
                                        *ngIf="item.company && item.company.ornNo">ORN# {{item.company.ornNo}}</p>
                                </div>
                            </div>
                            <ul class="agent-landing-featured__property-details-list">
                                <li class="agent-landing-featured__property-details-list-item">
                                    <p class="agent-landing-featured__property-details-list-text">
                                        {{item.statistics.salePropertyListingCount}}<br>للبيع</p>
                                </li>
                                <li class="agent-landing-featured__property-details-list-item">
                                    <p class="agent-landing-featured__property-details-list-text">
                                        {{item.statistics.rentPropertyListingCount}}<br>ايجار</p>
                                </li>
                                <li class="agent-landing-featured__property-details-list-item">
                                    <p class="agent-landing-featured__property-details-list-text">
                                        {{item.statistics.commercialPropertyListingCount}}<br>تجاري</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="agent-landing-list {{companies ? 'd-none' : ''}} mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="agent-landing-list__heading">{{agentList.heading}}</h4>
                    <p class="agent-landing-list__text">{{agentList.desc}}</p>
                </div>
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="agent-landing-list__table agent-landing-list__table-agents">
                            <thead class="agent-landing-list__table-head">
                                <tr class="agent-landing-list__table-row">
                                    <th class="agent-landing-list__table-heading"
                                        *ngFor="let heading of agentList.tableHeadings">{{heading}}</th>
                                </tr>
                            </thead>
                            <tbody class="agent-landing-list__table-body">
                                <tr class="agent-landing-list__table-row"
                                    *ngFor="let data of findAgent | paginate: { itemsPerPage: 10, currentPage: page, totalItems:totalLength }">
                                    <td class="agent-landing-list__table-data">
                                        <div class="agent-landing-featured__agent-wrapper">
                                            <div class="agent-landing-featured__agent-img-outer-wrapper">
                                                <div class="agent-landing-featured__agent-img-inner-wrapper cursor-pointer"
                                                    routerLink="/ar/agent-details/{{data.id}}">
                                                    <img *ngIf="data.imageUrl" src="{{data.imageUrl}}" [alt]=""
                                                        class="img-fluid agent-landing-featured__agent-img">
                                                </div>
                                            </div>
                                            <div class="agent-landing-featured__agent-text-wrapper">
                                                <h6 class="agent-landing-featured__property-heading cursor-pointer"
                                                    routerLink="/ar/agent-details/{{data.id}}">{{data.fullName}}</h6>
                                                <p class="agent-landing-featured__property-text">{{data.companyName}}
                                                </p>
                                                <p class="agent-landing-featured__property-link m-0">
                                                    {{data.phoneNumber}}
                                                </p>
                                                <p class="agent-landing-featured__property-text mb-3"
                                                    *ngIf="data.countryId != ''">{{filterCountry(data.countryId)}}</p>
                                                <p class="agent-landing-featured__property-text">اللغات:
                                                    <span *ngFor="let Language of data.agentLanguages">
                                                        {{Language.spokenLanguage.name}},
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="agent-landing-list__table-data">
                                        <h6 class="agent-landing-featured__property-heading">{{data.companyName}}</h6>
                                        <p class="agent-landing-featured__property-text">{{data.phoneNumber}}</p>
                                    </td>
                                    <td class="agent-landing-list__table-data">
                                        <div class="agent-landing-list__specialities">
                                            <ul>
                                                <li>{{data.expertIn}}</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="agent-landing-list__table-data">
                                        <a class="agent-landing-list__table-btn cursor-pointer"
                                            routerLink="/ar/agent-details/{{data.id}}">
                                            <img src="assets/images/icons/eye.svg" alt="">"عرض التفاصيل"</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="agent-landing-list {{!companies ? 'd-none' : ''}}">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="agent-landing-list__heading">{{companiesList.heading}}</h4>
                    <p class="agent-landing-list__text">{{companiesList.desc}}</p>
                </div>
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="agent-landing-list__table">
                            <thead class="agent-landing-list__table-head">
                                <tr class="agent-landing-list__table-row">
                                    <th class="agent-landing-list__table-heading"
                                        *ngFor="let heading of companiesList.tableHeadings">{{heading}}</th>
                                </tr>
                            </thead>
                            <tbody class="agent-landing-list__table-body">
                                <tr class="agent-landing-list__table-row"
                                    *ngFor="let data of findCompanies.companies | paginate: { itemsPerPage: 10, currentPage: companypage, totalItems:totalLength }">
                                    <td class="agent-landing-list__table-data">
                                        <div class="agent-landing-featured__property-wrapper">
                                            <div class="row">
                                                <div class="col-5 d-flex align-items-center">
                                                    <img *ngIf="data.documents.length > 0 && data.documents[0].fileUrl"
                                                        src="https://beta.ovaluate.com/{{data.documents[0].fileUrl}}"
                                                        alt="" class="img-fluid agent-landing-featured__property-img">
                                                    <img *ngIf="data.documents.length == 0"
                                                        src="assets/images/placeholder.png" alt=""
                                                        class="img-fluid agent-landing-featured__property-img">
                                                </div>
                                                <div class="col-7">
                                                    <h6 class="agent-landing-featured__property-heading"
                                                        *ngIf="data.companyName">{{data.companyName}}</h6>
                                                    <p class="agent-landing-featured__property-text"
                                                        *ngIf="data.companyAdress">{{data.companyAdress}}</p>
                                                    <p class="agent-landing-featured__property-text"
                                                        *ngIf="data.reraNo">
                                                        RERA# {{data.reraNo}} | <span *ngIf="data.premitNo">شهادة#
                                                            {{data.premitNo}}</span> </p>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="agent-landing-list__table-data">
                                        <div class="agent-landing-list__specialities">
                                            <ul>
                                                <li *ngFor="let item of data.specialities">{{item}}</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="agent-landing-list__table-data">
                                        <p>{{data.agents.length}}<br>وكلاء</p>
                                    </td>
                                    <td class="agent-landing-list__table-data">
                                        <a class="agent-landing-list__table-btn cursor-pointer"
                                            routerLink="/ar/company-details/{{data.id}}">
                                            <img src="assets/images/icons/eye.svg" alt="">عرض التفاصيل</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="agent-pagination-wrapper">
        <pagination-controls (pageChange)="pageChanged($event)" class="text-center my-pagination"></pagination-controls>
    </section>
    <section class="agent-landing-text-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h4 class="agent-landing-featured__heading">أفضل الوسطاء العقارات في دبي</h4>
                    <p class="agent-landing-featured__text">سواء كنت تبحث عن استئجار أو شراء أو بيع منزلك ، فإن اوفاليوت
                        يوصلك بالمحترفين الذين يمكنهم المساعدة في تلبية احتياجاتك. نظرًا لأن سوق العقارات في دبي فريد من
                        نوعه ، فمن المهم اختيار وكيل عقارات أو سمسار ذي خبرة محلية لإرشادك خلال عملية تأجير أو شراء أو
                        بيع منزلك التالي. يساعدك دليلنا في العثور على محترفي العقارات المتخصصين في الشراء أو البيع أو
                        حبس الرهن أو إعادة التوطين - من بين العديد من الخيارات الأخرى. بدلاً من ذلك ، يمكنك العمل مع
                        وكيل محلي أو سمسار عقارات يقدم مجموعة كاملة من خدمات البيع والشراء.</p>

                    <p>بغض النظر عن نوع العقار الذي تحتاجه ، فإن الخطوة الأولى هي إيجاد متخصص عقاري محلي تريد العمل معه.
                        يتيح لك اوفاليوت عرض وكلاء العقارات ومقارنتهم ، وقراءة المراجعات ، والاطلاع على القوائم الحالية
                        للوكيل والمبيعات السابقة ، والاتصال بالوكلاء مباشرةً من صفحات ملفاتهم الشخصية.</p>

                    <p>اوفاليوت هو سوق العقارات والإيجارات الرائد المكرس لتمكين المستهلكين من خلال البيانات والإلهام
                        والمعرفة حول\ من نحن المكان الذي يسمونه المنزل ، وربطهم بأفضل المهنيين المحليين الذين يمكنهم المساعدة.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section ngClass="position-relative wrapper-section bg-primary-color span-promises-sec">
        <div ngClass="container_1220px">
            <div ngClass="newsletter-section text-center">
                <h5>أفضaنضمن لك عدم وجود بريد عشوائيل الوسطاء العقارات في دبي</h5>
                <h1>هل أنت صاحب عقار أو متخصص في العقارات؟?</h1>
                <h6>اكتشف طرقًا لزيادة قيمة منزلك وإدراجك في القائمة. لا بريد مزعج.</h6>
                <form action="" ngClass="news-letter-form position-relative">
                    <input type="email" placeholder="أدخل بريدك الإلكتروني للاشتراك">
                    <input type="submit" value="تقديم">
                </form>
                <p>انضم إلى أكثر من <span>10,000+</span> مالك عقار في مجتمع عقاراتنا.</p>
            </div>
        </div>
    </section>
<app-footer></app-footer>
</section>