<app-header></app-header>
<section [ngClass]="'inner-cntnt-wrapper slide-left-bar'">
    <section [ngClass]="'property-listing-inner-wrapper'">
        <div [ngClass]="'container_1280px'">
            <div ngClass="property-details-header">
                <div ngClass="d-flex justify-content-spacebw">
                    <div ngClass="black-text-breadcrumb">
                        <app-breadcrumbs></app-breadcrumbs>
                        <a class="back-to-text cursor-pointer" (click)="goBack()">
                            <mat-icon>keyboard_arrow_left</mat-icon> Back to Search
                        </a>
                    </div>
                    <div ngClass="last-updated-details">
                        <!-- <p>Last Updated: <span ngClass="update-date">April 19, 2022</span></p> -->
                        <p>Listing ID <span ngClass="update-id">#OV-4003021</span></p>
                    </div>
                </div>
            </div>
            <div ngClass="property-price-buttons-sec">
                <div ngClass="row">
                    <div ngClass="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div ngClass="property-name_detals">
                            <h4>{{propertyDetailData.buildingName}}</h4>
                            <div ngClass="property-addresss">
                                <p><img src="{{homelocationsvg}}"> {{propertyDetailData.propertyAddress}}</p>
                            </div>
                        </div>
                    </div>
                    <div ngClass="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div ngClass="property-action_detals text-right">
                            <div ngClass="pro-contact-details">
                                <div ngbDropdown class="d-inline-block">
                                    <button ngClass="grey-bordered-btn" id="dropdownBasic2" ngbDropdownToggle><img
                                            src="{{dots}}"></button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                                        <h5>Share with:</h5>
                                        <button ngbDropdownItem><a target="_blank" href="https://facebook.com"
                                                ngClass="facebook"><img src="{{fb}}"> Facebook</a></button>
                                        <button ngbDropdownItem><a target="_blank" href="whatsapp://send?{{shareURL}}"
                                                ngClass="whatsapp"><img src="{{whatsapp}}"> WhatsAPP</a></button>
                                        <button ngbDropdownItem><a target="_blank" href="https://twitter.com/"
                                                ngClass="twitter"><img src="{{twitter}}"> Twitter</a></button>
                                    </div>
                                </div>
                            </div>
                            <button
                                [ngClass]="propertyDetailData.favorite == true ? 'grey-bordered-btn red-fill' : 'grey-bordered-btn'"
                                (click)="AddToFavorite(propertyDetailData.id,propertyDetailData.favorite)">
                                <svg width="22" height="23" viewBox="0 0 22 23" fill="#595ad4"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M4.39376 6.23844C4.02517 6.63167 3.73279 7.0985 3.53331 7.61228C3.33383 8.12605 3.23116 8.67672 3.23116 9.23283C3.23116 9.78894 3.33383 10.3396 3.53331 10.8534C3.73279 11.3672 4.02517 11.834 4.39376 12.2272L11.1699 19.4563L17.946 12.2272C18.6904 11.433 19.1086 10.3559 19.1086 9.23283C19.1086 8.10972 18.6904 7.0326 17.946 6.23844C17.2016 5.44429 16.1919 4.99813 15.1392 4.99813C14.0865 4.99813 13.0768 5.44429 12.3324 6.23844L11.1699 7.47873L10.0073 6.23844C9.63871 5.84521 9.20113 5.53329 8.71954 5.32047C8.23796 5.10766 7.72179 4.99812 7.20053 4.99812C6.67926 4.99812 6.1631 5.10766 5.68152 5.32047C5.19993 5.53329 4.76235 5.84521 4.39376 6.23844V6.23844Z"
                                        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </button>
                            <button ngClass="grey-bordered-btn text-btn" (click)="scroll(NearLsiting)">Browse Nearby
                                Lisitng</button>
                        </div>
                    </div>
                </div>
            </div>
            <div ngClass="property-gallery-main-sec">
                <div ngClass="property-gallery-main-slider">
                    <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
                </div>
            </div>
            <div ngClass="property-price-buttons-sec mt-5 mb-3">
            <div class="row">
            <div ngClass="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div ngClass="property-price_detals">
                    <h4>{{propertyDetailData.propertyPrice}}
                        {{propertyDetailData.currency}}<small *ngIf="propertyDetailData.rentType != ''">/{{propertyDetailData.rentType}}</small></h4>
                    <div ngClass="property-tags d-flex flex-wrap">
                        <span ngClass="tags-bg-grey">Brokrage: {{propertyDetailData.brokerageChargePrice}}
                            {{propertyDetailData.currency}}</span>
                        <span ngClass="tags-bg-grey">Security deposit:
                            {{propertyDetailData.securityDepositPrice}} {{propertyDetailData.currency}}</span>
                    </div>
                </div>
            </div>
            </div>
            </div>
            <div ngClass="property-tabs-content">
                <div ngClass="row">
                    <div ngClass="col-xl-8 col-lg-8 col-md-12 col-sm-12">
                        <div ngClass="blogs-link-list">
                            <ul ngClass="list-unstyled d-flex justify-content-start">
                                <li [ngClass]="status ? 'tactive' : 'thide'" (click)="keyhighlight()"><a
                                        (click)="scroll(keyHighligh)">Key Highlights</a></li>
                                <li [ngClass]="status1 ? 'tactive' : 'thide'" (click)="PropertyInfo()"><a
                                        (click)="scroll(propertyInfo)">Property Info</a></li>
                                <li [ngClass]="status2 ? 'tactive' : 'thide'" (click)="Amenities()"><a
                                        (click)="scroll(amentieScroll)">Amenities</a></li>
                                <li [ngClass]="status3 ? 'tactive' : 'thide'" (click)="PriceTrends()"><a
                                        (click)="scroll(priceScroll)">Price Trends</a></li>
                                <li [ngClass]="status4 ? 'tactive' : 'thide'" (click)="Location()"><a
                                        (click)="scroll(locationScroll)">Location</a></li>
                            </ul>
                        </div>
                        <div class="key_highlight mt-5" #keyHighligh>
                            <div ngClass="tabs-heading-div">
                                <h5>Key Highlights</h5>
                            </div>
                            <div ngClass="topkey-highlights">
                                <h6>{{propertyDetailData.typeDescription}}</h6>
                                <div ngClass="property-details-highlights">
                                    <span ngClass="bed" *ngIf="propertyDetailData.bedrooms != 0">
                                        <img src="{{bedsvg}}" alt="">{{propertyDetailData.bedrooms}} Beds
                                    </span>
                                    <span ngClass="bath" *ngIf="propertyDetailData.bathrooms != 0">
                                        <img src="{{bathsvg}}" alt="">{{propertyDetailData.bathrooms}} Bath
                                    </span>
                                    <span ngClass="area">
                                        <img src="{{squaremetersvg}}"
                                            alt="">{{propertyDetailData.carpetArea}}{{propertyDetailData.unitType}}
                                    </span>
                                    <span ngClass="furnishing">
                                        <img src="{{furnishing}}" alt="">{{propertyDetailData.furnishingType}}
                                    </span>
                                </div>
                            </div>
                            <div ngClass="key-tags">
                                <span *ngFor="let data of propertyDetailData.propertyFeatures">
                                    {{data.propertyFeature.featureName}}
                                </span>
                            </div>
                            <div ngClass="description-block-design">
                                <h4>Property Description</h4>
                                <p>{{propertyDetailData.propertyDescription}}</p>
                            </div>
                        </div>
                        <div class="Pro-perty_info mt-5" #propertyInfo>
                            <div ngClass="d-flex justify-content-spacebw align-items-center mb-3">
                                <div ngClass="tabs-heading-div">
                                    <h5>Property Info</h5>
                                </div>
                                <div ngClass="ov-verified">
                                    <p><img src="{{ovverified}}"> OV-Verified</p>
                                </div>
                            </div>
                            <div ngClass="property_infor-div-sec">
                                <div ngClass="property_info-row">
                                    <div ngClass="row">
                                        <div ngClass="col-xl-3 col-lg-3 col-md-12 col-sm-12"
                                            *ngFor="let pro of propertyinfo">
                                            <div ngClass="property_info-text" *ngIf="pro.show">
                                                <p>{{pro.label}}</p>
                                                <h6 >{{pro.label == 'Bedroom' && pro.value == 0 ? "Studio": pro.value}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="amenties_properties-wrapper mt-5" #amentieScroll>
                            <div ngClass="tabs-heading-div">
                                <h5>Amenities</h5>
                            </div>
                            <div ngClass="amenties_infor-div-sec">
                                <div ngClass="amenties_info-row">
                                    <div ngClass="row">
                                        <div ngClass="col-xl-3 col-lg-3 col-md-12 col-sm-12"
                                            *ngFor="let amenities of propertyDetailData.propertyFeatures">
                                            <div ngClass="amenties_info-text">
                                                <img height="40px" width="40px"
                                                    src="{{baseUrl+amenities.propertyFeature.document.fileUrl}}">
                                                <p>{{amenities.propertyFeature.featureName}}</p>
                                                <button ngClass="see-more-amenties">{{amenities.btnvalue}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="price-trens_wrapper-wrapper mt-5" #priceScroll>
                            <div ngClass="tabs-heading-div">
                                <h5>Rental Price Trends</h5>
                            </div>
                            <div ngClass="price_trend-texts">
                                <p>3 beds in Downtown Dubai - Rent Evolutions <span ngClass="">
                                        <mat-icon>trending_up</mat-icon>
                                    </span> 40%</p>
                            </div>
                            <div ngClass="price-chart-trends">
                                <canvas baseChart width="400" height="400" [type]="'line'"
                                        [data]="lineChartData" [options]="lineChartOptions" [legend]="false">
                                </canvas>
                            </div>
                            <div ngClass="property_like-dislikes">
                                <div ngClass="row">
                                    <div ngClass="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <div ngClass="like-dislike-box-wrap position-relative">
                                            <h4><strong>This Property cost 186% more</strong> then the average
                                            </h4>
                                            <p>Average Rent is <strong>280, 00 AED/year</strong></p>
                                            <span ngClass="dislike-icon">
                                                <mat-icon>thumb_down</mat-icon>
                                            </span>
                                            <span ngClass="home_icon">
                                                <mat-icon>home</mat-icon>
                                            </span>
                                        </div>
                                    </div>
                                    <div ngClass="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                        <div ngClass="like-dislike-box-wrap position-relative">
                                            <h4><strong>This Property is 24% bigger</strong> then the average
                                            </h4>
                                            <p>Average Size is <strong>2,047 sqft</strong></p>
                                            <span ngClass="like-icon">
                                                <mat-icon>thumb_up</mat-icon>
                                            </span>
                                            <span ngClass="home_icon">
                                                <mat-icon>home</mat-icon>
                                            </span>
                                        </div>
                                    </div>
                                    <div ngClass="col-sm-12">
                                        <p ngClass="price-trent_desc-info">The data displayed is based on the
                                            average price and size of all listing that were live in the Ovaluate
                                            in Dubai</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="locarions_wrapper mt-5" #locationScroll>
                            <div ngClass="tabs-heading-div">
                                <h5>Location</h5>
                            </div>
                            <div class="property-near-map" id="property-near-map" style="width: 100%; height: 400px; border-radius: 12px;">
                            </div>
                        </div>
                    </div>
                    <div ngClass="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <div ngClass="property-owner-details">
                            <div ngClass="property-listed-by">
                                <h4>Property Listed by</h4>
                                <img src="{{propertylistedbrand}}">
                            </div>
                            <div ngClass="property-listed-by-details d-flex">
                                <div ngClass="property-listedby-img position-relative">
                                    <div ngClass="white-circle-outline">
                                        <img src="{{propertyDetailData.userImageUrl}}">
                                    </div>
                                    <button ngClass="agent-or-owner-btn">Agent</button>
                                </div>
                                <div ngClass="property-listedby-cntnt">
                                    <h5 ngClass="propertier-name">{{propertyDetailData.userfullName}}</h5>
                                    <p ngClass="propertier-type">Sales Director</p>
                                    <p ngClass="properties-name">
                                        Better Homes Properties
                                    </p>
                                    <p ngClass="rera"> RERA# 11899</p>
                                    <p ngClass="permit">Permit# 7187842740</p>
                                    <a routerLink="/agent-details/{{userData.id}}" ngClass="properties-listed-no"
                                        *ngIf="userData != ''">47 - Active Properties Listed</a>
                                </div>
                            </div>
                            <div ngClass="contact-propertier-form">
                                <form [formGroup]="SubmitForm">
                                    <div ngClass="form-grouph input-design white-input-design">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Name</mat-label>
                                            <input type="text" formControlName="name" matInput
                                                placeholder="Name">
                                        </mat-form-field>
                                        <p style="color: red" *ngIf="nameError !=''">{{nameError}}</p>
                                    </div>
                                    <div ngClass="form-grouph input-design white-input-design">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Email</mat-label>
                                            <input type="email" formControlName="email" matInput
                                                placeholder="Email">
                                        </mat-form-field>
                                        <p style="color: red" *ngIf="emailError !=''">{{emailError}}</p>
                                    </div>


                                    <div ngClass="form-grouph input-design white-input-design">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Phone No.</mat-label>
                                            <input matInput type="number" (input)="checkLength()"
                                                formControlName="phone" required ngModel  placeholder="Phone Number">
                                            <!-- <input matInput type="number" (input)="checkLength()" formControlName="PhoneNumber" required ngModel> -->
                                        </mat-form-field>
                                        <p style="color: red" *ngIf="phoneError !=''">{{phoneError}}</p>
                                    </div>



                                    <div ngClass="form-grouph textarea-design white-input-design">
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Message</mat-label>
                                            <textarea matInput formControlName="message"
                                                placeholder="I would like to inquire about the property OV - R8986. Please contact me at your earliest convenience."></textarea>
                                        </mat-form-field>
                                        <p style="color: red" *ngIf="messageError !=''">{{messageError}}</p>
                                    </div>
                                    <div ngClass="form-grouph submit-design submit-design-email-send">
                                        <button type="button" (click)="leadProceedStore()" ngClass="btn-design-3">Send
                                            Email</button>
                                    </div>
                                </form>
                            </div>
                            <div ngClass="contact-list-details">
                                <div ngClass="row">
                                    <div ngClass="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                        <button ngClass="" (click)="loadChat()"><img src="{{call}}"> Call
                                            Landlord</button>
                                    </div>
                                    <div ngClass="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                        <button ngClass=""><a href="https://web.whatsapp.com/" target="_blank"><img
                                                    src="{{whatsapp}}"> Whats APP </a></button>
                                    </div>
                                    <div ngClass="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                        <button ngClass="" (click)="loadChat()"><img src="{{chat}}"> Chat with
                                            Landlord</button>
                                    </div>
                                    <div ngClass="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                        <button ngClass="" (click)="loadChat()"><img src="{{videocall}}"> Video
                                            Call</button>
                                    </div>
                                    <div ngClass="col-xl-6 col-lg-12 col-md-6 col-sm-12">
                                        <button ngClass=""><a href="https://www.youtube.com/watch?v=y9j-BL5ocW8"
                                                target="_blank"><img src="{{virtual}}"> Virtual Tour </a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section ngClass="similer-properties-sec" #NearLsiting>
        <div [ngClass]="'container_1220px'">
            <div ngClass="section-custom-title-left">
                <h4>Similar properties in the same area</h4>
                <p *ngIf="similarPropertyDetails.length < 1">No similar properties....</p>
            </div>
            <div ngClass="row">
                <div ngClass="col-xl-3 col-lg-3 col-md-6 col-sm-12" *ngFor="let slide of similarPropertyDetails">
                    <div ngClass="property-item position-relative">
                        <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title">
                        <div ngClass="brand-logo">
                            <img src="{{slide.src}}" alt="">
                        </div>
                        <button
                            [ngClass]="slide.favorite == true ? 'property-whistlist red-fill' : 'property-whistlist'"
                            (click)="AddToFavorite(slide.id,slide.favorite)">
                            <svg width="22" height="23" viewBox="0 0 22 23" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M4.39376 6.23844C4.02517 6.63167 3.73279 7.0985 3.53331 7.61228C3.33383 8.12605 3.23116 8.67672 3.23116 9.23283C3.23116 9.78894 3.33383 10.3396 3.53331 10.8534C3.73279 11.3672 4.02517 11.834 4.39376 12.2272L11.1699 19.4563L17.946 12.2272C18.6904 11.433 19.1086 10.3559 19.1086 9.23283C19.1086 8.10972 18.6904 7.0326 17.946 6.23844C17.2016 5.44429 16.1919 4.99813 15.1392 4.99813C14.0865 4.99813 13.0768 5.44429 12.3324 6.23844L11.1699 7.47873L10.0073 6.23844C9.63871 5.84521 9.20113 5.53329 8.71954 5.32047C8.23796 5.10766 7.72179 4.99812 7.20053 4.99812C6.67926 4.99812 6.1631 5.10766 5.68152 5.32047C5.19993 5.53329 4.76235 5.84521 4.39376 6.23844V6.23844Z"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </button>
                        <div ngClass="property-info">
                            <span ngClass="property-pricing"><span>{{ slide.price }} {{ slide.currency }}</span> /
                                <span>{{slide.rentType}}</span></span>
                            <span ngClass="property-name">{{slide.buildingName}}</span>
                            <p ngClass="property-location">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 256c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64z"/></svg>
                                {{slide.propertyAddress}} </p>
                            <div ngClass="property-details">
                                <span ngClass="bed">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M32 32c17.7 0 32 14.3 32 32V320H288V160c0-17.7 14.3-32 32-32H544c53 0 96 43 96 96V448c0 17.7-14.3 32-32 32s-32-14.3-32-32V416H352 320 64v32c0 17.7-14.3 32-32 32s-32-14.3-32-32V64C0 46.3 14.3 32 32 32zM176 288c-44.2 0-80-35.8-80-80s35.8-80 80-80s80 35.8 80 80s-35.8 80-80 80z"/></svg>
                                    {{slide.bedrooms}} Beds
                                </span>
                                <span ngClass="bath">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M96 77.3c0-7.3 5.9-13.3 13.3-13.3c3.5 0 6.9 1.4 9.4 3.9l14.9 14.9C130 91.8 128 101.7 128 112c0 19.9 7.2 38 19.2 52c-5.3 9.2-4 21.1 3.8 29c9.4 9.4 24.6 9.4 33.9 0L289 89c9.4-9.4 9.4-24.6 0-33.9c-7.9-7.9-19.8-9.1-29-3.8C246 39.2 227.9 32 208 32c-10.3 0-20.2 2-29.2 5.5L163.9 22.6C149.4 8.1 129.7 0 109.3 0C66.6 0 32 34.6 32 77.3V256c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H96V77.3zM32 352v16c0 28.4 12.4 54 32 71.6V480c0 17.7 14.3 32 32 32s32-14.3 32-32V464H384v16c0 17.7 14.3 32 32 32s32-14.3 32-32V439.6c19.6-17.6 32-43.1 32-71.6V352H32z"/></svg>
                                    {{slide.bathrooms}} Bath
                                </span>
                                <span ngClass="area">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.83148 15.5437L3.45631 10.1685C2.8479 9.56011 2.8479 8.43989 3.45631 7.83148L8.83148 2.45631C9.43989 1.8479 10.5601 1.8479 11.1685 2.45631L16.5437 7.83148C17.1521 8.43989 17.1521 9.56011 16.5437 10.1685L11.1685 15.5437C10.5601 16.1521 9.43989 16.1521 8.83148 15.5437Z" fill="#616161" stroke="#616161" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M2 13.1719L6.36371 17.5356" stroke="#616161" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M13.6367 17.5356L18.0004 13.1719" stroke="#616161" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg> 
                                    {{slide.carpetArea}} sqft
                                </span>
                            </div>
                        </div>
                        <a [routerLink]="['/property/detail']" [queryParams]="{id: slide.id}"
                            ngClass="linK_overlay"></a>
                        <button ngClass="tag_btn blue"><img src="{{tagicn}}"> POPULAR</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
<div ngClass="gallery-modal-design">
    <ng-template #content let-modal>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        <div class="modal-body gallery-design">
            <div ngClass="property-price-buttons-sec">
                <div ngClass="row">
                    <div ngClass="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <div ngClass="property-price_detals">
                            <h4>{{propertyDetailData.propertyPrice}} {{propertyDetailData.currency}}
                                <small>/{{propertyDetailData.rentType}}</small>
                            </h4>
                            <div ngClass="property-tags d-flex flex-wrap">
                                <span ngClass="tags-bg-grey">Brokrage: {{propertyDetailData.brokerageChargePrice}}
                                    {{propertyDetailData.currency}}</span>
                                <span ngClass="tags-bg-grey">Security deposit:
                                    {{propertyDetailData.securityDepositPrice}} {{propertyDetailData.currency}}</span>
                            </div>
                        </div>
                    </div>
                    <div ngClass="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div ngClass="property-name_detals">
                            <h4>{{propertyDetailData.buildingName}}</h4>
                            <div ngClass="property-addresss">
                                <p><img src="{{homeLoc}}"> {{propertyDetailData.propertyAddress}}</p>
                            </div>
                        </div>
                    </div>
                    <div ngClass="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                        <div ngClass="property-action_detals text-right">
                            <button ngClass="contact-seller-btn" routerLink="/agent-details/{{userData.id}}"
                                (click)="modal.dismiss('Cross click')">Contact Seller</button>
                        </div>
                    </div>
                </div>
            </div>
            <ngb-carousel *ngIf="documentCheck" [showNavigationIndicators]="false">
                <ng-template ngbSlide *ngFor="let event of propertyDetailData.documents">
                    <img [src]="baseUrl+event.fileUrl" alt="Random slide">
                </ng-template>
            </ngb-carousel>
            <ngb-carousel *ngIf="documentCheck == false" [showNavigationIndicators]="false">
                <ng-template ngbSlide>
                    <img src="{{thumb1}}" alt="Random slide">
                </ng-template>
            </ngb-carousel>
        </div>
    </ng-template>
</div>
<app-footer></app-footer>
</section>