$color_1: #3e4861;
$color_2: #595ad4;
$color_3: rgba(0, 22, 25, 0.7);
$color_4: #595ad4;
$color_5: #595ad4;
$color_6: #100A55;
$color_7: #fff;
$color_8: #4D5461;
$color_9: rgba(255, 255, 255, 0.7);
$color_10: var(--black);
$color_11: var(--light-ov-blue);
$color_12: var(--body-color);
$color_13: #9EA3AE;
$color_14: var(--primary-color);
$color_15: var(--primary-color-light);
$color_16: #D3DBFF;
$color_17: rgba(11, 38, 173, 0.7);
$color_18: #3e4861;
$color_19: rgba(0, 9, 41, 0.7);
$color_20: #333;
$color_21: rgba(74, 86, 95, 0.7);
$background-color_1: #fff;
$background-color_2: #F0F3F5;
$background-color_3: #D3DBFF;
$background-color_4: transparent;
$background-color_5: #595ad4;
$background-color_6: var(--body-color);
$background-color_7: var(--light-blue);
$background-color_8: var(--primary-color-light);
$background-color_9: #f4f4f4;
$border-color_1: #595ad4;
$outline-color_1: #595ad4;

.pro-demo-img img {
    width: 100%;
    height: auto;
}
.pro-demo-img {
    padding-top: 20px;
}
.similer-properties-sec {
    background-color: #f6f6f6;
    padding-top: 60px;
    padding-bottom: 60px;
}
.similer-properties-sec h4 {
    color: #3e4861;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

.pro-contact-details .dropdown > button {
    padding: 7.5px 15px;
}
.property-action_detals {
    display: flex;
    justify-content: flex-end;
}
.property-action_detals .pro-contact-details {
    margin-right: 5px;
}


@media (min-width: 1200px) {
    .property-owner-details.scrollsticky {
        position: fixed;
        top: 0;
        max-width: 417px;
        transition: all 0.5s ease-in-out;
    }
}