.blogs_sec {
	padding-top: 30px;
	padding-bottom: 30px;
}
.blog-places-col {
	margin-bottom: 30px;
	img {
		border-radius: 10px;
		margin-bottom: 15px;
	}
}
.blog-title-content {
	h5 {
		font-size: 18px;
    color: var(--black);
    line-height: 24px;
    margin-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
	}
	span {
		color: #333;
		font-size: 14px;
	}
}
.latest-news_sec {
	padding-top: 50px;
	.blog-places-col {
		a {
			display: block;
			height: 100%;
			.latest_news_flex {
				height: 100%;
			}
		}
	}
}
.latest_news_flex {
	display: flex;
	flex-direction: row;
	box-shadow: 0px 4px 15px rgb(56 97 128 / 13%);
	border-radius: 8px;
	padding: 10px 15px;
	justify-content: space-between;
	.latest-news_img {
		width: 47%;
		img {
			height: 100%;
			width: 100%;
			margin-bottom: 0px !important;
			object-fit: cover;
		}
	}
	.latest-news-content {
		width: 47%;
	}
}
.latest-news-content {
	h5 {
		font-size: 16px;
		color: var(--black);
		margin-bottom: 2px;
		line-height: 20px;
	}
	span {
		color: #333;
		font-size: 12px;
	}
}
