<app-header></app-header>
<section [ngClass]="'slide-left-bar compare-page-sec'">
    <section class="compare-banner"
        style="background-image: url('https://beta.ovaluate.com/Attchments/PrivacyPolicyImage/about-banner1%20(1).png')">
        <div class="container_1280px">
            <div class="baner-compare-heading">
                <h2>Confused? Easy way to compare properties</h2>
            </div>
        </div>
    </section>
    <section class="compare-wrapper-sec-main">
        <div class="container_1280px">
            <div class="add-compare-cstm">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <div class="add-compare-div">
                            <button class="select-compare-btn" *ngIf="viewPropertyOne == ''"><span
                                    class="plus-icn" (click)="selectProperty(1)">+</span> <span class="select-text">Select</span></button>
                            <div ngClass="property-comparison-block position-relative" *ngIf="viewPropertyOne != ''">
                                <button ngClass="delete-property" (click)="removeProperty()"><img src="{{trash}}"></button>
                                <div ngClass="com-img cursor-pointer" >
                                    <!-- <img src="/assets/images/property/1.png"> -->
                                    <img *ngIf="viewPropertyOne.documents.length > 0 && viewPropertyOne.documents[0].fileUrl != null" src="https://beta.ovaluate.com/{{viewPropertyOne.documents[0].fileUrl}}">
                                    <img  *ngIf="viewPropertyOne.documents.length == 0 || viewPropertyOne.documents[0].fileUrl == null" src="assets/images/placeholder.png">
                                </div>
                                <div ngClass="com-cntnt cursor-pointer" >
                                    <h4> {{viewPropertyOne.propertyPrice}} {{viewPropertyOne.currency}}  
                                        <small *ngIf="viewPropertyOne.rentType != ''">/{{viewPropertyOne.rentType?.name?viewPropertyOne.rentType?.name:viewPropertyOne.rentType}}</small>
                                    </h4>
                                    <h5 >{{viewPropertyOne.propertyTitle}}</h5>
                                    <address>
                                         <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M8.26455 0.949341C3.9992 0.949341 0.529114 4.41942 0.529114 8.68478C0.529114 10.4448 1.10589 12.1023 2.19711 13.4782C3.61003 15.2597 7.71886 19.4895 7.89306 19.6687L8.2645 20.0508L8.63599 19.6687C8.81029 19.4895 12.9204 15.2587 14.3335 13.4766C15.4237 12.1019 16 10.4449 16 8.68478C16 4.41942 12.5299 0.949341 8.26455 0.949341ZM13.5215 12.8328C12.3839 14.2673 9.32888 17.4585 8.26455 18.5622C7.20032 17.4585 4.14635 14.2683 3.00901 12.8343C2.06457 11.6434 1.56536 10.2086 1.56536 8.68478C1.56536 4.99081 4.57059 1.98559 8.26455 1.98559C11.9585 1.98559 14.9637 4.99081 14.9637 8.68478C14.9637 10.2087 14.465 11.6431 13.5215 12.8328Z" fill="#645BD1"/>
                                                        <path d="M8.26478 4.02002C5.73996 4.02002 3.68591 6.07407 3.68591 8.59889C3.68591 11.1237 5.74002 13.1778 8.26478 13.1778C10.7895 13.1778 12.8437 11.1237 12.8437 8.59889C12.8437 6.07412 10.7896 4.02002 8.26478 4.02002ZM8.26478 12.1415C6.31135 12.1415 4.72216 10.5523 4.72216 8.59889C4.72216 6.64546 6.3114 5.05627 8.26478 5.05627C10.2182 5.05627 11.8074 6.64551 11.8074 8.59889C11.8074 10.5523 10.2182 12.1415 8.26478 12.1415Z" fill="#645BD1"/>
                                        </svg>  
                                        {{viewPropertyOne.propertyAddress}}</address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <div class="add-compare-div">
                            <button class="select-compare-btn" *ngIf="viewPropertyTwo == ''"><span
                                    class="plus-icn"  (click)="selectProperty(2)">+</span> <span class="select-text">Select the same detail
                                    by selecting different area</span> </button>
                            <div ngClass="property-comparison-block position-relative" *ngIf="viewPropertyTwo != ''">
                                <button ngClass="delete-property" (click)="removePropertyTwo()"><img src="{{trash}}"></button>
                                <div ngClass="com-img cursor-pointer" >
                                    <!-- <img src="/assets/images/property/1.png"> -->
                                    <img *ngIf="viewPropertyTwo.documents.length > 0 && viewPropertyTwo.documents[0].fileUrl != null" src="https://beta.ovaluate.com/{{viewPropertyTwo.documents[0].fileUrl}}">
                                    <img  *ngIf="viewPropertyTwo.documents.length == 0 || viewPropertyTwo.documents[0].fileUrl == null" src="assets/images/placeholder.png">
                                </div>
                                <div ngClass="com-cntnt cursor-pointer" >
                                    <h4> {{viewPropertyTwo.propertyPrice}} {{viewPropertyTwo.currency}}  
                                        <small *ngIf="viewPropertyTwo.rentType != ''">/{{viewPropertyTwo.rentType?.name?viewPropertyTwo.rentType?.name:viewPropertyTwo.rentType}}</small>
                                    </h4>
                                    <h5>{{viewPropertyTwo.propertyTitle}}</h5>   
                                    <address>
                                         <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M8.26455 0.949341C3.9992 0.949341 0.529114 4.41942 0.529114 8.68478C0.529114 10.4448 1.10589 12.1023 2.19711 13.4782C3.61003 15.2597 7.71886 19.4895 7.89306 19.6687L8.2645 20.0508L8.63599 19.6687C8.81029 19.4895 12.9204 15.2587 14.3335 13.4766C15.4237 12.1019 16 10.4449 16 8.68478C16 4.41942 12.5299 0.949341 8.26455 0.949341ZM13.5215 12.8328C12.3839 14.2673 9.32888 17.4585 8.26455 18.5622C7.20032 17.4585 4.14635 14.2683 3.00901 12.8343C2.06457 11.6434 1.56536 10.2086 1.56536 8.68478C1.56536 4.99081 4.57059 1.98559 8.26455 1.98559C11.9585 1.98559 14.9637 4.99081 14.9637 8.68478C14.9637 10.2087 14.465 11.6431 13.5215 12.8328Z" fill="#645BD1"/>
                                                        <path d="M8.26478 4.02002C5.73996 4.02002 3.68591 6.07407 3.68591 8.59889C3.68591 11.1237 5.74002 13.1778 8.26478 13.1778C10.7895 13.1778 12.8437 11.1237 12.8437 8.59889C12.8437 6.07412 10.7896 4.02002 8.26478 4.02002ZM8.26478 12.1415C6.31135 12.1415 4.72216 10.5523 4.72216 8.59889C4.72216 6.64546 6.3114 5.05627 8.26478 5.05627C10.2182 5.05627 11.8074 6.64551 11.8074 8.59889C11.8074 10.5523 10.2182 12.1415 8.26478 12.1415Z" fill="#645BD1"/>
                                        </svg>  
                                        {{viewPropertyTwo.propertyAddress}}</address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                        <div class="add-compare-div">
                            <button class="select-compare-btn" *ngIf="viewPropertyThree == ''"><span
                                    class="plus-icn" (click)="selectProperty(3)">+</span> <span class="select-text" >Select the same detail
                                    by selecting different area</span> </button>
                            <div ngClass="property-comparison-block position-relative" *ngIf="viewPropertyThree != ''">
                                <button ngClass="delete-property" (click)="removePropertyThree()"><img src="{{trash}}"></button>
                                <div ngClass="com-img cursor-pointer" >
                                    <!-- <img src="/assets/images/property/1.png"> -->
                                    <img *ngIf="viewPropertyThree.documents.length > 0 && viewPropertyThree.documents[0].fileUrl != null" src="https://beta.ovaluate.com/{{viewPropertyThree.documents[0].fileUrl}}">
                                    <img  *ngIf="viewPropertyThree.documents.length == 0 || viewPropertyThree.documents[0].fileUrl == null" src="assets/images/placeholder.png">
                                </div>
                                <div ngClass="com-cntnt cursor-pointer" >
                                    <!-- viewPropertyThree.currency?.name?viewPropertyThree.currency?.name:viewPropertyThree.currency -->
                                    <h4> {{viewPropertyThree.propertyPrice}} {{viewPropertyThree.currency}}
                                        <small *ngIf="viewPropertyThree.rentType != ''">/{{viewPropertyThree.rentType?.name?viewPropertyThree.rentType?.name:viewPropertyThree.rentType}}</small>
                                    </h4>
                                    <h5>{{viewPropertyThree.propertyTitle}}</h5>   
                                    <address>
                                         <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M8.26455 0.949341C3.9992 0.949341 0.529114 4.41942 0.529114 8.68478C0.529114 10.4448 1.10589 12.1023 2.19711 13.4782C3.61003 15.2597 7.71886 19.4895 7.89306 19.6687L8.2645 20.0508L8.63599 19.6687C8.81029 19.4895 12.9204 15.2587 14.3335 13.4766C15.4237 12.1019 16 10.4449 16 8.68478C16 4.41942 12.5299 0.949341 8.26455 0.949341ZM13.5215 12.8328C12.3839 14.2673 9.32888 17.4585 8.26455 18.5622C7.20032 17.4585 4.14635 14.2683 3.00901 12.8343C2.06457 11.6434 1.56536 10.2086 1.56536 8.68478C1.56536 4.99081 4.57059 1.98559 8.26455 1.98559C11.9585 1.98559 14.9637 4.99081 14.9637 8.68478C14.9637 10.2087 14.465 11.6431 13.5215 12.8328Z" fill="#645BD1"/>
                                                        <path d="M8.26478 4.02002C5.73996 4.02002 3.68591 6.07407 3.68591 8.59889C3.68591 11.1237 5.74002 13.1778 8.26478 13.1778C10.7895 13.1778 12.8437 11.1237 12.8437 8.59889C12.8437 6.07412 10.7896 4.02002 8.26478 4.02002ZM8.26478 12.1415C6.31135 12.1415 4.72216 10.5523 4.72216 8.59889C4.72216 6.64546 6.3114 5.05627 8.26478 5.05627C10.2182 5.05627 11.8074 6.64551 11.8074 8.59889C11.8074 10.5523 10.2182 12.1415 8.26478 12.1415Z" fill="#645BD1"/>
                                        </svg>  
                                        {{viewPropertyThree.propertyAddress}}</address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="compare-now-btn-block">
                            <button class="compare-now-btn" (click)="checkProperty()">Compare Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popular-car-comparisons">
                <div ngClass="compare-header">
                    <h4 class="h4-design">Popular properties comparison</h4>
                </div>
                <div class="popular-car-comparisons-slider">
                    <owl-carousel-o [options]="popularComparisonOptions">
                        <ng-container *ngFor="let pc of popularLisitng">
                            <ng-template carouselSlide>
                                <div class="pcompare-slider-container">
                                    <div class="pcompare-properties-flex d-flex">
                                        <div class="pcompare-properties-first">
                                            <div class="property-pcompare-img">
                                                <img *ngIf="pc[0].documents.length > 0 && pc[0].documents[0].fileUrl != null" src="https://beta.ovaluate.com/{{pc[0].documents[0].fileUrl}}">
                                                <img  *ngIf="pc[0].documents.length == 0 || pc[0].documents[0].fileUrl == null" src="assets/images/placeholder.png">
                                            </div>
                                            <div class="property-pcompare-cntnt">
                                                <h4>
                                                    <span class="property_name_span">{{pc[0].propertyPrice}}</span>
                                                    <span class="property_currency_span" *ngIf="pc[0].country && pc[0].country.currency">{{pc[0].country.currency}}</span>
                                                    <span class="term_badge" *ngIf="pc[0].rentType && pc[0].rentType.name">/ {{pc[0].rentType.name}}</span>
                                                </h4>
                                                <p class="price_pcompare">{{pc[0].propertyTitle}}</p>
                                                <address>
                                                    <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M8.26455 0.949341C3.9992 0.949341 0.529114 4.41942 0.529114 8.68478C0.529114 10.4448 1.10589 12.1023 2.19711 13.4782C3.61003 15.2597 7.71886 19.4895 7.89306 19.6687L8.2645 20.0508L8.63599 19.6687C8.81029 19.4895 12.9204 15.2587 14.3335 13.4766C15.4237 12.1019 16 10.4449 16 8.68478C16 4.41942 12.5299 0.949341 8.26455 0.949341ZM13.5215 12.8328C12.3839 14.2673 9.32888 17.4585 8.26455 18.5622C7.20032 17.4585 4.14635 14.2683 3.00901 12.8343C2.06457 11.6434 1.56536 10.2086 1.56536 8.68478C1.56536 4.99081 4.57059 1.98559 8.26455 1.98559C11.9585 1.98559 14.9637 4.99081 14.9637 8.68478C14.9637 10.2087 14.465 11.6431 13.5215 12.8328Z" fill="#645BD1"/>
                                                        <path d="M8.26478 4.02002C5.73996 4.02002 3.68591 6.07407 3.68591 8.59889C3.68591 11.1237 5.74002 13.1778 8.26478 13.1778C10.7895 13.1778 12.8437 11.1237 12.8437 8.59889C12.8437 6.07412 10.7896 4.02002 8.26478 4.02002ZM8.26478 12.1415C6.31135 12.1415 4.72216 10.5523 4.72216 8.59889C4.72216 6.64546 6.3114 5.05627 8.26478 5.05627C10.2182 5.05627 11.8074 6.64551 11.8074 8.59889C11.8074 10.5523 10.2182 12.1415 8.26478 12.1415Z" fill="#645BD1"/>
                                                    </svg>                                                                                                                                                                                                                            
                                                    <span *ngIf="pc[0] && pc[0].propertyAddress">{{pc[0].propertyAddress}}</span>
                                                </address>
                                            </div>
                                        </div>
                                        <div class="pcompare-properties-second">
                                            <div class="property-pcompare-img">
                                                <img *ngIf="pc[1].documents.length > 0 && pc[1].documents[0].fileUrl != null" src="https://beta.ovaluate.com/{{pc[1].documents[0].fileUrl}}">
                                                <img  *ngIf="pc[1].documents.length == 0 || pc[1].documents[0].fileUrl == null" src="assets/images/placeholder.png">
                                            </div>
                                            <div class="property-pcompare-cntnt">
                                                <h4>
                                                    <span class="property_name_span">{{pc[1].propertyPrice}}</span>
                                                    <span class="property_currency_span" *ngIf="pc[1].country && pc[1].country.currency">{{pc[1].country.currency}}</span>
                                                    <span class="term_badge" *ngIf="pc[1].rentType && pc[1].rentType.name">/ {{pc[1].rentType.name}}</span>
                                                </h4>
                                                <p class="price_pcompare">{{pc[1].propertyTitle}}</p>
                                                <address>
                                                    <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M8.26455 0.949341C3.9992 0.949341 0.529114 4.41942 0.529114 8.68478C0.529114 10.4448 1.10589 12.1023 2.19711 13.4782C3.61003 15.2597 7.71886 19.4895 7.89306 19.6687L8.2645 20.0508L8.63599 19.6687C8.81029 19.4895 12.9204 15.2587 14.3335 13.4766C15.4237 12.1019 16 10.4449 16 8.68478C16 4.41942 12.5299 0.949341 8.26455 0.949341ZM13.5215 12.8328C12.3839 14.2673 9.32888 17.4585 8.26455 18.5622C7.20032 17.4585 4.14635 14.2683 3.00901 12.8343C2.06457 11.6434 1.56536 10.2086 1.56536 8.68478C1.56536 4.99081 4.57059 1.98559 8.26455 1.98559C11.9585 1.98559 14.9637 4.99081 14.9637 8.68478C14.9637 10.2087 14.465 11.6431 13.5215 12.8328Z" fill="#645BD1"/>
                                                        <path d="M8.26478 4.02002C5.73996 4.02002 3.68591 6.07407 3.68591 8.59889C3.68591 11.1237 5.74002 13.1778 8.26478 13.1778C10.7895 13.1778 12.8437 11.1237 12.8437 8.59889C12.8437 6.07412 10.7896 4.02002 8.26478 4.02002ZM8.26478 12.1415C6.31135 12.1415 4.72216 10.5523 4.72216 8.59889C4.72216 6.64546 6.3114 5.05627 8.26478 5.05627C10.2182 5.05627 11.8074 6.64551 11.8074 8.59889C11.8074 10.5523 10.2182 12.1415 8.26478 12.1415Z" fill="#645BD1"/>
                                                    </svg>                                                                                                               
                                                    <span *ngIf="pc[1] && pc[1].propertyAddress">{{pc[1].propertyAddress}}</span>
                                                </address>
                                            </div>
                                        </div>
                                        <div class="pcompare-properties-third">
                                            <div class="property-pcompare-img">
                                                <img *ngIf="pc[1].documents.length > 0 && pc[1].documents[0].fileUrl != null" src="https://beta.ovaluate.com/{{pc[1].documents[0].fileUrl}}">
                                                <img  *ngIf="pc[1].documents.length == 0 || pc[1].documents[0].fileUrl == null" src="assets/images/placeholder.png">
                                            </div>
                                            <div class="property-pcompare-cntnt">
                                                <h4>
                                                    <span class="property_name_span">{{pc[2].propertyPrice}}</span>
                                                    <span class="property_currency_span" *ngIf="pc[2].country && pc[2].country.currency">{{pc[2].country.currency}}</span>
                                                    <span class="term_badge" *ngIf="pc[2].rentType && pc[2].rentType.name">/ {{pc[2].rentType.name}}</span>
                                                </h4>
                                                <p class="price_pcompare">{{pc[2].propertyTitle}}</p>
                                                <address>
                                                    <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M8.26455 0.949341C3.9992 0.949341 0.529114 4.41942 0.529114 8.68478C0.529114 10.4448 1.10589 12.1023 2.19711 13.4782C3.61003 15.2597 7.71886 19.4895 7.89306 19.6687L8.2645 20.0508L8.63599 19.6687C8.81029 19.4895 12.9204 15.2587 14.3335 13.4766C15.4237 12.1019 16 10.4449 16 8.68478C16 4.41942 12.5299 0.949341 8.26455 0.949341ZM13.5215 12.8328C12.3839 14.2673 9.32888 17.4585 8.26455 18.5622C7.20032 17.4585 4.14635 14.2683 3.00901 12.8343C2.06457 11.6434 1.56536 10.2086 1.56536 8.68478C1.56536 4.99081 4.57059 1.98559 8.26455 1.98559C11.9585 1.98559 14.9637 4.99081 14.9637 8.68478C14.9637 10.2087 14.465 11.6431 13.5215 12.8328Z" fill="#645BD1"/>
                                                        <path d="M8.26478 4.02002C5.73996 4.02002 3.68591 6.07407 3.68591 8.59889C3.68591 11.1237 5.74002 13.1778 8.26478 13.1778C10.7895 13.1778 12.8437 11.1237 12.8437 8.59889C12.8437 6.07412 10.7896 4.02002 8.26478 4.02002ZM8.26478 12.1415C6.31135 12.1415 4.72216 10.5523 4.72216 8.59889C4.72216 6.64546 6.3114 5.05627 8.26478 5.05627C10.2182 5.05627 11.8074 6.64551 11.8074 8.59889C11.8074 10.5523 10.2182 12.1415 8.26478 12.1415Z" fill="#645BD1"/>
                                                    </svg>                                                                                                               
                                                    <span *ngIf="pc[2] && pc[2].propertyAddress">{{pc[2].propertyAddress}}</span>
                                                </address>
                                            </div>
                                        </div>
                                        <p class="vs-tag vs-tag-1">VS</p>
                                        <p class="vs-tag vs-tag-2">VS</p>
                                    </div>
                                    <div class="pcomparison-details-btn">
                                        <a (click)="compareProperty(pc)">View Details</a>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
            <div class="comparision-middle-banner">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="comparision-banner-img">
                            <img src="/assets/images/confuse.jpg">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="comparision-banner-cntnt">
                            <h4><img src="/assets/images/logo.svg"><strong>Ovaluate</strong> Recomended</h4>
                            <h3>Not Sure, Which property to buy?</h3>
                            <p>Let us help you find the dream property</p>
                            <button class="compare-now-btn" (click)="scroll(property_info)">View Featured
                                Properties</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="featured-car-comparisons" #property_info>
                <div ngClass="compare-header">
                    <h4 class="h4-design">Featured Properties</h4>
                    <!-- <p>You Could choose 3 properties from here and compare</p> -->
                </div>
                <div class="popular-car-comparisons-slider">
                    <owl-carousel-o [options]="featuredOptions">
                        <ng-container *ngFor="let property of featurePorperty1">
                            <ng-template carouselSlide>
                                <div ngClass="property-comparison-block position-relative">
                                    <div ngClass="com-img cursor-pointer">
                                        <img *ngIf="property.documents.length > 0 && property.documents[0].fileUrl != null" src="https://beta.ovaluate.com/{{property.documents[0].fileUrl}}">
                                        <img  *ngIf="property.documents.length == 0 || property.documents[0].fileUrl == null" src="assets/images/placeholder.png">
                                    </div>
                                    <div ngClass="com-cntnt cursor-pointer" [routerLink]="['/ar/property/detail']" [queryParams]="{id: property.id}">
                                        <h4> {{property.propertyPrice}} {{property.country.currency}}
                                            <small>/{{property.rentType.name}}</small>
                                        </h4>
                                        <h5>{{property.propertyTitle}}</h5>
                                        <address>
                                            <svg width="16" height="21" viewBox="0 0 16 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M8.26455 0.949341C3.9992 0.949341 0.529114 4.41942 0.529114 8.68478C0.529114 10.4448 1.10589 12.1023 2.19711 13.4782C3.61003 15.2597 7.71886 19.4895 7.89306 19.6687L8.2645 20.0508L8.63599 19.6687C8.81029 19.4895 12.9204 15.2587 14.3335 13.4766C15.4237 12.1019 16 10.4449 16 8.68478C16 4.41942 12.5299 0.949341 8.26455 0.949341ZM13.5215 12.8328C12.3839 14.2673 9.32888 17.4585 8.26455 18.5622C7.20032 17.4585 4.14635 14.2683 3.00901 12.8343C2.06457 11.6434 1.56536 10.2086 1.56536 8.68478C1.56536 4.99081 4.57059 1.98559 8.26455 1.98559C11.9585 1.98559 14.9637 4.99081 14.9637 8.68478C14.9637 10.2087 14.465 11.6431 13.5215 12.8328Z" fill="#645BD1"/>
                                                <path d="M8.26478 4.02002C5.73996 4.02002 3.68591 6.07407 3.68591 8.59889C3.68591 11.1237 5.74002 13.1778 8.26478 13.1778C10.7895 13.1778 12.8437 11.1237 12.8437 8.59889C12.8437 6.07412 10.7896 4.02002 8.26478 4.02002ZM8.26478 12.1415C6.31135 12.1415 4.72216 10.5523 4.72216 8.59889C4.72216 6.64546 6.3114 5.05627 8.26478 5.05627C10.2182 5.05627 11.8074 6.64551 11.8074 8.59889C11.8074 10.5523 10.2182 12.1415 8.26478 12.1415Z" fill="#645BD1"/>
                                            </svg>  
                                            {{property.propertyAddress}}
                                        </address>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section>
</section>
<app-footer></app-footer>
<app-erroralert [error]="error" (errorResponse)="errorResponse($event)" *ngIf="showError"></app-erroralert>