.compare-banner {
    padding: 160px 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.baner-compare-heading h2 {
    color: #fff;
    margin-bottom: 0px;
    text-align: center;
}
.compare-wrapper-sec-main {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: whitesmoke;
}
.add-compare-div .select-compare-btn {
    background: #fff;
    border: none;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.add-compare-div .select-compare-btn .plus-icn {
    border: 1px solid #b5b5b5;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 200;
    margin-bottom: 15px;
}
.add-compare-div .select-compare-btn {
    background: #fff;
    border: none;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;
    padding: 15px;
}
.add-compare-div .select-compare-btn:hover {
    background-color: #363636 !important;
    color: #fff;
}
.add-compare-cstm {
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.add-compare-div .select-compare-btn .select-text {
    display: block;
    min-height: 48px;
}
.pcompare-properties-flex {
    flex-wrap: nowrap;
    position: relative;
}
.pcompare-properties-flex>div {
    width: 50%;
}
.property-pcompare-img {
    width: 100%;
    height: 157px;
    margin-bottom: 15px;
}
.property-pcompare-img img {
    height: 100%;
    object-fit: cover;
}
.property-pcompare-cntnt h4 {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}
.property-pcompare-cntnt address img {
    width: 15px !important;
    display: inline-block !important;
    position: relative;
    bottom: 2px;
    margin-right: 3px;
}
.property-pcompare-cntnt address {
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
}
.property_currency_span {
    color: #595ad6;
    font-weight: 400;
    padding-right: 2px;
}
.vs-tag {
    position: absolute;
    left: 0;
    right: 0;
    margin-bottom: 0px;
    width: 40px;
    height: 40px;
    background-color: #595ad5;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    top: 23%;
}
.pcompare-slider-container {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}
.property-pcompare-cntnt {
    padding: 0px 15px;
}
.pcomparison-details-btn>a {
    background-color: #4a565f;
    color: #fff;
    border-radius: 8px;
    padding: 10px 25px;
    display: inline-block;
    font-size: 14px;
}
.pcomparison-details-btn {
    margin-bottom: 15px;
    text-align: center;
    padding: 0px 15px;
    margin-top: 15px;
}
.property-pcompare-cntnt .property_name_span {
    color: #595ad6;
    font-weight: 400;
    max-width: 90px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.property-pcompare-cntnt .term_badge {
    font-weight: 300;
    font-size: 12px;
    display: inline-block;
    padding-right: 2px;
}
.compare-now-btn-block {
    text-align: center;
    margin-top: 30px;
}
.compare-now-btn {
    background-color: #0f2ead;
    border: none;
    color: #fff;
    padding: 10px 25px;
    border-radius: 8px;
}
.popular-car-comparisons {
    padding-top: 30px;
    padding-bottom: 30px;
}
.price_pcompare {
    font-size: 14px;
    margin-bottom: 3px;
}
.pcomparison-details-btn>a:hover {
    background-color: #0f2ead !important;
}
.compare-now-btn:hover {
    background-color: #4a565f !important;
}
.compare-header .h4-design {
    font-size: 20px;
}
.compare-header {
    margin-bottom: 20px;
}
.comparision-middle-banner {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    padding: 20px;
}
.comparision-banner-cntnt h4 {
    font-size: 18px;
    font-weight: 400;
}
.comparision-banner-cntnt img {
    width: 22px;
    margin-right: 10px;
    position: relative;
    bottom: 1px;
}
.comparision-banner-cntnt h3 {
    font-size: 26px;
    margin-top: 15px;
}
.com-cntnt {
	text-align: left;
    padding: 15px 60px 15px 15px;
	h4 {
        color: #595ad4;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 2px;
        margin-top: 4px;
		small {
			color: #000;
			font-size: 14px;
			font-weight: 300;
		}
	}
	h5 {
        color: #000929;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 4px;
	}
	address {
        font-size: 14px;
        color: #000;
        margin-bottom: 0px;
        font-weight: 300;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
	}
}
.com-img {
	img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 0px;
	}
}
.pcompare-properties-first {
    padding-right: 1px;
}
.pcompare-properties-second {
    padding-left: 1px;
}
.property-comparison-block {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}
.featured-car-comparisons {
    padding-top: 45px;
}
.compare-header p {
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 14px;
}
.selection-checkbox {
    position: absolute;
    bottom: 19px;
    right: 12px;
    width: 18px;
    height: 18px;
    z-index: 99;
}
.selection-checkbox input {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9;
    opacity: 0;
    cursor: pointer;
}
.selection-checkbox .add-property-cstm {
    width: 18px;
    height: 18px;
    background: transparent;
    border: 0.5px solid #dddee1;
    border-radius: 4px;
    position: relative;
    bottom: 6px;
}
.selection-checkbox input:checked+.add-property-cstm {
    background-color: #0ec40e;
    border-color: #0ec40e;
}
.selection-checkbox .add-property-cstm::after {
    content: '';
    position: absolute;
    right: 3px;
    top: 4px;
    width: 10px;
    height: 6px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(131deg);
    opacity: 0;
}
.selection-checkbox input:checked+.add-property-cstm::after {
    opacity: 1;
}
.property-pcompare-cntnt address img {
    filter: grayscale(1);
}
.com-cntnt address img {
    filter: grayscale(1);
    width: 15px !important;
    display: inline-block !important;
    margin-right: 5px;
}



@media (min-width: 1200px){
    .comparision-banner-cntnt {
        padding-left: 65px;
    }
}
@media (max-width: 991px){
    .add-compare-div {
        margin-bottom: 15px;
    }
    .comparision-banner-cntnt {
        text-align: center;
    }
    .compare-wrapper-sec-main {
        padding-top: 30px !important;
    }
    .compare-banner {
        padding: 60px 0px !important;
    }
}