<app-header></app-header>
<section [ngClass]="'slide-left-bar compare-page-sec'">
 <section class="compare-banner" style="background-image: url('https://beta.ovaluate.com/Attchments/PrivacyPolicyImage/about-banner1%20(1).png')">
   <div class="container_1280px">
    <div class="baner-compare-heading">
        <h2>مشوش? طريقة سهلة لمقارنة العقارات</h2>
    </div>
   </div>
 </section>
 <section class="compare-breadcrumbs">
<div class="container_1280px">
        <div class="breadcrumb-dark">
            <app-breadcrumbs></app-breadcrumbs>
    </div>
</div>
</section>
 <section class="compare-wrapper-sec-main">
    <div class="container_1280px">
        <div class="add-compare-cstm">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="add-compare-div">
                        <button class="select-compare-btn"><span class="plus-icn">+</span> <span class="select-text">اختر</span></button>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="add-compare-div">
                        <button class="select-compare-btn"><span class="plus-icn">+</span> <span class="select-text">حدد نفس التفاصيل عن طريق تحديد منطقة مختلفة</span> </button>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                    <div class="add-compare-div">
                        <button class="select-compare-btn"><span class="plus-icn">+</span> <span class="select-text">حدد نفس التفاصيل عن طريق تحديد منطقة مختلفة</span> </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="compare-now-btn-block">
                        <button class="compare-now-btn" routerLink="/ar/compare/view">قارن الآن</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="popular-car-comparisons">
            <div ngClass="compare-header">
                <h4 class="h4-design">مقارنة الخصائص الشعبية</h4>
            </div>
            <div class="popular-car-comparisons-slider">
                <owl-carousel-o [options]="popularComparisonOptions">
                    <ng-container *ngFor="let pc of PopularComparisonList">
                        <ng-template carouselSlide>
                         <div class="pcompare-slider-container">
                           <div class="pcompare-properties-flex d-flex">
                            <div class="pcompare-properties-first">
                                <div class="property-pcompare-img">
                                    <img src="{{pc.src1}}">
                                </div>
                                <div class="property-pcompare-cntnt">
                                    <h4>
                                        <span class="property_name_span">{{pc.price1}}</span>
                                        <span class="property_currency_span">إ.د</span>
                                        <span class="term_badge">/ شهري</span>
                                    </h4>
                                    <p class="price_pcompare">{{pc.PropertyName1}}</p>
                                    <address><img src="/assets/images/home-location.svg"> {{pc.address1}}</address>
                                </div>
                            </div>
                            <div class="pcompare-properties-second">
                                <div class="property-pcompare-img">
                                    <img src="{{pc.src2}}">
                                </div>
                                <div class="property-pcompare-cntnt">
                                    <h4>
                                        <span class="property_name_span">{{pc.price2}}</span>
                                        <span class="property_currency_span">إ.د</span>
                                        <span class="term_badge">/ شهري</span>
                                    </h4>
                                    <p class="price_pcompare">{{pc.PropertyName2}}</p>
                                    <address><img src="/assets/images/home-location.svg"> {{pc.address2}}</address>
                                </div>
                            </div>
                            <p class="vs-tag">VS</p>
                           </div>
                           <div class="pcomparison-details-btn">
                            <a routerLink="{{pc.link}}">عرض التفاصيل</a>
                        </div>
                        </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
        <div class="comparision-middle-banner">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="comparision-banner-img">
                        <img src="/assets/images/confuse.jpg">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="comparision-banner-cntnt">
                        <h4><img src="/assets/images/logo.svg"><strong>اوفاليويت</strong> أوصت</h4>
                        <h3>غير متأكد, التي الممتلكات لشراء?</h3>
                        <p>دعنا نساعدك في العثور على عقار الأحلام</p>
                        <button class="compare-now-btn" (click)="scroll(property_info)">عرض الخصائص المميزة</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="featured-car-comparisons" #property_info>
            <div ngClass="compare-header">
                <h4 class="h4-design">خصائص مميزة</h4>
                <p>يمكنك اختيار 3 خصائص من هنا والمقارنة</p>
            </div>
            <div class="popular-car-comparisons-slider">
                <owl-carousel-o [options]="featuredOptions">
                    <ng-container *ngFor="let property of Featuredproperties">
                        <ng-template carouselSlide>
                            <div ngClass="property-comparison-block position-relative">
                                <div ngClass="com-img cursor-pointer" routerLink="/ar">
                                    <img src="{{property.img}}">
                                </div>
                                <div ngClass="com-cntnt cursor-pointer" routerLink="/ar">
                                    <h4> {{property.price}} إ.د
                                        <small>/شهري</small></h4>
                                    <h5>{{property.title}}</h5>
                                    <address><img src="/assets/images/home-location.svg">  {{property.address}}</address>
                                </div>
                                <div class="selection-checkbox">
                                <input type="checkbox" name="featured-selection">
                                <button ngClass="add-property-cstm"></button>
                                </div>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
 </section>
<app-footer></app-footer>
</section>