.blogs_sec {
    padding-top: 60px;
    padding-bottom: 30px;
}
.blog-places-col {
    margin-bottom: 30px;
}
.blog-places-col img {
    border-radius: 10px;
    margin-bottom: 15px;
}
.blog-title-content h5 {
    font-size: 16px;
    color: var(--black);
    line-height: 24px;
    margin-bottom: 2px;
}
.blog-title-content span {
    color: rgba(0, 0, 0, 0.2);
    font-size: 12px;
}
