@import "./picker.css";
.chat-section {
    height: calc(100% - 85px);
    @import "/src/cometchat/CometChatWorkspace/src/css/styles.scss";
}
.chat_screen-designs {
    background: #F4F6FF;
}
.chat-message-screen {
    display: flex;
    flex-direction: row;
}
.chat-message-screen>.chat-message-left-bar {
    width: 25%;
    background-color: #fff;
}
.chat-message-screen>.chat-message-right-bar {
    width: 25%;
}
.chat-message-screen>.chat-message-center-bar {
    width: 50%;
}
.chat_msg-header .chat-search .mat-form-field-wrapper {
    padding-bottom: 0px;
}
.chat_msg-header .chat-search .mat-form-field-wrapper .mat-form-field-flex {
    border: 0.5px solid #E0DEF7;
    background: #F7F7FD;
    border-radius: 8px;
    height: 48px;
    width: 100%;
    display: block;
    padding-left: 45px;
}
.chat_msg-header .chat-search .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    border: none;
    font-size: 16px;
    color: #3e4861;
    font-weight: 500;
    height: 48px;
    top: 0;
    padding-bottom: 0px;
    width: 100%;
}
.chat_msg-header .chat-search .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper {
    padding-top: 0px;
}
.chat_msg-header .chat-search .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper label mat-label {
    font-size: 16px;
    color: rgba(0,9,41,0.5);
    margin-top: 3px;
    display: block;
}
.add_btn-blok .add_chat-btn {
    background: #7065F0;
    border-radius: 8px;
    border: none;
    color: #fff;
    width: 48px;
    height: 48px;
    font-size: 35px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.chat-search_block {
    flex-wrap: nowrap;
}
.chat-search_block>.chat-search {
    width: 100%;
    padding-right: 20px;
}
.chat-search_block>.chat-search .mat-icon {
    position: absolute;
    top: 12px;
    left: 15px;
    color: #7065F0;
}
.chat_list-info .time {
    color: rgba(0,9,41,0.5);
    font-size: 14px;
    margin-bottom: 0px;
}
.chat_list-info .customer-name {
    color: #3e4861;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat_type-details {
    color: #3e4861;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
    margin-top: 3px;
}
.chat_list-info p {
    color: rgba(0,9,41,0.7);
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 400;
}
.chat_btn {
    font-size: 12px;
    font-weight: 600;
    border-radius: 50px;
    text-transform: uppercase;
    padding: 2px 10px;
    border: 0.5px solid transparent;
}
.request {
    background: #FFF1E0;
    color: #FF991F;
}
.chat_btn.mail {
    color: #7065F0;
    background: transparent;
    border: 0.5px solid #E0DEF7;
}
.chat_btn.gernal-inquiry {
    color: #7065F0;
    background: transparent;
    border: 0.5px solid #E0DEF7;
}
.chat_btn.maintance {
    color: #F06565;
    background: #FCE3E3;
}
.chat_msg-listing ul li {
    padding: 15px;
	border-top: 0.5px solid transparent;
    cursor: pointer;
}
.chat_msg-listing ul li.active {
    background: #F7F7FD;
	border-color: #F0EFFB;
}
.chat_msg-listing ul li:hover {
    background: #F7F7FD;
	border-color: #F0EFFB;
}
.chat_msg-header {
    padding: 20px;
}
.chat_customers-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
}
.chat_msg-listing ul li .chat_list-info {
    padding-left: 62px;
}
.chat_msg-listing ul li .chat_list-info>p {
    margin: 5px 0px 8px 0px;
}
.chat-message-center-bar {
    background: linear-gradient(180deg, #F4F6FF 0%, #FFFFFF 50.52%, #F4F6FE 100%), linear-gradient(180deg, #F4F6FF 0%, #FFFFFF 50.52%, #FFFFFF 100%);
    padding: 25px;
}
.chat_msg-hdr {
    border: 1.5px solid #E0DEF7;
    background: #fff;
    border-radius: 8px;
    padding: 15px;
}
.chat_msg-hdr>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.chat_msg-hdr>div button {
    background: none;
    border: none;
    padding: 5px 12px;
}
.market-btn.active svg {
    fill: #7065F0;
}
.cstm_dropdown-menu {
    width: 150px;
    left: initial;
    box-shadow: 1px 2px 33px -20px rgb(0 9 41 / 50%);
}
.chat_msg-hdr .cstm_dropdown-menu p {
    margin-bottom: 0px;
    font-size: 14px;
    text-align: center;
}
.chat_msg-hdr .cstm_dropdown-menu a {
    color: #3e4861;
    font-size: 14px;
}
.customer-message .message-text p {
    margin-bottom: 0px;
    color: #394150;
    font-size: 16px;
    font-weight: 500;
}
.customer-message .message-text a {
    color: #7065F0;
}
.customer-message .message-text {
    border: 1.5px solid #E0DEF7;
    background: #fff;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 15px 14px;
}
.customer-message .messeger_img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    min-width: 48px;
}
.customer-message .messeger_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.customer-message>.position-relative {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 80%;
}
.owner-message>.position-relative {
    width: 100%;
    max-width: 80%;
    margin-left: auto;
}
.owner-message .message-text {
    background: #E0DEF7;
    padding: 15px 14px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.owner-message .message-text p {
    margin-bottom: 0px;
    color: #394150;
    font-size: 16px;
    font-weight: 500;
}
.customer-mentioned-name {
    background: #7065F0;
    border-radius: 50px;
    border: none;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    padding: 5px 10px;
}
.customer-message .msg_time {
    margin-bottom: 0px;
    width: 100%;
    max-width: calc(100% - 62px);
    margin-left: auto;
    margin-top: 20px;
    font-size: 14px;
    color: rgba(0,9,41,0.5);
}
.chat_msg-inner-cntnt>.message-list_cntnt {
    margin-bottom: 30px;
}
.chat_msg-inner-cntnt>.message-list_cntnt.owner-message .msg_time {
    margin-top: 20px;
    font-size: 14px;
    color: rgba(0,9,41,0.5);
    margin-bottom: 0px;
    text-align: right;
}
.chat_cutomers-message-cntnt .chat_msg-hdr {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.chat_cutomers-message-cntnt .chat_msg-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1.5px solid #E0DEF7;
    background: #fff;
    padding: 15px 20px;
    border-radius: 8px;
}
.chat_msg-inner-cntnt {
    padding: 95px 5px 115px 0px;
    height: calc(100vh - 150px);
    overflow: auto;
}
.chat_msg-listing {
    height: calc(100vh - 88px);
    overflow: auto;
}
.chat_cutomers-message-cntnt {
    height: 100%;
}
.chat-message-right-bar {
    padding-top: 25px;
    background-color: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
}
.chat-message-right-bar .close {
    background: transparent;
    border: none;
    width: 100%;
    text-align: right;
    margin-bottom: 25px;
}
.chat-message-right-bar .close .mat-icon {
    color: #3e4861;
    font-size: 22px;
}
.property_msg-property-block img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.property_msg-property-block h3 {
    color: #3e4861;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 3px;
    margin-top: 20px;
}
.property_msg-property-block address {
    color: rgba(0,9,41,0.5);
    font-size: 16px;
}
.property-details-highlights span img {
    width: 20px;
}
.property_status_reports ul li p {
    color: rgba(0,9,41,0.5);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0px;
}
.property_status_reports ul li .active-status {
    font-size: 16px;
    color: #27AE60;
    font-weight: 600;
    margin-bottom: 0px;
}
.property_status_reports ul li .active-status img {
    width: 20px;
    margin-right: 5px;
    position: relative;
    bottom: 1px;
}
.property_status_reports .black_bold {
    color: rgba(0,9,41,0.7);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0px;
}
.property_status_reports ul {
    margin-bottom: 0px;
}
.property_status_reports {
    padding-top: 20px;
    padding-bottom: 20px;
}
.property_status_reports ul li {
    border-bottom: 1.5px solid #F0EFFB;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.view_proprty-details {
    background: #F0EFFB;
    border: 0.5px solid #E0DEF7;
    width: 100%;
    color: #6C727F;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    padding: 10px 15px;
    display: block;
    text-align: center;
}
.view_proprty-details:hover {
    background: #595ad4;
    color: #fff;
    border-color: #595ad4;
}
